[2020-05-20 18:37] tsalo opened #2458 "Ignore test directories in codecov configuration"
It looks like CodeCov is currently indexing all testing files, as well as version.py and conftest.py. I think the goal is to evaluate coverage of the functional code in the library, so including testing files is inflating coverage estimates.

I can incorporate this into #2455 if folks are happy with it.

[2020-05-20 19:02] kfinc opened #2460 "Improvement of the conectome plotting functions with some common use cases"
We prepared a [jupyter notebook](https://github.com/kfinc/nilearn-connectome-plotting/blob/master/nilearn_plotting_use_cases.ipynb) where we present some issues with current connectome plotting functions. The goal of suggested fixes is to simplify connectome plotting functions and make them more accessible to the user. We also found some bugs.

Specifically:

`plot_connectome`:
1. The default beha

[2020-05-20 19:41] bthirion commented on #2460
RThx for the very detailed analysis ! Please find some reactions below:

The problem with uniformly colored nodes is that they're harder to distinguish. But I understand the concern on creating false impression. An alternative would be to used "50 shades or grey" (if I may), which would not give the impression of crypto-networks yet keep them distinguishable.  Any better suggestion ?

[2020-05-20 19:42] bthirion commented on #2460
It should just be checked that this is consistent with the API (several functions in nilearn). numpy.percentile(98) indeed selects the top 2%. Could it be better documented ?

[2020-05-20 19:43] SRSteinkamp commented on #1192
Update for today:
* Signal in overlapping spheres are now averaged (yay)
* The function now works when a `mask_img` is provided - had some issues with it before.

Tomorrow I will write tests for the inverse transform (taking some inspiration from the other inverses)  + some additional things based on todays experience.

** Documentation? **
I am not sure where this could fit in. I could actually i

[2020-05-20 19:45] bthirion commented on #2460
regarding `plot_connectome_strength`, I agree with your comments. We have 2 options:
Either remove it or rename it to `plot_node_strength`. The idea would be that it may be further developed. Also, I have the feeling that the two functions definitely do a different jobs (edge importance vs node importance), hence I'd rather keep this as another function.
So, I'm in favor of renaming (with due depr

[2020-05-20 19:46] bthirion commented on #2460
What do other people think ?

[2020-05-20 19:53] bthirion commented on #2458
Would be good I think ! thx,

[2020-05-20 20:02] #2453 closed

[2020-05-20 20:17] GaelVaroquaux commented on #2171
A tentative proposal from the discussion today:

# Rational

Nilearn wants to keep together enough information about surface data to enable plotting and spatial processing (eg smoothing on the surface), but would like to avoid as much as possible creating a new data structure.

A challenge is that common practice (eg in freesurfer, or connectome pipelines) relies on storing geometry and textures s

[2020-05-20 20:17] bthirion commented on #1192
Thx !
Don't hesitate to issue a PR ven if it 's not fully complete: early feedback is good.
Maybe you can provide documentation in
http://nilearn.github.io/modules/generated/nilearn.input_data.NiftiSpheresMasker.html#nilearn.input_data.NiftiSpheresMasker

[2020-05-20 20:19] jeromedockes commented on #2433
everybody please merge master in your branches with open pull requests

[2020-05-20 20:25] bthirion commented on #2171
texture is a numpy array or necessarily a `GiftiImage` ?

[2020-05-20 20:26] jeromedockes commented on #2171
I think numpy array should be accepted

[2020-05-20 21:10] jeromedockes commented on #2460
or `node_color="random"` ?

[2020-05-20 21:11] jeromedockes commented on #2460
Indeed I think what is "intuitive" will vary from one person to the next
so what is essential is to document it explicitely

[2020-05-20 21:23] bthirion commented on #2460
Yes, sounds good.

[2020-05-20 21:41] GaelVaroquaux commented on #2460
Thanks for this analysis. A few thoughts:

`plot_connectome`:
1. `node_color="random"` seems a better name. We can in addition turn this functionality off by default, if people find that it conveys the wrong message.
2. I agree that I keep forgetting which way around is `edge_threshold` percentile. However, it is consistent with all the threshold percentiles that we have. In addition, it seems to

[2020-05-21 00:15] jeromedockes commented on #2283
trying to revive this: general cleanup of datasets package

Nilearn now has a lot of fetchers and the datasets package is the part of the
library that fails the most, the platforms hosting the datasets are not 100%
reliable.

we could:

- track down any datasets that we can live without. If we could reduce a bit the
  diversity of datasets used in the example gallery and deprecate some fetchers

[2020-05-21 00:21] jeromedockes commented on #2283
Also, we could rewrite and reduce the functionality of the neurovault fetcher.
(It doesn't cause any tests to fail, and it could cause an example to fail when
neurosynth was down but that has been fixed today.) Still, I think it is mostly
useful to download individual images and whole collections that have been
selected by the user, ie selected by ID. However it has been created with
meta-analysis

[2020-05-21 00:24] jeromedockes commented on #2283
One of the first things we could remove is downloading "decoding" terms from
neurosynth for neurovault images. It is used in only one example and even there
is not essential, and this API often fails. Such code should probably live in
the neurosynth package or a separate client rather than in nilearn.

[2020-05-21 00:25] emdupre commented on #2283
In terms of priorities, what do you think of first replacing urllib with requests code ? I'm wondering if it will stabilize the problematic fetchers in the short term and give us time to comb through the tests and mock more extensively.

[2020-05-21 00:28] jeromedockes commented on #2283
that makes sense, and probably would come with changes to the mocking utilities -- we will need to mock requests.
using `requests` needs approval from more people eg @GaelVaroquaux and @bthirion though, as it adds a new dependency -- even it is a very lightweight, stable, and widely used one.

[2020-05-21 00:51] jeromedockes opened #2465 "importing plotting with neither matplotlib nor pytest installed results in pytest import error"
see:
https://github.com/nilearn/nilearn/blob/b021ba9d02ec719e894b8be2c24204d98ba2cfa4/nilearn/plotting/__init__.py#L17

the import error reported to the user should probably be matplotlib not pytest

[2020-05-21 00:53] PeerHerholz commented on #2425
Hi folks,

I have to do a few crowdcast tests for the scientific day of the dev days, hence I might be 10 minutes late. I'm truly sorry for any inconvenience this might cause.

[2020-05-21 04:10] kchawla-pi commented on #2283
I believe Gael already green lit using requests.

On Thu, May 21, 2020, 02:29 jeromedockes <notifications@github.com> wrote:

[2020-05-21 05:11] kchawla-pi opened #2466 "generate_reports deviates from Nilearn naming convention"
Nilearn's naming conventions were brought closer to standardization in 2018. One example of that was instead of using `create`, `generate`, `make` to in function names to describe what is essentially the same activity, we had decided to use `make` only.

Unfortunately, somehow this was not communicated during the review process when creating Niftimasker's `generate_report` method.

I propose that

[2020-05-21 06:17] SylvainTakerkart commented on #2415
Hi, I took a quick look...

One suggestion: change the title of the 9.3.2 example from "FREM on Jimura dataset" to something like "Regression with FREM" (in order to match and complement the title of 9.3.3 which is "Decoding with FREM"

[2020-05-21 07:02] bthirion commented on #2415
+1

[2020-05-21 07:06] bthirion commented on #2466
+1

[2020-05-21 07:59] thomasbazeille opened #2467 "[DOC] Userguide for nilearn.stats"
The userguide is currently lacking at least on section about how to use nilearn.stats and basic glm fitting with nilearn, as well as one paragraph on group analysis.

Basic functions that should be illustrated at the very least in a section 5.2 of the narrative documentation:

plotting event file (upcoming)
nilearn.stats.first_level_model.make_first_level_design_matrix
nilearn.reporting.plot_desig

[2020-05-21 08:11] robbisg opened #2468 "[DOC] Missing pandas dependency in installation guide"
In the Installing nilearn section, ```pandas``` is missing as nilearn dependency in Linux, Mac and Windows tabs.
https://nilearn.github.io/introduction.html#installing-nilearn

[2020-05-21 08:14] bthirion commented on #2283
Ye, I think that this is somewhat unessential. the natural way to access Neurosynth is by dataset ID I think. I like this simplification, but we have to go through deprecation cycles.

[2020-05-21 08:23] bthirion commented on #2283
* Cobre fetcher is never used if I'm not mistaken
* I'd like to remove th FIAC dataset download and use: it's not a great dataset.
* I'd be happy to get rid of mixed gambles.

[2020-05-21 08:24] SylvainTakerkart commented on #2415
Hi! Copying my feedback from discord to here... Several items...

---

So, I ran the haxby Decoder example (plot_haxby_different_estimators.py)... The decoder.cvscores seems to be organized by class (shoe, scissors etc.), which I think might be confusing for the users, no? (coz we always have to explain to beginners that it's not like the GLM, you don't get "one map, or one result, per class/exper

[2020-05-21 08:24] bthirion commented on #2468
Can you issue a PR ?

[2020-05-21 08:27] thomasbazeille commented on #2468
Maybe should better be integrated to a suitable PR to avoid adding a
specific CI jlb for that

Le jeu. 21 mai 2020 à 10:24, bthirion <notifications@github.com> a écrit :

[2020-05-21 08:35] robbisg commented on #2468
I was fixing that (fighting with vscode html prettier, actually), but if I have to do something different than usual PR, I will stop!

[2020-05-21 08:45] bthirion commented on #2415
Regarding results per class: If I'm not mistaken, this is equivalent to looking at the diagonal of the confusion matrix, so I think it's not crasy, but indeed, we should make this explicit.

I think  I agree with that.
One thing: I don't want to encourage people to compare accuracies across regions, because such accuracy differences are not tested for significance...
As a side remark: this is actu

[2020-05-21 08:46] bthirion commented on #2415
Actually in that case the two maps would be opposite to each other; we produce only one.

[2020-05-21 08:46] thomasbazeille commented on #2415
Agreed !  Maybe we can showcase how to do both in  plot_haxby_full_analysis.py ?

I think you actually do, maybe opposite to one another here.

I think we can totally display it in several examples and Doc section when relevant but i'm a bit against adding it as an attribute for Decoder by default. Anyone else has thoughts ? (@jeromedockes )

[2020-05-21 09:04] SylvainTakerkart commented on #2415
I agree! but this example (plot_haxby_full_analysis.py) definetely does encourage people to compare decoding across regions...

[2020-05-21 09:09] SylvainTakerkart commented on #2415
OK, but, let's say, in the case of "shoe vs house" classification , labeling one map as "shoe" and the other as "house" is, I think misleading... This is probably not a good solution, but maybe they should be labeled "shoe vs house" and "house vs shoe", similarly to "shoe - house" and "house - shoe" for univariate contrasts...

It is the single-class labeling that bothers me...

[2020-05-21 09:12] bthirion commented on #2415
In the multi-class case, the label should be something like 'house vs others'.

[2020-05-21 09:43] thomasbazeille commented on #2415
example 9.8.7 (now transfered to decoding section) should be modified with Decoder as well

[2020-05-21 10:36] kbonna commented on #2460
Hello,

I like the @GaelVaroquaux idea of adding `plot_markers` function. I agree that `plot_connectome_strength` function is focused on node importance as opposed to `plot_connectome` focusing more on connections. I believe, however that `plot_connectome_strenght` is not flexible enough, since it is quite common to visualize other node importance measures like betweenness centrality, local effici

[2020-05-21 12:35] emdupre commented on #2466
I'd push back against `make`, personally, since it doesn't resemble other
functions with that naming convention. This is closer to `view_img` in
returning an HTML report (that eg should be opened in a browser window).

Le jeu. 21 mai 2020 03 h 07, bthirion <notifications@github.com> a écrit :

[2020-05-21 12:45] maalaria opened #2470 "Messed up colorbar scaling with plot_abs=True"
Dear Nilearn-developers,

after updating to the current version 0.6.2, I encounter problems when plotting activity maps (e.g. ```plot_glass_brain```). The problem is that when I set ```colorbar=True``` and ```plot_abs=True```, the size of the colorbar is messed up and consequently the figure size in general, leading to huge/long colorbars with normal sized activity maps. if ```plot_abs=False``` th

[2020-05-21 12:51] bthirion commented on #2466
But report generation is quite distinct from plotting: it involves some computations. I'd rather have `make_report`.
Or did I misunderstand  you ?

[2020-05-21 12:53] bthirion commented on #2470
Thx for reporting. Can you provide a simple snippet of code to reproduce ?

[2020-05-21 12:56] thomasbazeille commented on #2415
Due to the removal of scikit-learn objects, the introduction of Chance Level notion in section 2.1.2.2.4. and how to determine it using dummy estimator that was there before is not very compatible API anymore.

Maybe we should accept Decoder(estimator="dummy") to measure chance quickly with friendly API  ?

[2020-05-21 13:00] bthirion commented on #2415
+1 for `Decoder(estimator="dummy")`

[2020-05-21 13:01] maalaria commented on #2470
Correct colorbar-scaling:
```nilearn.plotting.plot_glass_brain(example_nii, colorbar=True, plot_abs=False)```

False scaling:
```nilearn.plotting.plot_glass_brain(example_nii, colorbar=True, plot_abs=True)```

[example_nii.zip](https://github.com/nilearn/nilearn/files/4662528/example_nii.zip)

[2020-05-21 13:14] bthirion commented on #2470
Hm, it's looking fine on my box. Which version of matplotlib are you using ?

[2020-05-21 13:17] maalaria commented on #2470
I am using matplotlib: 3.2.1

[2020-05-21 13:49] juhuntenburg commented on #2171
Thanks for putting it together @GaelVaroquaux . A few notes:

I am not sure if a namedtuple had a order, if it does I think the order should be geometry, texture

I assume that we need to implement new functions to not break backward compatibility? Also, we have to agree on a nomenclature. Here we are using "geometry" and "texture", which I am happy with, but which is at odds with what exsits in N

[2020-05-21 13:59] jeromedockes commented on #2171
It does

[2020-05-21 14:08] bthirion commented on #2171
In terms of naming I prefer `mesh` to `geometry`.

[2020-05-21 14:09] #2458 closed

[2020-05-21 14:09] thomasbazeille commented on #2433
Hi @everyone we hope to see you in one hour to share the progress that have been made during this short sprint ! It's at 5p CET 11a EDT on the Discord Room

[2020-05-21 14:15] juhuntenburg commented on #2171
I will make a first attempt to adjust the loading functions to this proposal now

[2020-05-21 14:21] thomasbazeille opened #2471 "Add "dummy" option as an estimator in the Decoder / DecoderRegressor"
1 - Accept "dummy" with smart default in the Decoder / DecoderRegressor to have an API consistent way to test chance for the decoding problem at hand

2 - Add in section 2.1 of the userguide an Introduction and example plot_intro_decoding a mention of this and a comparaison of results to chance in the haxby case

[2020-05-21 14:27] bthirion commented on #2470
![image](https://user-images.githubusercontent.com/234454/82569017-f01ff700-9b7f-11ea-9f80-d5c870b57001.png)
This is what I get (with Matplotlib 3.2.1)...

[2020-05-21 14:33] maalaria commented on #2470
Here are the results how I get them with commands from above (the only difference is plot_abs=True/False).

False scaling:
![false_scaling](https://user-images.githubusercontent.com/10158536/82569547-ae438080-9b80-11ea-9a89-5ae7084be2b2.png)

Correct scaling:
![correct_scaling](https://user-images.githubusercontent.com/10158536/82569559-b4d1f800-9b80-11ea-8695-7e38b8370a6d.png)

[2020-05-21 14:48] jeromedockes commented on #2470
could it be the same issue as #2430 ? if so have a look at the PR linked in that issue for how to fix it

[2020-05-21 14:50] effigies commented on #2171
I'm not entirely thrilled with textures... Is a vector or time series a texture? A collection of textures?

Also, just to be clear, aren't textures per face, not per vertex?

[2020-05-21 14:52] sahahn commented on #2171
I like the design!

A few clarification points:
- So we are going forward with the GiftiImage as an internal representation? Then further, all output would be as the namedtuple, with the two stored GiftiImages, right?

- We want to accept filenames as inputs still right? I.e, so in summary, you can pass
for texture:
A GiftiImage (w/ internal checks to make sure it contains data), a numpy array (ei

[2020-05-21 14:55] sahahn commented on #2171
I thought in FreeSurfer at least, textures were one value for vertex, and represented some combination of all faces that include that vertex. I could be wrong though

[2020-05-21 14:59] GaelVaroquaux opened #2472 "API suggestion: stats.first_level_model -> stats.first_level"
I suggest that we do the following renames:
* nilearn.stats.first_level_model -> nilearn.stats.first_level
* nilearn.stats.second_level_model -> nilearn.stats.second_level

The goal would be have slightly smaller names, which can help readability. This is still easily possible as we haven't released yet.

[2020-05-21 15:08] juhuntenburg commented on #2171
For now I am sticking with "mesh" and "data"
But happy to adapt if there are other preferences

[2020-05-21 15:08] jeromedockes commented on #2471
great idea!

[2020-05-21 15:11] effigies commented on #2472
While we're on the subject: Is it possible that we might want to rename `nilearn.stats` to something that more specifically indicates the general linear model? Or is the goal that this will grow into something broader?

[2020-05-21 15:11] juhuntenburg commented on #2171
@sahahn

No, I think idea is that a mesh is a namedtuple of two numpy arrays (coordinates and faces) and a surfaces is a named tuple of a said mesh and data (which I think is simply a numpy array)

We will continue to accept freesurfer file formats and gifti as inputs, as well as lists, tuples and namedtupled

[2020-05-21 15:14] sahahn commented on #2171
I'm okay with that too, but it seems to contradict what @GaelVaroquaux posted above? Maybe I read his post wrong

[2020-05-21 15:17] jeromedockes commented on #2171
+1 for "mesh" and "data"

[2020-05-21 15:19] GaelVaroquaux commented on #2472
We could call it nilearn.glm. The question is whether this is too jargony or not. I don't know really. I'd love people's thoughts.

To be fair "decoding" is jargon too.

[2020-05-21 15:21] juhuntenburg commented on #2171
Yeah actually the way you wrote the example @GaelVaroquaux might be a bit misleading. Inserting a GiftiImage is one way of constructing a surface, but it can also be just a filename or numpy arrays. At least this is how I understand it

[2020-05-21 15:21] nicofarr commented on #1506
Is this still relevant today ? @GaelVaroquaux examples have probably changed quite a bit since nov 2017. Do you think we should design an example using a neurovault collection, maybe using a small subset of one large collection, and use the resampling feature ?

[2020-05-21 15:26] tbng commented on #2471
Can you elaborate more on this point?

[2020-05-21 15:26] sahahn commented on #2171
My impression was/is we are okay accepting a wide variety of input, i.e., numpy arrays, named tuples, files, nibabel objects - but we want one internal representation, that is also the standard format returned to the user.

I think I do remember that during out discussion you or someone else floated the idea of using the GiftiImage as that internal representation, but I don't remember if there was

[2020-05-21 15:31] SylvainTakerkart commented on #2171
+1 also for "mesh" and "data"
(I like "data", it's less technical than texture, and it nicely carries the message that what we want to do with surfaces in nilearn is to analyse this "data")

[2020-05-21 15:39] GaelVaroquaux commented on #2472
Summarizing a discussion that we just had:

* Moving stats -> glm would reduce the scope, which is fine but should be a conscious decision
* "glm" is wording used quite widely in BIDS as well as other software
* mass_univariate should be moved to this module.

This issue is still open for comments, but the consensus is currently:
* stats -> glm
* Removing "_model" from "first_level" and "second_le

[2020-05-21 15:57] juhuntenburg commented on #2171
@sahahn Yes, I was quite in favour of using GiftiImage as an internal representation but was convinced that it is too clunky for what we need. Also, @effigies was in favour of a simpler Surface object, to be pushed also in Nibabel. So what I understand is that we agreed on a namedtuple of numpy arrays

[2020-05-21 16:00] sahahn commented on #2171
Great. Looking forward to helping with this

[2020-05-21 16:03] JulienLefevreMars commented on #2171
+1 for data:

Maybe it could allow to use less trivial format than numpy.arrays
For instance, if you consider a vector field, it can be seen as a Npoints x 3 array (coordinates of the vector at each point), but it is probably better to see it as a "set" of 2 coordinates attached to a local basis of the tangent space.
Probably the same could be used for diffusion fibers.

[2020-05-21 16:06] GaelVaroquaux commented on #1506
I think that what's most missing currently is an example where we run a
first-level and then do decoding on top of that.

The situation with regards to datasets and examples is however that we
are now very resource limited, as the CI takes forever to run and the
example downloads are brittle :(

[2020-05-21 16:17] bthirion commented on #1506
It exists already https://github.com/nilearn/nilearn/blob/master/examples/07_advanced/plot_haxby_block_classification.py

[2020-05-21 16:21] juhuntenburg commented on #2171
@JulienLefevreMars not sure I understand, what format would you need for that?

[2020-05-21 16:21] jeromedockes commented on #2171
also it is similar to `get_data` and `get_fdata` used for Nifti1Images

[2020-05-21 16:23] bthirion commented on #2472
One possibility is to use:
- "first_level" -> "subject_level"
- "second_level" -> "group_level"
But I still prefer  "first_level" / "second_level"  (I believe that people who have worked with SPM will find this fine).

[2020-05-21 16:23] GaelVaroquaux commented on #1506
I wasn't happy with it, because it's a block design while I get a lot of
questions on event design. However, I agree that you are right, and that
it is good enough.

We should add more pointers to this example across the documentation
(including in the decoding tutorial).

[2020-05-21 16:31] JulienLefevreMars commented on #2171
@juhuntenburg . Well, instead of Npoints x 3 numpy arrays, it could be something like
vectorField = namedtuple('vectorField', ['localCoordinates', 'localBasis'])
'localCoordinates' corresponds to Npoint x 2 array
'localBasis' is Npoint x 3 x 2 array, (2 stands for the dimension of the tangent plane, 3 for the coordinates of the basis vectors

Mathematically it is more satisfying but I don't know i

[2020-05-21 16:39] juhuntenburg commented on #2171
Interesting, I think it depends on how common this is, whether or not it makes sense to implement it as a special case, or just be ok with a simple numpy array. I assume that the data file does not contain the information that what it contains is a vector field, so it would require a flag or argument to the loading function.

I would be curious to hear others' opinions on this.

[2020-05-21 16:45] JulienLefevreMars commented on #2171
@juhuntenburg To be even more precise, the local basis information would me even more relevant in the 'mesh'/'geometry' part. But by writing this, I realize that it makes things really more complicated for the user (not supposed to be a mathematician).

[2020-05-21 16:49] bthirion commented on #2171
Hi @JulienLefevreMars
I think that the intent here was to support very basic operations on such data: accessing, doing spatial filtering and various statistical computations.
I'm not sure whether this is relevant for the vectorField structure you describe above. there are probably (many) other operations you want to do ?

[2020-05-21 16:57] effigies commented on #2472
If the choice is first/second or subject/group, then I would prefer first/second because subject/group is heuristically reasonable but not always true. "First" will not be violated, and somebody who can construct a third-level model should understand it enough to know it's the same idea as second.

As I mentioned on the channel timeseries/summary is maybe a bit more descriptive, but at the cost of

[2020-05-21 17:01] jrasero opened #2475 "clean function modifies the input time series object if performing pass-filtering without detrending"
Hi,

I am using version 0.6.0. I've found that function **clean** within the module signal modifies the input time series object if one performs a pass-fitering when _detrend_ option is False.

For example, if you run the following code (test time series borrowed from [here](https://gist.github.com/miykael/4bb887029cba3926902feb2e4afe190f)) and then plot both the original and clean time series:

[

[2020-05-21 17:03] bthirion commented on #2472
OK, I'd rather stick to first/second.

[2020-05-21 17:15] bthirion commented on #2475
This could be related to #2281 . I think that the idea was that the input should never be modified.

[2020-05-21 17:15] JulienLefevreMars commented on #2171
Hi @bthirion
Spatial filtering is clearly relevant, if you think for instance to smooth a vector field given by the principal curvature. But if I am not wrong it is not equivalent to smooth a 3D vector field and to smooth the coordinates in the tangent bundle (the proper way to smooth).
It was just an example of data that could not be directly seen as "simple" arrays. There might be others (provid

[2020-05-21 17:15] bthirion commented on #2475
Thx for reporting !
Would you issue a PR ?

[2020-05-21 17:24] bthirion commented on #2171
We won't introduce sphisticated smoothing schemes (I mean: beyond scalar field smoothing along the surface). I think that the kind of operations that you would like to do with vector fields on the surface won't be implemented in Nilearn. MindBoggle would be a better fit to support advanced manipulations ?

[2020-05-21 17:30] jrasero commented on #2475
I've never issued a pull request, but I can try it. As it is suggested in #2281, the safest thing would just to create a copy of the input time series right at the beginning of the function.

[2020-05-21 17:36] thomasbazeille commented on #2471
Really just have a tradeoff have a reasonable baseline for chance in our current examples.

Specifics I can think of :
- add "dummy" to the list of acceptable keyword
- when it's passed instantiate DummyClassifier / DummyRegressor with suitable strategy and parameter (but I think sklearn default will be a great start)
- find how it would work to fit this dummy as is, for example through the curren

[2020-05-21 17:39] bthirion commented on #2475
... only if necessary.
We want to avoid copies as much as possible, because we may have to process large chunks of data.

[2020-05-21 17:41] bthirion commented on #2410
Do wa agree that `second_level_model.masker_.transform(second_level_input)` does the trick ? If yes, we should close the issue.

[2020-05-21 18:08] effigies commented on #2472
As one final point of (non)interest, I typically import as [`level1`](https://github.com/poldracklab/fitlins/blob/ab47bf25e48534550a833a8c2ce6a0be16775745/fitlins/interfaces/nistats.py#L130) and [`level2`](https://github.com/poldracklab/fitlins/blob/ab47bf25e48534550a833a8c2ce6a0be16775745/fitlins/interfaces/nistats.py#L229), to make it just a bit shorter. So I guess that's another option.

Again,

[2020-05-21 18:12] JulienLefevreMars commented on #2171
Thanks @bthirion for the explanation and the suggestion.

[2020-05-21 19:11] robbisg commented on #2472
What about ```nilearn.univariate``` ? You surely discussed about that and I know that final decision is up to the Temporary Benevolent Dictator (just noticed that :D) !!

[2020-05-21 19:18] tsalo commented on #2358
I think that this can be closed now that #2447 has been merged.

[2020-05-21 19:24] GaelVaroquaux commented on #2358
Thanks @tsalo !

[2020-05-21 19:24] #2358 closed

[2020-05-21 19:27] bthirion commented on #2472
People are less familiar with `univariate` than `glm` even though it's more accurate technically.

[2020-05-21 19:27] GaelVaroquaux commented on #2472
I think that it's as jargony and incorrect as GLM (a GLM is univariate in
voxel-space, but multivariate in design space)

The Temporary Benevolent Dictator likes consensus. These are however hard
to achieve as we all come from different background (which is added
value!)

[2020-05-21 19:50] #1731 closed

[2020-05-21 20:09] bthirion commented on #2460
Sounds good to me. Do you want to start a PR ?

[2020-05-21 20:25] jeromedockes commented on #2283
so for deprecation we have:
- [ ] cobre
- [ ] FIAC
- [ ] mixed gambles
- [ ] nyu
- [ ] adhd

I have two questions:
- do we do each in a separate PR? it might be easier as some will require rewriting examples
- what release number do we announce will remove them?

[2020-05-21 20:41] bthirion commented on #2283
Sounds like a good idea

0.9 I think

[2020-05-21 20:45] alpinho commented on #2395
@bthirion @mwegrzyn I'll start working on this problem. Do you have any further suggestions besides what is reported [here](https://gist.github.com/mwegrzyn/9349842ee2abbff05df735a595bb239a)?

[2020-05-21 21:03] jeromedockes commented on #2283
@thomasbazeille which dataset could replace mixed gambles in the fREM example?

[2020-05-21 21:29] thomasbazeille commented on #2283
Actually there is not really, unless I'm not aware about some hidden decoding dataset.

As much as I do love Haxby, I think we need something else to showcase Decoding / fREM and potentially also another example of decoding after GLM fitting for an event-related paradigm (#1506 is maybe related, and others as well)

Mixed Gambles is really impractical and does not give strong result so I won't min

[2020-05-21 21:36] tsalo commented on #2280
I believe that this can be closed now that #2459 has been merged.

[2020-05-21 21:47] thomasbazeille commented on #2280
Thanks a lot @tsalo for the good catch ! Closing

[2020-05-21 21:47] #2280 closed

[2020-05-21 22:08] jeromedockes commented on #2283
@AlexandreAbraham do you know why `_fetch_file` can do authentication? I don't see this used anywhere

[2020-05-21 22:10] jeromedockes commented on #2283
it seems to have been added in this commit
`29c9cc93b34fc3c9d94ff60bba18b379bf935e15`
if that helps

[2020-05-21 22:41] hvannieuwenh opened #2481 "ImportError: A sklearn version of at least 0.19 is required to use nilearn. 0.0.0 was found. Please upgrade sklearn"
I recently installed nilearn version 0.6.2, and when I try "import nilearn" I receive the error written in the title. I cannot update sklearn as it is outdated, it has now been switched to scikit-learn, for which I have the latest version, 0.22.2.post1.

Downgrading my scikit-learn version to 0.22 fixed the problem and allowed me to import nilearn with no issues.

[2020-05-22 08:22] juhuntenburg commented on #2171
I changed the mesh loading function to return a namedtuple in #2474

Next I would like to change the surface plotting functions to take a tuple / namedtuple as input.
Currently these functions take two inputs (mesh and optional data). I assume I have to write new functions to keep backward compatibility? Or is there a solution I am overlooking?

If I write new functions, is there any convention /

[2020-05-22 08:32] thomasbazeille commented on #2433
Thanks a lot to the 30-40 people that participated in the sprint and discussions, felt that we made some big steps forward and improved quite a lot of things in only two days.

Hope we'll finish to clean as much of it as possible so it's included in Nilearn and see you today at the [Scientific Day](https://nilearn.github.io/dev-days-2020/scientific_days.html) about how using nilearn and other soft

[2020-05-22 08:36] kbonna commented on #2460
Sure. I can work on that, and submit PR when I finish the function.

We (me and @kfinc) can also work on other minor issues, i.e. `node_color='random'` and improving documentation for `edge_threshold` parameter and start separate PRs for those.

[2020-05-22 08:36] bthirion commented on #2433
On 22/05/2020 10:32, ThomasBaz wrote:

Thx for the organization !

[2020-05-22 08:37] bthirion commented on #2460
Sure, this can go altogether in one PR.

[2020-05-22 08:49] thomasbazeille commented on #2481
Thanks for reaching out !

This is linked to #2288 and on our to-do list for next release as well. It might become a high priority if it makes nilearn fail with latest scikit-learn version.

[2020-05-22 10:35] GaelVaroquaux commented on #2171
A slightly modified version of the proposal based on the feedback, changing a few things, and hopefully making everything more clear and explicit.

# Rationale

Nilearn wants to keep together enough information about surface data to enable plotting and spatial processing (eg smoothing on the surface), but would like to avoid as much as possible creating a new data structure.

A challenge is that c

[2020-05-22 10:48] maalaria commented on #2470
Looks like beeing related. I will have a look. Thanks!

[2020-05-22 11:22] juhuntenburg commented on #2171
Thanks @GaelVaroquaux

This is confusing to me. Do the entries to mesh have to be GiftiImages after all? I thought they would just be numpy arrays to avoid the complexity of the GiftImages object

[2020-05-22 12:04] GaelVaroquaux commented on #2171
I have modified the text to be more clear. Tell me if it's clear.

The default object should be GiftiImages, in my opinion. As input because this is what people will easily get from disk, as output so that they can easily write them to disk.

[2020-05-22 12:18] bthirion commented on #2171
LGTM.

[2020-05-22 12:30] JohannesWiesner commented on #2410
Yes, I agree!

[2020-05-22 12:30] #2410 closed

[2020-05-22 13:08] juhuntenburg commented on #2171
I just don't understand how you describe a mesh on one hand as a namedtuple of numpy arrays, but then when inputting it to a surface it needs to be a GiftiImage. Is mesh a namedtuple or a GiftiImage?

[2020-05-22 13:09] juhuntenburg commented on #2171
And consequently, should load_surf_mesh return a namedtuple or a GiftiImage?

[2020-05-22 13:10] GaelVaroquaux commented on #2171
The suggestion is that it can be either as an input. However, the output should always be a GiftiImage, to facilitate the saving of the data.

[2020-05-22 13:14] juhuntenburg commented on #2171
Because we decide that gifti is going to be the default for saving? Somehow I thought the whole idea of namedtuples was to stay agnostic to file formats

[2020-05-22 13:34] GaelVaroquaux commented on #2171
I see two reason to favor using gifti instead of plain numpy arrays:
1. Easier to carrying around meta information, which we may decide to add in the future
2. Easier to save.

For the second point, advanced users can always change the format. The point being that given a named tuple, beginners might struggle figuring out what to do about it. Also, I would hope that it's easy to save a GiftiImage

[2020-05-22 13:50] effigies commented on #2171
If you want to use GiftiImage internally, writing a routine to write to a FreeSurfer geometry file should be simple, though I don't think the routine currently exists. The [`freesurfer.write_geometry`](https://nipy.org/nibabel/reference/nibabel.freesurfer.html#write-geometry) function elaborates what *can* be put in the file.

Anyway, I think it's going to be pretty rare that you actually want to

[2020-05-22 13:51] jeromedockes commented on #2171
that's a difficult one :/

- changing the function themselves to make them magically accept both
  kinds of inputs would be a mess

- creating functions with different names in the same namespace would be
  problematic too, because as you point out the best names are already
  taken.

- I would suggest placing the new functions in a new module, and changing
  the imports in `plotting/__init__.py`

[2020-05-22 13:53] juhuntenburg commented on #2171
Sure, but I would be a simple, if not simpler, to write a routine to save a namedtuple to a FreeSurfer geometry file.

[2020-05-22 13:55] jeromedockes commented on #2171
it could still be useful, for example if a function receives the mesh as
an in-memory object and doesn't know where it is on disk, but needs to
write a complete image with data + mesh
we would probably need it for testing the loading functions as well

[2020-05-22 13:57] juhuntenburg commented on #2171
I am not principally against the suggestion to use GiftiImages, I just did not understand this as the conclusion of our discussion and just wanted to understand better. I think the advantage as @GaelVaroquaux said could be possibly associating metadata (although I never really used metadata with surfaces) and that saving to gifti will be easier. So if our general idea is to default to gifti that m

[2020-05-22 14:20] bthirion commented on #2171
Well, you may want to create a middle mesh by averaging white and pial coordinates, and save it.

[2020-05-22 14:24] SylvainTakerkart commented on #2171
I have the same feeling...

but that's starting to be some "mesh processing" operation, and I don't think nilearn's goal is to do "mesh processing", no?

[2020-05-22 14:27] bthirion commented on #2171
Well, I've already done it, and found it useful for display. This is very basic...

[2020-05-22 14:32] SylvainTakerkart commented on #2171
sure, sure, I don't question the usefulness of this nor its simplicity, just the relevance of it being part of nilearn... that would be an outlier functionality in nilearn, no? and therefore, maybe, that should not be a good enough reason to orient the design of some other piece of nilearn?

but maybe there are other reasons to save a mesh?
(I don't see any obvious one, but...)

[2020-05-22 14:41] SylvainTakerkart opened #2483 "Statistical significance testing of decoding results"

[2020-05-22 15:05] GaelVaroquaux commented on #2171
I agree that saving meshes is not really going to happen much. Maybe it would make sense if we want to save full reports to disk, but that's something that a user would not do.

To me, however, it's as much about nilearn and about wider good practice of the ecosystem. I would find for never have volumetric data carried around as numpy arrays but rather as NiftiImage, as numpy arrays loose the mean

[2020-05-22 15:05] bthirion commented on #2483
Would two-sample permutation tricks do the tricks, where the "control" sample is the chance level ?
Other wise, is there some relevant literature ?

[2020-05-22 15:08] bthirion commented on #2171
AFAIK GiftiImage does not bring more features than arrays, but I may not know it well enough.

[2020-05-22 15:28] sahahn commented on #2171
This seems to get at something we've been circling around for a while now - that no one seems fully satisfied with the GiftiImage's, but at the same time we don't want to as Gael keeps pointing out pass around bare numpy arrays.

I.e., it would be great if there was already a well-implemented and accepted nibabel surface equivalent to the NiftiImage, but in lieu of one, we have to either use the G

[2020-05-22 15:46] bthirion commented on #2283
Argh, yes.
We can provide a low-res IBC-RSVP example for within-subject decoding...
But it does not reduce the number of datasets :-(

[2020-05-22 16:23] GaelVaroquaux commented on #2283
If it does make downloads more reliable then yes.

I thought that it was a small dependency, but it itself has dependencies.
However, it's probably already present in a huge fraction of our
userbase.

[2020-05-22 16:37] thomasbazeille commented on #2483
I think that having some good signifiance testing would be really valuable to offer some fullproof general routines for predictive analysis. However there is no general method available in scikit-learn for common estimators besides permutation testing that take forever, and I'm not aware of any specific litterature on that ? I'll take a look.

 to really worth investigating, however

[2020-05-22 16:54] SylvainTakerkart commented on #2483
there's a bit of literature, but not much... I'll summarizing what I know of next week...

[2020-05-22 18:45] PeerHerholz commented on #2425
Small update: @bthirion, @thomasbazeille and I will look into some examples from `fmriflows` and update asap.

[2020-05-22 19:19] #2360 closed

[2020-05-22 19:19] #2414 closed

[2020-05-22 20:38] jhlegarreta commented on #2328
Looks like the build that should have generated the artifact unfortunately failed :worried:, so I guess I have no way to check this.

I ignore if the latest doc is pushed regularly/nightly to the website. If it gets pushed, I am not sure the PR has been successful in addressing the issue (e.g. having a look at [image:clean_img:sessions](https://github.com/nilearn/nilearn/blob/master/nilearn/image/

[2020-05-22 22:16] kfinc opened #2485 "Thresholded colorbar doesn't look good on a glass brain plot with a black background"
Thresholded colorbar doesn't look good on a glass brain plots with a black background because of threshold overlay set to black when `black_bg=True` (`brain_color = (0. if black_bg else 1.,) * 3)`. To keep consistency with `plot_stat_map`, I suggest using gray color overlay for white and black backgrounds.

Here how it look right now:
![image](https://user-images.githubusercontent.com/14907241/827

[2020-05-23 07:31] bthirion commented on #2485
Indeed !
Please issue a PR...
Thx,
Bertrand

[2020-05-23 07:37] bthirion commented on #2328
IIUC, this is superseded by #2478 (but the build  has also failed).

[2020-05-23 09:14] bthirion commented on #2171
Sounds like the best solution to me. Thx !

[2020-05-23 13:12] alpinho opened #2487 "Gray- and white- matter masks estimation"
As a follow-up of the PR #2459, new parameters on gray and white-matter masks estimation should be added to the new function `Nilearn.masking.compute_brain_mask`. This function computes an whole-brain mask based on the MNI template and this can be kept as the default parameter.

[2020-05-23 15:57] jhlegarreta commented on #2328
@bthirion thanks for the note !

@GaelVaroquaux thanks for proposing the fix ! If it is believed to be working, you may be willing to get this issue closed automatically when the PR gets merged by adding the appropriate message to the PR.

[2020-05-23 16:22] GaelVaroquaux opened #2488 "Discussion: Should there be plotting in nilearn.reporting?"
There are a lot of plotting functions in nilearn.reporting. I do not really comprehend the logic that drove the choice of putting a function in plotting vs reporting. The whole content of the _plot_matrices file feels like I would expect it to be in plotting, as there is plotting.plot_matrix there.

I would expect to draw the line in the following way:
* Anything that simply does matplotlib plot s

[2020-05-23 17:06] #2408 closed

[2020-05-24 08:38] GaelVaroquaux commented on #2485
Fixed by  #2486 thanks!

[2020-05-24 08:38] #2485 closed

[2020-05-24 08:51] bthirion commented on #2488
I had the impression that plotting functions were implicitly about image plotting, i.e. 2D/3D rendering of images. To me, design matrix or contrast matrix plotting are  different things. Note that they correspond more to model introspection, which makes it logical to have them in `reporting` module.
Now, there is the case of carpet plots: this is data not model, but on the other hand this is signa

[2020-05-24 09:12] GaelVaroquaux commented on #2488
Nothing in the name says it (neither for "plotting", nor for
"reporting"). I think that it will be difficult for users to know where
to draw the line.

But where should plot_matrix lie, with this logic?

But as you see, we are struggling to draw the line for many functions. As
a consequence, users will struggle too.

[2020-05-24 11:57] GaelVaroquaux opened #2490 "API: nilearn.stats.map_threshold -> nilearn.stats.threshold_stats_img"
This function is quite close to nilearn.image.threshold_img. We need to keep them consistent:

* names should be consistent (threshold first and not last)
* names should indicate the difference (one is about stats)
* orders of argument should be as consistent as possible (threshold should come second in map_threshold)
* they should reference each other in their see-also section

[2020-05-24 14:03] GaelVaroquaux opened #2492 "Rework the GLM documentation (nilearn.stats)"
The GLM documentation (docs/glm) is currently a course on the GLM. It does not introduce in any way how to run an analysis with nilearn. While it is important that the narrative documentation stays high level, it still needs to introduce the concepts and objects of nilearn that are useful for the topic, as well as point to the most important examples to study.

Proposed plan:

* [ ] Add a subsecti

[2020-05-24 17:48] bthirion commented on #2492
great suggestion, waiting for a candidate ;-)

[2020-05-24 21:06] bthirion commented on #2488
Well, there is no solution that makes the separation for the users, as some plotting functions will be used mostly or uniquely in the reporting.
But, if people feel the distinction between 'mpl output' (plotting) vs 'html output' (reporting) is clear enough, that's good with me. Do other people have an opinion ?

[2020-05-25 00:28] jeromedockes commented on #2488
I don't think the distinction html vs matplotlib works very well because for
example the plotly and brainsprite plots are almost interchangeable whith
matplotlib ones, and probably belong in `plotting`, but produce html pages.

I think part of the confusion comes from the fact that we merged the nistats and
nilearn reporting packages, which do quite different things. In nilearn, the
reporting only

[2020-05-25 09:54] tbng commented on #2490
I can take care of this issue. Will open one PR for solving this one and gh-2472.

[2020-05-25 10:35] #2467 closed

[2020-05-25 10:36] thomasbazeille commented on #2467
superseeded by #2492

[2020-05-25 10:37] thomasbazeille commented on #2492
My take on this was in #2467 (that I'll close as superseeded by this):

Basic functions to mention at the very least in the narrative documentation:

- [ ] plotting event file (upcoming)
- [ ] nilearn.stats.first_level_model.make_first_level_design_matrix
- [ ] nilearn.reporting.plot_design_matrix
- [ ] nilearn.stats.second_level_model

Maybe also a comparaison with glover / spm processing paramet

[2020-05-25 12:02] bthirion commented on #2488
Thx for the clarification.
I understand better and agree with your refactoring proposition (hence Gael's one). Note however that this represents a bit of work.
It should probably be addressed before the release. Anybody volunteers to address it ?

[2020-05-25 14:45] emdupre commented on #2488
One more clarification here -- we also discussed renaming one of the reporting functions in #2466. In looking through the codebase now I'm realizing I missed that Nistats had largely adopted the prefix 'make' for all of their reporting funtionality, whereas Nilearn reporting was establishing its own naming convention.

When we're doing the refactoring, I imagine we should also standardize these na

[2020-05-25 14:49] emdupre commented on #2466
I tried to explain a bit more in #2488, sorry ! I was reacting to the fact that prior to the Nistats merge, very few Nilearn functions were prefixed with `make` and those that were did not generate HTML output. I see now that Nistats had adopted its own conventions that are now intermixed in the code base. Reporting is something that definitely needs to be standardized, now ! I'd (personally) imag

[2020-05-25 15:25] jeromedockes commented on #2488
HTML vs matplotlib should be indicated in the function name for plotting
functions, ie the view_* vs plot_* functions

for reports, as this is completely different thing, I'm not sure what
distinction needs to be made? all reports are HTML pages, and none of
them are called plot_something (which wouldn't make sense)

BTW, in the reporting package, I only see two "make" public functions:
make_glm_r

[2020-05-25 15:31] emdupre commented on #2488
functions, ie the view_* vs plot_* functions

Sorry, yes, this was the connection I was hoping for (and likely missed that it was already made). My next question was if it should make sense to have reporting as `view_report` or `view_glm_report` rather than  `make` _or_ `generate` since the resulting objects behave like those generated with `view_` (e.g., the `open_in_browser` method).

[2020-05-25 15:44] GaelVaroquaux commented on #2488
Yes, I would favor this. With the same name. And push to have this be a
consistent thing across nilearn.

[2020-05-25 15:48] jeromedockes commented on #2488
so for example: `masker.view_report()`? that makes sense. on the other
hand the plotting ones are really just showing an image that already
exists, while the reporting functions do create the report. I think both
work, no strong opinion on this.

[2020-05-25 16:09] dvm-shlee opened #2493 "[request feature] suggesting features for animal imaging data"
Hi Nilearn team,

I’m a preclinical fMRI researcher and want to conduct the Nilearn for my data analysis as well as visualization. One major concern is most of the visualization features are too optimized for human research in terms of generating the publishable level of figures while it also provides some flexibility to plot animal data.

So hope to suggest the following features as API to develo

[2020-05-25 16:28] bthirion commented on #2488
Indeed report generation can represent a substantial amount of computation (unlike view_* functions).

[2020-05-25 17:05] bthirion commented on #2493
Dear @dvm-shlee
Thank you for your suggestion.
My feeling however is that mouse imaging is beyond the scope of Nilearn. Maintaining the library for human images is already a hard task, hence we don't have the strength to support animal data.
The best that I can propose is to write a small module that would depend on Nilearn to perform the visualization task you need, while using Nilearn where you

[2020-05-25 17:11] jeromedockes commented on #2493
the decimal in annotations is the same issue as #2042 . I guess the discussion there seems to suggest a PR would be welcome. the discussion also contains a way to achieve that in matplotlib, ie without changing nilearn code.

[2020-05-25 17:12] jeromedockes commented on #2493
I agree. to keep in line with @emdupre 's great talk at the nilearn dev days, maybe this should be made explicit somewhere?

[2020-05-25 17:13] bthirion commented on #2493
Yes, for the decimal thing I agree. What I meant is that we will keep human brain templates.

[2020-05-25 17:41] GaelVaroquaux opened #2494 "Rename : fREMXXX => FREMXXX"
Classes need to be written strictly in CamelCase. As a result, the first letter of a class must be a capital.

We must rename before we release. Consistency is important.

[2020-05-25 18:09] dvm-shlee commented on #2493
Thank you all for your comments on my request. for glassy brain, then I would make separate module as an addon to utilize tha nilearn. regarding the decimal, It looks like the discussion was made about an year, does any PR made for this request? If not, is it ok to generate PR for the decimal I'm as above code?

Thank you!

[2020-05-25 18:36] jeromedockes commented on #2493
No PR was opened at the time, no. If you open one now, that would be
great, thank you. The approach you outline seems sound; it will be
easier to work out details once the PR is open.

Regarding the animal glass brains, as @bthirion and you say it is best
to implement that in a separate package.

[2020-05-25 19:06] thomasbazeille commented on #2494
This was raised during reviewing process because :"the method is called
fREM but the convention would mean using Frem (exact opposite). So I'm not
sure which one is more confusing for users"

and we agreed with @emdupre @jeromedockes and @tbng for fREM

Le lun. 25 mai 2020 à 19:42, Gael Varoquaux <notifications@github.com> a
écrit :

[2020-05-25 19:21] GaelVaroquaux commented on #2494
This is clearly a violation of Python style guidelines. A class cannot
start with a non upper case letter (there are plenty of violations out
there). We shouldn't do that.

[2020-05-25 19:34] tbng commented on #2494
Actually since I was the one who initially raised this discussion when
reviewing the code so there is no strict preference for my case, either is good
for me.

fREM is the similar name to the reference of the method so it might be less
confusing.

On 25.05.2020 12:07, ThomasBaz wrote:

[2020-05-25 19:52] jeromedockes commented on #2494
actually I just checked the reference and it seems it should be FReM ?

https://hal.archives-ouvertes.fr/hal-01615015/

BTW I'm not sure why the "ensemble" in "fast regularized ensemble of
models" is not worthy of an upper-case letter.

in any case, in the future everybody please flake8 your publications
before submitting to journals to avoid this kind of issue.

[2020-05-25 19:56] GaelVaroquaux commented on #2494
:+1:  :)

By the way, sorry for coming after the fact with those annoying details.

[2020-05-26 06:34] wyang695441068 opened #2495 "Extract DMN using nilearn"
Hello everyone, I am a novice user of nilearn, and I want to extract a default network (my own one data) of fMRI data through DictLearning. what should I do?
![}TPW@VZV`GAPA_6{9GET(5E](https://user-images.githubusercontent.com/35195009/82867649-cf7be680-9f5d-11ea-9fca-f586536ba81b.png)

dict_learn = DictLearning(n_components=8, smoothing_fwhm=6.,
                              memory="nilearn_cache

[2020-05-26 06:42] TheChymera commented on #2493
@dvm-shlee as pointed out by others, nilearn clearly lacks the manpower to maintain out-of-the-box usability for animal data atm. Luckily the current code is fairly easy to build upon, which a number of people including myself have already done, and you are welcome to use and open issues on: https://github.com/IBT-FMI/SAMRI

To address your specific questions:

1. **Mouse coordinate space:** we ha

[2020-05-26 08:24] #1585 closed

[2020-05-26 08:34] mwegrzyn commented on #2395
Dear @alpinho,

thank you very much for your message and for working on the issue. Right now, I don't have any further ideas. But if you have anything that you need help with, I would be happy to try and contribute something (maybe tests or documentation; I'm not too experienced with working on software, but am looking for opportunities to gain more experience). Thank you!

Best regards,
Martin

[2020-05-26 09:54] bthirion commented on #2495
Hi,
Could we have this discussion in Neurostars instead of Nilearn  issues?
I have the impression that the brain image  you are using is nit in MNI space. has it be preprocessed ?
Best,

[2020-05-26 10:51] wyang695441068 commented on #2495
Sorry, I will refer this question to Neurostars.thanks! @bthirion

[2020-05-26 10:51] #2495 closed

[2020-05-27 01:47] dvm-shlee commented on #2493
@TheChymera Thank you for sharing great work and introducing your project. Looks you made amazing works for the animal imaging! Realizing there are also some similar works our group has done for fMRI in rats.  Regarding the glassy brain, I will check your SAMRI project and also check if there is anything I can contribute.

@jeromedockes @bthirion Thank you for discussion and provide information re

[2020-05-27 05:59] TheChymera commented on #2493
@dvm-shlee glad you like it. If you want I'd be happy to try to merge our work, in order for things to survive and grow it's important to reach a critical mass of contributors. This no longer has anything to do with the nilearn issue tracker, though, so I think it's best we move to the SAMRI issue tracker for specific issues (e.g. glass brain), or you can write to me directly for more general ques

[2020-05-27 18:20] ariekahn opened #2499 "suggestion: check_niimg should raise FileNotFoundError if pathname doesn't exist"
I was iterating through a large dataset where a few subjects are missing individual scans, and noticed that `load_nii` raises a ValueError if the file I provided didn't exist. This seems like it would be more properly addressed with a FileNotFoundError.

It looks like this is coming from `check_niimg`, which either raises:
https://github.com/nilearn/nilearn/blob/46c7d2102eccad9d9dad0a975741ee3bfdb

[2020-05-27 18:34] jeromedockes commented on #2499
It does, but changing it would break user code that catches the
ValueError. How do you suggest to handle that?

[2020-05-27 18:56] ariekahn commented on #2499
This might unnecessarily complicate things, but could create a custom class here subclassing both ValueError and FileNotFoundError, to preserve compatibility.

[2020-05-28 14:25] jeromedockes commented on #2499
yes that would work, but as you say I am afraid it would add clutter, and users might wonder what is this new exception class

[2020-05-28 14:27] ariekahn commented on #2499
Agreed. I think the existing choice is a bit confusing, but probably no great way to fix at this point.

[2020-05-28 14:27] #2499 closed

[2020-05-28 14:30] jeromedockes commented on #2499
Still, thanks for reporting it!

[2020-05-28 15:32] emdupre opened #2502 "fetch_abide_pcp returns 403 error"
A user reported that the `fetch_abide_pcp` function is currently returning a 403 error and has been since at least yesterday. Code to reproduce:

[code]

Checking the dataset URL (https://s3.amazonaws.com/fcp-indi/data/Projects/ABIDE_Initiative) in-browser confirms the problem is server side. Do we have a good contact point for this data set ? I'm happy to reach out to CMI, but I'm not sure if the

[2020-05-28 16:18] jeromedockes commented on #2283
ok I started adding requests and improving mocking.
this is orthogonal to removing some datasets from examples and deprecating fetchers, which can be done in parallel

[2020-05-28 19:20] bthirion commented on #2502
No better suggestion than contacting CMI. Thx !

[2020-05-28 20:07] mwshinn commented on #2502
I'm having the same problem.  If you don't hear back, the PCP has an ABIDE repo with an issue tracker we could try as well, though it doesn't seem to be very active: https://github.com/preprocessed-connectomes-project/abide/issues  I tried the official script in their repo as well which gives the same error as nilearn, confirming the sever-side issue isn't due to them changing the official url.

[2020-05-28 21:50] orduek commented on #2119
I don't mind updating those. Should I upload it here?

[2020-05-28 22:28] jeromedockes commented on #2119
that would be very helpful, thank you!
you would have to replace the images in /doc/images/ with the new ones
(I don't remember exactly which images need updating but I would first
have a look at those whose name contains "plotly")
And then you could open a Pull Request
thanks!

[2020-05-28 23:20] swaythe commented on #2492
I started working on this with the following template in mind:

Section summary that appears when you click on "Analyzing fMRI using GLMs":
"Nilearn's stats module uses Generalized Linear Model to analyse functional MRI data. Nilearn
offers functions to set up first- and second-level models, perform t-tests, multiple-comparisons
correction and thresholding, and allows for the generation of html re

[2020-05-29 09:49] besteaydemir commented on #2502
Hey, thanks for contacting them. The problem seems to have resolved for me, I am able to download and use the data. I hope it is available for everyone. Thanks again!

[2020-05-29 12:30] dangom commented on #2472
Why not `first_level` and `higher_level`, like in FSL Feat?

[2020-05-29 14:19] bthirion commented on #2472
IMHO that makes it even more obscure, at least for non-FSL-users ;-)

[2020-05-29 15:35] emdupre opened #2505 "Standardizing pd.DataFrame vs np.array usage"
Right now, different portions of the code base seem to expect `pd.DataFrame`s or `np.array`s. For example, I hit this issue when generating a set of confounds and then trying to call `NiftiMasker.fit_transform()` or `FirstLevelModel.fit()`.

NiftiMasker expects a `np.array` and rejects a `pd.DataFrame`:

https://github.com/nilearn/nilearn/blob/f03f7250a9cc60b00e28b41801b12e99202f20f0/nilearn/input

[2020-05-29 15:52] jeromedockes commented on #2505
thanks for pointing this out! we can try to make a list of all these
inconsistencies. As this might result in changes to the public API of
nilearn.stats, it is probably blocking the release?

[2020-05-29 17:09] jeromedockes opened #2508 "restore link to artifacts in github PR pages"
was removed in #2507 as it was not working and causing trouble for some (at least one :) ) users.
see also https://github.com/nilearn/nilearn/pull/2477#issuecomment-635917872

[2020-05-29 17:10] emdupre commented on #2505
nilearn.stats, it is probably blocking the release?

I'd agree with that, but I'll ping @bthirion @GaelVaroquaux @thomasbazeille and @kchawla-pi for more opinions :smile_cat:

I can work on starting that list in the meantime !

[2020-05-29 18:16] tbng commented on #2472
I have made a PR with the proposed API changes (gh-2509). Will need some eyes to check/review as there are a lot of minor modification across example.

[2020-05-29 19:20] GaelVaroquaux commented on #2505
I think that we should strive to support both each time. We can introduce helper functions to cast one into the other.

[2020-05-29 21:17] bthirion commented on #2505
+1 for supporting both ,and thx for pointing this !

[2020-05-29 21:22] kchawla-pi commented on #2505
Both, +1

On Fri, May 29, 2020, 23:17 bthirion <notifications@github.com> wrote:

[2020-05-29 21:26] emdupre commented on #2505
Thanks all for the input ! Unless I hear otherwise I'm going to assume you also agree that it blocks the release 🙂

I'll work on the list and then we can see how to think about supporting both data types.

[2020-05-30 16:03] #2119 closed

[2020-06-01 21:26] swaythe commented on #2492
Hi all,

I'm having some trouble getting the :ref: tag working in the documentation. I've used the documentation of functional connectivity as the model, but it's not working. Could someone please take a look? Thanks!

[2020-06-02 09:56] rob-luke commented on #2492
I just thought I'd note down that I really appreciate you writing these docs. And to highlight that they are helpful beyond fMRI too. I have just written a [brief tutorial on analysing fNIRS data with GLMs](https://mne.tools/mne-nirs/auto_examples/plot_10_hrf.html) (basically a light wrapper around nilearn.stats), and being able to point/link to your docs on things such as design matrices and firs

[2020-06-02 14:20] emdupre commented on #2492
Hi @swaythe , thank you for working on this ! I followed up on your issue directly in the PR -- let's keep the discussion there, since it's already open :smile_cat:

[2020-06-02 17:07] emdupre commented on #2502
I didn't hear back from them, but I can confirm the problem is resolved on my side as well so I'll close this. Thanks everyone !

[2020-06-02 17:07] #2502 closed

[2020-06-02 17:34] bakerhassan opened #2511 "Map voxels to parcels"
I want to "label" each voxel to a specific parcel based on an atlas.

My question is, is there an exposed API that returns the parcel label of each voxel? In other words, which parcel a voxel belong to. I assume this is already implemented using `fit_transform` and `plot_roi` methods. The `fit_transform` method averages the time-series of the voxels that belong to the same parcel. I am trying to t

[2020-06-02 19:05] GTFOptimal opened #2512 "problem applying niftimasker"
Hi

I am trying to learn about MVPA and nilearn and am encountering a problem. I have an event-related design so I followed the recommendation to create trial-specific regressors (used SPM 12), which gave me a beta image for each trial event.

I created a mask using SPM 12 neuromorphometric atlas in order to restrict the analysis to an ROI. When I come to use `NiftiMasker` to apply this mask to an

[2020-06-02 20:37] bthirion commented on #2511
Sorry, but this is not the right place for this type of request. Please send them to the Neurostars interface: we'll do our best to answer them.

The answer to your request is simply to use a simple masker (without hyperparameter)  and mask the label image: it will provide the required vector.

[2020-06-02 20:38] bthirion commented on #2511
If you don't mind, I'm closing it here. We can have more discussion on Neurostars.

[2020-06-02 20:38] #2511 closed

[2020-06-02 20:47] bthirion commented on #2512
Normally, if you run `nilearn.image.clean_img()` on the list of all images,this is equivalent to running it on a 4D image. This should do the trick. Can you confirm ?
Also, we should have this kind of discussion on the Neurostars site rather than the Nilearn issue tracker.
Best,

[2020-06-02 21:51] vnckppl opened #2513 "plot_prob_atlas error: No contour levels were found within the data range"
**Problem**
plot_prob_atlas is not plotting atlas outlines

**Approach**
I have several 4D image files each containing 28 binary masks. I want to plot the outlines of the 28 ROIs per file. I used:
[code]

For most but not all files, this results in several errors, all in the form of:

I checked and made sure that none of the 3D volumes within the 4D volume are empty. All 4D files are created by th

[2020-06-02 23:32] emdupre commented on #2513
Hi ! This is a question that would be better suited to [NeuroStars](https://neurostars.org), as it's about the usage of the software rather than an issue in the software itself.

The problem here is likely that you're using `plotting.plot_prob_atlas`, which expects a probabilistic atlas rather than a binary mask. You likely want something more like `add_contours`. You can see [an example here](htt

[2020-06-02 23:32] #2513 closed

[2020-06-03 08:51] GTFOptimal commented on #2512
Ok, going back to the thread.

[2020-06-03 08:51] #2512 closed

[2020-06-03 17:34] tsalo opened #2515 "Support atlases in plot_carpet"
Currently, [nilearn.plotting.plot_carpet](https://github.com/nilearn/nilearn/blob/cc0f43ce329bda5af2eb4cb01b7207ed4ef24b9c/nilearn/plotting/img_plotting.py#L1467) only accepts a binary mask, but it would be preferable to accept an atlas to separate tissue types in the plot (see #1585). This better matches the implementation in MRIQC and the description from the original paper.

[2020-06-03 18:54] bthirion commented on #2515
In Nilearn jargon we would call that an atlas: 0 is counted as background, and masking is performed for each other class.

[2020-06-03 18:54] bthirion commented on #2515
Sounds good, of course.

[2020-06-04 17:40] YipengUva opened #2516 "the readme file of destrieux2009 atlas is wrong"
I used "nilearn.datasets.fetch_atlas_destrieux_2009()" to download the destrieux_2009 atlas. The mni152 atlas and its label information are very useful for my research.

However, the readme file is wrong. Therefore, I am not sure if I should trust the downloaded atlas or not. It is great if the correct version readme file can be provided.

Regards, Yipeng

[2020-06-05 07:20] bthirion commented on #2516
Thanks for reporting.
Would you be able to fix this ?

[2020-06-05 13:27] YipengUva commented on #2516
Thanks very much for your reply, bthirion. I hope I have the ability to fix it. However, I am a statistician, and just begin to work in the neuroimaging area. Sorry about it.

[2020-06-05 13:54] emdupre commented on #2516
Thanks for reporting, @YipengUva ! Could you clarify what is wrong with the file ? And could you confirm that you mean [this description](https://github.com/nilearn/nilearn/blob/master/nilearn/datasets/description/destrieux_surface.rst) ?

[2020-06-05 13:58] YipengUva commented on #2516
Yes. The downloaded destrieux_2009 fold contains the following files, destrieux2009_rois.nii.gz, destrieux2009_rois_labels.csv, destrieux2009_rois_labels_lateralized.csv, destrieux2009_rois_lateralized.nii.gz and a readme file. The description in the readme file is wrong. I have no way to reproduce it.

The readme file contains:

Background
==========
The 'Destrieux' cortical atlas is based on a p

[2020-06-05 18:35] emdupre commented on #2516
Thanks for confirming, @YipengUva. You can see the [function definition here](https://github.com/nilearn/nilearn/blob/cc0f43ce329bda5af2eb4cb01b7207ed4ef24b9c/nilearn/datasets/atlas.py#L93-L148).

It seems that we could either update the RST file on the NITRIC archive, or change how the description is generated. I'm leaning towards the second route, as I'm unsure who originally uploaded that archi

[2020-06-05 19:18] YipengUva commented on #2516
Thanks for your reply, emdupre. My concern is that how the atlas is generated from the original

[2020-06-05 20:57] Alex-A14 opened #2519 "COBRE Dataset Mismatch Between Phenotypic Data and Func files"
Hello,

I'm using Nilearn 0.6.2 in Jupyter Notebook via WSL and Ubuntu (Windows)

I was working with the COBRE dataset ```nilearn.datasets.fetch_cobre()``` recently and noticed that when I load the data, the indices/order of the phenotypic data don't match with with the order of the functional data files.

For example, reading in the phenotypic data with Pandas (e.g. ```pandas.DataFrame(data.pheno

[2020-06-05 21:15] bthirion commented on #2519
Thx for reporting. Could you provide a snippet of code to reproduce the problem ? This would save us a lot of time.

[2020-06-05 22:14] Alex-A14 commented on #2519
Of course, here is an example with just the first item from each of the .func and .phenotypic objects.
[code]

For me this returns (I've bolded the subject ID):
/home/aalbury/nilearn_data/cobre/fmri_**0040046**.nii.gz
(**40061**, 18, b'Male', b'Right', b'Control', b'None', 133, 0.25512, 0.22657)

[2020-06-06 06:54] GaelVaroquaux commented on #2519
Fetch_cobre is no longer maintained. It has been deprecated (see https://github.com/nilearn/nilearn/blob/46c7d2102eccad9d9dad0a975741ee3bfdbed87a/nilearn/datasets/func.py#L1491 ) and will be removed soon.

I suggest that you either use a different dataset, or another way of downloading the cobre data.

[2020-06-10 20:48] fizzX opened #2522 "Importing nilearn not working as intended"
Hi,

I am using nilearn v0.6.2 running on a python 3.7 jupyterlab server on a CentOS server. I am trying to import nilearn and load a nifti image into the variable <sample_img> using
[code]

However, I am getting an error
[code]

Even more confusing, this code snippet successfully loads the image
[code]

Loading other nilearn modules such as plotting also doesn't work when used per the first code

[2020-06-11 12:20] jeromedockes commented on #2522
An example of the same thing in the standard library:

[code]

I think we can close this one.

[2020-06-11 18:09] #2295 closed

[2020-06-11 18:48] #2522 closed

[2020-06-16 15:15] emdupre commented on #2516
@jeromedockes do you have access to the NITRIC archives for Nilearn ? In particular, this one: https://www.nitrc.org/frs/download.php/7739/

It seems the included README is out-of-date with the rest of the archive.

[2020-06-16 15:33] jeromedockes commented on #2516
Sorry, I don't (fsaverage surfaces are in a separate collection).

[2020-06-16 20:50] bthirion commented on #2516
I think I can do it.
If somebody has the right Readme, I'm happy to take it, otherwise i'll figure it by myself.

[2020-06-17 13:47] emdupre commented on #2516
Thanks, @bthirion ! I think it would need to read something like the following :point_down:

<details>

Background
----------------

The 'Destrieux' cortical atlas is based on a parcellation scheme
that first divided the cortex into gyral and sulcal regions,
the limit between both being given by the curvature value of the surface.
A gyrus only includes the cortex visible on the pial view,
the hidd

[2020-06-17 16:24] dangom opened #2524 "On the possibility of a `dev` branch?"
Dear devs and collaborators,

I was wondering whether the nilearn project has ever considered having a dev branch where PRs would be merged more quickly for testing.
I think that'd be useful for users who would like to have features awaiting release (like nilearn.glm, and some of the new plotting and surface functionality), or for users who would like to help the project by giving feedback on alph

[2020-06-17 19:06] bthirion commented on #2524
But the master branch is actually the dev branch ?

I think that the point you're discussing is rather that the release rhythm is too slow. There is a reason for that: the new release will contain Nistats merge, which is still requiring some important work to ensure that the API is solid.

Sorry if I misunderstood.

(and of course I'm petrified by anything that will "increase the burden on main de

[2020-06-17 21:06] GaelVaroquaux commented on #2524
The idea of prototyping is a very good one, and it is true that solid
prototypes help integrating code. However, it is better that these
prototypes live outside the codebase rather than in a branch. Indeed, the
branch is difficult to retrieve for users, and requires maintenance
effort to keep up to date.

The bigger the branch grows, the harder it is to merge stuff in it, and
to transfer stuff to

[2020-06-17 23:20] kchawla-pi commented on #1728
Continued from https://github.com/nilearn/nilearn/pull/2523#issuecomment-645672671

wondering if we should:

I think we should leave test with master on a schedule, not PR triggerred. Weekly should be sufficient, so long as the results are not forgotten about, which is possible when we see it only once a week. We could set up an email notification if this job fails. The details are up to you all.

[2020-06-18 09:40] bthirion commented on #1728
I'm note sure I fully get the core question: is it to reduce pressure on Travis ?  To reduce false alarms ? Cut redundancies btw Travis and Azure ?
I am used to Travis, so I need good motivation to change ;-)

[2020-06-18 12:58] jeromedockes commented on #1728
The core question is whether we should have a CI job that installs the
master branch of the dependencies, rather than installing from PyPi, so
that we catch breaking changes in e.g. scikit-learn early.

(note we are already using both travis and azure; this job could be
added on either one)

[2020-06-18 18:03] bhomaidan1990 commented on #330
How to transform images to MNI space?

[2020-06-18 21:52] bthirion commented on #330
Hi,
Indeed.
* Note that this dataset will sonn be removed from the package
* you can preprocess it with e.g. fmriprep to get MNI-registered images.
I'm closing this issue as it's clearly a "won't fix"

[2020-06-18 21:52] #330 closed

[2020-06-19 21:30] oesteban opened #2525 "Allow displays to realign the affine with cardinal axes"
### Current situation

Nilearn will read the x-forms from NIfTI and plot data in physical coordinates (which is totally fine). What is missing is a switch to realign the data to the cardinal axes of the image (which would be off by default). With nibabel, this could be the pseudocode necessary:

1. nb.as_closest_canonical (to reorient to closest RAS)
2. replace the affine with one created as `np.d

[2020-06-19 21:31] oesteban commented on #900
This is actually what's happening here - I've opened #2525 with some ideas and one more situation where this is problematic.

[2020-06-20 16:25] PeerHerholz commented on #2492
Hi gang,

the corresponding PR seems to be ready for merging.
After that's done, I would like to check a few things @bthirion and I discussed in the prehistoric past of `nistats` (hehe) [here](https://github.com/nilearn/nistats/pull/436).

[2020-06-20 17:12] PeerHerholz commented on #2483
Hi gang,

sorry for joining late.
I think there are a couple of approaches/ways we could/should consider:

1) difference between searchlights and ROI decoding
2) significance tests

While permutation tests for searchlights were proposed a while back ([Stelzer et al. 2013](https://www.uwo.ca/bmi/cbs/img/Stelzer_inferenceMVPA_2013.pdf), [pymvpa implementation](http://www.pymvpa.org/generated/mvpa2.a

[2020-06-20 19:27] banilo commented on #2483
First off, one should wonder whether p-values are actually meaningful or
necessary for the type of judgment one wants to make about the data in the
context of searchlight and other decoding analyses. Some of my thoughts:

1) T-test-type approaches of the actual and predicted labels are often
suffering from the typical overlap of the training sets that are used to
train the models that are used to

[2020-06-21 05:03] jdkent opened #2526 "nistats: volume censoring with regression?"
I'm trying to exclude the non-steady-state volumes by including a 1 in the design matrix for that volume and 0s everywhere else, but I am getting a strange result.
Specifically, the residuals appear to show a large error for the neighboring volume when I compare to scikit-learn's linear regression.
nistats version: `0.0.1b2` (let me know if I should post this issue somewhere else)

[here's a minim

[2020-06-21 05:54] jdkent commented on #2526
It looks to be an unfortunate interaction between the autoregressive model and outliers.

[2020-06-21 06:12] SylvainTakerkart commented on #2483
Hi gang,

Sorry, I vanished... (and I'm not going to be of much help during the whole summer...)

My feeling is that we might want to think about starting simple (coz all the questions and comments listed above might be a bit overwhelming to start with), with a basic case of a single-subject ROI decoding. And then we could build up from there by moving to the group-level, and/or jumping into the s

[2020-06-21 16:28] #2472 closed

[2020-06-21 16:28] #2490 closed

[2020-06-21 21:19] bthirion commented on #2525
I see the usecase. A couple of thoughts:
* I guess we would need that for all plot_* functions ? By adding something like a `as_voxel_grid` kw, that would be `False` by default.
* I'm afraid of users getting lost (many users are not even aware whether their data are in MNI space), particularly so if we start providing coordinates that do not correspond to the affine. Actually, I would display the

[2020-06-21 21:22] bthirion commented on #2492
Thx. That's a substantial amount of work. I think we should go ahead with that after the next release to avoid delaying it too much.

[2020-06-21 21:32] bthirion commented on #2483
Thx for the comments.
There are multiple issues indeed:
* t-tests are inaccurate, and I find it somewhat problematic to showcase an approach that we find misleading and should be avoided.
* the other approaches are computationally prohibitive.

To me, as suggested by  @SylvainTakerkart the best way forward is to select a few positions in an ROI (e.g.  a few tens sphere positions) and run a permuta

[2020-06-21 21:59] oesteban commented on #2525
Glass brains are one of those things where this should not be ever enabled, I guess - although templates are generally defined with their affine aligned with the cardinal axes. And the glass brain is defined just for the FSL MNI template (which is certainly aligned with the cardinal axes).

Seems like the right call to me.

We can use this PR (https://github.com/nipreps/niworkflows/pull/544/files)

[2020-06-21 22:20] PeerHerholz commented on #2483
Sounds about right, thx!
A step-wise procedure would indeed be very helpful.

WRT `ROI` decoding multiple common cases that are present in the literature should be addressed IMHO:

- assess significance within participant
- assess significance across participants (group level)
- on both above mentioned levels: compare `conditions` and `ROI`s (within `ROI`: is one condition better "decodable" than

[2020-06-22 09:38] SylvainTakerkart commented on #2483
I agree!

unless we provide an example that demontrates that the t-test (or other approaches) are misleading... in our recent paper (that deals with the intersubject case, but that's not immediately relevant for this point of the discussion), we've used a simple way to estimate the false positive rate given by a test: using simple artificials dataset where no effect is present, performing decoding

[2020-06-22 09:40] SylvainTakerkart commented on #2483
this sounds good to me! except maybe for the last part ("one ROI decodes better than another") which is always tricky...

[2020-06-22 10:02] bthirion commented on #2483
We might refer to such experiments in the doc, but not include them directly.
B

[2020-06-22 10:11] bthirion commented on #2525
Anyway, if we simply display grid coordinates, we don't need to define an origin.

Any other thoughts on that feature ?

[2020-06-22 10:18] bthirion commented on #2526
This could be due to the autoregressive noise model in nilearn. Will take a look at that.

[2020-06-22 12:41] GaelVaroquaux commented on #2492
Going ahead is akin to merging features without test: the current
documentation is not tested and will break. When it breaks, users will be
confused.

We did these errors in the past, and we need to avoid them. They lead to
documentation that cannot be maintained.

[2020-06-22 13:57] bthirion commented on #2492
I think we're talking about two different things. The documentation has to be tested.
I mean that in the list provided by @PeerHerholz there are many desirable improvements, but they are addition and could be added in the future. Sorry if I misunderstood your point.

[2020-06-22 14:20] PeerHerholz commented on #2492
I second @bthirion impression. As mentioned, there were some things we discussed over at `nistats`. However, given the recent merge and updates, I thought it's best to first check how things (the examples) have changed, before we go over the then addressed points again. Thus, we would wait for this PR to be merged and then take it from there as the goal/scope was comparable yet different. Sorry fo

[2020-06-22 15:02] emdupre commented on #2492
@PeerHerholz do you want to review the open PR and open a new issue here (or link in the relevant issue if it was ported over from NiStats ?)

[2020-06-22 15:36] PeerHerholz commented on #2492
Oh, I thought you and @GaelVaroquaux were currently doing the reviews? Happy to open a new issue once I checked how many of the points @bthirion and I discussed are still there as they didn't focus on the `GLM` docs in particular but `nistats` examples as a whole. Sorry, I didn't mean to open a subthread here, but just "revive"/keep track the discussed points.

[2020-06-22 18:00] bthirion commented on #2526
Indeed, if you replace
`outlier_model = FirstLevelModel(t_r, minimize_memory=False)`
with
`outlier_model = FirstLevelModel(t_r, noise_model='ols', minimize_memory=False)`
This solves the problem.
Basically, the whitening approach used for AR(1) model fitting is not compatible with censoring

For thr time being, this calls for better documentation. Another, possiby better solution would be to perfo

[2020-06-23 20:18] jeromedockes opened #2527 "sphinx fails building doc on master"
sphinx fails building doc on master:

https://app.circleci.com/pipelines/github/nilearn/nilearn/758/workflows/41b300e1-f83d-4cd7-ae2a-b0c4b233cc07/jobs/5898/parallel-runs/0/steps/0-107

[2020-06-23 21:11] bthirion commented on #2527
I don't really understand what happens
The layout issue was not there when we merged the PR ?
`jinja2.exceptions.TemplateNotFound: sphinxdoc/layout.html`

[2020-06-24 22:15] kchawla-pi opened #2528 "Automate the Formatting stuff"
Prompted by https://github.com/nilearn/nilearn/pull/2477#issuecomment-648905550

We have occasionally discussed this, but I think now is the time.

Nilearn contributors, managers, core developers juggle a lot of other responsibilities. We should automate the stuff that we can.

There are automated formatters & linters as well as cloud based code quality platforms that would automate a lot of minut

[2020-06-25 20:35] #2385 closed

[2020-06-26 20:22] PeerHerholz commented on #2483
I agree @SylvainTakerkart, it's tricky. I mentioned it because I've seen it before in one or the other publication. I guess this goes back to @bthirion's point: which examples should be shown and explained and to what extent? Also should potential/shown problems of other approaches be addressed? Based on the comments above it seems that assessing significance in `ROI` decoding, within and across p

[2020-06-28 20:59] bthirion commented on #2483
+1 for drafting something based on this example. Thx !

[2020-06-29 16:01] tsalo commented on #1020
Now that `nistats` has been merged into `nilearn`, I believe that [nilearn.reporting.glm_reporter.make_glm_report()](https://github.com/nilearn/nilearn/blob/b36df65af7cb9926f5e4abc9ba3787353c90c349/nilearn/reporting/glm_reporter.py#L45) does what is requested.

[2020-06-29 16:37] bthirion commented on #1020
Indeed (thx !). Closing

[2020-06-29 16:37] #1020 closed

[2020-06-30 16:02] tsalo commented on #1412
I'm not sure if [`DEFAULT_CUT_COORDS`](https://github.com/nilearn/nilearn/blob/b36df65af7cb9926f5e4abc9ba3787353c90c349/nilearn/plotting/find_cuts.py#L28) was in use when this issue was opened, but since empty maps default to cutting at [0, 0, 0] (at least now), can this be closed?

[2020-06-30 21:02] bthirion commented on #1412
Anyay the issue has been inactive for three years. Closing.

[2020-06-30 21:02] #1412 closed

[2020-06-30 21:05] tsalo commented on #2328
I noticed that #2478 was merged, but it pivoted away from using napoleon and some of the variable/type rendering issues still seem to be around. I’d be happy to take a crack at fixing the issue, whether by reformatting all of the docstrings or switching to napoleon.

I tested out napoleon with nilearn locally and the results looked pretty good (the variable/type spacing issue seems to be fixed), b

[2020-06-30 21:30] bthirion commented on #2328
@GaelVaroquaux at some point you gave up with Napoleon: what is your opinion ?

[2020-06-30 21:53] dangom opened #2531 "On easing volunteer contributions and reducing the burden on devs"
Hi all,

I'm opening this thread to continue the discussion we've started in #2524 and #2477 regarding nilearn's at-times slow release cycles, the potential difficulties/frustrations faced by contributors in having their code accepted into nilearn, and the difficulties/frustrations from devs in accepting code and carrying the burden of an ever growing library.

I appreciate the comments back at #2

[2020-06-30 21:53] dangom commented on #2524
Closing. See #2531

[2020-06-30 21:53] #2524 closed

[2020-06-30 22:16] #1722 closed

[2020-07-01 08:11] bthirion commented on #2531
Thx a lot for opening this, and for outlining potential solutions in a very clear and pedagogical manner !
Here are some quick thoughts:
Regarding 1:

- PR acceptance guidelines:  +1 definitely. Note that it's not always easy for us to make them explicit, help will be appreciated here :-)
- contrib dir: -1 for that.  What we do in the team is to create side projects (https://github.com/ja-che/hidi

[2020-07-02 20:04] jeromedockes opened #2534 "non-seeded random numbers in tests"
these parts of the unit tests seem to use a random number generator with no
fixed seed, which can cause sporadic test failures (e.g.
https://api.travis-ci.com/v3/job/357101203/log.txt):

[code]

[2020-07-03 00:07] jeromedockes opened #2536 "plot_seed_to_voxel_correlation maps variance?"
[in this example](https://nilearn.github.io/auto_examples/03_connectivity/plot_seed_to_voxel_correlation.html#fisher-z-transformation-and-save-nifti) we apply the fisher transformation to a correlation map. We say "to acheive a normal distribution", but  doesn't the output of the Fisher transformation have a standard error of 1 / sqrt(N - 3) (and not 1) ?
https://en.wikipedia.org/wiki/Fisher_trans

[2020-07-03 11:58] bthirion commented on #2536
`Normal` does not mean `standard normal`.

[2020-07-03 12:46] jeromedockes commented on #2536
yes that's true! :) still wasn't the objective to obtain standard/z scores for
plotting, as is often done? the filename the image is saved in seems to imply
that (`pcc_seed_correlation_z.nii.gz`)
anyway if it was a deliberate choice I close this issue.

[2020-07-03 12:46] #2536 closed

[2020-07-03 15:06] Spenhouet commented on #2420
I would like to check in again on this issue since we are still missing such a functionality.

@emmanuelle @GaelVaroquaux

[2020-07-04 01:07] vnckppl opened #2537 "Rendering problems with add_contours when binary images have rotations set in the affine matrix"
**The problem**
When I plot a binary image that has some rotation to it in the affine header using Nilearn's `add_contours` function, the resulting image includes many additional lines that are not part of the surface of the ROI in the binary image. I don't encounter these issues when I use the same code with the same image that has not rotation set in the affine matrix.

**Reproduction of the iss

[2020-07-04 01:14] vnckppl commented on #2513
Hi Elizabeth, Thank you for your reply. I agree that there are better ways of plotting the data, but the tool does not seem to be the culprit here. In fact, I experience the exact same problems with `add_contours`. I'll refer to my follow-up question here, just in case someone else may land here who experiences the same issue: https://github.com/nilearn/nilearn/issues/2537

[2020-07-04 08:45] bthirion commented on #2420
Sorry, I don't understand what you mean: these are two distinct interpolation schemes.

[2020-07-04 08:49] bthirion commented on #2536
To me the main point of z-transform is to better fulfill the assumptions of statistical models, the reducing the proportion of false positives or false negatives.

[2020-07-04 09:30] emmanuelle commented on #2420
Hi @Spenhouet sorry to have missed the first mentions. Since this feature seems to be more upstream than nilearn, could you please open an issue in https://github.com/scikit-image/scikit-image/issues/ to follow up on the discussion? It would help also if you had examples (wikipedia pages, research papers or existing code) of the feature you are requesting, since it's not entirely clear to me.

[2020-07-05 20:46] bthirion commented on #2537
Thx for sharing the problem !
Clearly the interpolation involved in rotation application has a disastrous effect on the edge display.
Can you identify more rpecisely where in the code the issue takes place  ?

[2020-07-06 06:59] Spenhouet commented on #2420
Yes, sorry, I think I got confused at some point. Not completely sure but I guess I got confused by the translation of the "nearest neighbor" into a spline interpolation order of 0.

[2020-07-06 09:33] Spenhouet commented on #2420
@emmanuelle I did create a feature request here: https://github.com/scikit-image/scikit-image/issues/4824

[2020-07-06 15:37] vnckppl commented on #2537
In the example that I attached, that would be here:
`display.add_contours(rr, colors="#00ff00")`

add_contours() calls `_map_show`. I think that's where the real issue may be, because `_map_show` applies an affine matrix transformation.

[2020-07-08 19:22] dPys opened #2538 "Atlas handling functions that belong in Nilearn?"
@GaelVaroquaux,

I have a bunch of general-purpose atlas-handling functions from PyNets that would probably be better to outsource to Nilearn at some point. Currently, my time is very limited for PR-ing these (or doing anything outside of grad school and PyNets for that matter), so may take awhile. That said, I wanted to at least post them here to get the discussion going and in case any other con

[2020-07-08 20:54] bthirion commented on #2538
I think that these are good routines indeed, but it is important to think of use: adding such functions only make sense if you can show case them in the examples or documentation.

[2020-07-08 21:03] dPys commented on #2538
Thanks for the quick reply @bthirion . I totally agree and again, mainly just wanted to get the conversation started. When time permits, I think it'd be fairly easy for me to showcase them with some minimal examples?

[2020-07-10 08:23] amchagas opened #2539 "Add NiLearn information on open-neuroscience.com"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2020-07-10 11:53] sunjc73 opened #2540 "Gray matter volume on Oasis dataset"
Previous studies have shown that gray matter volume decreases with age. However, I calculated the gray matter volume of Oasis dataset and found that it did not decline with age, but remained steady. So could you tell me the reason？ The total gray matter volume was calculated by meaning all the voxels for each individual. The code is shown below

[code]

![Figure_1](https://user-images.githubuserco

[2020-07-10 13:46] bthirion commented on #2539
Hi, thanks for the invitation.
I have filled in the form.
Best

[2020-07-10 13:46] bthirion commented on #2539
Closing now.

[2020-07-10 13:46] #2539 closed

[2020-07-10 15:10] bthirion commented on #2540
Thx for reporting that. I think that your point is important but it definitely concerns the OASIS project itself rather than Nilearn.
I guess that the T1 data have been processed with a Standard SPM-based pipeline. What would you suggest ?
Note: this discussion should take place on Neurostars rather than the issue tracker.
Is it OK to close the issue ?
Best

[2020-07-10 18:16] KranthiGV commented on #2250
@kchawla-pi I'm interested in working on this. Can I do that?

[2020-07-11 02:28] sunjc73 commented on #2540
Thanksfor your prompt reply. I think this issue  can be closed.

[2020-07-11 02:28] #2540 closed

[2020-07-11 23:21] kchawla-pi commented on #2250
@jeromedockes @emdupre

[2020-07-11 23:22] kchawla-pi commented on #2250
@jeromedockes @emdupre

[2020-07-12 07:43] bthirion commented on #2250
@jbteves duplicated code should be in a private function called whenever needed.
Both you @KranthiGV are welcome indeed !

[2020-07-15 15:08] sofievdbos commented on #1513
Is there any update wrt to this issue? Thank you in advance!

[2020-07-21 23:21] jeromedockes opened #2542 "`make_fresh_openneuro_dataset_urls_index` never tested nor used"
we can
- remove it (but see @kchawla-pi 's [comment](https://github.com/nilearn/nilearn/pull/2514#issuecomment-659010916) )
- have one of the CI test suites run with `boto3` installed

[2020-07-22 06:12] #1192 closed

[2020-07-22 14:50] FL33TW00D commented on #983
Yes, they take too long to compute.
The core functionality should be implemented in C and then imported.

[2020-07-22 18:26] bthirion commented on #983
It is hard to make an efficient C implementation of such an algorithm, and awful to maintain. We won't introduce that into Nilearn.
Closing.

[2020-07-22 18:26] #983 closed

[2020-07-22 19:35] bthirion commented on #2542
Thx. I think we should have one CI suite with boto3 indeed.

[2020-07-22 21:44] bthirion commented on #1513
Still accepting such a PR ;-)

[2020-07-22 23:37] da5nsy commented on #776
Hey folks, did this lead anywhere?
I'm a student of Neuromatch Academy and an implementation of Kay et al. (2008) would be very handy to us right now.
Otherwise, give us a couple of weeks(?) and we might have something to contribute.

[2020-07-23 00:11] eickenberg commented on #776
I don't think so. The main snag was that this dataset is behind a login
wall and intended to be behind a login wall, making an automated login-free
downloader impossible.

Since datalad now exists and can download from CRCNS (
http://datasets.datalad.org/?dir=/crcns) this project could be attempted,
iff it is OK to 1) use datalad in the example script and 2) have the
example ask for login credenti

[2020-07-23 01:23] jeromedockes commented on #776
eickenberg <notifications@github.com> writes:

I think that would be a recurrent source of problems for the continuous
integration. More generally, we would like to reduce the number of data
downloaders because they require a lot of maintenance.

[2020-07-23 11:18] mathias-sm opened #2544 "Access beta map of FirstLevelModel"
I can't find how to access the coefficients of a fitted FirstLevelModel at a given voxel. For early exploration of a dataset, having a method to access them would be useful (much like there's already `predicted`, `r_squared`, etc.). Starting from this:

[code]

`fmri_glm.design_matrices_[0].shape` tells me I have 16 regressors, how would one go at looking at the betas say at coordinates `(x, y, z)

[2020-07-23 13:02] bcipolli commented on #776
Have y'all thought about splitting the data downloaders off to a separate
repo? I started this in the past, it seemed like the right idea.

On Wed, Jul 22, 2020 at 6:23 PM jeromedockes <notifications@github.com>
wrote:

[2020-07-23 13:37] jeromedockes commented on #776
I think the main reason for having the downloaders is because we need
the data to build the example gallery (to showcase other nilearn
features) in the continuous integration. Whether it is in the same or a
separate repo a failing download would be a problem for nilearn
maintenance. I'm not sure how moving the downloaders to a separate repo
would help? Moreover, this might introduce more work to h

[2020-07-23 15:29] da5nsy commented on #776
I think the access requirements for the Kay data have changed recently, possibly for [NMA](https://www.neuromatchacademy.org/). The pre-processed data is now on [osf](https://osf.io/r638s) and a [loader script](https://github.com/NeuromatchAcademy/course-content/blob/master/projects/load_kay_images.ipynb) exists (the name is misleading, this loads both images *and* data). There's also a [video int

[2020-07-23 17:48] eickenberg commented on #776
Right, that is indeed a problem. Though there may be a way of storing login information in an environment variable on the CI and somehow feeding it to a downloader, making the example runnable in CI while not compromising the login wall globally. But even then, the additional traffic might make the testing time out in case there are already time budget constraints.

I totally 💯 percent get the poi

[2020-07-23 18:11] jackgallant commented on #776
Hi Folks:

[2020-07-23 18:48] eickenberg commented on #776
Make sure that if you do host this dataset somewhere else that you do not use the one hosted for NMA -- it only contains ~8k voxels, whereas the original preprocessed dataset has ~21k voxels. I suspect that the 8k voxels are those with ROI labels. But there are quite a few voxels without ROI labels that respond to the stimulus.

[2020-07-23 18:49] emdupre commented on #776
Thank you for the insight, @jackgallant ! I'm having a bit of trouble confirming -- do you know what the dataset is licensed under ? I think we'd need to know the license to re-host on e.g. OSF.

Otherwise, thank you for the pointer to the derivatives, @da5nsy ! I don't think we'd want to include a fetcher for these (they're a step or two further along in pre-processing than e.g. the NiftiMasker i

[2020-07-23 18:51] jackgallant commented on #776
AFAIK the data on CRCNS are posted under some form of open attribution license, but sadly I am not sure. If you do repost the data please be sure to post ALL of the data. Someone mentioned that the OSF data set is not complete.

[2020-07-23 19:01] eickenberg commented on #776
For this dataset both raw and preprocessed data are available. However, I would strongly recommend using the preprocessed data, unless somebody has a lot of time to perform all the preprocessing involved (it requires doing a FIR GLM with AR(n) noise model -- potentially interesting for when nistats gets integrated, but guaranteed not a straightforward task)

This example here,
http://nilearn.githu

[2020-07-23 19:10] bthirion commented on #776
I agree with that. To me it's fine to have a project based on nilearn running encodinganalyses on vim-1, I'm less sure that this is a good choice for Nilearn.
Thx to all of you for the suggestion and discussion !

[2020-07-23 19:44] dangom commented on #2544
Try:
[code]

[2020-07-23 19:59] bthirion commented on #2544
thx @dangom !

[2020-07-23 23:11] mathias-sm commented on #2544
Thanks. So if I want to access the `effect_size` of all regressors at a given voxel, I should loop over the regressors, do this for each and extract the desired value — and if I want to look at various voxels often then merge the results in a `Nifti1Image` object to be saved?

Following the code of `compute_contrast` I ended up looking at the following snippet here::
https://github.com/nilearn/nil

[2020-07-24 06:01] bthirion commented on #2544
This is correct indeed.

[2020-07-24 07:29] mathias-sm commented on #2544
Thanks for the quick help

[2020-07-24 12:52] dangom commented on #2544
Following up on this thread, I reckon this should be a common enough operation to warrant it's own simple interface. Would it not make sense to have a FirstLevelModel.get_effect_sizes() method?

[2020-07-24 14:25] mathias-sm opened #2545 "Add callbacks for when user selects a voxel on a plot"
When exploring a dataset it would be great to be able to make plots to which one can attach callbacks on voxel selection to perform arbitrary computation at that voxel's location.

My understanding is that the `view_img` route, by relying on `brainsprite.js`, is not the most suitable since the generated view will have a hard time communicating back events to the code (is that correct?).

Using `ma

[2020-07-24 16:16] CarolineLndl opened #2546 "`nilearn.plotting.view_img` does not handle anisotropic images correctly without a background"
Hi!
I used the Nilearn tools to visualize my data on a Jupyter Notebook.
However, I have data from the spinal cord (no brain for most of my images) and when I display the spinal cord images on the background of a spinal cord anatomical image, I get a flattened image in the height direction, not the width direction. On the other hand, if I visualize this same image on an anatomical image including

[2020-07-25 07:54] bthirion commented on #2544
I know that people like to access these parameters, yet accessing them without knowing the corresponding variance/uncertainty/variance is futile and misleading. In particular because the raw parameter values depend on the arbitrary scalings of the design matrix and of the time series. Personally, I think that studentized values are less misleading.

[2020-07-25 08:33] bthirion commented on #2546
Hi, Thx for reporting. However, this discussion would be better place on Neurostars.
Sorry, I'm not really expert in Nilearn visualization functions, but my understanding is that you are fighting with the default parameters of the viewer. My best advice is to extract the relevant code and handle the visualization with matplotlib directly.

[2020-07-25 13:47] GaelVaroquaux commented on #2542
Yes. We cannot have code that is not tested.

[2020-07-25 14:54] GaelVaroquaux commented on #776
Still, at the end of the day, data download is a major burden for nilearn
maintenance, as it makes the build of the docs and examples fragile.

The data downloaders in nilearn are there to enable demo and teaching,
not state-of-the-art research. The data needs to be minimalistic.

[2020-07-25 17:59] eickenberg commented on #776
I think the data downloader burden argument holds and can be the sole
reason not to include this relatively heavy dataset.

I do not think that one can still do state-of-the-art research with it, and
I do think that it would lend itself to some great demos and teaching. But
those can easily be hosted somewhere else.

On Sat, Jul 25, 2020 at 7:54 AM Gael Varoquaux <notifications@github.com>
wrote:

[2020-07-26 19:29] CarolineLndl commented on #2546
Thanks, I'll try!

[2020-07-28 11:01] kbonna opened #2547 "nistats: adding two_sided flag to get_clusters_table would result in more consistent API?"
Hello,

I've been recently using nistats to report results from fMRI data analysis. I wanted to perform two-sided test for my 2nd level spm, since I was interested in both increased and decreased brain responses. `map_threshold` function provide flag `two_sided` which nicely adjust significance level preserving clusters with both positive and negative test statistic values.

Next I wanted to use `

[2020-07-30 13:51] #2281 closed

[2020-07-30 13:51] #2475 closed

[2020-07-30 21:35] #2493 closed

[2020-07-31 12:56] jeromedockes commented on #2546
Thanks @CarolineLndl for providing more details in neurostars: https://neurostars.org/t/nilearn-display-spinal-cord-images/16240
it seems there is indeed a problem with `view_img` whenever the image's affine isn't diagonal. @pbellec had you noticed something like this before?

[2020-07-31 13:07] GaelVaroquaux commented on #2546
We should add a call to nilearn.image.reorder_img(..., resample='continuous') at the beginning of view_img
https://nilearn.github.io/modules/generated/nilearn.image.reorder_img.html

[2020-07-31 13:33] kbonna opened #2548 "nistats: dependence between function calls – strange bug may affect reproducibility"
Hi,

I've encountered very strange behavior of two functions – `map_threshold` from `nistats.thresholding` module and `get_clusters_table` from `nistats.reporting` module. It seems like the threshold value returned by `map_threshold` depends on the last output value(s) of `get_clusters_table` function or some internal function variables. Impact seems to be severe (the higher the `cluster_threshold

[2020-07-31 14:56] pbellec commented on #2546
@jeromedockes yes, I recently noticed an issue with non-isotropic data, which you can reproduce here:
[code]
Here is the output. Notice the elongation along the z axis.
![output](https://user-images.githubusercontent.com/1670887/89045947-55c7f680-d31a-11ea-942e-8cd8c7c19157.png)

Here is the expected output, which is obtained by using the default background image.
[code]
![correct_output](https://

[2020-07-31 15:12] pbellec commented on #2546
Just looking at the code of `reorder_img`, it would be fairly easy to add an option to force isotropic resampling in there. Happy to open a PR if you think it's a good idea.

[2020-07-31 18:23] jeromedockes commented on #2548
thanks for reporting. there seems to be a bug in `get_clusters_table`, both in [nilearn](https://github.com/nilearn/nilearn/blob/4c1c7337b38506e6ef60873cfe3dd316ce869cf0/nilearn/reporting/_get_clusters_table.py#L146) and [nistats](https://github.com/nilearn/nistats/blob/bd4e27fdd5487b1ff920d4ae2473a7671153d2b3/nistats/reporting/_get_clusters_table.py#L145) : the input image is modified

[2020-07-31 18:25] jeromedockes commented on #2548
(in both the problematic line is `            stat_map[label_map == c_val] = 0` ), to reproduce the problem:
[code]

would you like to open a PR to fix this issue?

[2020-08-03 10:54] kbonna commented on #2548
Yes, I will try to fix that and submit a PR

[2020-08-03 22:15] jeromedockes opened #2550 "`MNI152TEMPLATE` (default background) is always plotted with x axis flipped"
Reported in [this neurostars discussion](https://neurostars.org/t/is-the-nilearn-mni-brain-flipped-l-r/16336) (thanks!)
the problem is that:
- the default background is not an actual nifti image but a `nilearn.image.img_plotting._MNI152Template` defined [here](https://github.com/nilearn/nilearn/blob/4c1c7337b38506e6ef60873cfe3dd316ce869cf0/nilearn/plotting/img_plotting.py#L339) that mimicks its in

[2020-08-04 10:25] alexlicohen commented on #2550
wow. fast work! commenting to follow along.

[2020-08-06 07:28] goyal-aman opened #2552 "How to get x,y,z coords shown in plot_img output"
I tried looked all over the documentation to find a way to get the x, y, and z coordinates that are shown in the output of the plot_img method, like I marked in the image below.
![image](https://user-images.githubusercontent.com/47478778/89503263-ed7a8880-d7e3-11ea-9ab9-ce22f14d9eef.png)

closest thing that I could find is **plotting.find_parcellation_cut_coords** but this method takes a very long

[2020-08-06 07:36] #2552 closed

[2020-08-09 20:11] tsalo opened #2554 "permuted_ols output is transposed when n_perm=0"
I am using the current master branch, and I noticed that `permuted_ols` returns `score_orig_data` with the shape `(n_regressors, n_descriptors)` under most circumstances (e.g., if `n_perms > 0`), but when `n_perms <= 0`, it returns the data with the shape `(n_descriptors, n_regressors)`.

Here is where the t-statistics are typically returned (note the `.T`):

https://github.com/nilearn/nilearn/blo

[2020-08-10 10:14] #2550 closed

[2020-08-10 10:17] bthirion commented on #2546
I'm a bit worried that we use the semantics of `reorder_img` that does not clearly involve resampling, but we certainly need this feature. And I agree that the simplest option is to add an option to `reorder_img`. Any other opinion ?

[2020-08-10 14:40] pbellec commented on #2546
another option would be to create a new function called `resample_to_self`. If it is not possible to simply reorder axes, then `reorder_img` will call `resample_to_self`. That's in effect what happens already, except the code of `resample_to_self`is mixed in `reorder_img`. Creating a new function would make the code of each function more concise, and their respective purpose clearer.

[2020-08-10 21:07] bthirion commented on #2546
+1 on my side.

[2020-08-10 21:17] bthirion commented on #2554
Thx for reporting !
Looks like you're in a good position to open a PR ;-) let us know if you wish to do it.
Best,

[2020-08-11 15:05] tsalo commented on #2554
Can do!

I have one question that can be moved into a separate issue. In cases where "intercept testing" is used, is the expected behavior for any map with any voxels where all values are the same (e.g., all zeros) to generate NaNs from the max value step? Essentially, are maps with non-varying voxels considered "invalid" for the method?

[2020-08-11 15:11] bthirion commented on #2554
No, I would consider that the statistic is not defined in that voxel.
Ideally, such voxels should be masked out, but we can simply handle degenerate voxels (with null variance) during the initial data fit.

[2020-08-11 15:46] tsalo commented on #2554
Thanks. I'll open an issue then.

[2020-08-11 16:08] tsalo opened #2556 "Voxels with all-zeros invalidate permuted_ols results across all voxels"
I am using the current master branch of nilearn. When a voxel has zeros across all input maps and `permuted_ols` is used, all voxels in the results maps are invalid for permutation-based findings (i.e., the `-log(p)` and `h0` results, not the t-statistics).

This stems from https://github.com/nilearn/nilearn/issues/2554#issuecomment-672005510.

## Replicating the bug

[code]

In the second case, `

[2020-08-12 10:44] #1740 closed

[2020-08-12 21:46] bthirion commented on #2556
I think that issuing a warning  + using nanmax is the right thing to do.

[2020-08-14 06:45] bthirion commented on #2547
Sorry for the late answer. Yes, I think that this is a good idea.
Do you want to take care of that ?

[2020-08-16 14:32] #2554 closed

[2020-08-22 18:22] shobrook opened #2558 "How to visualize significant clusters in searchlight results"
Hi,

In the [searchlight example](https://nilearn.github.io/auto_examples/02_decoding/plot_haxby_searchlight.html#sphx-glr-auto-examples-02-decoding-plot-haxby-searchlight-py), there is code for visualizing the p-values produced by a univariate analysis (ANOVA). This is useful, but it would be more useful if we could visualize only the voxels below a certain p-value and above a certain cluster siz

[2020-08-23 20:36] bthirion commented on #2558
The `cluster_level_inference` function does it.
See in  https://github.com/nilearn/nilearn/blob/master/nilearn/glm/thresholding.py
Does that address your question ?

[2020-08-23 23:07] shobrook commented on #2558
This function does what I want, except it expects a statistical map of z-values and not p-values.

[2020-08-24 06:28] bthirion commented on #2558
But it actually works for non z-valued maps. simply notice that only high values are retained.

[2020-08-24 06:29] bthirion commented on #2558
You need to clone the Github repository. The code has not been released yet.
Thank you or the reminder: we need to issue a release.

[2020-08-27 17:41] larsoner opened #2560 "BUG: nilearn.plotting forces matplotlib backend change to Agg on macOS"
on macOS:
[code]
I have `backend : Qt5Agg\ninteractive : True` in `~/.matplotlib/matplotlibrc`. I assume it's due to this line:

https://github.com/nilearn/nilearn/blob/master/nilearn/plotting/__init__.py#L37

It seems like unwanted behavior that the backend is changed.

[2020-08-27 20:51] bthirion commented on #2560
@kchawla-pi  can you give any hint on why this was added ?

What other backend should be used instead (sorry I don't know that well) ?

[2020-08-27 21:41] larsoner commented on #2560
My 2c is that in general libraries should not set the matplotlib backend at all but respect whatever the given user's configuration is (even if it's just "use the matplotlib default")

[2020-08-27 21:55] jeromedockes commented on #2560
I agree.
(if CI was the motivation for doing this we can set the `MPLBACKEND` env
variable)

[2020-08-28 05:30] GaelVaroquaux commented on #2560
The motivation for doing this was that non technical users ssh into a remote  computer, run calculations, and then things crash after two hours of computation because there is no X server available.

We tried to put some guards so that the switch happens only in a case where it's likely to be useful. Maybe those guards aren't fine enough. I believe that they are in plotting/__init__.py

⁣Sent from

[2020-08-28 09:06] kchawla-pi commented on #2560
This should not be a problem on MacOS. The code is specifically checking
for that and not changing the backend on MacOS. Perhaps the check is too
stringent with a new version of MacOS?

On Fri, Aug 28, 2020, 07:30 Gael Varoquaux <notifications@github.com> wrote:

[2020-08-31 15:00] larsoner commented on #2560
The conditional is:
[code]
So if someone is on macOS and their backend is not `macosx`, their backend will be set to `agg`. In my case, my backend is `Qt5Agg`, so it gets set to `agg`, which is not good.

[2020-08-31 20:24] bthirion commented on #2560
@larsoner Sorry for the inconvenience. Would you like to open a PR ?
Best,

[2020-08-31 21:18] larsoner commented on #2560
Personally I would chalk this up to a matplotlib / user config problem -- mpl or the user should choose a backend that works on their system.

But assuming you want to keep some fix in place, one option would be to `try/except` something like `plt.figure()` and force to Agg if it fails.

Beyond that, I'm still not entirely clear on why there is even a check for `darwin` as the platform. Shouldn't

[2020-08-31 21:23] GaelVaroquaux commented on #2560
There are other unices than macosx and linux. Maybe these are no much
used these days. I used to encounter them in high performance and
academic environments.

[2020-08-31 21:25] larsoner commented on #2560
So perhaps the check should just be `if sys.platform not in ('darwin', 'win32') and 'DISPLAY' not in os.environ`?

[2020-09-01 20:01] bthirion commented on #2560
Sounds right to me.

[2020-09-02 14:18] eurunuela opened #2562 "Add header optional argument to unmask function"
I've been going crazy with the unmask function in nilearn lately. I can successfully mask my data from 4D into 2D using the `apply_mask` function. Now, I'd like to move my results back to the 4D space with the `unmask` function, but whatever I generate does not have the same header or the same TR as the input data. This is a problem for visualizing the results with AFNI.

I believe adding an optio

[2020-09-02 16:08] GaelVaroquaux commented on #2562
You should be using the niftimasker object for this purpose. It will make sure that information is not lost.

⁣Sent from my phone. Please forgive typos and briefness.​

On Sep 2, 2020, 16:18, at 16:18, "Eneko Uruñuela" <notifications@github.com> wrote:

[2020-09-03 16:01] GaelVaroquaux commented on #2562
At a quick glance, it seems right. What didn't work?

[2020-09-04 02:45] alienx-zero opened #2563 "plot wrong"
This is my code following the tutorials:
`# -*- coding: utf-8 -*-
"""
Created on Thu Sep  3 20:50:02 2020

@author: 99488
"""

from nilearn import datasets
# By default 2nd subject will be fetched
haxby_dataset = datasets.fetch_haxby()
# 'func' is a list of filenames: one for each subject
fmri_filename = haxby_dataset.func[0]

# print basic information on the dataset
print('First subject functiona

[2020-09-04 12:25] jeromedockes commented on #2563
`view_img` returns the content of an html page, to be displayed by a web browser. The jupyter notebook can display it inline but otherwise you have to call `.open_in_browser()` on the result (or `save_as_html` to save to disk and then open the file with a web browser)

[2020-09-04 17:52] alienx-zero commented on #2563
@jeromedockes get it~thx

[2020-09-04 17:52] #2563 closed

[2020-09-07 12:20] seralouk commented on #2220
Nothing new — still an issue

[2020-09-07 17:25] bthirion commented on #2220
I'm afraid that nobody can take time on that atm. would you try and identify the bug more precisely ?
Best,

[2020-09-08 13:05] elliohow commented on #2220
My issue is exactly the same as that described above, and trying to use [this](https://github.com/nilearn/nilearn/issues/2220#issuecomment-555506339) solution produced the same output as described [here](https://github.com/nilearn/nilearn/issues/2220#issuecomment-555514604).

[2020-09-10 21:30] pbellec commented on #2546
Quick update: the fall semester / grant season has started and I was unable to work on this. I have an opening in a few weeks and will open a PR asap.

[2020-09-16 10:29] thomasbazeille commented on #2415
@tbng the open PR on documentation is linked just above. Can we split the examples to be adapted

I'll take care of the ones most related with docs :
- Example 9.1.4. "A introduction tutorial to fMRI decoding" uses Decoder and should be synced with new section 2.1.2/2.1.3
- 9.8.7 on fitting a GLM + Decoding not adapted yet and should use Decode, should be included at the beginning of 9.3 section o

[2020-09-16 10:39] thomasbazeille commented on #2354
I think this was handled by #2449 right @GaelVaroquaux ? If so I close

[2020-09-16 10:40] thomasbazeille commented on #2444
I think you did a lot of work on this during the sprint right @kfinc ? Can you point me to the related PR? Was it merged ?

Thanks a lot

[2020-09-16 10:41] thomasbazeille commented on #1736
@tbng this was solved during the sprint no? Can you point me to the related PR ?

[2020-09-16 10:42] thomasbazeille commented on #2328
@GaelVaroquaux can you answer last two comments ? Should this issue remain open ?

[2020-09-16 14:39] #2560 closed

[2020-09-16 14:47] thomasbazeille opened #2564 "[BUG] Decoding docs improvements"
Following #2415, two points that were not tackled inside #2476 in the interest of short cycles

- [x]  Add a section in 2.1 on how to determine chance with a Decoder API (waiting for #2147) EDIT : Adressed #2622
- [ ]  Rethink 2.2 section on OVO vs OVA, not sure it is useful as Decoder doesn't provide this flexibility easily. But show how to plot a confusion matrix using Decoder on a simple exampl

[2020-09-16 15:12] bthirion commented on #2354
Indeed, closing.

[2020-09-16 15:12] #2354 closed

[2020-09-16 15:13] thomasbazeille commented on #2562
Do wish to provide specific feedback on your problme with masker @eurunuela ? This is definitely the object you need.

Note that you can provide t_r directly in Masker definition but I think it's only used if you set a high-pass or low-pass filter as well.
In some cases NiftiMasker itself is not the best suited object and some other Masker objects are recommended. They are described here : https:/

[2020-09-16 15:18] eurunuela commented on #2562
Thank you both for your responses. I'm sorry I haven't found the time to work on this recently.

You can close the issue if you will, I'll contact one of you if I happen to run into the same issue.

Thanks!

[2020-09-16 15:21] thomasbazeille commented on #2505
Hey everyone, I'd like to raise again this issue. If we agree this is a blocker for the next release(I agree...) we should consider dedicating time to it quickly, unless we find some volounteer to take care of that

[2020-09-16 15:22] thomasbazeille commented on #2494
I will handling as soon Doc and Examples PRs are merged, don't want to run into stupid conflicts there

[2020-09-16 15:24] #2562 closed

[2020-09-16 15:29] thomasbazeille commented on #2488
We didn't close this discussion with concrete steps to take, if we want to enhance consistency before the release would be a great time.

[2020-09-16 15:30] #2468 closed

[2020-09-17 05:26] tbng commented on #2415
On 16.09.2020 03:29, ThomasBaz wrote:

Thanks for making it clear. So I guess I would open a new PR for improvements of these examples?

[2020-09-17 05:31] tbng commented on #1736
On 16.09.2020 03:41, ThomasBaz wrote:

Again I cannot reproduce this bug, but I think it is solved with PR gh-2451
during the last sprint.

[2020-09-17 07:17] bthirion commented on #2415
Indeed, can you do it quickly  ?
Thx

[2020-09-17 07:18] bthirion commented on #1736
OK, time to close then.

[2020-09-17 07:18] #1736 closed

[2020-09-17 07:35] thomasbazeille commented on #2415
Separate PR for the example sounds perfect as its independent from the doc

[2020-09-17 08:00] tbng commented on #2415
Sorry I don't find section 9 on Nilearn documentation website. Can you provide the link to Python file for those example instead?

[2020-09-17 12:27] bthirion commented on #2505
I agree that we should address it before the release.
My proposition is to accept both pandas DataFrames and Numpy arrays in both places.

[2020-09-19 23:38] alienx-zero opened #2568 "canica.fit() could not return result"
Hi, dear all, I am following the guide: https://nilearn.github.io/auto_examples/03_connectivity/plot_compare_decomposition.html#sphx-glr-auto-examples-03-connectivity-plot-compare-decomposition-py
Here is the code:
[code]

However, when I run to this sentence:
```canica.fit(func_filenames)```
it raise error.
Here is the error info:
[code]

[2020-09-20 12:59] alienx-zero commented on #2568
It is fixed when I switch to another conda environment...But still I do not know why it do not work here. I guess it is conflicted with some py file?

[2020-09-21 20:10] bthirion commented on #2568
I think that the file you use as input is corrupted. Cna you try and open it with your preferred viewer, and if spits an error, redo data download ?
Best,

[2020-09-22 12:33] alienx-zero commented on #2568
@bthirion thanks for reply. I do not think it is because of data, since when I run same code in another other anaconda environment, it works. I think it should be incompatible to some py. file..

[2020-09-22 12:46] thomasbazeille commented on #2568
Hello ! Which version of Nilearn are you using ?

[2020-09-22 14:53] emdupre commented on #2568
+1 on this question. One other idea: I wonder if your cache is what's causing the problem. In particular, I'm not sure if the `joblib` package in the `tensorflow`_13` conda environment has access to the `nilearn_cache` folder. Interestingly, `nilearn` seems to be in a different environment, see (modified from above):

[code]

One quick way to check this would be to rerun but set `memory=None` when

[2020-09-22 15:34] AlexandreAbraham commented on #2568
The question would be, what version of Python are you using? It looks like a problem directly inside Gzip.

Let me explain. The lines where the problem happens are

File "indexed_gzip\indexed_gzip.pyx", line 956, in indexed_gzip.indexed_gzip.IndexedGzipFile.__reduce__
[code]

File "indexed_gzip\indexed_gzip.pyx", line 737, in indexed_gzip.indexed_gzip._IndexedGzipFile.export_index
[code]

A BytesI

[2020-09-23 09:42] swaythe opened #2569 "Unzipping tar.gz file is failing in nilearn.dataset.utils._uncompress_file"
Hi all,

I'm trying to run a pypreprocess example that downloads and processes a tar.gz file from FSL. The download happens fine but the script fails during the extraction process with an error saying the file is not a gzipped file. When I tried to debug it looks like the script fails in nilearn.dataset.utils._uncompress_file, in the part before the supposed handling of tar.gz files. The file itse

[2020-09-23 10:15] jeromedockes commented on #2569
Hello, can you share the script (or a stripped-down version to reproduce
the error)?
are you using a nilearn fetcher or one of the dataset utilities directly?

thanks

[2020-09-23 10:49] swaythe commented on #2569
Here's the relevant part:

-------------------------------
try:
    from nilearn.datasets.utils import (_fetch_file, _fetch_files,
                                        _uncompress_file, _get_dataset_dir)
except ImportError:
    # old version, or change not yet in release
    from nilearn.datasets import (_fetch_file, _fetch_files,
                                  _uncompress_file, _get_dataset

[2020-09-23 11:32] jeromedockes commented on #2569
That's because requests uncompresses the gzipped data on the fly and
_uncompress relies on the file name
use:

[code]

note, all of these start with an underscore: they are private
functions -- there is in theory no support for using them directly and
they can change without notice. Are you preparing a new fetcher for
nilearn or for a separate project?

[2020-09-23 11:52] jeromedockes commented on #2569
Note that the problem is a mistake from the server from which you download the
data: it advertises the 'Content-Encoding' as 'gzip' and the 'Content-Type' as
'application/x-gzip', which means that decompressing the response with gzip
should yield a gzip file. the actual content encoding used by the server is
'identity'

(see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encodin

[2020-09-23 12:14] swaythe commented on #2569
Thanks for that! The script I was running has long been a part of pypreprocess and was working fine a couple of weeks ago but failed yesterday. I think I updated nilearn in the between the time the script worked and stopped working, so wondered if something had changed with how nilearn uncompresses.

I'll use _fetch_files and see how it goes.

[2020-09-23 12:38] jeromedockes commented on #2569
I guess you are using the source from the repo, not the latest release?
In that case something has changed in how files are downloaded, not how
they are uncompressed. the library that we now use to download the file
reads the content-encoding header and decodes the data, but in this case
this header is incorrect.

[2020-09-23 13:58] swaythe commented on #2569
Yes, I was using the source and not the latest release. Thanks for the looking into this and for the explanation!

[2020-09-23 14:09] jeromedockes commented on #2569
No problem! I guess we can close this issue?

[2020-09-23 14:10] #2569 closed

[2020-09-25 06:21] #2492 closed

[2020-09-26 07:03] thomasbazeille commented on #2352
This has been solved for both examples mentionned. Closing

[2020-09-26 07:03] #2352 closed

[2020-09-26 07:40] chouhanaryan commented on #2534
Hi, I'd like to take this up. From what I can gather, this involves setting a seed for all of the mentioned code and that should be it. Let me know if I'm missing something.

[2020-09-26 12:57] jeromedockes commented on #2534
Thanks! that's right, replacing calls of functions such as
`np.random.randn` by methods of a seeded random number generator eg
`np.random.RandomState(0).randn`

[2020-09-26 13:18] jeromedockes opened #2572 "outdated link to removed example in glm doc"
It seems one part of the GLM docs was made outdated by #2476 that was merged
just before GLM docs were added. The linked example
(`07_advanced/plot_haxby_block_classification.py`) has moved to `02_decoding`,
and doesn't seem to show usage of `plot_event` any more

https://github.com/nilearn/nilearn/blob/master/doc/glm/first_level_model.rst#event-based

ping @swaythe and @thomasbazeille

[2020-09-26 13:26] KamalakerDadi commented on #2572
@tbng has foreseen this issue and fixed in this PR #2565
https://github.com/nilearn/nilearn/pull/2565#issuecomment-698992527

[2020-09-26 13:43] thomasbazeille commented on #2572
the new example should be in 02_decoding with a new title and should display the use of plot_event

[2020-09-26 14:11] chouhanaryan commented on #2534
Hi, thanks for your reply! So I've been going through the codebase and I spot a couple of inconsistencies in the way random number generation is handled in different places.

One of the following is done in most places -
1. No seed is set - https://github.com/nilearn/nilearn/blob/master/nilearn/image/tests/test_resampling.py#L47
2. sklearn's `sklearn.utils.check_random_state` function is used to g

[2020-09-26 14:31] jeromedockes commented on #2572
great! closing then

[2020-09-26 14:31] #2572 closed

[2020-09-26 18:03] bthirion commented on #2534
I think that it's good to fix it.
But this is not a blocker, this is why it has been in the current state for some years.

[2020-09-26 21:46] jeromedockes commented on #2534
Aryan Chouhan <notifications@github.com> writes:

this is what we want to remove

these (2, 3, and 4) are basically the same thing. passing the seed as an
argument would only be useful if used in combination with
`pytest.mark.parametrize` to run the test function several times with
different random values -- can be useful for example to catch some
numerical stability issues that don't show up syst

[2020-09-26 22:01] jeromedockes commented on #2534
also if you have already started working on the PR and added
`RandomState` to some tests that's perfectly fine you don't need to
change these to use `get_default_rng`.

[2020-09-27 08:33] thomasbazeille commented on #2534
if we don't want new tests to come without a seed, we should also add a mention of what should be done in the contributing documentation

[2020-09-27 15:57] chouhanaryan commented on #2534
So I went ahead and made the [changes ](https://github.com/nilearn/nilearn/compare/master...chouhanaryan:rng-tests-2534) to the following modules - images, glm, plotting and regions.

I _might've_ actually gone a bit overboard because I switched out `RandomState` with `Generator` at quite a few places. But it wasn't until much later that I realized my [builds](https://travis-ci.com/github/chouhana

[2020-09-27 20:14] jeromedockes commented on #2534
Ah yes, sorry about that I didn't realize it was so recent. Then we have
to keep using RandomState for now.

Fortunately it should be easy to change using a simple textual search
and replace "np.random.default_rng" by "np.random.RandomState" -- please
let us know if you meet some difficulties

As you already got started, I suggest that you open a pull request (you
can start its title with "[WIP]"

[2020-09-28 10:30] #2481 closed

[2020-09-28 10:30] thomasbazeille commented on #2288
tackled by the merged PR, thanks

[2020-09-28 10:30] #2288 closed

[2020-09-30 06:58] thomasbazeille commented on #2494
tackled by #2570

[2020-09-30 06:58] #2494 closed

[2020-09-30 10:47] thomasbazeille commented on #2505
@emdupre Bertrand opened the PR #2573 that takes care of FirstLevel and clean_img (which is behind NiftiMasker), do you want us to split modules to verify whether the same pb exists elsewhere ?

[2020-09-30 14:04] emdupre commented on #2505
Thank you, @bthirion !!

I can start looking through modules on Friday -- if other folks are willing to split, that would be great ! But I do think a sweep looking for this will be really useful to standardizing the code base.

[2020-09-30 14:07] bthirion commented on #2505
Note that there is a big effort to do in terms of documentation.

[2020-09-30 14:47] thomasbazeille commented on #2505
if you catch any updates to do @bthirion please report them so that we can plan on adressing what's needed

[2020-09-30 20:26] #2548 closed

[2020-10-01 03:00] #2556 closed

[2020-10-01 08:19] thomasbazeille commented on #2488
@GaelVaroquaux @bthirion @jeromedockes @emdupre we need to define concrete actions to take on this if we want to change modules organization of newly merged functions before the release (as long we can do so without deprecation cycle)

Otherwise if we don't find better compromise we can just agree the current organization is ok for now.

[2020-10-01 09:55] jeromedockes commented on #2488
Thanks a lot for the reminder @thomasbazeille. I think we had agreed on what to
do, but just didn't do it:

https://github.com/nilearn/nilearn/issues/2488#issuecomment-633538245
https://github.com/nilearn/nilearn/issues/2488#issuecomment-633628890

to summarize:

- the plotting functions that are in `reporting` at the moment that users might
  use directly go into `plotting`
- generation of nistat

[2020-10-01 09:56] jeromedockes commented on #2488
unless you or someone else has time to do it!

[2020-10-01 11:44] jeromedockes commented on #2488
Sorry to start again with this, but I started looking at what would need to be
done to move the glm reporting logic inside the glm package and it seems very
impractical. There are *many* helper functions, spread over several modules,
most of which use matplotlib or nilearn plotting functions.

Having `nilearn.plotting` and `matplotlib` hidden imports in all of these functions seems
weird and IMHO

[2020-10-01 12:31] GaelVaroquaux commented on #2488
Jerome, I find that all your suggestions are great and a good plan.

What do others think?

[2020-10-01 12:52] jeromedockes commented on #2488
pinging @emdupre and @kchawla-pi who wrote the reporting modules

[2020-10-01 14:40] emdupre commented on #2488
No strong opinions from me, that all sounds reasonable :+1: Thank you, @jeromedockes  !

[2020-10-01 20:54] bthirion commented on #2488
I think I agree with you: this is a minimum energy move toward more coherence.

I think it is OK to make report generation a method of GLM objects only in a later release, since this is not going to break the API.

[2020-10-01 20:55] bthirion commented on #2488
Thx for taking care of this :-)

[2020-10-02 08:03] thomasbazeille commented on #2142
I think this is still a conversation to have.

We heavily miss general guidelines to make our expectations clear for people that want to open a PR, such as:
- for bugfix we want a new test that fails with current master and is fixed by the PR
- for new features we want tests, and including it in the documentation and what's new
- tests should be seeded (with a standardized object) and not use data

[2020-10-02 08:23] kchawla-pi commented on #2488
Jerome's proposal here https://github.com/nilearn/nilearn/issues/2488#issuecomment-702078496 sounds the best to me as well.

[2020-10-02 10:49] bthirion commented on #2142
I fully agree.
Yet, I find it striking how non-specific (to Nilearn) most of these points are. I'm wondering whether these are not repeated in many places ? I have the feeling that people better adopt these informal rules when they realize that they are not the result of some whim.

[2020-10-02 11:19] jeromedockes commented on #2142
A lot of this stuff is covered in scikit-learn's [contributing guide](https://scikit-learn.org/stable/developers/contributing.html), maybe we can point to it or copy part of it to this repo? Re. git tips the git documentation is pretty perfect so I'm not sure what we could add

[2020-10-02 12:51] thomasbazeille commented on #2142
Maybe I didn't motivate this claim enough. All of this is aimed at smoothing the reviewing process and the resulting frustration for contributors and time spent reviewing for core devs'. One big part of reviewing comments is about not respecting our conventions. If they were clear in advance this would lighten the burden for everyone (e.g: how many PRs did recently go through one more round of ans

[2020-10-02 13:10] jeromedockes commented on #2142
I forget it all the time :)

I think a checklist is a good idea, you're right that the guidelines are
a long and detailed page people won't read them

We could add it; I'm not sure if people actually read these comments

[2020-10-02 13:13] jeromedockes commented on #2142
And I also forget to check it when I review a PR .
for that particular example maybe the CI could at least check that
whatsnew has been modified. although there are quite a few PRs that
don't require a whatsnew entry

[2020-10-02 13:22] thomasbazeille commented on #2142
Not sure this can be automatized so much. Maybe some quick reviewing checklist or guidelines could be added as well in the docs. The [scikit guidelines](https://scikit-learn.org/stable/developers/contributing.html#code-review-guidelines) are a bit complex for us but a minimal version of that could be working. I also love the [PRs saved replies](https://scikit-learn.org/stable/developers/tips.html#

[2020-10-06 19:18] #2534 closed

[2020-10-08 21:37] #2488 closed

[2020-10-09 11:38] tbng opened #2578 "Nilearn main documentation website stuck at version 0.6.2"
I'm not sure if this is on purpose but currently all the documentation on https://nilearn.github.io/index.html seems to stuck at version 0.6.2 (while the correct latest version is 0.7.0a), especially on the `What's news` section. This might create wrong impression when users land on the front page. Again I'm not familiar with how the documenation website is made from sphinx html build so I might b

[2020-10-09 11:44] KamalakerDadi commented on #2578
0.7 is not released yet which is development. The one you are watching is released/stable version.

[2020-10-09 11:51] tbng commented on #2578
OK makes sense. I guess I would close the issue?

[2020-10-09 11:51] #2578 closed

[2020-10-11 20:51] alpinho opened #2579 "Colorbar of plot_stat_map disappears when results are clipped"
I used `nilearn.plotting.plot_stat_map` to plot some results. However, when I clip the same results using a min value (concretely, I used numpy.clip with a_min=0) and plot them, the colorbar disappears.

[2020-10-12 05:19] KamalakerDadi commented on #2579
I cannot reproduce with the script below.
[code]

Do you have a script to reproduce?

[2020-10-12 11:47] alpinho commented on #2579
I have created this small script that isolates my problem:

[code]

You also need to download and unzip this file:
[r2_scores.zip](https://github.com/nilearn/nilearn/files/5364855/r2_scores.zip)

And install `ibc_public` from here: [https://github.com/hbp-brain-charting/public_analysis_code](url)

Nevertheless, I must say that I ran by chance this test function in a different environment and the p

[2020-10-12 13:40] bthirion commented on #2564
- Regarding chance determination with Decoder: this is performed in `plot_haxby_full_analysis.py` (drvtion 9.3.11) we just need to refer to that, right ?
- I would propose to leave the OVO vs OVA thing aside for the moment.
- Confusion matrix is presented in 2.2. This is enough imho. Agreed  ?

[2020-10-12 13:54] bthirion commented on #2545
OK, I think that the way we've been handling this so far was to extract coordinates of the relevant voxels, and then create a dedicated masker object (e.g. spheres masker) to launch whatever analysis you like to launch.
I have no experience in capturing matplotlib events, converting them to positions, then real world coordinates etc.  and specifically I don't know how to test such features.
Any su

[2020-10-12 14:33] pbellec commented on #2545
In terms of `view_img` I agree with @mathias-sm it will not be possible to communicate events back to python. I am working on a new API for brainsprite in order to build dashboards that includes viewers, but it will be a mix of html templates (powered by brainsprite and plotly) and python. FYI the current API is described here brainsprite.github.io/ but about to undergo major renovations. I think

[2020-10-12 16:35] bthirion commented on #2527
Solved AFAIK. Closing

[2020-10-12 16:35] #2527 closed

[2020-10-12 16:50] alpinho commented on #2579
Hello again,
I just reproduced the same problem in a different machine using the original environment. Yet, if I change environment by switching to the latest version of nilearn, i.e. '0.7.0a', and use matplotlib either 3.3.1 or 3.3.2 (the latest vs), the colobar appears again. So, perhaps, this is not a problem anymore.

[2020-10-14 08:34] #2342 closed

[2020-10-14 08:36] #2526 closed

[2020-10-14 08:41] #2519 closed

[2020-10-14 08:42] bthirion commented on #2515
@tsalo, are you willing to work on it ?

[2020-10-14 10:06] bthirion commented on #2487
Please indicate which additional parameters are needed ?
What is the use case ?

[2020-10-14 10:29] KamalakerDadi commented on #1744
Closing with #2577

[2020-10-14 10:29] #1744 closed

[2020-10-14 10:31] KamalakerDadi commented on #1757
Closing with #2577

[2020-10-14 10:31] #1757 closed

[2020-10-14 10:32] KamalakerDadi commented on #629
Closing with #2577

[2020-10-14 10:32] #629 closed

[2020-10-14 10:32] KamalakerDadi commented on #1052
Closing with #2577

[2020-10-14 10:32] #1052 closed

[2020-10-14 11:39] ggardet opened #2580 "test_nifti_labels_masker_with_nans_and_infs and test_connected_label_regions fail on Arm"
With nilearn 0.6.2, some tests are failing on aarch64 and armv7:
[code]

[code]

[code]

[2020-10-14 12:11] jeromedockes commented on #2580
Thanks for reporting this!
which versions of numpy, nibabel and pytest are you using?

thanks

[2020-10-14 12:31] ggardet commented on #2580
* numpy: 1.19.1
* nibabel: not used
* pytest: 6.0.1

[2020-10-14 13:29] tsalo commented on #2515
@bthirion Absolutely. :+1:

[2020-10-14 16:52] alpinho commented on #2487
Only one additional parameter that would accept three possible string values, e.g. 'whole-brain', 'gray-matter' and 'white-matter'. Default should be 'whole-brain', which is what is implemented for the moment. A mask corresponding to the selected part of the brain will be then calculated through the resampling of the respective MNI152-template mask onto the target image.

[2020-10-14 17:59] emdupre commented on #2579
Thanks for following up with this, @alpinho  !

At this point, if it's not reproducible with the newest version of Nilearn I'm not sure that we can address it. I'll let you close this if you can't trigger the error with 0.7.0a in either environment ?

[2020-10-14 18:15] jeromedockes commented on #2579
Since the latest release there have been a couple of PRs to adapt to
breaking changes in matplotlib releases, eg #2431 dealing with a
colorbar issue. If the problem only appears with nilearn 0.6 maybe it
has been fixed already. However please let us know if you can reproduce
the problem with the nilearn master branch and any matplotlib version.

[2020-10-14 19:07] alpinho commented on #2579
OK. I'll make a few more checks during the next days. If I don't find any problem I'll close the issue. Thanks!

[2020-10-14 20:22] bthirion commented on #2487
AFAIK there is no mechanism to extract gray matter or white matter in Nilearn.
Are you suggesting to implement that ?

[2020-10-14 20:43] jeromedockes commented on #2487
If so I guess you could threshold the output of `fetch_icbm152_brain_gm_mask`

[2020-10-15 11:50] alpinho commented on #2487
AFAIK, `Nilearn.masking.compute_brain_mask` loads an MNI152 whole-brain template and resample it. A similar procedure can be integrated in the same function but for grey and white matter templates.

[2020-10-15 12:49] mathias-sm commented on #2545
Update: after spending some time adapting ideas borrowed from `view_img`, I ended up (badly) reinventing the wheel. I had [something that worked](https://gist.github.com/mathias-sm/4838dc0456a031bbc5c904ebe1e37316#file-plot_img_with_callback3-py) for my use case but that was very ad hoc and didn't make use of the expertise, optimization and testing that went into the `plotting` module.

So [I star

[2020-10-15 15:31] jeromedockes commented on #2545
Congratulations on the new demo, I just tried it and it works very
smoothly!

I believe it may be more realistic to keep developing this as a separate
project for a while
(possibly in [nilearn sandbox](https://github.com/nilearn/nilearn_sandbox) )

At the moment is is not obvious what features would be needed by most
nilearn users or what interface would be effective. Also, approaches
involving a

[2020-10-15 19:09] bthirion commented on #2545
Indeed, I was going to propose the same way forward: build an associated project. I know that this is not great for long-term maintenance, but good to make POCs.
Best,

[2020-10-16 23:28] emdupre commented on #2545
Would agree re initially developing separately. I just wanted to point to nibabel's `orthoview()` code, which could serve as a scaffolding.

In particular, I know https://github.com/nipy/nibabel/pull/850 was started to add overlays to orthoviewer, and it sounds like could be useful as a comparison point !

[2020-10-19 08:18] Dong095939 opened #2581 "A question about cross_val_score in MVPA"

[2020-10-19 10:11] thomasbazeille commented on #2581
Hello, can you provide some info on your questions ? Usually if this is more of a usage question, we'd rather you ask it on Neurostars.org forum. If this is for a bug report, cross_val_score is a scikit learn function and bugs should be reported on their issue tracker. Thanks !

[2020-10-19 15:12] bthirion commented on #2487
@alpinho do you want to take care of that ?

[2020-10-19 15:20] bthirion commented on #2470
My impression is that this has been fixed. Closing.
Don't hesitate to repoen if needed.

[2020-10-19 15:20] #2470 closed

[2020-10-19 15:21] bthirion commented on #2580
Thx.
@jeromedockes are you looking at this ? Best,

[2020-10-19 15:33] alpinho commented on #2487
OK!

[2020-10-19 15:40] bthirion commented on #2568
Any update on this issue ?

[2020-10-19 15:41] bthirion commented on #2466
Should we consider this solved, then ?

[2020-10-19 15:44] #2460 closed

[2020-10-19 15:46] bthirion commented on #2443
@bakerhassan do you want to work on it ?

[2020-10-19 15:49] bthirion commented on #2444
@kfinc do you want to work on this ?
Best,

[2020-10-19 15:50] #2433 closed

[2020-10-19 19:52] jeromedockes commented on #2580
I haven't looked at it yet. I can give it a try but if by any chance
someone who has easy access to an arm machine wants to debug it that
would be great

[2020-10-20 10:04] #2579 closed

[2020-10-20 14:42] pbellec opened #2584 "confounds are not effectively regressed with some NiftiMasker parameters"
I am working with nilearn 0.6.2
I am specifying confounds to a masker,  like so:
[code]
I expect the confounds to be regressed from tseries, i.e. the covariance between `tseries` and `conf` to be approximately zero.
I've tested whether that is the case systematically with different values for `standardize`, and with/without demeaning the `conf`.
See the test file appended at the end of this messag

[2020-10-20 16:06] #2581 closed

[2020-10-20 19:39] bthirion commented on #2584
I think I agree with you: systematically demeaning the confounds makes more sense to me !
Thx for digging into this.

[2020-10-21 17:23] mathias-sm commented on #2545
Thanks everyone for weighting in! I'm going keep my attempts separated, and specialized for my problems, for the moment.

With that said I kept exploring a bit, so I might as well [leave a trace here](https://gist.github.com/mathias-sm/0d9b4506c05baad1afdf0d6bb0130fe3). This is an attempt at doing it with `plotly`, and I think I'll iterate on that base for my work. It's not super snappy for high r

[2020-10-21 18:06] jeromedockes commented on #2545
Thanks a lot for sharing, that's super interesting and indeed it is
useful to have a trace of it here.
On my laptop the plotly demo seems fast enough to use, I would say
around .25 seconds to update the plots when I click on a voxel.

I am not surprised that it is much slower than brainsprite, as it slices
and recomputes a heatmap for every update. (moreover the list
comprehension iterating over a

[2020-10-21 18:35] thomasbazeille commented on #2505
It seems to me that this PR is ok as is and handles the last blocker for the release. IMHO it can be merged and the release can happen right now.

[2020-10-21 18:40] #2505 closed

[2020-10-21 18:40] bthirion commented on #2545
Thx for sharing !

[2020-10-21 18:41] bthirion commented on #2505
Merged, thx.
Following our last discussion, we should tag as experimental nilearn.glm before releasing.

[2020-10-21 19:19] mathias-sm commented on #2545
Well, thanks again, it was pretty obvious but thresholding out of the loop makes quite a difference. I updated the gist.

I tried playing with `heatmapgl`, as well as with sending the background as a static image instead of a heatmap, but it doesn't seem speed things up. I can see how the next obvious improvement is going to be implementing the slices viewer on the client side (+ sending everythin

[2020-10-25 02:37] Dong095939 commented on #2581
Got it, Thans for your reply.

[2020-10-30 13:59] PeerHerholz commented on #2483
Hi everyone,

I hope you and your loved ones are still doing ok during these difficult times.
Given that a new release might be close, I was wondering how we should proceed wrt this part of the docs?

Cheers, Peer

[2020-11-01 22:01] bthirion commented on #2483
@PeerHerholz I would not put release-related pressure on that one, since we need to find some compromises between speed and expressiveness of the statistical framework.

[2020-11-02 16:17] GaelVaroquaux commented on #2508
Examples of repo where this work: scikit-learn, MNE-python

[2020-11-02 16:25] emdupre opened #2587 "Mark nilearn.stats as experimental."

[2020-11-02 20:28] agramfort commented on #2508
I can help if you want

[2020-11-02 20:37] GaelVaroquaux commented on #2508
@agramfort : thanks, I'll let @NicolasGensollen ping you if he gets to this.

[2020-11-03 15:14] #2516 closed

[2020-11-04 14:25] jbdenniso opened #2588 "Harvard-Oxford label spelling inconsistency"

[2020-11-04 14:26] jbdenniso commented on #2588
This should be an easy fix but wanted to make sure it got noted.

[2020-11-04 20:21] bthirion commented on #2588
Could you elaborate a little bit ? Thx.

[2020-11-10 15:22] tsalo commented on #2547
Is it worth it to take a cue from AfNI and support one-sided, two-sided, _and_ bi-sided?

[2020-11-10 17:11] bthirion commented on #2547
Sorry, can you explain the diff btw two-sided and bi-sided ?  Thx

[2020-11-10 17:16] tsalo commented on #2547
Two-sided clustering combines positive and negative values as single clusters, while bi-sided clusters positive and negative values separately. To be honest, I've never understood the purpose of two-sided clustering as they define it, but I imagine there's a use for it since it's been supported in AfNI for so long (e.g., in [`3dClusterize`](https://afni.nimh.nih.gov/pub/dist/doc/program_help/3dClu

[2020-11-10 20:43] bthirion commented on #2547
Well, I'm not interested in having a method for which we don't have a use case... from what I understand what Afni calls `two-sided` is not a sensible approach... the problem is that `two-sided` is used in other packages for what Afni calls `bi-sided`.
So, I'd rather not implement this feature and keep the argument as-is.
Do you have strong feelings about that ?

[2020-11-10 21:01] tsalo commented on #2547
That sounds good to me. I just thought I'd bring it up in case it was worth the extra effort.

[2020-11-12 07:02] #2587 closed

[2020-11-12 09:01] NicolasGensollen opened #2592 "Add tests for matplotlib-dev"
Add tests for `matplotlib-dev` with failures allowed (or not?) in order to anticipate upcomming changes which could cause failures in future releases.
See for example: #2591 and #2583

[2020-11-12 09:04] bthirion commented on #2422
ping @NicolasGensollen @KamalakerDadi let me suggest you collaborate on that one.

[2020-11-12 09:13] bthirion opened #2593 "replace img.get_data() by img.get_fdata()"
This is to comply with Nibabel Deprecation warning.

[2020-11-12 09:20] bthirion opened #2594 "Show the current doc build"
The Built doc from latest master update should be made visible on
nilearn.github.io/dev
on top of the latest release
See the mechanism used by sklearn/mne.

[2020-11-12 10:39] jeromedockes commented on #2545
I think we can close this issue now as we reached the decision not to add callbacks in nilearn for now, but it can always be reopened

[2020-11-12 10:39] #2545 closed

[2020-11-12 10:43] jeromedockes commented on #2593
do you mean `nilearn.image.get_data`? see #2172

[2020-11-12 10:48] jeromedockes commented on #2593
there are only a few uses of `get_data` that were introduced after #2172 , actually it would be good to fix these before the release so the release works with new versions of nibabel

[2020-11-12 10:51] jeromedockes commented on #2593
we just need to replace `img.get_data()` with `nilearn.image.get_data(img)` in these places:

[code]

[2020-11-12 10:53] bthirion commented on #2593
Thx. I can do that unless you're on it.

[2020-11-12 10:57] jeromedockes commented on #2593
I see @NicolasGensollen assigned this to himself, but if he didn't get started I can do it

[2020-11-12 11:00] bthirion commented on #2593
On 12/11/2020 11:57, jeromedockes wrote:

I'm on it now. B

[2020-11-12 11:01] KamalakerDadi commented on #2580
I had a look and the difference whether the data type is ```int``` or ```float``` to take in ```np.nan``` or ```np.inf```.
See the example below which can be run on any platform either aarch64 or x86_64

[code]
The idea would be to change dtype of the data from int to float wherever the tests are failing.

[2020-11-12 11:12] jeromedockes commented on #2593
oops sorry for the misunderstanding, just opened the pr #2598

[2020-11-12 11:31] #2593 closed

[2020-11-12 11:33] NicolasGensollen opened #2599 "Add explanations for 1st and 2nd level for glm"
Add a few lines somewhere in the doc to explain what are `glm` `first` and `second levels` which might not be obvious for researchers from other fields.
Note: We could also put a link to these explanations in the html reports.

[2020-11-12 17:13] jeromedockes opened #2601 "list of developers in readme is outdated"
also it would be easier to have only one such list (eg make sure authors.rst is complete and remove the list from readme)

[2020-11-12 17:16] GaelVaroquaux commented on #2601
Yes, absolutely. This is the right fix! Thanks

[2020-11-12 17:19] #2592 closed

[2020-11-12 18:22] GaelVaroquaux opened #2602 "The reports for GLMs are not well visible in notebooks"
Running the following example in a notebook:
http://nilearn.github.io/auto_examples/02_decoding/plot_haxby_glm_decoding.html#generating-a-report

Give a report that is too wide for the container:
![image](https://user-images.githubusercontent.com/208217/98979735-ff26a700-251b-11eb-920b-b72184842921.png)

The HTML and the CSS need a bit of work. Some of it should be borrowed from the reporting gene

[2020-11-12 19:50] jeromedockes opened #2603 "plot_surf_stat_map fails for maps provided as path to files"
`load_surf_data` should be used to load the map before passing it to `_get_colorbar_and_data_ranges`. docstring says passing a path is supported

reproduce with:
[code]

[2020-11-12 21:47] bthirion commented on #2580
Thx @KamalakerDadi
Can you start working on it ?
Thx,

[2020-11-13 10:31] #2603 closed

[2020-11-13 13:45] KamalakerDadi commented on #2422
We already have fetcher [there](https://github.com/Parietal-INRIA/DiFuMo/blob/master/notebook/fetcher.py) that is made for bulding a website. May be that could give a start. The atlases are stored on Open Science Framework and the fetcher gets them from there.

[2020-11-13 13:54] GaelVaroquaux commented on #2422
Yes, I think that now is a good time to integrate these fetcher to
nilearn.

[2020-11-16 00:09] alpinho commented on #2395
As an attempt to solve this issue, the PR #2567 contains a sketch for a possible solution to this problem. I firstly note that this PR already contains a dedicated test function that reproduces the problem herein described. Please, see lines 46-83 of `nilearn/glm/tests/test_utils.py` of this PR. The remaining two files, i.e. `nilearn/glm/contrasts.py` and `nilearn/_utils/glm.py`, contain a proposi

[2020-11-16 10:46] ggardet opened #2607 "`test_check_niimg_wildcards` fails on aarch64"
What version of Nilearn are you using? 0.7.0 + https://github.com/nilearn/nilearn/pull/2606
What were you trying to do? Build and test 0.7.0 version + https://github.com/nilearn/nilearn/pull/2606
What did you expect will happen? all test pass
What actually happened? `test_check_niimg_wildcards` failed on aarch64

Log:
[code]

[2020-11-16 10:48] ggardet opened #2608 "test_clean_confounds fails on x86_64"
What version of Nilearn are you using? 0.7.0
What were you trying to do? Build and test 0.7.0 version
What did you expect will happen? all test pass
What actually happened? `test_clean_confounds ` failed on x86_64

Log:
[code]

[2020-11-16 12:48] ggardet commented on #2607
It looks like it was sporadic as I cannot reproduce atm.

[2020-11-16 12:48] #2607 closed

[2020-11-16 12:49] ggardet commented on #2608
I initially test with 0.7.0 + https://github.com/nilearn/nilearn/pull/2606, but 0.7.0 without patches shows the same problem.

[2020-11-16 20:31] #2580 closed

[2020-11-16 20:41] bthirion commented on #2608
@ggardet if I'm not mistaken, it is only a numerical precision issue: replace 150 * eps by a larger value ?

[2020-11-17 10:27] ggardet opened #2610 "test_reorder_img_mirror fails on i586"
What version of Nilearn are you using? 0.7.0
What were you trying to do? Run Unit Tests
What did you expect will happen? All tests should pass
What actually happened? `test_reorder_img_mirror` fails on i586

[code]

[2020-11-17 11:15] bthirion commented on #2395
Thx.  We agreed that this is the right thing to go, so I simply suggest to go ahead.
Maybe simply keep `p_value` and add a `one-p_value` function and use both of them to return z_scores. This would minimize side effects.

[2020-11-17 21:58] bthirion commented on #2610
Thx.
Looks like an accuracy pb again. Can you issue a PR ?
Best,

[2020-11-18 10:00] NicolasGensollen opened #2612 "Inconsistencies between docstring and actual default values for standardize"
It looks like some objects display inconsistent docstrings for the `standardize` parameter:

- In `decomposition/base.py`: docstring doesn't specify a default value but it is set to `True` in the code
- In `decomposition/multi_pca.py`: docstring doesn't specify a default value but it is set to `False` in the code
- In `input_data/multi_nifti_masker.py`, `input_data/nifti_labels_masker.py`, `input_

[2020-11-18 14:23] NicolasGensollen commented on #2602
@GaelVaroquaux I had a look at this, and it seems like the report default dimensions are set to `width=1600` and `heigth=800`, but they are exposed to `make_glm_report`, such that you should be able to tune the report dimensions:

![glm_report_dims](https://user-images.githubusercontent.com/2639645/99541054-a25e3d00-29b0-11eb-94d2-191c66671647.png)

I'm not sure this answers your point or not, but

[2020-11-18 14:46] GaelVaroquaux commented on #2602
This is indeed better.

The core of my point is that the NiftiMasker report does it right by
default. I don't remember how it's done, and whether it's done via a
pre-specified width.

[2020-11-19 14:26] NicolasGensollen commented on #2602
@GaelVaroquaux after looking a little bit more into this, I think this is because the `glm` report is an instance of the `HTMLDocument` class, which wrapps the html code inside an `iframe` when calling `_repr_html`:

https://github.com/nilearn/nilearn/blob/82f4075d8a8ea9aec25e66bd87ebb79a6be6d32f/nilearn/plotting/html_document.py#L88-L94

On the other hand, the `NiftiMasker` generates an instance

[2020-11-19 14:34] GaelVaroquaux commented on #2602
Good detective work! I think that you found the important point, indeed.

I agree. I think that in the long term, it will help having more uniform code.

[2020-11-19 15:01] jeromedockes commented on #2602
yes the first option. the reason `HTMLDocument` outputs an iframe is to
isolate it from the page it is embedded in (load javascript libraries
only once, easily have unique element ids etc.) -- HTMLDocument is used
for interactive javascript plots. AFAIK reports are pure html and css so
it is less of an issue for them which is why HTMLReport doesn't use an
iframe

[2020-11-19 15:06] jeromedockes commented on #2602
but of course if it is just a question of size the height and width of
the iframe are parameters in the document's __init__

[2020-11-20 10:25] NicolasGensollen opened #2614 "Axes3D no longer adds itself to figure"
Upcoming break in Matplotlib `3.4.0`, see: [https://github.com/matplotlib/matplotlib/pull/18564](https://github.com/matplotlib/matplotlib/pull/18564)

This is causing 3 tests to fail on Travis with matplotlib-dev:

[code]

`ax = Axes3d(fig)` will need to be explicitly added to the figure with `fig.add_axes(ax)`

[2020-11-23 15:33] NicolasGensollen opened #2615 "Duplicate examples"
It looks like the following examples:

- [9.6.3. Second-level fMRI model: a paired-sample test](https://nilearn.github.io/auto_examples/05_glm_second_level/plot_second_level_paired_sample_test.html#sphx-glr-auto-examples-05-glm-second-level-plot-second-level-paired-sample-test-py)
- [9.6.4. Second-level fMRI model: a two-sample test](https://nilearn.github.io/auto_examples/05_glm_second_level/plot

[2020-11-23 15:56] jeromedockes commented on #2615
Indeed! we can remove one example for free :)

[2020-11-23 15:59] bthirion commented on #2615
:)

[2020-11-24 08:31] NicolasGensollen commented on #2508
I reopen this one since this is still not working (at least for me...).
It worked first shot there: [Add github action artifact link redirector](https://github.com/dirty-cat/dirty_cat/pull/150)

The only difference I see is the path to the artifacts on CircleCI which is `0/doc/_build/html/index.html` here, and `0\doc\index.html` on dirty-cat since its `config.yml` file specifies a destination:

[c

[2020-11-25 14:47] #2615 closed

[2020-11-25 14:57] jeromedockes commented on #2614
there is still [this pending comment in a matplotlib issue](https://github.com/matplotlib/matplotlib/issues/18939#issuecomment-726142191) that suggests making the axis add itself by default

[2020-11-25 15:07] NicolasGensollen commented on #2602
Fixed in #2613

[2020-11-25 15:07] #2602 closed

[2020-11-25 15:36] Ziaeemehr opened #2618 "labeling connectome nodes with anatomical regions"
I am looking for a way to label each node of a connectome matrix with its anatomical region.
something like this:
[12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 19 19 19 19 19
 19  6  6 14 14 14 ... ]
which for example show 19 first elements belong to region 12 and so on. We know the xyz coordinates of nodes. So we can use different parcellation atlas to map each node on its region.

Is

[2020-11-25 16:41] jeromedockes commented on #2618
multiplying the coordinates of a note by the inverse of the image affine will give you the voxel index and you can read the atlas image at that location to find the label. you can then sum over the voxels in each region to get the number of connections between regions. Note you could also directly use the atlas to define the connectome, thus you would directly have a connectome with one node per a

[2020-11-25 17:35] Ziaeemehr commented on #2618
@jeromedockes Thank you I think about your answer. I already asked it [here](https://neurostars.org/t/down-sampling-connectome-network-to-destrieux-parcellation/17326) about a month ago but could not get the proper answer.

[2020-11-26 13:23] bthirion opened #2620 "Ward parcellation does not yield connected clusters..."
... while it should

Code to reproduce:

[code]
--> I think that there is a problem with mask handling.

[2020-11-26 17:02] NicolasGensollen opened #2621 "Use pandas in the data loaders"
Since Pandas was added to the dependencies, we can use it in the data loaders to read CSV files instead of Numpy.
See #2619

[2020-11-26 17:59] jeromedockes commented on #2621
I wouldn't modify existing loaders; but when writing new loaders (which
should almost never happen anyway) pandas can be used when that's more
convenient

[2020-11-26 18:11] GaelVaroquaux commented on #2621
I had in mind modifying loaders :)

[2020-11-26 18:34] jeromedockes commented on #2621
oops just saw your comment in #2619 -- ok, let's change them then :)

[2020-11-27 12:04] NicolasGensollen commented on #2620
@bthirion, not sure this is the issue, but the background mask in your code does not have a single connected component:

[code]

Maybe changing the mask computation line with (since the default value for connected is False):

[code]
??

[2020-11-30 20:49] bthirion commented on #2620
Still get the issue.  I'm afraid this may come from sklearn (tbc)...

[2020-12-01 04:39] Shotgunosine commented on #2403
Any column in the design matrix that has just a single 1 in it is a censor column, it's easy to identify those columns and the corresponding TRs assuming a dense design matrix. This seems like the least error prone approach to me.

[2020-12-01 08:05] bthirion commented on #2403
If you're doing OLS regression, indeed. But it is encouraged to take into account noise serial correlation in fMRI. This is handled by a pre-whitening filter than induces some artefact if a volume is corrupted. This is why it would be better to have an explicit `sample_mask` parameter.

[2020-12-01 11:55] NicolasGensollen commented on #2620
@bthirion, maybe I don't understand what you mean by connected clusters. My understanding is that `ward.labels_img_` is basically a 3D array with 201 labels (200 regions and 0 for background).

We want to check whether each region is connected. So we can, for example, mask `ward.labels_img_` for each unique label value, and then compute the features in the resulting binary array (for example with

[2020-12-02 10:33] idevicente opened #2623 "Misplaced overlay"
Hey there!

I am trying to overlay two different R^2 maps on top of a T1 anatomical image.
One of the R^2 overlays works just fine, but when I try with the other R^2 map it appears misplaced from the T1 (see picture attached). In other viewers such as AFNI both of the overlays look perfectly aligned, so in principle it is not a preprocessing issue.

Any idea how to solve this? Below you can find t

[2020-12-02 11:14] thomasbazeille commented on #2623
Hello ! It seems weird indeed, the height of anatomical backgrounds of display2 seem to be lower than the one of display1. Did you check that the images had same affine ? I guess to replicate and debug, it'd be easiest if you could share the the images involved somehow.

[2020-12-02 12:04] idevicente commented on #2623
Solved! The images had different grids.
I should have checked that before, my apologies...

Thanks for the help!

[2020-12-02 12:04] #2623 closed

[2020-12-02 14:17] thomasbazeille commented on #2623
Cool!

[2020-12-02 14:57] NicolasGensollen commented on #2558
@shobrook  This should be solved since the `0.7.0` release.
There is also this [example](https://nilearn.github.io/auto_examples/05_glm_second_level/plot_proportion_activated_voxels.html) that is related to the All resolution inference procedure.
@bthirion I was wondering whether we should detail a little bit more this example (or maybe a searchlight example as mentioned above).

[2020-12-02 20:31] bthirion commented on #2558
Yes, it's always a good idea to make examples more pedgaogical.
If you have a clear suggestion in mind, please issue a PR. If not, please let me know what you feel is unclear.

[2020-12-02 21:23] bthirion commented on #2620
Sorry, I could get back to it yesterday.
You're right, having only one connected component solves the issue --- sorry for my stupid answer !
It's actually a bug in an sklearn routine... I'll post it there soon.

[2020-12-03 13:01] NicolasGensollen opened #2624 "Bug in example 9.3.12"
It looks like the last section (`9.3.12.4`) in this [example](https://nilearn.github.io/auto_examples/02_decoding/plot_haxby_different_estimators.html#sphx-glr-auto-examples-02-decoding-plot-haxby-different-estimators-py) is not doing what it is supposed to.

More precisely, the following lines

[code]

build objects that aren't used afterwards for the plotting of the stat maps.

Moreover, with Pa

[2020-12-03 13:05] bthirion commented on #2624
These are good points, thx.

[2020-12-04 09:48] NicolasGensollen opened #2626 "Create "Administrative" repo"
I believe we mentioned this during our last meeting, but this could be a good time to do it since our next meeting is coming up shortly.
The idea would be to store the meetings' notes in a separate repo under the nilearn organization like scikit-learn does [here](https://github.com/scikit-learn/administrative).

[2020-12-04 10:16] #2624 closed

[2020-12-04 14:06] NicolasGensollen opened #2627 "Move tests from Travis to GitHub Actions and/or Azure Pipelines"
Following discussion started in #2625

I think that a possible first step in this direction would be to move one travis job to GitHub actions (similar to what was done for MNE a few weeks ago), and move another one to Azure Pipelines.
In the mean time, this could be the opportunity to check whether we need all current jobs, and how we want to distribute them between the available services.

[2020-12-04 14:14] GaelVaroquaux commented on #2626
+1! Thanks for being on top of this!

[2020-12-04 15:41] NicolasGensollen opened #2628 "Threshold parameter in cluster_level_inference function"
Looking at example [9.6.2](http://nilearn.github.io/auto_examples/05_glm_second_level/plot_proportion_activated_voxels.html#sphx-glr-auto-examples-05-glm-second-level-plot-proportion-activated-voxels-py), I was wondering why the function `cluster_level_inference` could accept a list of threshold values like `[3,4,5]` in the example.

I might be wrong, but I would expect the results for `threshold=

[2020-12-05 08:51] bthirion commented on #2628
Hm, the behaviour looks fishy indeed. Have to dive into what's happening here.

[2020-12-05 08:55] bthirion commented on #2627
We might discuss that in the upcoming coredev meeting.

Just to be sure: why not simply ask Travis for some resources ?

[2020-12-05 09:16] GaelVaroquaux commented on #2627
That plan failed for scikit-learn (we were not granted resources), so it
might fail for nilearn.

[2020-12-06 22:07] bthirion commented on #2626
Done, thx for the reminder !

[2020-12-06 22:07] #2626 closed

[2020-12-07 17:20] tsalo commented on #744
It looks like this would only raise an exception if `EarlyStopProbe` _isn't_ called with `iter_n <= -1` its first time. Since calling with `iter_n = -1` is hard-coded into `_group_sparse_covariance()` (see below), I don't think that's a problem. Unless this is specifically a linting issue?

https://github.com/nilearn/nilearn/blob/c10248e43769f37eaea804f64d44a7816e3c6e03/nilearn/connectome/group_sp

[2020-12-07 20:57] bthirion commented on #744
Agreed.

[2020-12-07 20:57] bthirion commented on #744
Closing, then.

[2020-12-07 20:57] #744 closed

[2020-12-08 05:31] thomasbazeille commented on #2415
Closing as most of this was adress, the remainer is listed in #2564

[2020-12-08 05:31] #2415 closed

[2020-12-08 05:33] thomasbazeille commented on #2444
I'm under the impression this was adressed in the sprint and finally merged but can"t find the PR? Can I close @kfinc @bthirion ?

[2020-12-08 07:11] bthirion commented on #2444
Actuall it was not done. I think this kind of feature is a nice project for a future sprint.

[2020-12-08 09:03] NicolasGensollen opened #2629 "Improve Issue Templates"
As discussed in last meeting:

TODO:

- [x] Fix labels in current issue templates which are not added automatically
- [ ] Improve existing templates
- [x] Add new templates? (Documentation Improvement, Question, others...?)

[2020-12-08 22:27] jeromedockes opened #2631 "seeding in `_utils.data_gen`"
- `utils.data_gen.generate_fake_fmri` creates a `np.random.RandomState` (mutable
  default argument) in its definition. This might actually have been intentional
  so that it returns a different output each time it is called, but it is not
  the behavior of other functions in this module, which use 0 as a fixed seed by
  default, and it means that the data seen eg by unit tests depends on the orde

[2020-12-09 21:42] #2471 closed

[2020-12-10 09:00] NicolasGensollen commented on #2584
I'm closing this as it should have been fixed in #2609

[2020-12-10 09:00] #2584 closed

[2020-12-10 14:03] NicolasGensollen commented on #2588
Hi @jbdenniso !
Any update on this?

[2020-12-10 14:16] bthirion commented on #72
Solved AFAIK.

[2020-12-10 14:16] #72 closed

[2020-12-10 14:22] bthirion commented on #104
Superseded by #1241

[2020-12-10 14:22] #104 closed

[2020-12-10 14:23] bthirion commented on #151
Stalled.

[2020-12-10 14:23] #151 closed

[2020-12-10 14:25] bthirion commented on #164
Solved by http://nilearn.github.io/auto_examples/02_decoding/plot_haxby_glm_decoding.html#sphx-glr-auto-examples-02-decoding-plot-haxby-glm-decoding-py I think

[2020-12-10 14:25] #164 closed

[2020-12-10 14:32] bthirion commented on #194
As fasr as I understand this has been addressed.

[2020-12-10 14:32] #194 closed

[2020-12-10 14:41] KamalakerDadi commented on #782
Closing as it is a maintenance burden and this dataset is not required to advertise in the examples.

[2020-12-10 14:41] #782 closed

[2020-12-10 14:48] bthirion commented on #282
Seems that its has been solved with `ensure_finite` arguments to `sage_get_data`. Closing.

[2020-12-10 14:48] #282 closed

[2020-12-10 14:50] bthirion commented on #329
Nice feature waiting for contributors. Closing for now.

[2020-12-10 14:50] #329 closed

[2020-12-10 14:51] bthirion commented on #355
Stalled. Closing.

[2020-12-10 14:51] #355 closed

[2020-12-10 14:54] bthirion commented on #358
Stalled.

[2020-12-10 14:54] #358 closed

[2020-12-10 14:59] bthirion commented on #374
Solved.

[2020-12-10 14:59] #374 closed

[2020-12-10 15:01] #380 closed

[2020-12-10 15:02] bthirion commented on #471
Part of the issue has been addressed. Closing.

[2020-12-10 15:02] #471 closed

[2020-12-10 15:03] bthirion commented on #535
Solved.

[2020-12-10 15:03] #535 closed

[2020-12-10 15:07] bthirion commented on #579
Is this needed ?

[2020-12-10 15:07] #579 closed

[2020-12-10 15:10] bthirion commented on #624
Does not seem to be needed.

[2020-12-10 15:10] #624 closed

[2020-12-10 15:11] bthirion commented on #639
Broken links.

[2020-12-10 15:11] #639 closed

[2020-12-10 15:12] bthirion commented on #678
Brainomics is no longer used.

[2020-12-10 15:12] #678 closed

[2020-12-10 15:14] bthirion commented on #688
Stalled. Closing.

[2020-12-10 15:14] #688 closed

[2020-12-10 15:20] bthirion commented on #715
The useful part of the discussion has gone to #719

[2020-12-10 15:20] #715 closed

[2020-12-10 15:20] #718 closed

[2020-12-10 15:24] bthirion commented on #720
Closing in the absence of a clone of @AlexandreAbraham to do it !

[2020-12-10 15:24] #720 closed

[2020-12-10 15:29] bthirion commented on #776
We have reached a consensus. CLosing.

[2020-12-10 15:29] #776 closed

[2020-12-10 15:32] bthirion commented on #841
Stalled.

[2020-12-10 15:32] #841 closed

[2020-12-10 15:33] bthirion commented on #843
Fixed AFAIK.

[2020-12-10 15:33] #843 closed

[2020-12-10 15:34] #854 closed

[2020-12-10 15:42] bthirion commented on #900
Superseded by #2525.

[2020-12-10 15:42] #900 closed

[2020-12-10 15:43] bthirion commented on #902
Solved AFAIK.

[2020-12-10 15:43] #902 closed

[2020-12-10 15:48] #921 closed

[2020-12-10 15:49] bthirion commented on #934
Solved with Decoder object.

[2020-12-10 15:49] #934 closed

[2020-12-10 15:55] bthirion commented on #947
Unclear what should be done.

[2020-12-10 15:55] #947 closed

[2020-12-10 15:56] oesteban commented on #2525
The above-linked PR shows a draft of what this could entail (done, in this case outside nilearn).

The main caveat emerges, if plotting in this "image-array" mode, when several images/datasets are to be shown fused (e.g. a corresponding segmentation).

nilearn will adequately interpret the affine headers, so the solution above shows how to find the rotation matrix w.r.t. the cardinal axis of the m

[2020-12-10 15:57] bthirion commented on #958
I think this one is deprecated.

[2020-12-10 15:57] #958 closed

[2020-12-10 15:58] bthirion commented on #967
Stalled.

[2020-12-10 15:58] #967 closed

[2020-12-10 17:35] tsalo commented on #2588
I took a look and I noticed a couple of minor possible typos:

- "Left Lateral Ventrical" (should be ventricle)
- "Frontal Operculum Cortex", "Parietal Operculum Cortex", and "Central _Opercular_ Cortex"
    - All three should probably be opercular, not operculum.
- "Right Cerebral Cortex " and "Left Cerebral Cortex " (trailing whitespace)

[2020-12-10 17:49] tsalo commented on #1511
What about linking to folks' `meta` repositories (or other self-maintained location for affiliation info) instead?

[2020-12-11 07:49] thomasbazeille commented on #2564
First part adressed by #2622

Ok

I think it would be helpful to show in an example how to make a confusion matrix from decoder object since it does not seem straight forward IMHO

If you don't agree we can close

[2020-12-11 08:30] NicolasGensollen commented on #2422
DiFuMo atlases were added in #2619
Closing this...

[2020-12-11 10:36] bthirion commented on #2564
+1 for confusion matrix for decoder object example !

[2020-12-11 12:49] NicolasGensollen commented on #956
Indeed, `_safe_get_data`  returns a copy of the data only when the `img` argument has a `None` `_data_cache` argument:

https://github.com/nilearn/nilearn/blob/d1a2563cbf10c1470835b04bbc6e7d627d71019a/nilearn/_utils/niimg.py#L44-L52

When this isn't the case, `_safe_get_data` behaves likes `_get_data` (with NaNs handling).

I see several options:

1- do nothing and keep this behavior
2- implement

[2020-12-11 20:38] alpinho opened #2635 "Perhaps missing and/or incorrect info in nilearn.input_data.NiftiMasker"
Hello,
The documentation of the class `nilearn.input_data.NiftiMasker` states that the default of the arg `standardize` is "True" but in `nilearn/input_data/nifti_masker.py` line 190, it seems to be the opposite. Can someone clarify?

In addition, I'd like to confirm whether "True" <=> "zscore" for this arg; if so, perhaps, this should be better clarified in the docstring, too.

At last, the arg `

[2020-12-11 21:17] NicolasGensollen commented on #2635
@alpinho I think this is more or less a duplicate of #2612. I'm working on it but couldn't find the time to submit a PR yet.

The documentation that you are pointing is the stable version, which does not contain `standardize_confounds` yet since this has been added very recently, after the `0.7.0` release (see #2609). The dev version is available [here](https://6381-1235740-gh.circle-artifacts.com

[2020-12-11 21:29] alpinho commented on #2635
Ah!, great. Thank you very much for the quick clarification. Should I close this issue?

[2020-12-12 16:19] bthirion commented on #956
My impression is that you made the right choice.

If nobody comes with another unforeseen use case, I'll be happy with #2634.

[2020-12-12 16:22] bthirion commented on #1511
Sorry, I'm not familiar with that. Can you describe more precisely what `meta` repository you are thiking of ?

[2020-12-12 17:29] tsalo commented on #1511
I'm referring to a dedicated personal repository for affiliation and ID information. Here's mine: https://github.com/tsalo/meta

That way, we wouldn't have to manually update affiliations.

[2020-12-13 18:11] bthirion commented on #1511
OK, I don't think it is easy to systematize this.

My feeling is that maintaining this information is  a task for the core team :-)

[2020-12-14 19:28] jeromedockes opened #2637 "NiftiMapsMasker and NiftiLabelsMasker cannot transform 3D images"
documentation suggests they can (says "imgs: 3D/4D Niimg-like object").
example:
[code]

[2020-12-14 19:29] jeromedockes commented on #2637
fit on 3d images is always fine, fit_transform and transform fail. more details:
[code]

[2020-12-14 19:29] jeromedockes commented on #2637
see also https://neurostars.org/t/extract-atlas-based-values-from-a-3d-niiimg-object/17730

[2020-12-14 19:59] bthirion commented on #2637
I guess that the most idiomatic fix is to  transform the 3D img to a list in the call to transform.

[2020-12-14 20:11] jeromedockes commented on #2637
yes I think so!

[2020-12-15 09:02] #2601 closed

[2020-12-15 10:13] thomasbazeille commented on #2637
add if anyone is interested in tackling this PR, the additional requirements would be :

- [ ] Add a test that fails with current version and would be solved by PR (basically make tests on both maskers a bit more extensive)

[2020-12-15 15:27] NicolasGensollen commented on #609
@bthirion I'm wondering whether this issue is still "up-to-date". Unless I missed something, the only usage of parallelization for maskers I see is for the `MultiNiftiMasker`:

https://github.com/nilearn/nilearn/blob/3a74fcb36b17d94289b57ded5101ea9095bccc2e/nilearn/input_data/multi_nifti_masker.py#L297-L305

[2020-12-15 16:19] bthirion commented on #609
Yes, but this is in the `transform` method, not `inverse_transform`.

[2020-12-16 14:07] NicolasGensollen commented on #938
I had a look at this today. First of all, I can't reproduce the second error because the link to download the input file `mental-random.nii.gz` seems to be broken. If someone can provide it or give a new link, I'd be happy to test on it.

However, looking at the issue on scikit image, I was able to get the following error:

[code]
Which gives me:
[code]

Looking more closely, it seems like the ran

[2020-12-16 20:07] bthirion commented on #938
Sure. I think it's fine to close that one with #2639. I'll open a new issue if I hit another issue ;-)

[2020-12-17 09:05] #184 closed

[2020-12-18 12:49] #2395 closed

[2020-12-21 09:49] NicolasGensollen commented on #956
Closing since #2634 was merged...

[2020-12-21 09:49] #956 closed

[2020-12-21 14:59] NicolasGensollen commented on #2067
Hi @poldrack,
I'm cleaning old issues and I was wondering whether you still have the same problem.

Note: Since the reported bug dates from 2019 and version `0.5.2` and that we don't have any possibility to replicate it (code posted by @jeromedockes runs just fine), I doubt that this will move forward without updates.

[2020-12-21 15:11] NicolasGensollen commented on #1171
I can't reproduce the error with the provided code. Should we close this?

Here is the updated version to get rid of the deprecation warnings:

[code]

[2020-12-21 16:05] poldrack commented on #2067
thanks - I've not been working with these kinds of files recently so
haven't had a chance to exercise it.  go ahead and close and I'll reopen if
I ever hit it again.

On Mon, Dec 21, 2020 at 7:00 AM Gensollen <notifications@github.com> wrote:

--
Russell A. Poldrack
Albert Ray Lang Professor of Psychology
Associate Director, Stanford Data Science Institute
Director, DSI Center for Open and Reprodu

[2020-12-21 16:10] jeromedockes commented on #1171
can't reproduce either. I think we can close it

[2020-12-21 16:40] #1171 closed

[2020-12-21 19:37] bthirion commented on #2067
Thx. Closing for now.

[2020-12-21 19:37] #2067 closed

[2020-12-22 18:24] #747 closed

[2020-12-23 08:22] NicolasGensollen commented on #2465
Fixed in #2641

[2020-12-23 08:22] #2465 closed

[2020-12-23 12:33] jeromedockes opened #2642 "accept `pathlib.Path` where strings representing filesystem paths are expected"
for example in `image.load_img`, `_utils.niimg.load_niimg`, `surface.load_surf_mesh` and `surface.load_surf_data`

[2020-12-23 12:52] NicolasGensollen commented on #2220
A little update on this:

- The link to download the parcellation file in the first message is not working anymore
- Even if it doesn't make much sense, the following code gives a colorbar with scientific notation (which indeed gets cropped):

[code]

With `matplotlib>=3.2.0` there is no longer a normalization between 0 and 1 (see this [link](https://matplotlib.org/3.2.1/api/prev_api_changes/api_c

[2020-12-23 13:36] jeromedockes commented on #2220
I think I prefer the second one; it adds a parameter to plot_surf but
most users don't use it directly but through plot_surf_stat_map or
plot_surf_roi. These functions would not expose the parameter to the
user but use appropriate values for the kind of data they are meant for
(floats for stat_map and ints for roi)

[2020-12-23 18:10] bakyazi commented on #2642
hello, i am new in open source. can i work on it?

[2020-12-23 20:08] jeromedockes commented on #2642
that would be great, thanks for offering!

[2020-12-28 10:08] NicolasGensollen commented on #1984
@kchawla-pi I'm not sure I understand what you meant but I think this is not the case anymore.
Could you confirm so that we can close this.
Thanks!

[2020-12-28 10:25] NicolasGensollen commented on #1950
Hasn't this been addressed in #2214 ?
see also #2213

[2020-12-28 16:18] NicolasGensollen commented on #1770
Closing this since it has been already addressed.

[2020-12-28 16:18] #1770 closed

[2020-12-28 20:12] bthirion commented on #1950
Indeed. I close it.

[2020-12-28 20:12] #1950 closed

[2020-12-29 08:24] NicolasGensollen commented on #2627
Closing since this has been addressed by #2633

[2020-12-29 08:24] #2627 closed

[2020-12-29 08:33] NicolasGensollen commented on #1735
I believe this has been addressed in #2514

[2020-12-29 08:33] #1735 closed

[2020-12-29 08:52] NicolasGensollen commented on #1870
I am closing this since it is not reproducible anymore and it has been solved AFAICT.
Feel free to re-open an issue if needed.

[2020-12-29 08:52] #1870 closed

[2020-12-29 09:02] NicolasGensollen commented on #1527
I am closing this since it is outdated and doesn't seem to be related to a bug in nilearn.
Feel free to re-open an issue if needed.

[2020-12-29 09:02] #1527 closed

[2020-12-29 16:59] bthirion commented on #2628
Took a look at that. Seems to be a feature not a bug.
Depending on the thresholds you use, you create some small supra-threshold connected components in the map that turn out to have 0 true positive with reasonable confidence. These small components are thus zeroed in the inference procedure: they subtracted from the .background cluster that has non-zero probability of having true discoveries.
I a

[2020-12-29 17:15] bthirion commented on #2628
+ Need to check the numerical code...

[2020-12-29 22:26] tsalo commented on #1130
It looks like the link issues were resolved in #1184, so now the only problem is that Example 2.1 (An introduction to decoding) does not define the variables used in section 2.1.3.1 (Dimension reduction with feature selection)- specifically `func_img` and `conditions`.

The example uses the following lines from `plot_haxby_anova_svm.py`, which does not include the code used to define `func_img` an

[2020-12-29 22:28] tsalo commented on #1380
Given that this issue reflects a usage question and the last post from the original author is three years old, can we close this?

[2020-12-30 08:44] bthirion commented on #1380
Closing, indeed. Thx.

[2020-12-30 08:44] #1380 closed

[2020-12-30 16:18] NicolasGensollen commented on #2202
Hi @jeromedockes
I took a look at this and I was able to reproduce the bug with matplotlib 3.0.0.
Here is the behavior that I observed:

- 3.0.0 without your fix -> bug
- 3.1.1 without your fix -> no bug
- 3.0.0 and above with your fix -> no bug

I don't think it comes from the `_locator` function itself but from bbox adjustments made by matplotlib which seem to differ between versions. I spent so

[2020-12-31 09:27] NicolasGensollen commented on #1099
I am closing this as all points have been addressed AFAICT.

[2020-12-31 09:27] #1099 closed

[2020-12-31 10:11] NicolasGensollen commented on #1394
These old warnings have been removed in #1395
Closing...

[2020-12-31 10:11] #1394 closed

[2020-12-31 10:25] NicolasGensollen commented on #1522
@KamalakerDadi I also think we can close this one.
WDYT @grjd ?

[2020-12-31 12:04] NicolasGensollen commented on #2176
@kchawla-pi I don't see this warning anymore. Also sklearn 0.24.0 was released a few days ago without noticeable breaks.
Do you think we can close this?

[2020-12-31 12:45] kchawla-pi commented on #2176
Are we testing with skl 0.24 then? And getting expected values in tests?

[2020-12-31 12:46] kchawla-pi commented on #2176
Do we check the specific numeric values in our tests that the warning claims might change?

[2020-12-31 17:53] robbwh opened #2645 "math_img loses header information"
In nilearn 0.7.0, using math_img to get the first 180 dynamics of an image.

[code]
Then I save the image and look at the header with fslhd.

new header has pixdim4 as 1:

[code]

Original header here has pixdim4 as 2:

[code]

I'm using nibabel to do this now, but this might need fixing.

[2021-01-01 22:18] bendichter opened #2646 "plotting.view_markers as an ipywidget"
Hi, I really like `plotting.view_markers` and I'd like to use it in a larger ipywidgets project, [NWB Widgets](https://github.com/NeurodataWithoutBorders/nwb-jupyter-widgets). The problem is that I would need it as an `ipywidgets.Widget` so that it fits into the nested widget environment. I took a look at [a convo between your team and ipyvolume a few years back about transparency](https://github.

[2021-01-03 11:04] mckeuken opened #2647 "get_clusters_table COM sometimes outside of irregular shaped objects"
Hi,

I was using get_clusters_table to exact the summary statistics of a meta-analysis that I'm doing using NiMARE and I came across some behavior which isn't incorrect but it would be good to make it explicit to the user:

- As I'm using cluster-based inference the entire cluster is associated with a probability which means that any sub peaks are not informative. NiMARE makes this explicit by bas

[2021-01-03 17:38] bthirion commented on #2647
Dear Max,
Thank you for posting. Can you let me know which Nilearn function you are referring to ?
Indeed, the `nilearn.reporting.get_clusters_table` does not return the COM
https://nilearn.github.io/auto_examples/plot_single_subject_single_run.html#detecting-voxels-with-significant-effects
Best,
Bertrand

[2021-01-03 17:51] tsalo commented on #2647
@bthirion peak identification does use the center of mass (see [`nilearn.reporting._get_clusters_table._identify_subpeaks ()`](https://github.com/nilearn/nilearn/blob/2a4111f87ea7458c4e5aec9db814135bc3cf5451/nilearn/reporting/_get_clusters_table.py#L49). This was originally added back in `nistats` in https://github.com/nilearn/nistats/pull/167, although I haven't kept track of the `get_clusters_ta

[2021-01-03 19:35] bthirion commented on #2645
Indeed, thx. Do you want to open a PR to address this ?

[2021-01-03 19:43] bthirion commented on #2176
As far as I can see the problem has disapeared, probably due to changes in this example ?

[2021-01-03 21:20] bthirion commented on #2647
Indeed, sorry.
@mckeuken can you implement your suggestion, ie detecting when the COM is outside of the brain mask and raising a warning ?
Best,

[2021-01-03 23:31] mibur1 opened #2648 "Clash between signal.clean() and DVARS calculation"
Hi,
When signal.clean() is used for confound regression and bandpass filtering, the results are automatically z-standardized. I then don't really see how to calculate DVARS from this. Could it be a possibility with the current calculations to allow a standardization=False for this?

Corresponding neurostars post: https://neurostars.org/t/calculating-dvars-after-confound-regression-with-nileran/178

[2021-01-04 10:23] NicolasGensollen commented on #2648
Hi @mibur1

Do you have an example we can reproduce where you observe this behaviour? Looking at the code I don't think the signal gets z-standardized if you set `standardize` to False.
The only thing I can think of is that the function `signal.clean()` was modified a few weeks ago to support a `standardize_confounds` argument (see #2609) such that you can standardize signals and confounds separat

[2021-01-04 10:57] mckeuken commented on #2647
Hi @bthirion and @tsalo

As I understand the nilearn.reporting._get_clusters_table code it always outputs the COM right?

In line 169 of _get_clusters_table.py (regardless of whether you are looking at the peak or sub peak) it calls:

Where _local_max (line 37) calls:

And _identify_subpeaks only looks at the center of mass (line 53 in original code, line 10 in quote) to get the initial 'ijk' coor

[2021-01-04 13:16] NicolasGensollen commented on #1110
I looked at #1026 and it looks like this issue is related to a problem you were having @bthirion with a colorbar in grayscale which couldn't be reproduced at the time.
Since this was with Python 2.7 and old versions of dependencies that we don't support anymore, it will be hard to dig into this. I was wondering whether you still have this issue or if we could close this.

[2021-01-04 13:30] #2220 closed

[2021-01-04 13:31] NicolasGensollen commented on #2207
This was adressed in #2643

[2021-01-04 13:31] #2207 closed

[2021-01-04 13:44] NicolasGensollen commented on #1064
I believe this has been addressed in #2609. The proposed solution was to separate the standardization of the confounds from the one of the signal through a `standardize_confounds` argument in `signal.clean()` defaulting to `True`.

So, updating the code from the first message gives:

[code]

![image](https://user-images.githubusercontent.com/2639645/103540921-d2976780-4e9a-11eb-8514-65c09033a1a2.p

[2021-01-04 13:45] NicolasGensollen commented on #1419
I believe this has been addressed in #2609 (See also #1064).
The proposed solution was to separate the standardization of the confounds from the one of the signal through a `standardize_confounds` argument in `signal.clean()` defaulting to `True` (see example in #1064).

[2021-01-04 15:03] mibur1 commented on #2648
Hi, thanks for the swift answer! I was indeed using Nilearn 0.7.0, which seems to be the issue.
I'm not able to check my data at the moment, but using your example code with the latest version from github provides the expected, unstandardized timeseries.

Thanks!

[2021-01-04 15:03] #2648 closed

[2021-01-04 16:14] emdupre commented on #2642
This is something that is handled natively with nibabel 3.0 ! Could be a chance to check for those potential updates.

[2021-01-04 20:38] bthirion commented on #1064
LGTM, thx. Closing.

[2021-01-04 20:38] #1064 closed

[2021-01-04 20:40] bthirion commented on #1419
Indeed. Closing, thx !

[2021-01-04 20:40] #1419 closed

[2021-01-04 20:42] bthirion commented on #1110
Looks like time has solved the issue ! Closing, thx.

[2021-01-04 20:42] #1110 closed

[2021-01-04 21:06] bthirion commented on #2647
Yes this sounds right. You will also have to test that the warning is raised when it should. Thx !

[2021-01-05 14:53] NicolasGensollen commented on #938
Addressed in #2639

[2021-01-05 14:53] #938 closed

[2021-01-05 15:46] mckeuken commented on #2647
Hi @bthirion and @tsalo

So I created a nifti file with 5 different clusters:
- a sphere, intensity 1
- a hollow sphere, intensity 1
- a 3D crescent (basically a hollow sphere with a chunk out of it), intensity 1
- a cube, intensity 2
- and a rectangle, intensity 2

And I modified my local copy of get_clusters_table by including the warning and ran it on the nifti file with two different threshold

[2021-01-05 16:16] GaelVaroquaux commented on #938
That's nice!!

On Tue, Jan 05, 2021 at 06:53:43AM -0800, Gensollen wrote:

--
    Gael Varoquaux
    Research Director, INRIA		  Visiting professor, McGill
    http://gael-varoquaux.info            http://twitter.com/GaelVaroquaux

[2021-01-05 16:27] tsalo commented on #2647
Nice job with the notebook! I think that your proposed changes would work for most NiMARE-like cases, although I'm not sure how it would work for a standard image without running nilearn's existing tests. However, your ideas got me thinking of an extreme case where there's something like a donut with a smaller sphere inside the hole. Basically, a case where the value of the COM is non-zero, but co

[2021-01-05 17:05] tsalo commented on #2645
What would be the expected behavior when two images with different header information are used? The easiest example I can come up with would be adding two 4D images with different TRs. Would we want to raise an exception in that case?

[2021-01-05 20:54] bthirion commented on #2647
Sounds like . a better solution indeed.

[2021-01-05 20:56] bthirion commented on #2645
I would expect the same behavior as if the affine or any other parameter was different.

[2021-01-06 00:47] xuesongwang opened #2652 "plot a ROI with mask label name"
Hi,
  I was trying to plot a specific ROI region, e.g., "Precentral_L"  defined in the  AAL mask,  The data is a 3D image from fetch_atlas_aal . And I couldn't find out how to build a mask with ROI name or index. Can someone please help? Thanks very much.

[2021-01-06 08:26] mckeuken commented on #2647
I think the solution of Taylor is way more elegant!

[2021-01-06 10:33] NicolasGensollen commented on #2179
Hi @rschmaelzle
I suspect this has been solved recently in #2609 although I'm not 100% sure since I cannot reproduce the problem you were having. #2609 is not included in a release yet so you'd have to install nilearn from source:

[code]

Let us know whether this fixes the problem or not.

[2021-01-06 15:59] tsalo commented on #2647
Thanks @mckeuken and @bthirion. I've opened #2653 with that approach.

[2021-01-06 16:06] tsalo commented on #2629
It would be great to have a link on the issue template choice page that goes directly to NeuroStars for usage questions. I think that should be possible with a config file (see [here](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository#configuring-the-template-chooser)). +1 for a documentation improvement template as we

[2021-01-06 20:20] bthirion commented on #2629
+1 for a link to Neurostars !

[2021-01-06 22:40] bthirion commented on #2652
Hi @xuesongwang,
This type of question better goes to the Neurostars interface. But you can see that the corresponding index is '2001', so you simply need to pick the voxels that have this value. You can use the `math_img` function for that.
[code]
Best