[2015-09-30 06:58] arthurmensch commented on #771
Yes it should

[2015-09-30 06:58] #771 closed

[2015-10-03 08:25] banilo opened #786 "Image reordering still not robust :("
...does still not seem to work properly in all scenarios. With ``interpolation=continuous`` I am still getting what looks like spline ringing effects.

[2015-10-03 09:00] GaelVaroquaux commented on #786
But that's expected. Interpolation will create ringing. There are
ringing-free interpolation schemes but they are very costly and have
other problems.

[2015-10-05 07:51] lesteve commented on #786
Closing then. Feel free to reopen if you feel strongly about this one but please provide a stand-alone script and a a picture to show more precisely what you mean.

[2015-10-05 07:51] #786 closed

[2015-10-06 06:17] souravsingh commented on #627
I wish to work on this issue.How do I start?

[2015-10-06 06:48] lesteve commented on #627
@AlexandreAbraham is this issue related to this open PR #645 ?

[2015-10-06 08:07] KamalakerDadi commented on #627
AFAIK, Yes it is. But the proposal is using only Power atlas.

[2015-10-06 10:03] p-ghaemmaghami opened #788 "Haxby dataset (Stimuli)"
Dear All,

I have some concerns about haxby (2001) dataset regarding stimuli presentation and decoding pipeline:

1) According to here: https://openfmri.org/dataset/ds000105, the number of presented stimuli is 48. Well, actually when someone download the dataset, there are 48 images per stimuli category (excluding “shoes” which is 47). However, in the description, it is written that, for each subj

[2015-10-06 12:17] arthurmensch commented on #721
I also think that this `threshold` parameter is confusing for the user, something between 0 and 1 would maybe be easier to understand.

[2015-10-06 14:47] GaelVaroquaux commented on #721
But it cannot be between 0 and 1. The maps are not bound between zero and
one.

[2015-10-06 15:00] arthurmensch commented on #721
Then I guess we could rename it and call it active_ratio or something
similar. Right now the end user has probably no clue on why he should set
the threshold between zero and n_components.
Le 6 oct. 2015 4:47 PM, "Gael Varoquaux" <notifications@github.com> a
écrit :

[2015-10-07 07:34] dohmatob commented on #725
See lines 19 to 21 of the script. Closing.

[2015-10-07 07:34] #725 closed

[2015-10-11 15:16] souravsingh commented on #627
So Would my PR create any conflict with the existing PR?

[2015-10-11 15:16] souravsingh commented on #721
I wish to work on this.How do I start?

[2015-10-12 13:37] GaelVaroquaux opened #789 "The docstring of nilearn.__init__ should list subpackages"
In the docstring of nilearn, we should list the subpackage (aside from _utils) with a short description of what's in it. The goal is to make it easier to users to know where to look to find a functionality.

The docstring of scipy could be an inspiration.

[2015-10-12 15:45] aabadie commented on #789
I took the docstring of scipy as an example for documentating the top level __init__.py file. As mentionned here (https://docs.python.org/3.4/tutorial/modules.html#importing-from-a-package), I also defined and filled the __all__ attribute with the "public" submodules of nilearn.

We could also go further by writing the all docstring in all submodules.

[2015-10-13 11:52] lesteve commented on #789
I think it's probably overkill for now.

A couple of tips:
* double underscore does emphasis (aka bold) in markdown so you want to use backquotes to escape them, see this [link](https://guides.github.com/features/mastering-markdown/) for more details.
* using Fix #number in a PR description does automatically close the issue #number once the PR is merged

[2015-10-13 11:52] #789 closed

[2015-10-13 12:47] lesteve commented on #721
We don't have documentation for contributing to nilearn unfortunately but you can check the [scikit-learn](http://scikit-learn.org/dev/developers/contributing.html#how-to-contribute) one. It has some relevant information about how to clone the nilearn repo on your local computer, run the tests, open a PR (Pull Request), etc ...

The basics is to try to understand the issue and open a PR with a ten

[2015-10-13 18:49] GaelVaroquaux commented on #763
To sum up the work to be done:

- Have check_niimg optionally use glob (and sort if using glob) (with the default being true)

- Have a constant at the level of nilearn.__init__ to control this behavior

- Have a very clear error message if a glob returns an empty list, that explains what is going on, and assumes that the user might have made a glob by mistake (thus points out the above constant).

[2015-10-13 18:53] GaelVaroquaux commented on #736
Testing could be done by having a specific suite of test (not the main one), run by the CI system and relying on either ulimits, or https://pypi.python.org/pypi/memory_profiler

[2015-10-13 18:55] GaelVaroquaux commented on #640
@bcipolli : do you still have this in mind? It would be awesome to have this in nilearn.

[2015-10-13 19:10] GaelVaroquaux opened #792 "nilearn.check_cache_version => nilearn.CHECK_CACHE_VERSION"
nilearn.check_cache_version is a constant. As such, it should be ALLCAPS. The title says it all (and I think that we shouldn't worry about backward compatibility, given that it is probably not used very much).

[2015-10-13 20:03] AlexandreAbraham commented on #763
Maybe this behavior should be restricted to `check_niimg_4d`?

[2015-10-13 20:07] GaelVaroquaux commented on #763
Well, if we want to expand '~' we can do it in check_niimg. But for the
rest, I agree.

[2015-10-13 20:37] banilo commented on #763
I agree with Gael that glob-integration could increase comfort of nilearn users. After all, we do glob.glob before loading anyways.

[2015-10-13 20:40] banilo commented on #792
I brought the same C-motivated argument a while ago. But last time, we decided against having all constant in capital letters because that is not Python-like, if I remember correctly.

[2015-10-13 20:41] GaelVaroquaux commented on #792
Quite the contrary: PEP8 agrees with me:
https://www.python.org/dev/peps/pep-0008/#constants

[2015-10-13 20:44] banilo commented on #792
Great, I like big-lettered constants!

2015-10-13 22:41 GMT+02:00 Gael Varoquaux <notifications@github.com>:

[2015-10-14 08:57] arthurmensch opened #793 "copy_img has a side effect on image"
This is due to the use of non safe `get_data` in `copy_img`.

Typically this invalidate cache:

[code]

Output:
[code]

[2015-10-14 08:58] GaelVaroquaux commented on #793
Good catch!

A PR to fix this would be great.

[2015-10-14 08:59] arthurmensch commented on #793
Fix is straight forward, I just need to write a test and I will push it

[2015-10-14 09:01] GaelVaroquaux commented on #793
It is indeed, because you understand the package :)

[2015-10-14 14:16] bcipolli commented on #640
@GaelVaroquaux yes, though it's low on my priority list at the moment, especially as I didn't know there's interest in it. Would be glad to work on it after SfN.

The data download should be straightforward; there are good docs and examples from https://github.com/NeuroVault/pyneurovault . Just need to port things to nilearn's downloading framework, which I'm well familiar with.

Settling on a rea

[2015-10-14 14:23] GaelVaroquaux commented on #640
OK. Great. It's good to have you in the loop. Keep us posted on this.

I really like his suggestion, actually. I think that it's a great example
of using nilearn (and maybe SparsePCA will give us cooler maps :P).

[2015-10-14 15:46] aabadie commented on #792
@GaelVaroquaux This one sounds (very) easy, I can work on it !

[2015-10-14 16:27] aabadie commented on #792
2ef67d2 is small contribution to this issue.

[2015-10-15 12:27] chrisfilo commented on #640
I agree that ICA would be the way to go. We should filter the maps (via the
API)  to only get unthresholded ones.
On Oct 14, 2015 9:23 AM, "Gael Varoquaux" <notifications@github.com> wrote:

[2015-10-15 14:29] aabadie commented on #763
@GaelVaroquaux, I pushed 419019a that should address this feature. A test is missing though.

[2015-10-15 15:08] #792 closed

[2015-10-15 15:17] vsoch commented on #640
Example here:

https://github.com/NeuroVault/pyneurovault/blob/master/examples/download_example.py#L18

It's basically a pandas data frame, and you can do traditional filtering on
it, if the pyneurovault filter function is not suitable. Please post issue
for functionality that would be desired but is not yet offered!

On Thu, Oct 15, 2015 at 5:27 AM, Chris Filo Gorgolewski <
notifications@github.c

[2015-10-15 15:18] GaelVaroquaux commented on #640
nilearn doesn't have a pandas dependency so far, but I am happy adding
one.

[2015-10-15 16:12] GaelVaroquaux opened #796 "Use the new sphinx-gallery notebook-style example"
Now that sphinx-gallery has been merged in nilearn (hurray!!). We can start converting some example to use the notebook-style example.

The first candidate is probably the plotting examples.

[2015-10-15 16:15] GaelVaroquaux commented on #796
For reference: the corresponding sphinx-gallery docs: http://sphinx-gallery.readthedocs.org/en/latest/tutorials/index.html#notebook-styled-examples

[2015-10-15 16:51] lesteve commented on #796
Should we not do a sphinx-gallery release, revive #592 and merge it before we can think about using notebook-style examples in nilearn ?

[2015-10-15 16:53] GaelVaroquaux commented on #796
I don't know. I lost track :$

[2015-10-15 18:07] lesteve commented on #796
Let's ask @Titan-C what he remembers !

[2015-10-15 19:59] KamalakerDadi commented on #763
@aabadie  It would be nice if you do PR tagged as **[WIP]** and ping somebody if you need help.

[2015-10-15 20:09] lesteve commented on #763
:+1: in general commenting on commits is not a really good idea, because comments tend to be completely lost if there is a rebase. It is a lot better to start a PR so that the discussion happens all in one place.

[2015-10-15 22:03] Titan-C commented on #796
yes we are missing a PyPI realease of sphinx-gallery with the notebook examples.
The we can rebase #592 to correctly adopt the images and references naming convention that meanwhile got adopted when the notebook examples pull request passed.

[2015-10-15 22:12] lesteve commented on #796
It's probably worth looking at the issues (and me at my notes if I can find them) to see whether there were still things to iterate on before the next sphinx-gallery release. I seem to remember the naming conventions still weren't that consistent but I could be wrong.

[2015-10-19 09:52] TheChymera opened #797 "Small Rodent Neuroimaging plots in Python"
I am looking for some python solutions to plot neuroimaging data from mice and rats.

I was pleased (and surprised) to see that nilearn offers some apparently quite nice plotting functions (at least for human data). I am wondering:
- Why does it make sense to package these plotting functions together with functions better described by ni_learn_? Would it not be more intuitive (and perhaps make the

[2015-10-19 09:58] AlexandreAbraham commented on #797
This has been discussed and the code is not mature enough to be separated from the core.

You can customize the background image used for regular plotting functions. For `plot_glass_brain`, the background template can be customized but it is not trivial for the moment.

What do you need exactly ?

[2015-10-19 10:13] TheChymera commented on #797
Something liktthis would be really nice:

![mouse_fMRI](https://cloud.githubusercontent.com/assets/950524/10575113/abbf6ee6-765a-11e5-8c42-63c338b6c70a.jpg)

[2015-10-19 11:31] GaelVaroquaux commented on #797
If you have a mouse anatomy and statistical maps as nifti files, you can use plot_stats_maps to do what you want.

[2015-10-19 11:42] lesteve commented on #712
Maybe related to https://github.com/scikit-learn/scikit-learn/issues/4737 ?

[2015-10-19 11:47] TheChymera commented on #797
what about the glass brain? Is drawing a set of contours myself the best way to go about it? any advice on how to do that?

[2015-10-19 11:49] GaelVaroquaux commented on #797
The glass brain is going to be specific to realigned humain brain.

Sorry, there is no ways outlines can be automatized.

[2015-10-19 11:55] eickenberg commented on #797
way to go about it? any advice on how to do that?

Glass Brain was made by hand. Take a look at

nilearn/nilearn/plotting/glass_brain_files/*.svg

You will see that there are three vector drawings. If you can create these
for the main gyri/sulci of the mouse brain, you can have a mouse glass
brain.

So it depends on how much effort you want to put into it.

Michael

On Mon, Oct 19, 2015 at 1:49 PM

[2015-10-19 12:03] AlexandreAbraham commented on #797
I have met people that would like to substitute the SVG file by freesurfer images. Maybe we should allow that.

[2015-10-19 12:05] GaelVaroquaux commented on #797
With what king of input format?

[2015-10-19 12:13] AlexandreAbraham commented on #797
Replacing it with a PNG should be fairly easy. The user just has to be sure that the image is aligned with the original SVG (which is difficult in the case of a rodent... I agree).

[2015-10-19 12:14] TheChymera commented on #797
I am here partly because I want to get away from freesurfer - which almost all modern plotting functionalities seem to depend on. For what it's worth I would recommend against depending on it, it depends onvery outdated versions of minc, and upstream is very non-responsive - even by scientific software standards...

[2015-10-19 12:16] GaelVaroquaux commented on #797
In theory, I would be +1 for input of background as a PNG.

However, I worry a lot about people not realigning their backgrounds
well, and publishing plots that are incorrect.

Also, I am afraid that this feature is going to generate a lot of user
support problems (my brain is not well aligned, please help).

I am a bit unsure whether it is wise to open this pandora box.

[2015-10-19 12:19] AlexandreAbraham commented on #797
This is already the case with the current background: we have no guarantee that the data provided is aligned with it.

Maybe we can give a choice at least between the SVG and a 3D image?

[2015-10-19 12:20] TheChymera commented on #797
So if I want a rodent glass brain, "all" I have to do is take one outer and one inner structural  slice for each axis, import it into inkscape, draw some contours on top of it, delete the imported bitmap objects, and save teh documents? Is there anything I am missing about this which would make it particularly non-trivial?

What would the advantage of a PNG over a SVG be here? why would aligning t

[2015-10-19 12:23] eickenberg commented on #797
On Mon, Oct 19, 2015 at 2:20 PM, Horea Christian <notifications@github.com>
wrote:

Yes, you choose a slice of your normalized rodent brain (if this exists)
and use inkscape to draw the contours of relevance. For your purposes you
may just replace the human glass brain with yours. Otherwise the code needs
to be changed to allow different options.

I don't see a difference. It would just be to supp

[2015-10-19 12:26] GaelVaroquaux commented on #797
Maybe just a 3D mask image and we compute the online of it (easy, just
compute the max along the direction and do a contour in matplotlib?

This would be open for contributions, but I don't see my team investing
in it in the short term, though, given how overcommitted we are.

[2015-10-21 12:54] AlexandreAbraham opened #800 "Plotting displays need refactoring"
Some methods of `BaseSlicer`, (`add_contours` for example) works perfectly in `GlassBrainAxes` because it relies on `tranform_to_2d`. Somebody should take a deeper look into it and find a new inheritance tree for these classes.

[2015-10-21 12:56] AlexandreAbraham opened #801 "Hemisphere plotting"
Some neuropeople asked me why we were only plotting the right hemisphere in nilearn. In fact, in our plotting functions, in the sagittal view, the brain is "looking to" the right, which means that this is a right hemisphere to neuropeople. We probably want to flip it when the slice is in the left part of the brain in plotting and make two sagittal plots (one left hemisphere and one right hemispher

[2015-10-21 15:47] AlexandreAbraham commented on #764
Ping @GaelVaroquaux

[2015-10-21 15:49] GaelVaroquaux commented on #764
.... @GaelVaroquaux is alive.

More seriously: fetch_atlas_aal is good. People don't even realize that
there is an SPM version of the AAL.

[2015-10-22 09:20] AlexandreAbraham commented on #204
I'm going to close this one because I can't see a clean way to do it while being in parallel.

[2015-10-22 09:28] #204 closed

[2015-10-22 11:24] #784 closed

[2015-10-22 12:46] GaelVaroquaux opened #804 "Set up appveyor to test on windows"
Inspired from eg joblib

Cc @aabadie : do you want to take that one?

[2015-10-22 13:35] aabadie commented on #804
@GaelVaroquaux sure !

[2015-10-22 13:43] AlexandreAbraham commented on #804
Damn, a new generator of red crosses?!

[2015-10-22 13:44] aabadie commented on #804
Potentially, the tests don't pass on windows....

[2015-10-23 12:05] #763 closed

[2015-10-23 17:33] Titan-C commented on #796
I'm having a look. Some of your current examples already have the notebook sintax

[2015-10-24 19:31] bcipolli commented on #640
I started working on this. It's worth mentioning that code for download and ICA analyses are already available ( https://github.com/NeuroVault/neurovault_analysis ); I believe it's just a matter of cleaning them up and formatting them for `nilearn` here.

I've got an initial downloader (with filters and caching of both images and metadata) working (initial version). The example is a bit trickier t

[2015-10-24 19:35] GaelVaroquaux commented on #640
Yes :). I'd like to make these things more reproducible. In the "CircleCI
automates and generate docs at each commit" sense of reproduciblity.

Thanks heaps. Maybe it's useful to split the work, and get first an
example with the data cleaning.

I think that this application is a bit "paradigmatic" in the sense that
it shows a rich data preparation pipeline, and we should design nilearn
so that pip

[2015-10-27 10:19] #755 closed

[2015-10-27 10:29] lesteve commented on #712
Quickly double-checked and it looks like generating the doc with sphinx 1.2.3 does work. The bug has been fixed in sphinx master so we'll just have to wait until the sphinx release, closing.

[2015-10-27 10:29] #712 closed

[2015-10-27 12:03] #764 closed

[2015-10-29 21:44] GaelVaroquaux opened #807 "Add a colorbar to plot_connectome"
There is no easy to have a colorbar in plot_connectome. We need to add this, controlled by a 'colorbar' argument.

[2015-10-29 21:49] AlexandreAbraham commented on #807
For what it's worth, I have some code to create colorbar out of the blue:

[code]

[2015-10-30 16:44] aabadie opened #809 "Failing tests on windows"
As reported in #808, a lot of nilearn tests are failing on windows. There's an issue with the path ot the datasets.

Here is one of the failing ci run : https://ci.appveyor.com/project/aabadie/nilearn/build/job/htt98au0b1j0hxnq

[2015-11-02 09:00] lesteve commented on #809
The path problems should be easy to fix.

The `nilearn.tests.test_signal.test_clean_confounds` one not so sure.

[2015-11-02 09:10] aabadie commented on #809
It seems the environ variables are not correctly set on windows. Trying to fix this.

[2015-11-02 09:17] aabadie commented on #809
Forget about this. The problem is in the logic of _get_dataset_dir

[2015-11-02 14:13] AlexandreAbraham opened #810 "Globbing should be advertised in doc/examples."

[2015-11-02 14:14] AlexandreAbraham opened #811 "Globbing should expand user."
Globbing is good but we should also expand `~` to user home directory.

[2015-11-02 14:17] AlexandreAbraham opened #812 "`cut_coords` is not clear for new users"
Some users complained about the fact that it is not possible to chose the location for the cut in plotting functions. It turns out that they did not know about `cut_coords`.

Also, for them, the `display_mode` is not clear. For example, they don't understand why they have to pass only 2 coordinates when using 'xz'.

[2015-11-02 14:18] AlexandreAbraham opened #813 "Make website more modern"
The nilearn homepage should promote some aspects of the package like "Easy Decoding", "Easy plotting" along with examples and appropriate links.

[2015-11-02 14:45] lesteve commented on #809
Also chatting with @GaelVaroquaux you want to set-up the tests on a 64bit architecture and forget about the 32bit ones. You are going to be very limited memory-wise if you want to use nilearn on a 32bit platform.

[2015-11-02 14:50] lesteve commented on #810
It is already in doc/manipulating_visualizing/manipulating_images.rst. Mentioning where it could be added would help.

[2015-11-02 15:04] aabadie commented on #809
I'm testing locally using a 64 bit version of python and also have the same "OverflowError: Python int too large to convert to C long" issue.

I could hopefully fix the path related issues.

[2015-11-02 15:07] aabadie commented on #810
+1 ;)

[2015-11-02 16:46] aabadie commented on #809
I created PR #814

Remaining issues:
* "OverflowError: Python int too large to convert to C long" raised in mass_univariate "permuted_ol" function. Some help will be greatly appreciated for this one.
* More problematic is the one concerning the access to multiple opened file at the same time on windows. For example:
[code]
will fail with the error message: """PermissionError: [Errno 13] Permission

[2015-11-02 16:49] AlexandreAbraham commented on #810
@GaelVaroquaux, have you some specific location in mind?

[2015-11-02 16:52] GaelVaroquaux commented on #810
Maybe in the "Getting started", where we talk about plotting, say, in a
sidebar.

We need to put ourselves in the shoes of the user. How does the user
discover this feature? I am not saying that it is easy to figure this
out, but we need to think about it.

[2015-11-02 16:59] GaelVaroquaux commented on #809
I think that this code is wrong. It should be:

<pre>
with tempfile.NamedTemporaryFile(suffix='.txt', mode='w+b') as f:
    f.write('toto')
    f.close()
</pre>

[2015-11-02 22:39] KamalakerDadi commented on #812
I have this in my mind since long time. The answer would be to explain all this unclear things with a very clear and good example. I realised this when I addressing simple issue related to ```n_cuts```

[2015-11-02 23:09] ignatenkobrain opened #815 "Python 3 support"
Hi, is there any plans to support python 3? At least 3.4. I'd want to have it because I'm packaging some stuff for Fedora which uses nilearn and I'd want to provide python2 and python3 in the same time.

[2015-11-03 05:56] GaelVaroquaux commented on #815
Python 3 is supported. As you can see, the tests pass under Python 3:
https://travis-ci.org/nilearn/nilearn/builds/88787892

With regards to packaging, thanks a lot! We are hoping to release version
0.2 in a few weeks.

[2015-11-03 05:57] GaelVaroquaux commented on #815
Closing, but feel free to continue the discussion if something is unclear.

[2015-11-03 06:21] ignatenkobrain opened #816 "[32bit] nilearn.image.tests.test_image.test_mean_img: Arrays are not equal"
[code]

[2015-11-03 06:22] ignatenkobrain commented on #815
[code]

[2015-11-03 06:28] ignatenkobrain commented on #815
Ah, I got it. I need to set LC_ALL="en_US.UTF-8". Thanks!

[2015-11-03 06:28] #815 closed

[2015-11-03 06:35] GaelVaroquaux commented on #815
OK, this is interesting. Let me try to reproduce the problem. What's your
local? "LC_ALL=ru_RU.UTF-8" ?

[2015-11-03 06:42] GaelVaroquaux commented on #816
CC @aabadie: is this similar to the problems you have observed under 32
bit?

[2015-11-03 06:44] ignatenkobrain commented on #815
`'SHELL': '/bin/bash', 'TERM': 'vt100', 'LANG': 'en_US.utf8', 'LC_MESSAGES': 'C'`

[2015-11-03 06:50] GaelVaroquaux commented on #815
Darn, I cannot reproduce. I must be missing something

[2015-11-03 06:51] ignatenkobrain commented on #815
don't worry. that envvars in chroot for building RPM package, in user environment it's okay by default =)

[2015-11-03 07:32] aabadie commented on #816
@GaelVaroquaux, the overflow is the same. I don't think I have the other one.

[2015-11-03 07:53] lesteve commented on #812
I thought what @AlexandreAbraham had in mind was to allow to pass cut_coords as list of 3d coordinates irrespective of the display_mode. This way you can change the display_mode without having to worry about changing cut_coords.

[2015-11-03 08:00] aabadie commented on #816
@GaelVaroquaux, still about the overflow, be aware that my architecture is not i686 but x84_64 with windows.

[2015-11-03 08:12] aabadie commented on #809
@GaelVaroquaux, I agree. But now in the test (see test_img_plotting.py, function test_plot_anat), we use it like what I described above:
[code]

Using the code below works (of course) but I need a confirmation of the solution:
[code]

[2015-11-03 08:15] aabadie commented on #809
@GaelVaroquaux, about the overflow error, I made a simple test:
[code]
* result on windows (using anaconda python 3.4, 64 bits): int32
* result on linux (using same anaconda python 3.4, 64 bits): int64

I think built numpy/scipy provided by anaconda are 32 bits on windows which explains this issue.

[2015-11-03 08:16] GaelVaroquaux commented on #809
Can you try with a = np.zeros(10) and tell us what you get?

[2015-11-03 08:17] aabadie commented on #809
float64...I'm lost

[2015-11-03 08:19] GaelVaroquaux commented on #809
I think that in this situation you should use tempfile.mktemp. Now this
is not a context manager, so you will also have to use a try/finally
block to make sure that the file is removed.

[2015-11-03 08:24] GaelVaroquaux commented on #815
OK, I've tried harder, but I cannot reproduce. Let's hope that nobody
else will hit this.

[2015-11-03 08:27] ignatenkobrain commented on #815
Do you want me to provide environment for you ?)

[2015-11-03 08:28] ignatenkobrain commented on #815
I already saw this issue with other pkgs so likely issue in mock utility for rpm

[2015-11-03 08:31] GaelVaroquaux commented on #809
OK, so it's indeed a 64bit install, but the default integer is 32bit.
Interesting.

[2015-11-03 08:32] GaelVaroquaux commented on #815
Only if it's super easy. I would have liked to fix that in our codebase.

[2015-11-03 09:49] dohmatob opened #817 "Nilearn resampling doesn't support int16, throws RuntimeError: data type not supported"
Reproduce with:
[code]

I think similar data types are also concerned

Possible fix: The data should be cast before passing to `ndimage.interpolate`, etc.

[2015-11-03 09:51] GaelVaroquaux commented on #817
Agreed for the fix, with a warning about the casting.

Do you want to submit a PR?

[2015-11-03 09:58] KamalakerDadi commented on #807
@GaelVaroquaux Can you be more explicit about no easy ? Will ```_colobar_show``` in ```displays.py``` be not useful here ?

[2015-11-03 10:03] dohmatob commented on #817
OK, sure. I'll send one this evening.

[2015-11-03 10:05] dohmatob commented on #817
The following code segment is really dangerous (lines 457 --- of `nilearn/image/resample.py`):

[code]

For example, image data.type were "int8". This would lead to "float8", which doesn't exist.

[2015-11-03 10:10] dohmatob commented on #817
Affected types:

[code]

[2015-11-03 10:17] dohmatob commented on #817
Ok, in fact the previously posted code segment ( (lines 457 --- of `nilearn/image/resample.py`) actually introduces the bug. It fabricates `resampled_data_dtype = "float16"`, which doesn't exist.

[2015-11-03 10:27] dohmatob commented on #817
See PR #818.

[2015-11-03 11:00] aabadie commented on #809
I created #819 which hopefully (and magically) fixed the issue

[2015-11-03 15:21] lesteve commented on #807
I remember playing with this a while ago and I vaguely remember that it wasn't that simple to reuse our colorbar code. From my notes:

the colorbar stuff is done in add_overlay
so that passing cmap=edge_cmap and colorbar=True in plot_glass_brain
doesn't do anything ...

Something I hacked together in img_plotting.py (not even sure that was working TBH)
[code]

Also I am not sure whether we want to

[2015-11-03 17:35] GaelVaroquaux commented on #809
With the 2 PRs merged, is there still something failing under Windows?

[2015-11-04 07:48] aabadie commented on #809
@GaelVaroquaux, yes PR #814 is still pending. There are still other problems with context manager in _create_tmp_imgs test utility function that I want to fix.

[2015-11-04 08:05] GaelVaroquaux commented on #809
OK, I just merged #814
I'll let you tackle the rest and create a PR.

[2015-11-04 08:43] #817 closed

[2015-11-04 12:07] GaelVaroquaux commented on #817
Good job Elvis! Thanks

[2015-11-04 13:44] #804 closed

[2015-11-04 15:19] aabadie commented on #809
We are getting closer to complete this issue. Just a summary of what is remaining:
* Lots of remaining issues like:
[code]
I tried what @GaelVaroquaux suggested IRL without success. I also tried to remove the contextlib decorator and get the filenames using list(write_tmp_imgs()) but then it breaks the initial test logic. I need some help on those ones.
* Appveyor raises 3 other issues with py27 b

[2015-11-05 12:49] GaelVaroquaux opened #822 "space_net._crop_mask returns incomprehensible error when mask is empty"
I have a user getting an error that he does not understand at all when the mask extraction has failed:

<pre>
C:\Users\LYF\AppData\Local\Enthought\Canopy\User\lib\site-packages\nilearn-0.1
.5.dev0-py2.7.egg\nilearn\decoding\space_net.pyc in path_scores(solver, X, y,
mask, alphas, l1_ratios, train, test, solver_params, is_classif, n_alphas,
eps, key, debias, Xmean, screening_percentile, verbose)

[2015-11-05 12:53] dohmatob commented on #822
Oops! Ok, sure. Lemme reproduce and then fix it. Thanks.

[2015-11-05 12:55] GaelVaroquaux commented on #822
Thanks!

[2015-11-05 15:03] Leo-YF-Liu commented on #822
Thanks for your work for my issue. I tried the updated code with a mask file, but the same error shows up.

There is my code:
import numpy as np

# make X (design matrix) and y (response variable)
import nibabel
from nilearn.image import index_img

train_index = np.ones(60)>0
test_index = np.ones(600)>0

X_train = nibabel.load('C:\\Users\\LYF\\Desktop\\sim2train.nii')
X_test = nibabel.load('C:\\Us

[2015-11-05 15:05] GaelVaroquaux commented on #822
Can you put 'mask.nii' somewhere online, so that we have a look at it?

[2015-11-05 15:22] Leo-YF-Liu commented on #822
I cannot upload in the discussion at https://github.com/nilearn/nilearn/issues/822.<https://github.com/nilearn/nilearn/issues/822>

I have attached it in the email. And also the training data set and a brief description of the setting.

The mask is just ruling out the surface of the 20 by 20 by 10 box.

Leo Yu-Feng Liu
Ph.D. Candidate
Department of Statistics and Operations Research
University of

[2015-11-05 15:28] Leo-YF-Liu commented on #822
Here is a dropbox line for the three files I mentioned in the last reply.
https://www.dropbox.com/sh/pnj8kduyivvwmss/AABq_AL6WyB6ueMwoHnuyh75a?dl=0
Let me know if that does not work.
Thanks.

[2015-11-05 15:28] GaelVaroquaux commented on #822
Where? I am sorry, I missed it. If you need a temporary transfer service
to upload the file, we can provide that, just let us know.

[2015-11-05 15:28] GaelVaroquaux commented on #822
That works. Thanks

[2015-11-05 15:50] aabadie commented on #809
@GaelVaroquaux, all tests are passing now on Windows. Just to let you know, we disabled matplotlib as it makes the python interpreter crash at exit with python 3.4. I cannot reproduce this behavior on my system. It's a bit weird.

All the rest is ok.

Maybe we can close this issue (along with #804 until the webhook is added to github).

[2015-11-05 15:55] GaelVaroquaux commented on #822
@Leo-YF-Liu : I am on it. It seems that it doesn't have much to do with your mask, but is a bug in our code. We'll have this fixed soon.

[2015-11-05 15:57] Leo-YF-Liu commented on #822
@GaelVaroquaux Thanks a lot. :)

[2015-11-05 16:02] dohmatob commented on #822
Yes, it's a bug in our code, reproducible with:

[code]

I'll look at it asap.

[2015-11-05 16:12] dohmatob commented on #822
OK, the bug concerns the interpretation of `screening_percentile`: does 100% mean 100% of standard brain or 100% of **this** brain ? There was once a debate on this issue, and we retained: the first meaning.

For @Leo-YF-Liu's particular example, 100% of standard brain = 0.044438533900526642 of **this** brain, leading to an essentially empty mask.

[2015-11-05 16:15] Leo-YF-Liu commented on #822
@dohmatob I tried to remove the option, i.e. decoder = SpaceNetClassifier(penalty=penalty1,loss = 'logistic',mask=mask). The same error still occur. What I want is just a mask that contains all the voxel in the image.

[2015-11-05 16:19] Leo-YF-Liu commented on #822
My data is not a typical brain image. It's just a simulated 20 by 20 by 10 image.

[2015-11-05 16:20] dohmatob commented on #822
On Thu, Nov 5, 2015 at 5:19 PM, Leo-YF-Liu <notifications@github.com> wrote:

Ya, saw that already.

--
DED

[2015-11-05 16:38] dohmatob commented on #822
OK, I just pushed a fix on PR #823.

Demo code.

[code]

![graph-net](https://cloud.githubusercontent.com/assets/634068/10974773/030df910-83e4-11e5-9ea6-f10ad46643ef.png)
![tv-l1](https://cloud.githubusercontent.com/assets/634068/10974779/06c9e208-83e4-11e5-97d4-8cb32aa550c5.png)

[2015-11-05 16:50] GaelVaroquaux commented on #822
@dohmatob : I don't see anything.

But I am on it, I have diagnosed the problem, and I am adding logic (including warnings) to prevent from it.

[2015-11-05 16:51] aabadie commented on #816
@ignatenkobrain we recently merged fixes for the same kind of issues you have with i686 architecture. Can you try to run the tests again with latest master and check if your problems are still there ?

Thanks !

[2015-11-05 16:58] Leo-YF-Liu commented on #822
@dohmatob Your results are pretty good, but I tried your demo code, the same error showed up again. Did you update any internal code in the nilearn package? Shall I wait for the update of the package before I run the code?

[2015-11-05 17:01] GaelVaroquaux commented on #822
Yes, @domathob and myself are on it. Give me 20mn to do a PR, and another
hour of two for reviews and merge to happen.

[2015-11-05 17:04] dohmatob commented on #822
Sorry, the PR link i gave you was wrong. It's here: https://github.com/nilearn/nilearn/pull/824.

Also, i didn't notice @GaelVaroquaux was working on the issue. So, you may ignore the above PR.

[2015-11-05 19:42] ignatenkobrain commented on #816
hi @aabadie ! One issue still persist on 32bit. I updated started topic with only remaining problem.

[2015-11-05 21:18] #822 closed

[2015-11-05 21:21] GaelVaroquaux commented on #822
@Leo-YF-Liu : I believe that now your problem is fixed. You can pull master and rerun your analysis on the new version. Tell us if that works for you.

[2015-11-05 21:40] Leo-YF-Liu commented on #822
I just updated and tried, but the error still occurred.

[2015-11-05 21:40] Leo-YF-Liu commented on #822
This is the trackback log:

%run "C:\Users\LYF\Desktop\Dropbox (YUFENG)\sim1\sim1.py"
Mask volume = 812mm^3 = 0.812cm^3
Standard brain volume = 1.82724e+06mm^3 = 1827.24cm^3
Original screening-percentile: 100
Volume-corrected screening-percentile: 0.0444385
C:\Users\LYF\AppData\Local\Enthought\Canopy\User\lib\site-packages\sklearn\cross_validation.py:1601: DeprecationWarning: check_cv will return

[2015-11-05 21:41] Leo-YF-Liu commented on #822
This is the code I use:

import numpy as np
import matplotlib.pyplot as plt
import nibabel
from nilearn.decoding import SpaceNetClassifier
from nilearn.plotting import plot_stat_map
X_train = nibabel.load("C:\\Users\\LYF\\Desktop\\sim2train.nii")
mask = nibabel.load("C:\\Users\\LYF\\Desktop\\sim1mask.nii")
mask = nibabel.Nifti1Image(mask.get_data(),mask.get_affine())
a = np.array([1, 2])
y_train =

[2015-11-05 21:42] Leo-YF-Liu commented on #822
Basically it's a copy of @dohmatob 's code, with some modification on the path of files.

[2015-11-05 21:43] GaelVaroquaux commented on #822
With the data and the script that you shared, I am no longer getting an
error.

Are you sure that you are indeed running the latest code? How did you do
the update?

Can you paste the output of the run, with eventual warnings and the
corresponding traceback?

[2015-11-05 21:44] GaelVaroquaux commented on #822
That's strange, it looks like you are running the old code. How did you
do the update?

[2015-11-05 21:45] Leo-YF-Liu commented on #822
I downloaded the zip file from the website then unzip it. Then do the installation from that path.

[2015-11-05 21:48] GaelVaroquaux commented on #822
Which exact link? Just to be sure.

Which exact command? Once again, just to be sure, and help us understand
the problems.

[2015-11-05 21:51] GaelVaroquaux commented on #822
Scrap my previous questions: that's a different error that you are
getting, and the traceback below does show that you are running the latest
code.

<pre>
C:\Users\LYF\AppData\Roaming\Python\Python27\site-packages\
nilearn-0.1.5.dev0-py2.7.egg\nilearn\decoding\space_net.pyc in _crop_mask(mask)
61 original_screening_percentile = screening_percentile
62 # correct screening_percentile according to th

[2015-11-05 21:53] Leo-YF-Liu commented on #822
I downloaded it from https://github.com/nilearn/nilearn, lower right corner, icon download zip.
Then unzip it on my desktop, and run python setup.py install --user

[2015-11-05 22:00] GaelVaroquaux commented on #822
OK, I find that the traceback that you are getting is very surprising. It
pretty much makes no sense. I wonder if there is not a mixture of the new
and the old code.

Can you, reinstall, but before you do the operations for reinstallation,
can you remove completely the directory
C:\Users\LYF\AppData\Roaming\Python\Python27\site-packages\nilearn-0.1.5.dev0-py2.7.egg

[2015-11-05 22:07] Leo-YF-Liu commented on #822
Great!!! It works now! Thanks a lot for the big effort you and your team made today!

[2015-11-05 22:13] GaelVaroquaux commented on #822
Awesome! That's good news.

Well, interacting with you was useful, as it revealed a bug in our code,
and that before we released it to the public. Thanks a lot for the
detailed information.

I hope that you get good results with nilearn.

[2015-11-05 22:28] cinvro opened #826 "cannot fetch atlas_harvard_oxford"
dataset = datasets.fetch_atlas_harvard_oxford("cort-maxprob-thr0-1mm")

give following errors:

URLError: urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)

[2015-11-05 22:35] GaelVaroquaux opened #827 "Numerical error with scikit-learn master"
nilearn.decomposition.tests.test_multi_pca.test_multi_pca fails with scikit-learn master (but not 0.16). I suspect that this is a numerical instability in scikit-learn and that @giorgiop might know something about that.

While @giorgiop is still at the lab (ie in the next few days), we should investigate that.

<pre>
======================================================================
FAIL: nile

[2015-11-05 22:41] GaelVaroquaux commented on #826
This is an SSL certificate problem.

@AlexandreAbraham : should be simply using the HTTP URL, instead of the HTTPS one? I checked and it works.

[2015-11-05 22:43] AlexandreAbraham commented on #826
I fixed the URL. @cinvro, could you try again with the last version of the code?

[2015-11-06 02:04] cinvro commented on #826
It works now. Thank you @AlexandreAbraham @GaelVaroquaux .

[2015-11-06 05:59] GaelVaroquaux commented on #826
OK, so I close the issue.

[2015-11-06 05:59] #826 closed

[2015-11-06 07:29] lesteve commented on #827
The test that fails is the following:

[code]

@arthurmensch was telling me that we should remove it the other day. I don't remember the exact reason though.

[2015-11-06 07:37] arthurmensch commented on #827
I believe this behavior is expected : we use a random matrix in range
finder to perform initial projection.  For the result above to be true, the
random Matrix should be to the concatenation of twice the same random
matrix. Basically the large eigenvalues vectors are very close, but those
associated to smaller eigenvalues won't be.

The test that fails is the following:

# Test that the components

[2015-11-06 07:42] arthurmensch commented on #827
The element that changed in scikit learn master is that n_iter went from 0
to 2 in randomized_svd if I am not mistaken

I believe this behavior is expected : we use a random matrix in range
finder to perform initial projection.  For the result above to be true, the
random Matrix should be to the concatenation of twice the same random
matrix. Basically the large eigenvalues vectors are very close,

[2015-11-06 07:43] GaelVaroquaux commented on #827
Fair enough, but it's not obvious from a cursory look that this is what
is happening.

If it's indeed the case, we need to fix the test to check only for the
leading eigenvalues (for instance by extracting only a small number of
components).

[2015-11-06 07:48] giorgiop commented on #827
@lesteve is this the only svd-related test failing with the current dev version of scikit-learn or there are more?

[2015-11-06 07:50] giorgiop commented on #827
Correct.

[2015-11-06 07:51] GaelVaroquaux commented on #827
It's the only one

[2015-11-06 08:30] aabadie commented on #816
Thanks @ignatenkobrain.
What is your setup exactly ? So I can try to reproduce.

[2015-11-06 08:35] ignatenkobrain commented on #816
Packages installation log (all packages installs from repository): https://copr-be.cloud.fedoraproject.org/results/ignatenkobrain/neurofedora/fedora-rawhide-i386/00134863-python-nilearn/root.log.gz
There is all versions and packages I have in buildroot.

Build log: https://copr-be.cloud.fedoraproject.org/results/ignatenkobrain/neurofedora/fedora-rawhide-i386/00134863-python-nilearn/build.log.gz

I

[2015-11-06 08:38] aabadie commented on #816
Thanks, that should be enough. I'll try with a 32 bit of centos VM locally (not exactly fedora but kind of).

[2015-11-06 08:46] ignatenkobrain commented on #816
On centos you can download src.RPM and do:
`mock -r fedora-rawhide-i386 --verbose --no-cleanup-after /path/to/src.rpm` and once it will fail do: `mock -r fedora-rawhide-i386 --shell` and all stuff will be available under /buildroot/BUILD/.

SRPM: https://ignatenkobrain.fedorapeople.org/neurofedora/python-nilearn-0.1.5-0.dev.2git78f1cb0.fc24.src.rpm

If nilearn uses nibabel or other nipy stuff - mo

[2015-11-06 09:57] arthurmensch commented on #827
Looking at the diff, it turns out that setting `n_iter = 0` in sklearn master is equivalent to setting `n_iter = 1` in sklearn 0.16

In nilearn master, we actually use `n_iter = 2` (default), that is `n_iter = 3` on sklearn 0.16. Setting `n_iter = 0` do not help as we still perform a QR on A A^T Q instead of A Q on previous sklearn version

[2015-11-06 10:26] lesteve commented on #827
For the record scikit-learn 0.17 is now available through conda. Because we use the latest versions for the Python 3.5 tests, Travis is failing in master at the moment.

[2015-11-06 10:26] arthurmensch commented on #827
It turns out that we need to force `transpose=True` in `randomized_svd`. This is actually expected regarding the equations: we feed `data.T` to `randomized_svd`, that is a p x n or a p x 2n matrix.
Randomized svd perform the computation:
- `data.T.dot(np.randn((n, k+10)))` (ref case) vs `data.T.dot(np.randn((2n, k+10)))` (tile case) if `transpose = False`
- data.dot(np.randn(p, k+10)) if `transpos

[2015-11-06 10:28] aabadie commented on #816
I could reproduce the issue.
pinging @lesteve just to have his opinion.

To me, there's a precision issue here between 32 bit and 64 bit. The arrays are almost equal. Replacing assert_equal with assert_allcose and using a tolerance of float64 resolution does the job.

I created #828 that it might not a fully satisfactory fix.

[2015-11-06 11:30] giorgiop commented on #827
This makes sense to me and should solve the issue.

[2015-11-06 12:42] AlexandreAbraham opened #830 "Certificate problem"
In #826, a user could not download an atlas because of SSL certificate verification error. He was probably behind a reverse proxy.

First, I think that we should favorize HTTP over HTTPS. I will make a PR to remove it where it is not necessary.

Second, it is possible to tell Python to ignore SSL verification. Should we do that? Ping @GaelVaroquaux .

[2015-11-06 12:44] GaelVaroquaux commented on #830
+1

+1

[2015-11-06 16:02] #827 closed

[2015-11-06 16:47] bcipolli commented on #640
Cool. I will be giving a "citizen science" talk at a public library in San Diego on Nov. 15; I hope I could have this ready to present for then. So, hope to have a PR done today or tomorrow and iterate with y'all then.

[2015-11-06 16:53] AlexandreAbraham commented on #640
Gael will be off this week end but I'll be there ;).

[2015-11-07 10:33] mrahim opened #833 "Spacenet classifier score gives r2_score"
`score` method is actually inherited from sklearn regressor class.

[2015-11-08 12:17] KamalakerDadi opened #835 "circular importing errors"
problem when trying to port code from `RegionExtractor` to `nilearn.image.image`. Because of this "global imports" problem, I have imported internally whichever necessary. It worked.

But, I think we should fix this problem. To not to get the same problem to others.
Discussions and ideas are welcome.

This is out of box but if anybody wants why I am doing this. please have a look at my `RegionExtr

[2015-11-09 10:14] lesteve commented on #809
For the record, I have added the AppVeyor webhook but it doesn't show in the PR at the moment. I need to investigate more ...

[2015-11-09 14:26] aabadie commented on #809
I confirmed the request sent to nilearn-ci (it uses my personal email). Is it ok now ?

[2015-11-09 14:35] lesteve commented on #809
To make a long story short, I had to give nilearn-ci write permission in github, revoke the github link you made in AppVeyor and reauthorize it as nilearn-ci.

One of the resource that was actually helpful:
http://help.appveyor.com/discussions/kb/4-show-multiple-statuses-in-github-pull-requests#comment_36808437

I think this should be OK now, look at https://github.com/nilearn/nilearn/pull/613 (Th

[2015-11-09 14:36] lesteve commented on #809
Closing this one I'll open a new issue about the matplotlib segmentation fault on AppVeyor.

[2015-11-09 14:36] #809 closed

[2015-11-09 14:43] lesteve opened #836 "Segmentation fault on AppVeyor when installing matplotlib"
The segmentation fault happens after running the tests. I was able to reproduce it on my laptop.

For now we don't install matplotlib on AppVeyor meaning that the plotting tests are not run. This was a stop-gap solution to get the AppVeyor continuous integration up and running.

A few of suggestions:
* try to install matplotlib with conda rather than pip. Full disclosure I had trouble when doing t

[2015-11-11 10:17] alexsavio opened #840 "Add fetch AAL2 for SPM12"
Are you interested in a `dataset.fetch_atlas_aal2_spm12` function?
http://www.gin.cnrs.fr/AAL2

[2015-11-11 10:23] alexsavio opened #841 "Calculate something else than average signal for each region?"
I am not sure if you have already implemented it, it is also nice to get different measures out of the set of timeseries in a ROI, other than the `mean`.
In region.py, you calculate the `mean`:
https://github.com/nilearn/nilearn/blob/master/nilearn/region.py#L103

For example, have you thought of extracting the `first Principal Component` instead?
If you want me to, how would you recommend me impl

[2015-11-11 21:41] bthirion commented on #841
AFAIK, this is sometimes done in the literature, probably under the premise that (for large ROIs ?) the average signal may not be a good summary. I have to say that I am not fully convinced by this use-case [my reasoning is: if the mean is not a good summary of the ROI signal, how can one be sure that the first principal component is a better summary ?].
Are you aware of any piece of evidence  / p

[2015-11-11 21:47] AlexandreAbraham commented on #841
@banilo already asked for that. A way to do it would be to have an `aggregator` parameter that could be a string or a function (similar to the `scorer` in sklearn). I thought about that but making it clean in the code (ie for regions, maps, spheres maskers) require some work.

[2015-11-11 21:48] GaelVaroquaux commented on #841
Also, inverse_transform will be quite hard to make work.

As @bthirion, I would like to see evidence that this is more than an
academic question, and that it is actually useful.

[2015-11-12 08:30] alexsavio commented on #841
Thanks for your replies!

Without searching, I know these scientists who do and suggest doing it differently:
- ww.ru.nl/people/donders/beckmann-c/
- http://jesuscortes.info/index.php?option=com_content&view=category&id=5:jcr&Itemid=13&layout=default

I'm not defending one or another method, it was just a question to see if you were interested in this line of development as well.

How would you ge

[2015-11-12 08:47] KamalakerDadi commented on #841
I could not access full paper Smith et al. "Methods for network modelling from high quality rfMRI data" but piece of information grabbing from his poster tells this.

"Subject-specific node timeseries are then estimated, given the
group-ICA parcellation, using a variant of the first stage of
dual-regression [6], termed eigenregression: For each group-
ICA component S, all other components are firs

[2015-11-12 10:46] GaelVaroquaux commented on #840
What are the differences in terms of the Atlas?

[2015-11-12 11:04] alexsavio commented on #840
It has an "Implementation of a new parcellation of the orbitofrontal cortex in the automated anatomical labeling atlas". Rolls ET, Joliot M & Tzourio-Mazoyer N (2015) . NeuroImage 0.1016/j.neuroimage.2015.07.075.
![the new parcellation](http://www.gin.cnrs.fr/IMG/png/figure_aal2.png)

I am having a small issue working on these AAL2 files though. The voxel values in the .txt labels file don't match

[2015-11-12 11:44] GaelVaroquaux commented on #840
Yes, it's horrible. We have it because it is standard.

:(

It's thus probably not possible to have it, unless they are willing to do
a specific arrangement.

[2015-11-12 14:39] alexsavio commented on #840
For me it is not an issue. It would be nice to have it here though.
Would you like to add it to the `datasets` module? I don't mind contacting them.

[2015-11-12 14:43] GaelVaroquaux commented on #840
It would be fantastic if you would contact them. We can put a note in the
documentation stipulating the conditions of use. We cannot put something
where there is an action from the user, as things need to be able to run
without user intervention, eg on clusters.

[2015-11-12 14:50] #816 closed

[2015-11-12 16:17] aabadie commented on #836
If you agree, I'll have a look at this issue in the coming days

[2015-11-12 16:37] GaelVaroquaux commented on #836
That would be great. Maybe report upstream on the matplotlib tracker, if
you can get a good reproducible case and a c-level stack trace.

[2015-11-12 22:25] bthirion commented on #841
Thanks for looking at this.

My opinion is:
* Given the popularity of the method, it makes sense to consider it
* However, I am convinced neither by Steve's arguments, that are not formal enough, nor by the simulation (you can always show anything you wish whenever you know how to use a random number generator).

[2015-11-12 22:29] GaelVaroquaux commented on #841
It remains: how do we do inverse transform?

[2015-11-12 22:33] bthirion commented on #841
You can always consider the extraction of the first eigen-signal as a projection, and use  the pseudo inverse to do the inverse transform.

[2015-11-13 05:54] GaelVaroquaux commented on #841
So:

* at fit time: eigen vector is computed
* at transform time, eigen vector is applied as a projection
* at inverse-transform time, transform is inverted?

Is that what you have in mind? I suspect that the separation between
computation of the eigen vector at fit time and application at transform
time might surprise people.

[2015-11-13 08:37] bthirion commented on #841
Agreed. You will most typically use fit_transform.

Note also that this idea does not make sense for discrete features...

[2015-11-13 20:23] KamalakerDadi commented on #830
If you haven't started, can I address this in Megatrawls PR ?

[2015-11-13 21:02] AlexandreAbraham commented on #830
You can take care of it but in a separated PR.

[2015-11-13 21:07] KamalakerDadi commented on #830
I would replace all https to http? Is it not necessary for all of them ?

[2015-11-13 22:11] AlexandreAbraham commented on #830
In a first time, we can replace the URLs that works in http, typically nitrc ones. In a second time, we can disable the certificate checking directly into the download request.

[2015-11-13 22:25] KamalakerDadi commented on #830
Ok Thanks.

[2015-11-14 19:33] bcipolli opened #843 "gzipGzipFile.max_read_chunk does not exist in Python 3.5"
See https://github.com/nipy/nibabel/issues/209 for more info. This property seems to have been removed in Python 3.5, so read performance likely will revert to the unacceptably slow speed.

in https://github.com/nilearn/nilearn/blob/master/nilearn/__init__.py#L48 :

[code]

[2015-11-15 10:34] GaelVaroquaux commented on #843
Indeed, we have observed very slow I/O at the lab.

That explains it.

We'll need to find a solution (I have no idea which one, though :$), because something like the human brain project becomes untractable.

[2015-11-16 09:00] lesteve commented on #843
:confused: Is any one using Python 3.5 for research at the lab?

[2015-11-16 09:48] #833 closed

[2015-11-16 10:21] AlexandreAbraham commented on #843
If I'm not mistaken, it has been replaced by `io.DEFAULT_BUFFER_SIZE`.

[2015-11-16 10:28] GaelVaroquaux commented on #843
Great!!!!! Let's fix it, then.

[2015-11-16 10:29] GaelVaroquaux commented on #843
@arthurmensch is, I believe

[2015-11-16 10:40] AlexandreAbraham commented on #843
I use 3.4.

This is not 100% sure but I have no time to test it. I just happened to have python3.5 source code on my box so I took a quick glance.

[2015-11-16 10:58] lesteve commented on #843
For the record, the commit removing max_read_chunk is: python/cpython@845155b. Haven't tried to look into it more than that.

[2015-11-17 01:18] TheChymera commented on #797
Ok, so I will be working with [this](http://chymera.eu/nie/QBI_atlas100.nii) mouse brain template - and I would like to draw a glass brain for it.

I see that the human glass brain `.svg` graphics fill the "pages" of the respective documents to the brim. As you can easily see, my mouse brain template has a bit of black padding around the edges. Should I preserve this in my glass brain `svg`?

[2015-11-17 01:22] TheChymera commented on #797
Also, once I finish drawing the images - how can I actually use them for plotting?

[2015-11-17 02:03] TheChymera commented on #797
Does this look like a passable coronal projection to you guys?

http://chymera.eu/img/coronal.svg

[2015-11-17 13:18] alexsavio commented on #841
As far as I see the functions that must be "heavily" modified are the ones in `regions.py`, and the Maskers would need an 'aggregator' argument in their constructor functions to pass to these functions later.
Am I missing anything?

[2015-11-18 10:12] AlexandreAbraham commented on #800
It is actually working perfectly out of the box. Closing.

[2015-11-18 10:12] #800 closed

[2015-11-19 09:06] #836 closed

[2015-11-19 21:33] bthirion commented on #841
Sounds right to me.

[2015-11-20 02:20] dohmatob opened #846 "session_pca function should be private / protected"
`nilearn.decomposition.multi_pca.session_pca` seems to be a very low-level helper function (undocumented params, etc.)

[2015-11-20 08:54] arthurmensch commented on #846
See PR #693, it will be refacored

[2015-11-20 08:57] arthurmensch commented on #843
A nibabel fix now permits to read > 4GB gz files (e.g. HCP) on Python 3. Performance is similar to the one in python 2, should we fix the monkey patching ?

[2015-11-20 09:40] lesteve commented on #846
That's what I kind of thought, closing.

[2015-11-20 09:40] #846 closed

[2015-11-20 09:42] dohmatob opened #847 "Implement fslmaths operators like : -add, -sub, -mul, -div, -mean, -std, etc."
In the spirit of the mean_img, iter_img, handy functions which are now part of nilearn, It'll be nice to have the full `fslmaths`  stack of operators implemented. We do such operations all the time on niimgs.

[2015-11-20 09:54] AlexandreAbraham commented on #847
The easiest way would be to extend all numpy operators to niimg (just by applying them on the arrays if they have the same affine).

[2015-11-20 10:05] eickenberg commented on #847
or more generally the same underlying voxel grid

I like the idea. I am assuming people coming from fsl would really like to
see this. Has there been any demand from outside for this?

On Friday, November 20, 2015, Alexandre Abraham <notifications@github.com>
wrote:

[2015-11-20 11:56] GaelVaroquaux commented on #843
Yes. We should strive to always be performant with as little user
intervention as possible.

[2015-11-20 12:04] GaelVaroquaux commented on #847
What's the signature you have in mind for the function?

We could try to have something that takes an expression. For instance

<pre>
math_img(formula, **variables)
</pre>

where "formula" would be evaluated in a numpy context merge with
**variables, enabling the following

<pre>
z_diff_img = math_img("np.mean(img1, axis=-1) / np.std(img1, axis=-1) "
	    " - np.mean(img2, axis=-1) / np.std(img2,

[2015-11-20 14:01] dohmatob commented on #847
I had something very basic in mind. For example,

`div_img(img1, img2)`: returns voxel-wise division of `img1` by `img2`
`sub_img(img1, img2)`: ...
`std_img(img1)`: ...
`add_img(im1, img2)`: ...

[2015-11-20 14:05] GaelVaroquaux commented on #847
My proposal isn't hard to implement, and it avoids an explosion of
functions (think that users start wanting the log, or the
exponentional...)

[2015-11-20 14:09] eickenberg commented on #847
and having a subset of these in `__add__`, `__mul__`, `__rmul__`, etc:
advisable or not?

On Fri, Nov 20, 2015 at 3:05 PM, Gael Varoquaux <notifications@github.com>
wrote:

[2015-11-20 14:17] AlexandreAbraham commented on #847
The problem is that a list of img is a valid img so you would have to override list operators.

[2015-11-20 14:20] dohmatob commented on #847
- If users ask for `log` and `softmax`, we simply say No.
- Really, all I had mind was do something along the the spirit of the `mean_img` by implementing: add_img, sub_img, std_img, and add_img. Not implement a sandbox for executing arbitrary lambda functions :). This looks like overkill, and answers a different question.

[2015-11-20 14:30] GaelVaroquaux commented on #847
No. Implicit is better than explicite. We don't want users to confuse
niimgs with arrays.

[2015-11-20 14:31] GaelVaroquaux commented on #847
I mean "explicit is better than implicit" :)

[2015-11-20 14:32] GaelVaroquaux commented on #847
Until you, as a user want it, and then you'll open an issue asking if it
can be implemented :).

I disagree. Why is 'sub' more imortant than log? Why aren't
multiplication and division not on your list? Where is the cutoff?

[2015-11-20 14:38] dohmatob commented on #847
They're there. See the list I first posted:
`div_img(img1, img2)`: returns voxel-wise division of `img1` by `img2`
`sub_img(img1, img2)`: ...
`std_img(img1)`: ...
`add_img(im1, img2)`: ...

mul is more basic than log. The cutoff is: div, std, add, sub. Anything else can be constructed from these (including log) :)

[2015-11-20 14:50] dohmatob commented on #847
OK, maybe these are very specific needs, and the general good doesn't seem apparent. The issue may be ignored.

[2015-11-20 14:55] GaelVaroquaux commented on #847
No, I think that it's a good suggestion, and we need to talk it like
fslmath: with a fairly general solution. It's actually very easy to code.
It just requires an 'eval', after checking that every is on a common
affine.

[2015-11-20 14:55] AlexandreAbraham commented on #847
I don't think so. These functions could help shortening the code in several functions. I also had this idea but I was not sure about how to implement it. The "formula" proposition of Gael is tempting but I'm afraid of the amount work in the handling of errors, etc...

[2015-11-21 17:09] dohmatob opened #848 "Undocumented SpaceNet attributes"
At least the following attributes have no documentation in the docstring:  `best_model_params_` and `alpha_grids_`

[2015-11-21 17:55] banilo commented on #848
Good! Additionally, it is perhaps not sufficiently clear whether and how specifying a list to ``l1_ratios`` performs hyperparameter tuning. The practical question could be what the difference is to running ``SpaceNet*`` wrapped by sklearn's GridSearchCV.

[2015-11-22 08:57] banilo opened #849 "SpaceNet*.predict/score() give incomprehensible error message if not fitted before"
[code]

[2015-11-22 10:03] GaelVaroquaux opened #850 "Move nilearn.group_sparse_covariance in nilearn.connectome"
Now that the tangent space PR is merged, we have a 'nilearn.connectome' namespace.

We should move the group_sparse_covariance file in it, and import the objects in nilearn/connectome/__init__.py (and also move tests, and update the docs).

The goal would be to make nilearn.connectome a one-stop entry point to dealing with connectivity matrices.

[2015-11-22 10:16] KamalakerDadi commented on #850
I will take care of this.

[2015-11-22 10:18] GaelVaroquaux commented on #850
Thanks, @KamalakerDadi . I am assigning it to you.

[2015-11-22 14:04] dohmatob commented on #849
Ya, this is to be expected of course. We just need to catch this misuse in the predict method, and then fail gracefully with appropriate error message.

[2015-11-22 14:31] dohmatob commented on #849
I've opened PR #851 to address this issue.

[2015-11-22 14:55] dohmatob opened #852 "SpaceNet constructor crashes if n_alphas=1 specified"
The snippet,

[code]

Triggers the following error:

    SpaceNetRegressor(n_alphas=1, mask=mask).fit(X, y)
  File "/home/elvis/CODE/FORKED/nilearn/nilearn/decoding/space_net.py", line 827, in fit
    len(l1_ratios), len(alphas)) > 1:
TypeError: object of type 'NoneType' has no len()

[2015-11-22 16:18] banilo opened #854 "SpaceNet ignores voxel subset parameter"
It happened to me that `screening_percentile=100`was set in the `SpaceNetClassifier` constructor. Yet, `coef_` indicated that only a subset of the voxels was used, although `clf.screening_percentile` and `clf.screening_percentile_` showed the right value (100). There appears to be simple bug somewhere in the current master that ignores the user input.

[2015-11-22 16:21] GaelVaroquaux commented on #854
Are you sure that it's not the sparsity?

[2015-11-22 16:24] banilo commented on #854
Creation of the class instance was like this:

[code]

[2015-11-22 16:25] GaelVaroquaux commented on #854
Right, but you are using a sparse learning, so even without any feature
screening, it might be sparse, depending on the alpha chosen by
cross-validation.

[2015-11-22 16:37] banilo commented on #854
No, clf.coef hat only ~2900 variables, not the ~80.000 gray-matter voxels
that were in the input.

2015-11-22 17:25 GMT+01:00 Gael Varoquaux <notifications@github.com>:

[2015-11-22 16:47] GaelVaroquaux commented on #854
That doesn't make sense. clf.coef_ should always have the same number of
features. The screening is inverted.

I am afraid that you'll have to share an example that enables us to
reproduce the problem, because right now it is guess work.

[2015-11-22 16:57] dohmatob commented on #854
+1 for minimal working example to reproduce behavior.

[2015-11-22 17:03] dohmatob commented on #854
BTW, what's the output of  `print my_fitted_estimator.mask_.sum()` ?

[2015-11-22 17:09] banilo commented on #854
@drago:/storage/workspace/danilo/srne/struct_estimator_space.py

2015-11-22 18:03 GMT+01:00 DOHMATOB Elvis <notifications@github.com>:

[2015-11-22 17:10] GaelVaroquaux commented on #854
Let's keep this on publicly-available space, to avoid nilearn
development being restricted to parietal and close collaborators.

[2015-11-22 18:20] banilo commented on #854
Let's do it on the plot_haxby_space_net.py example. Just changed into ``decoder = SpaceNetClassifier(memory="cache", penalty=penalty, screening_percentile=100)``. Then I get the following values:

[code]

=> It's probably the automatic mask computation that fails in my above case.

[2015-11-22 19:35] dohmatob opened #855 "find_cuts falls crashes with empy mask"
`find_xyz_cut_coords(nibabel.Nifti1Image(randn(2, 2, 2), eye(4)), zeros((2, 2, 2)).astype(np.bool))`

/home/elvis/CODE/FORKED/nilearn/nilearn/plotting/find_cuts.pyc in find_xyz_cut_coords(img, mask, activation_threshold)
     65     my_map = data.copy()
     66     if mask is not None:
---> 67         slice_x, slice_y, slice_z = ndimage.find_objects(mask)[0]
     68         my_map = my_map[slice_x

[2015-11-25 14:41] salma1601 opened #857 "colorbar size and ticks in subplots with plotting.plot_img"
Hi,
I am using plotting.plot_img with a color bar and I have a problem with my colorbar: it is too big and the ticks overlay the image.
[code]

![plot_img_subplots](https://cloud.githubusercontent.com/assets/7080143/11399998/ffb2805e-938a-11e5-86b3-9fd3e2834be2.png)
I try to solve this by changing the figure size but when I have a lot of cuts it doesn't work.
Is there a better workaround ?
Thanks

[2015-11-25 15:29] banilo opened #858 "NiftiMasker.transform() "eats" big part of the target image data"
Just doing a simple a masker.transform() on this resting-state image (high values in the xE7 area) actually crushed most image values down to zero in the output (transformed) matrix. Appears to be a type-casting issue, perhaps in the NiftiMasker class? Any ideas?

[code]

Here are the input files:
https://dl.dropboxusercontent.com/u/4403154/MNI152GM.nii
https://dl.dropboxusercontent.com/u/4403154/

[2015-11-25 15:35] lesteve commented on #857
Just for later reference do you have a standalone snippet that reproduces the problem?

[2015-11-25 15:58] banilo commented on #858
Addendum: If I apply the mask by hand, all values remain in the output nifti. So there is some quirky thresholding/type-casting going on in the NiftMasker class.

[code]

[2015-11-26 07:56] salma1601 commented on #857
[code]

[2015-11-26 08:04] bthirion commented on #857
If you resize the figure, the rendering is not too bad, is it ?

[2015-11-26 08:12] salma1601 commented on #857
![figure_1](https://cloud.githubusercontent.com/assets/7080143/11418143/6efa0f62-941d-11e5-8da2-f10836637433.png)
Yes but my brains become too small. Plus I have to make it so wide that it does not fit into my screen so I find this strange isn't it?

[2015-11-26 08:18] AlexandreAbraham commented on #857
There is clearly a bug regarding the size of the colorbar. Didn't ben fix that bug in one od his unmerged PRs?

[2015-11-26 08:31] lesteve commented on #857
I seem to remember he had similar or related complaints but I was unable to find anything useful.

[2015-11-26 10:20] banilo opened #859 "Binarize image option for nilearn.image"
Often times we need to convert floating point images to corresponding binarize 0-1 image. It would just be fantastic to have a neat nilearn function to do this in various flavors.

[2015-11-26 10:29] GaelVaroquaux commented on #857
Things should work by default :).

[2015-11-26 11:50] AlexandreAbraham commented on #857
The problem is that it's not the point of view of matplotolib.

I took a quick look at your problem. It comes from the fact that you create subplots by hand, which is not supported by nilearn. By doing this, you break the automatic behavior of matplotlib on which nilearn rely.

For example,  if you do this:
`figure, (axes1, axes2) = plt.subplots(2, 1, figsize=(10,5))`

You obtain something more re

[2015-11-26 11:54] GaelVaroquaux commented on #857
OK. I agree that it is very difficult to support.

Maybe we should deprecate this feature. I know that some people won't be
happy, but it is a road to unexpected behavior.

[2015-11-26 11:54] arthurmensch commented on #857
You could try to use plt.figure (layout='tight') to automatically move
subplots to avoid overlap
Le 26 nov. 2015 09:12, "salma1601" <notifications@github.com> a écrit :

[2015-11-26 12:14] AlexandreAbraham commented on #857
It requires to call proper matplotlib methods to get information on the display instead of relying on the magical ability of matplotlib to find a good size for the plots.

Note that if you plot each line in a separate plot, the result is very ugly although there is no overlap of figures.

I think that I should explicit what happens in matplotlib and how this problem can be solved. When you plot so

[2015-11-26 12:31] GaelVaroquaux commented on #857
Indeed, and we are overriding this behavior in nilearn by registering a
specific formatter. It's tricky: most people don't understand this code.
But it's the code that makes the plots look nice by default.

We could make this formatter aware of the colorbar. That might be the
right way to do it. It requires someone who can understand the matplotlib
formatters to pick this up. That's the rare resou

[2015-11-26 12:37] KamalakerDadi commented on #859
I think I am missing the priority here. May be before this we need to address this circular importing error #835 ?

[2015-11-26 14:48] bcipolli commented on #857
@salma1601 can you post a code snippet to reproduce the problem?

As far as code I've done for plotting, I'm not sure any would fix this:

* I messed with the colorbar in #464 (merged).
* I played around with subplots in #212, code here: https://github.com/nilearn/nilearn/compare/master...bcipolli:issue-212
* I messed with the label colors (described [here](https://github.com/nilearn/nilearn/issue

[2015-11-26 14:48] bcipolli commented on #857
(note: just saw the code snippet; would be great to move/copy that to the issue-opening post)

[2015-11-26 15:54] bcipolli commented on #857
I just tried the `plot_mosiac` branch, and it has the same issue.

When we talked before, subplotting was considered to be advanced behavior. The default behavior actually works fine, using the reproducing script:

![image](https://cloud.githubusercontent.com/assets/4072455/11426426/3b122164-942a-11e5-8ad2-71ceaef2750d.png)

Simply setting the image size to compensate for the size of the plots als

[2015-11-26 15:56] GaelVaroquaux commented on #857
OK. Thanks for your analysis. We might want to close that issue, then.

[2015-11-26 15:58] AlexandreAbraham commented on #857
Is the space between the subplots acceptable? For me, it's a show-stopper if I consider publishing the image somewhere.

[2015-11-26 20:03] salma1601 commented on #857
Thanks for all the explanations !

Yes the space between the subplots is strange for me, but I guess this is also tricky.

[2015-11-26 21:50] GaelVaroquaux commented on #858
Could you post the full set of lines that enables reproducing? I need the
lines with which you instanciate the masker (to know the options that you
are using), and how you fit it.

[2015-11-26 21:50] bthirion commented on #858
The problems comes from the fact that the affine of the RS image is wrong:
In [36]: nib.load('rsfix_img732.nii').get_affine()
Out[36]:
array([[ 1.,  0.,  0.,  1.],
       [ 0.,  1.,  0.,  1.],
       [ 0.,  0.,  1.,  1.],
       [ 0.,  0.,  0.,  1.]])

In [37]: masker.mask_img_.get_affine()
Out[37]:
array([[  -2.,    0.,    0.,   90.],
       [   0.,    2.,    0., -126.],
       [   0.,    0.,

[2015-11-26 23:03] banilo commented on #858
@GaelVaroquaux: The NiftiMasker instantiation is completely standard - just the mask image is specified in the constructor, then fit().

[2015-11-26 23:05] banilo commented on #858
Good to know that the affine is probably the culprit. Some users might expect the masking/transforming to take place in voxel space (and assume affine does not play a role), rather than brain space (and assume affine is relevant).

[2015-11-27 05:53] GaelVaroquaux commented on #858
Please do give me the lines. My hunch is that you are making a user error
here. So I do need the lines to actually check.

[2015-11-27 06:05] banilo commented on #858
Here we go with the code:

[code]

[2015-11-27 06:27] AlexandreAbraham commented on #858
@GaelVaroquaux the culprit is the affine, no need to investigate further.

[2015-11-27 06:34] GaelVaroquaux commented on #858
OK. Then I don't understand why you are complaining: your mask image and
your data only partly overlap. The NiftiMasker is doing what it is
supposed to do.

[2015-11-27 06:34] #858 closed

[2015-11-27 06:38] GaelVaroquaux commented on #858
I closed the issue, but I worry a bit about user support.

We are always going to have users who feed in erroneous masks, and then complain that it does work.

If even @banilo, who is an advanced user (a developer even), opens an issue on the tracker when he does this, I fear that many more will.

A very simply plotting "plotting.plot_stat_map('rsfix_img732.nii', 'MNI152GM.nii')" can diagnose the

[2015-11-27 06:53] banilo commented on #858
Well, as proposed above, you might simply state explicitly in
docs/docstring that the masking (the "overlap") is examined in brain space
and that the affines need to be healthy for that.

Up to now, I though it is a simple "binary" operation in voxel space -
matrix matching. That is by the way what probably most people in matlab do,
who do not have a dedicated API such as nilearn does.

2015-11-27

[2015-11-27 06:56] GaelVaroquaux commented on #858
Sure. PR welcomed.

Every single operation in nilearn is implemented in brain space.

[2015-11-27 07:01] banilo commented on #858
This appears to be an overarching design principle that is worth mentioning somewhere at the very beginning at nilearn. How a about a short list à la "Overarching design principles":
* nifti image is the primary working unit, not 3D/4D matrices
* any comparisons/manipulation is done in world space, not voxel space
* transform() performs a manipulation, inverse_transform() reverses that manipulatio

[2015-11-27 07:03] GaelVaroquaux commented on #858
Sure. Where would you put this?

[2015-11-27 07:07] banilo commented on #858
Somewhere at the very beginning of the docs.

Or even more drastically think about ~5 core design principles of nilearn usage (such the onces mentioned above) that are printed to the console by default after ``import nilearn``...

[2015-11-27 07:11] GaelVaroquaux commented on #858
On Thu, Nov 26, 2015 at 11:07:43PM -0800, Danilo Bzdok wrote:

I am OK with a sidebar on this specific aspect in the getting started,
linking the page in "manipulating images" that explains what we mean by a
niimg.
Not anything more: it would be cluttering.

I'd rather not.

[2015-11-27 07:18] eickenberg commented on #858
hmm what is the point of equipping images with affines if they are then not
used?

maybe in this concrete case we can actually issue a warning: if the mask
shape and signal shape are exactly equal but affines differ, then warn
saying that nilearn considers these images different but that the user may
think they are the same. (Or if the mask is passed as just an array, go
voxelwise ..... I know, sc

[2015-11-27 07:19] AlexandreAbraham commented on #858
A dedicated page "from matlab to nilearn" would be the perfect place for that kind of information.

Also, I guess that `_check_same_fov` is called in the transform. We could raise a specific warning when the shape is the same but the affine is different, especially if the shape is dummy.

[2015-11-27 07:20] GaelVaroquaux commented on #858
I think that doing an 'and' on these two conditions, and a warning would
be a good thing. +1 for a PR on that.

[2015-11-27 07:21] GaelVaroquaux commented on #858
I think here it would be a 'from FSL to nilearn' rather. But indeed, such
a page would be great.

That's the right place to implement the warning of @eickenberg

[2015-11-29 11:32] GaelVaroquaux opened #860 "Switch all Haxby examples to use the 2nd subject rather than the 1st"
The first subject in the Haxby dataset is an unusually good subject. Prediction with this subject is too easy compared to any usual situation.

This is not the case for the second one. We should be using the second in our examples.

The drawback is that, that we would need to switch the default of fetch_haxby from n_subjects=1 to n_subjects=2, which will entail more download, and thus a heavier lo

[2015-11-29 11:45] AlexandreAbraham commented on #860
I am not against having an additional parameter to download a given subject.

[2015-11-29 11:49] GaelVaroquaux commented on #860
That's a good idea. Deprecating n_subjects, and replacing it by an
argument 'subjects' that would take a list, and would be '(2, )' by
default.

I am +1 on such proposal.

[2015-11-29 22:29] GaelVaroquaux opened #862 "Avoid documentation rot in continuous integration"
I have just added a 'make check' target to the doc Makefile. It fails when there is a warning in the docs.

I have also fixed all the warnings (hours of work :( ).

I think that we should add "make check" as a test on circleci. It needs to be done after we build the docs, as the examples need to be run for warnings to pass.

@jnothman : we might be interested in porting "make check" to scikit-lear

[2015-11-30 07:57] GaelVaroquaux opened #863 "Add a small section on NiftiSphereMasker"
We should add a small paragraph on the NiftiSphereMasker in the page doc/manipulating_visualizing/data_preparation.rst

[2015-11-30 08:33] mrahim commented on #863
I'm on it.

[2015-12-01 17:35] #855 closed

[2015-12-01 17:50] lesteve commented on #835
This would be great to fix that. This just needs a bit of thought about which direction the dependency should flow between packages/modules and probably some moving around.

Maybe something to do after the release so that we have more time to catch bugs.

[2015-12-02 07:59] GaelVaroquaux commented on #793
@arthurmensch : can you either do this today, or help Aina do it

[2015-12-02 08:09] GaelVaroquaux commented on #843
Has this been fixed? It has in nibabel, but how about our monkey patching?

[2015-12-02 08:09] GaelVaroquaux commented on #796
I did this over the week end. Closing.

[2015-12-02 08:09] #796 closed

[2015-12-02 08:12] GaelVaroquaux commented on #793
Cc @ainafp : I think that this is something that you could work on.

The idea is to use nilearn._utils.niimg._safe_get_data instead of the get_data method.

[2015-12-02 08:13] GaelVaroquaux commented on #811
Cc @aabadie : do you want to do this during the sprint (and add it to the docs).

[2015-12-02 08:14] GaelVaroquaux commented on #778
We should do this during the sprint.

[2015-12-02 08:17] bthirion commented on #778
I can do that one  i think.

[2015-12-02 08:26] GaelVaroquaux commented on #830
@aabadie : maybe you can take this one over?

[2015-12-02 09:06] aabadie commented on #862
I had a look at this one and I'm about to have something fully working on circle ci.

Here are my conclusions:
* make -C doc check requires packages to be installed on the Ubuntu VM (12.04): dvipng.
* installing extra packages was broken on the VM but I could fix the issue by removing the conflicting latex package (texlive-binaries).
* I'm now trying the identify the missing packages in order to h

[2015-12-02 09:39] bthirion commented on #778
Hm, I've just realized that the `dim` parameter simply does the trick.  I'm just going to add relevant documentation.

[2015-12-02 10:03] AlexandreAbraham commented on #830
@aabadie : I'll take a quick look at it.

[2015-12-02 10:31] GaelVaroquaux opened #866 "Add globbing to nilearn._utils.niimg_conversions._iter_check_niimg"
We should add globbing to nilearn._utils.niimg_conversions._iter_check_niimg

We should also add a specific error message to this function when the list is empty raising a valueerror saying explicitly that an empty list was given.

[2015-12-02 10:31] GaelVaroquaux commented on #866
Cc @aabadie

[2015-12-02 10:32] AlexandreAbraham commented on #830
A cross-version solution is described in this thread: http://stackoverflow.com/questions/19268548/python-ignore-certicate-validation-urllib2

I'll switch task for the moment and come back at it afterward. Do not hesitate to solve the problem if you have time.

[2015-12-02 10:37] aabadie commented on #811
@GaelVaroquaux, I'll take it.

[2015-12-02 10:38] GaelVaroquaux commented on #811
No hurry, by the way. I don't think that we should try to squeeze this in
for the 0.2 release.

[2015-12-02 10:39] AlexandreAbraham commented on #835
I see the problem for `masking` but I am doubtful for `reampling`. However, these problems are known. Let's move on and fix that later.

[2015-12-02 12:15] #341 closed

[2015-12-02 12:19] AlexandreAbraham opened #868 "Contours on glass brain"
This is possible but we should advertise it in an example.

[2015-12-02 12:25] GaelVaroquaux commented on #868
We need to add it to plot_demo_glass_extensive.py, using a new
'notebook-style' cell.

[2015-12-02 12:41] aabadie opened #869 "crc32 check fails on Circle CI"
While working on #862, I had an issue when running the `../examples/connectivity/plot_canica_resting_state.py`

Here is the full backtrace:
[code]
I bypassed this issue by removing the adhd folder from the `~/nilearn_data` cached directory, forcing another download of this data. I suspect the allowed cache size on circle is not sufficient for the nilearn_data.

[2015-12-02 12:42] dohmatob commented on #849
Fixed.

[2015-12-02 12:42] #849 closed

[2015-12-02 12:46] AlexandreAbraham opened #870 "Black background when plotting brains in PDF"
Steps to reproduce:

* Run this script:
[code]
* Open `test.pdf` using Inkscape.
* Save it as `test_.pdf`
* Open `test_.pdf` in evince: the background appears black.

[2015-12-02 12:49] lesteve commented on #862
The only reason we have to stick with the legacy Travis infrastructure is because we want to add neurodebian to the apt sources. For us to move the container-based one, we need Travis to add neurodebian to a white list. It hasn't happened and it is not clear whether/when it will. The PR on the travis repo is https://github.com/travis-ci/apt-source-whitelist/pull/10.

[2015-12-02 13:01] AlexandreAbraham commented on #869
The problem is that the fetching is fine. It crashes on file opening so we can't trigger a new downloading of the file automatically.

[2015-12-02 13:05] aabadie commented on #862
That's the purpose of using `sudo: required` in the travis configuration file. It gave the best of both world: one can use `sudo` (use in neurodebian setup script) and switch to the container infrastructure.

[2015-12-02 13:08] dohmatob commented on #852
Fixed by PR #853

[2015-12-02 13:08] #852 closed

[2015-12-02 13:15] dohmatob commented on #265
Fixed.

[2015-12-02 13:15] #265 closed

[2015-12-02 13:24] dohmatob commented on #848
By doing  cross val on `l1_ratios` ourselves, we fill more holes on the joblib computation grid. Of course you can always do GridSearchCV with SpaceNet as the estimator. Note that the alpha grid is dependent on which `l1_ratio` you're looking at.

[2015-12-02 13:27] AlexandreAbraham commented on #830
I'm on it.

[2015-12-02 13:39] lesteve commented on #778
But dim also affects the anat i.e reducing the contrast in the anat, doesn't it?

[2015-12-02 13:55] GaelVaroquaux commented on #778
It affects only the anat, but I think that this is what we want here.

[2015-12-02 13:57] dohmatob opened #872 "Bug: IndexError in fast_abs_percentile function"
[code]

[code]

This bug affects all the `find_cuts` functions of the plotting backend.

[2015-12-02 13:58] ainafp commented on #793
@GaelVaroquaux @arthurmensch :

I changed it but it still creates a new image because it uses new_img_like() from nilearn.image.image
I can substitute the whole line and return just _safe_get_data(img).
Is this fine? In this case, instead of
```new_img_like(img, img.get_data().copy(), img.get_affine().copy(),  copy_header=True)```
it just makes a deep copy
```img = copy.deepcopy(img)```
if it is n

[2015-12-02 14:01] lesteve commented on #835
Looks like we agree ...

[2015-12-02 14:02] lesteve commented on #870
Just checking the original test.pdf is fine, right?

[2015-12-02 14:06] AlexandreAbraham commented on #870
That depends. If you try to print it, it should be black. I just provided a
way to reproduce it using inkscape not to print one sheet of paper
everytime we want to test a solution.

Alex.

On Wed, Dec 2, 2015 at 3:02 PM, Loïc Estève <notifications@github.com>
wrote:

[2015-12-02 14:06] GaelVaroquaux commented on #870
Yes, but if you send it to a printer, it prints like the thing output by
inkscape :(.

Inkscape is just a way of reproducing without relying on a printer.

[2015-12-02 14:06] mrahim opened #873 "NiftiSpheresMasker crashes when radius is small"
When trying this:

[code]

The spheres are then empty.

[2015-12-02 14:15] dohmatob opened #874 "Incomprehensible exception thrown by NiftiMasker is computed mask is full"
[code]

[2015-12-02 14:15] lesteve commented on #870
OK that makes slightly more sense now, thanks.

[2015-12-02 14:24] GaelVaroquaux commented on #874
We need to change this to 'The mask is invalid as it is empty: it masks
all data'.

This phrasing is better because 1) is explicitely says 'empty', 2) it
says 'The mask', so if the users didn't give any (eg is was computed),
this makes sense.

[2015-12-02 14:24] lesteve commented on #872
@dohmatob I reformatted your comment, next time use fenced blocks delimited by triple backquotes for traceback, otherswise it's pretty hard to read.

[2015-12-02 14:28] dohmatob commented on #872
Thx, I updated your comment... :)

[2015-12-02 14:36] ainafp commented on #793
In new_img_like() in from nilearn.image.image, when copy_header is set to true, changing  header['scl_slope'], header['scl_inter'],  header['cal_max'] or header['cal_max'] change the value of the hash.
[code]

[2015-12-02 14:40] #811 closed

[2015-12-02 14:40] lesteve commented on #872
OK now I am very confused about fast_abs_percentile, is that expected?

[code]

Also the fact the two branches, the first one using sort and the second one using np.partition seem very unlikely to give the same result unless you use `[index]` and not `[index+1]`. From the documentation of np.partition:

[code]

Emphasis mine: **the value of the element in kth position is in the position it would b

[2015-12-02 14:45] dohmatob commented on #872
This is a fairly valid complain, but I'm afraid it is independent of the PR.

[2015-12-02 14:48] lesteve commented on #872
Not convinced, my hunch is that we shouldn't use `[index+1]` but `[index]` so that fixes your out-of-bounds indexing too. I.e. both are two different symptoms of the same underlying problem.

[2015-12-02 14:54] lesteve commented on #873
@mrahim small tip, you can use python after the triple back-quotes to have color highlighting in your snippet.

Other than that I can reproduce, here is the full traceback:

[code]

[2015-12-02 14:56] AlexandreAbraham commented on #830
I am in favor of closing this one: I was not able to replicate the original error (the behavior is very random depending on the certificate problem) and there is no trivial cross-version solution. The python package requests, used to simplify the handling of HTTP requests, has a flag to disable SSL verification. THe best option if we want to get rid of these errors may be to rely on it.

[2015-12-02 14:57] dohmatob commented on #872
Agreed. I think the partition branch of the code should be simply removed.
All we need do is data.sort() then return data[index + 1].

On Wed, Dec 2, 2015 at 3:48 PM, Loïc Estève <notifications@github.com>
wrote:

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2015-12-02 15:02] dohmatob commented on #872
OK, indeed, better still, we can do the fast_abs_percentile with [index] instead of [index + 1], and remove the sort(...) code snippet. However, note that for real wold data, these threshold will be very close together and the difference is only superficial.

[2015-12-02 15:03] aabadie commented on #866
I'll have a look (sorry I missed it)

[2015-12-02 15:03] ainafp commented on #793
Nevermind. It was just a copy.copy of the header inside new_img_like(). I changed it to copy.deepcopy()

[2015-12-02 15:09] lesteve commented on #872
The partition is a speed optimization (np.partition is only available from 1.7 onwards though).

I think that the argument of np.partition should be the same as the one in bracket, because this is the only guarantee given by np.partition as I noted above: "the value of the element in kth position is in the position it would be in a sorted array", and even "All elements smaller than the kth element

[2015-12-02 15:21] lesteve commented on #793
Have you opened a PR. This is the easiest way to comment on your changes.

[2015-12-02 15:22] aabadie commented on #866
Looking at the code  `_iter_check_niimg` internally calls `check_niimg`. If no file is found when consuming the generator, a ValueError is raise by `check_niimg`.

[2015-12-02 15:25] ainafp commented on #793
Done!

[2015-12-02 15:36] lesteve commented on #869
Do you have some evidence, CircleCI docs or others, to back up that claim?

[2015-12-02 15:41] aabadie commented on #830
+1 for Requests. The API is great.

[2015-12-02 15:41] dohmatob commented on #872
On Wed, Dec 2, 2015 at 4:09 PM, Loïc Estève <notifications@github.com>
wrote:

Yes, this is why we do the branching, to begin with.

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2015-12-02 15:44] lesteve commented on #872
Yup.

[2015-12-02 15:53] GaelVaroquaux commented on #872
We brainstormed at the sprint, and I can't see a good reason for not
using index. It seems like a simple and good solution.

[2015-12-02 15:54] AlexandreAbraham commented on #869
As suggested by @GaelVaroquaux, I can implement a check of file size at fetching. It would help narrowing down the problem.

[2015-12-02 15:54] lesteve commented on #862
:confused: If I am reading the docs correctly:
https://docs.travis-ci.com/user/workers/container-based-infrastructure
https://docs.travis-ci.com/user/workers/standard-infrastructure/

we are using the default (which is the same as sudo: required) i.e. going to the legacy infrastructure.

[2015-12-02 15:56] GaelVaroquaux commented on #830
-1 on dependencies.

Let's close this.

[2015-12-02 15:59] #830 closed

[2015-12-02 16:06] aabadie commented on #862
Indeed, I got confused by the error messages returned by circle ci. Now my understanding is that if you set `sudo: false` one time in your `travis.yml file`, later you have to explicitly set the legacy infrastructure using `sudo: required`, otherwise it uses the container infrastructure (even without the `sudo:false` in the configuration file).

[2015-12-02 16:11] aabadie commented on #869
Unfortunately not, I couldn't find any useful information about that in the circle ci documentation.

[2015-12-02 16:27] #874 closed

[2015-12-02 16:42] lesteve commented on #869
By the way you can restart the build with a SSH access with CircleCI, see [this](https://circleci.com/docs/ssh-build). Maybe that could help pinpointing the problem ?

[2015-12-02 16:46] lesteve commented on #869
In particular, if the CircleCI cache is somehow the culprit and corrupts the dataset, I find it slightly weird that the gzip file is valid enough to get to the CRC checks.

[2015-12-02 16:49] aabadie commented on #869
I agree with this. As suggested by @GaelVaroquaux, I'm currently trying to reduce the number of subjects (from all to 20) downloaded using `fetch_adhd()`. It seems to be better, let's wait for circle ci response.

[2015-12-02 16:50] aabadie commented on #869
Nice, of course it can help :)

[2015-12-02 17:14] AlexandreAbraham commented on #870
This patch solves the problem: https://github.com/matplotlib/matplotlib/pull/4595/files

It is hardly backportable.

[2015-12-02 17:14] GaelVaroquaux commented on #863
Fixed. Thanks

[2015-12-02 17:14] #863 closed

[2015-12-02 17:15] GaelVaroquaux commented on #870
Darn, matplotlib has compiled code, so we cannot put it in externals.

[2015-12-02 17:16] ainafp commented on #848
I'm on this one.

Few issues found already:
* ```cv_scores_``` shape was wrongly documented
* ```alpha_grids_``` doc missing
* ```best_model_params_``` doc missing and format list(list()) to be changed to ndarray
* ```alpha_``` is no longer an attribute
* ```all_coef_ , classes_ , coef_img_ , mask_ , memory_ , n_classes_ , w_ , ymean_ , Xmean_ , Xstd_ ``` attributes are missing

[2015-12-02 17:27] lesteve commented on #862
Hopefully you mean Travis here ...

Hmm slightly weird, but this may be Travis way of changing the default infrastructure on a per-project basis. I am guessing you are talking about Travis building on your branches from aabadie/nilearn otherwise I am a bit lost.

[2015-12-02 17:31] lesteve commented on #870
At least it looks like the fix is in matplotlib 1.5.0: https://github.com/matplotlib/matplotlib/blob/v1.5.0/lib/matplotlib/tests/test_backend_pdf.py#L126.

[2015-12-02 17:33] AlexandreAbraham commented on #870
Yes, the bug is solved in 1.5

[2015-12-02 17:47] lesteve commented on #870
Maybe we should close this one, since we are not planning to do anything about it.

[2015-12-02 17:56] AlexandreAbraham commented on #870
I am actually trying to solve it right now.

[2015-12-02 17:58] GaelVaroquaux commented on #870
He is going to solve it. You have no idea!

[2015-12-02 18:19] aabadie commented on #862
Yes sorry

Exactly I tried on a personnal project in order to avoid polluting the upstream repo.

[2015-12-02 18:27] lesteve commented on #866
Thinking about it, what is wrong with `nilearn._utils.check_niimg('~/*.nii', return_iterator=True)` or its check_niimg_4d equivalent?

[2015-12-02 18:29] lesteve commented on #862
OK that's what I thought. This may be useful to remember if we ever switch back and forth with nilearn/nilearn.

[2015-12-02 19:14] #793 closed

[2015-12-02 22:09] GaelVaroquaux commented on #380
@hanke : we have probably improved things significantly. It would really help on having feedback on how are things in the current codebase from a user perspective, to find out what are the things that surprise and tune nilearn better.

[2015-12-02 22:19] GaelVaroquaux commented on #869
Looks like we understood this guy (circleci was running out of cache). Hence a check on the file size might help.

[2015-12-02 22:28] GaelVaroquaux opened #884 "Better breakdown of the examples"
We are starting to have a lot of examples, which is a good thing, but can easily lead to getting lost in the information.

I suggest a new breakdown of examples:

* General: just a handful of examples

* Decoding: what we currently have

* Functional connectivity: what we currently have

* Plotting

* Manipulation of brain images

* Advanced

Basically, it would entail breaking up our current 'vis

[2015-12-02 22:54] lesteve commented on #884
Sounds reasonable to me.

[2015-12-02 23:00] bthirion commented on #884
Sounds good in general, but I wonder what you put in 'Manipulation of brain images' ?

[2015-12-03 05:53] GaelVaroquaux commented on #884
An example extracting ROIs from a statistical map (@KamalakerDadi has a
great one almost ready), examples about computing masks (we have a few),
the resampling example. Maybe more later, as we are finding that it is
very important to teach people to do efficient yet simple manipulations
of their data.

[2015-12-03 07:29] bthirion commented on #884
OK, the name and content may be further specified in the future anyhow.

[2015-12-03 08:42] aabadie commented on #866
`_iter_check_niimg` also do some resampling if needed.

[2015-12-03 08:45] GaelVaroquaux commented on #866
You are however right that we need to add seealsos in the docstring of
these guys. Seealsos are useful for developers, not only for users, as I
had not in mind the equivalence between these guys.

[2015-12-03 08:46] aabadie commented on #866
Should this be added to the corresponding PR?

[2015-12-03 08:47] GaelVaroquaux commented on #866
I think that it would be great. I would certainly make the codebase
better.

[2015-12-03 09:36] KamalakerDadi commented on #884
Breaking concept is nice to me.

As @GaelVaroquaux  mentioned especially I am reshaping sub section 4.3.5 in Section 4 considering my example on ROI extraction on statistical maps.

@GaelVaroquaux Do you need this for 0.2.1 or 0.2 release ?

[2015-12-03 09:38] GaelVaroquaux commented on #884
Let's do it for 0.2.1, and not 0.2, as I don't want to delay the release.

[2015-12-03 10:23] mrahim opened #886 "Broken links in docstrings"
Typically this one :
http://nilearn.github.io/building_blocks/manipulating_mr_images.html#niimg
I'm wondering if we can have a tool that checks automatically all links.

[2015-12-03 10:25] GaelVaroquaux commented on #886
make linkcheck.

But won't don't want it in CI, as it has a lot of false positives.

[2015-12-03 10:33] mrahim commented on #886
Ok, should we fix it right now before the 0.2 ?

[2015-12-03 10:34] lesteve commented on #866
Can we try to have the discussion only in only one place about `_iter_check_niimg` vs `check_niimg(..., return_iterator=True)`, i.e. the associated PR.

[2015-12-03 10:35] aabadie commented on #866
+1

[2015-12-03 10:35] GaelVaroquaux commented on #886
Yes

[2015-12-03 10:36] GaelVaroquaux commented on #866
I'd rather simply not have this discussion now, and focus on releasing the
0.2.

[2015-12-03 10:41] lesteve commented on #866
Same thing.

[2015-12-03 10:43] lesteve commented on #886
Thanks @mrahim for remembering this to us! Do you want to do it, i.e. basically do you have a good way to do a search and replace in all the nilearn files rather than by hand? Otherwise I'll do it.

[2015-12-03 12:39] #778 closed

[2015-12-03 12:50] #862 closed

[2015-12-03 13:01] arthurmensch opened #888 "Doc does not generate on python 3"
[code]

Looks like our version of numpydoc is outdated (see https://github.com/numpy/numpydoc/tree/master/numpydoc)

[2015-12-03 13:05] lesteve commented on #888
Yep this is known, we should update the sphinx extensions and nobody has found the time and/or energy to do it. PRs more than welcome!

[2015-12-03 14:47] lesteve commented on #213
Bumping this one up to 0.2.1.

[2015-12-03 14:48] KamalakerDadi commented on #835
Should we target this for 0.2.1 release ?

[2015-12-03 15:19] #886 closed

[2015-12-03 15:59] mrahim opened #889 "Cache directory in SpaceNet examples"
In the examples :
* `examples/decoding/plot_mixed_gambles_space_net.py`
* `examples/decoding/plot_haxby_space_net.py`

`memory="nilearn_cache"` should be used rather than `memory="cache"`
As it is, I have two cache folders in `example/decoding`.

ping @dohmatob

[2015-12-03 16:50] dohmatob commented on #889
OK, agreed there is some uniformaization to be done here. Thanks. Do you think you can do a PR for this ?

[2015-12-03 17:15] mrahim commented on #889
Yes

[2015-12-03 17:27] #889 closed

[2015-12-03 18:41] #872 closed

[2015-12-04 08:35] aabadie opened #891 "Add "Developper" wiki page"
I saw this in other projects on github (see https://github.com/RIOT-OS/RIOT/wiki) and I think this would be great to have something equivalent here and maybe in other projects.

We can use this issue to discuss what to put there or reject the idea.

[2015-12-04 08:54] GaelVaroquaux commented on #891
In general, I am very happy to back the idea of a contributor wiki.

However, we should start by adapting the CONTRIBUTING.md of scikit-learn
to a CONTRIBUTING.md to nilearn. The reasons are 1) it gets displayed
github in the pull requests, 2) it is under version control, and can more
easily be curated and reviewed by core devs.

[2015-12-04 08:54] bthirion commented on #891
That can be done by cherry-picking some stuff in http://scikit-learn.org/stable/developers/

[2015-12-04 10:06] aabadie commented on #891
@GaelVaroquaux, @bthirion thanks for the hints, I'll have a look.

[2015-12-04 19:34] banilo opened #892 "Feature Request: Structured Sparse PCA"
Given that there is now sparse PCA and (sparse) dictionary learning, how about implementing *structured* sparse PCA into the nilearn arsenal in the future?

cf.
http://arxiv.org/abs/0909.1440

[2015-12-04 21:10] bthirion commented on #892
I would not make this a priority, because efficiency should be improved before going to more complex versions of sparse PCA. Also, it unclear to me what is the best suited structured dictionary: why not TV-l1 regularized ?

[2015-12-04 21:34] banilo commented on #892
SSPCA could be interesting for unsupervised questions and TV-l1 for
supervised questions.

2015-12-04 22:10 GMT+01:00 bthirion <notifications@github.com>:

[2015-12-07 23:24] bcipolli commented on #847
I like this suggestion, but I kind of lean towards having the simple functions. They're much more readable than their `math_img` counterparts. I worry less about function bloat; they can all be contained in a subpackage. `numpy` has the same issue (function bloat), and we just use the docs.

All of the basic functions could be thin wrappers around `math_img`. It would also avoid having different i

[2015-12-07 23:42] GaelVaroquaux commented on #847
But then we need to maintain them :(.

Generating them won't be easy, because we'll have to encode the signature
of all functions. This is I guess feasible, but it won't give trivially
easy code, and will thus have a maintainance burden.

[2015-12-08 14:40] AlexandreAbraham opened #893 "Fix dict_init doc in DictLearning"
"Initial estimation" does not make sense.

[2015-12-08 14:42] AlexandreAbraham opened #894 "Fix links in resting_state_networks.rst"
See #693

[2015-12-08 17:27] lesteve commented on #894
Does this issue implicitely include CircleCI broken in master (make html-strict has errors see [here](https://circleci.com/gh/nilearn/nilearn/890?utm_campaign=build-failed&utm_medium=email&utm_source=notification) for example) ?

[2015-12-08 22:03] rschmaelzle opened #896 "cast/type issue in high_variance confounds"
Hi All,
I am hitting a cast error with this line

[code]
The error goes like this
[code]

the versions we have installed are: nilearn 0.1.4.post1  and numpy 1.10.1
Any help is much appreciated! Love nilearn!
Best, Ralf.

PS see this seems to relate to https://github.com/scikit-learn/scikit-learn/issues/5397
PPS tried downgrading to previous numpy "conda install numpy=1.9.1", but then there are dep

[2015-12-09 02:03] rschmaelzle commented on #896
I see this probably relates to this:
https://github.com/scikit-learn/scikit-learn/issues/5397
am trying to fix, but so far unsuccessful.

[2015-12-09 07:44] lesteve commented on #896
What's your scikit-learn version? I would have thought this would be fixed in scikit-learn 0.17.

Conda tip: not sure exactly why, but you need to explicitly specify dependencies in conda when using conda install with a specific version, e.g. something like:
`conda install numpy=1.9.1 scipy scikit-learn'

otherwise you'll keep scipy and scikit-learn compiled with whatever your previous version of

[2015-12-09 15:55] AlexandreAbraham commented on #894
Fix pushed in master.

[2015-12-09 15:55] #894 closed

[2015-12-09 16:19] GaelVaroquaux commented on #894
Sorry, @AlexandreAbraham, I short cutted you. You should have pushed directly to master.

[2015-12-09 16:35] AlexandreAbraham commented on #894
That's what I've done ! This is an issue, not a PR. I pushed the fix last night.

[2015-12-09 17:26] rschmaelzle commented on #896
Thanks lesteve,
I tried to update to scikit learn 0.17, but this didn't solve the issue.
Am still testing to get it to work via downgrading (thanks for the tip), which involved more dependency issues than scipy and scikit-learn.
Best, Ralf.

[2015-12-10 08:26] lesteve commented on #896
Looking at this one more carefully, this doesn't have anything to do with scikit-learn. Here is a snippet to reproduce the issue:

[code]

I guess we need to convert int arrays into floats as we do in other places in nilearn.

[2015-12-10 13:24] #866 closed

[2015-12-10 14:38] KamalakerDadi commented on #633
See PR #651

[2015-12-10 15:41] GaelVaroquaux opened #897 "Change the default number of subjects in fetch_adhd from 40 to 30"
The rational is to avoid blowing the cache of dowloads in circleCI.

[2015-12-10 19:53] GaelVaroquaux commented on #896
+1

[2015-12-10 20:42] KamalakerDadi commented on #896
sklearn.utils.validation.as_float_array can be used here  to fix ?

[2015-12-10 20:44] KamalakerDadi commented on #896
May be also related to #471

[2015-12-10 20:45] GaelVaroquaux commented on #896
Indeed.

[2015-12-11 13:50] TheChymera opened #900 "Plotting anatomical images"
I am trying to plot the `.nii` file located [here](http://chymera.eu/NIhelp/nilearn_plot0/6_restore_maths.nii.gz), with this script:

[code]

The resulting image looks like this:
![figure_1](https://cloud.githubusercontent.com/assets/950524/11745019/47a5207e-a015-11e5-869c-b0a977100131.png)

I have two issues with that:
- My image only has 14 coronal slices. Mapping the slices via some other unit

[2015-12-11 14:41] salma1601 commented on #897
Can we do this while keeping the same ratio ADHD/controls ?
Also, the sites are not ordered when loading ADHD dataset but I don't know if this was done on purpose ...

[2015-12-11 14:44] GaelVaroquaux commented on #897
We need to check. That's a good point!

[2015-12-11 14:50] GaelVaroquaux commented on #900
Data is plotted in brain space (mm), not in voxel space. This explains
all what you are seeing. It's a design choice.

[2015-12-11 15:36] salma1601 opened #902 "[discussion]: PSC unit in NiftiMapsMasker"
I am in favour of replacing the argument standardize by normalize which would be one of `{'psc', 'std', None}` for the scaling of the raw time-series.
`'psc'`: percent signal change to force temporal mean within each ROI to 100.
`'std'`: standardized to force temporal standard deviation of each ROI to 1.
`None`: no scaling at all

But may be it is annoying to change the type and name of a paramete

[2015-12-11 15:58] bthirion commented on #902
I like the idea.

[2015-12-11 16:07] TheChymera commented on #900
how does this explain my caudal-most slices getting cut off?

[2015-12-11 22:21] bthirion commented on #900
Would you mind sharing such an image ? I have ne explain simple explanation for the cropping effect.

[2015-12-11 22:26] TheChymera commented on #900
@bthirion yes, I uploaded my NIfTI file and posted a link in my initial post.

[2015-12-11 22:46] bthirion commented on #900
OK, you need to realize that nilearn interpolates you image along cuts z=-50, z =0 etc.
Your initial image is not samples along the canonical axis (the affine --se below-- is not diagonal), meaning that the slice z=50 simply gets out of your image. It looks like fslview ignores the affine when displaying the image.

import nibabel as nib
nib.load('6_restore_maths.nii.gz').get_affine()
Out[13]:
arr

[2015-12-11 23:07] TheChymera commented on #900
Ok, two questions then:

* Wouldn't that mean that on each slice the top voxels would be taken from the next one caudally? Since my image is so sparsely sampled I would expect that to be noticeable (bot for the other two slices I plot above it seems all of the voxels are indeed from the same slice.
* How can I get nilearn to plot my image according to its own affines? If not is there a simple way

[2015-12-13 19:53] GaelVaroquaux opened #904 "Rewrite region extraction example to use DictLearning instead of CanICA."
Example
http://nilearn.github.io/auto_examples/connectivity/plot_extract_regions_canica_maps.html#sphx-glr-auto-examples-connectivity-plot-extract-regions-canica-maps-py
should be rewritten to use DictLearning instead of CanICA

[2015-12-13 20:06] KamalakerDadi commented on #904
I can take care of this.

[2015-12-13 20:09] GaelVaroquaux commented on #904
Awesome. Thanks!

[2015-12-14 08:05] sho-87 opened #906 "EEG data"
Just came across this project, seems very interesting. Is it possible to use this with scalp EEG data, or any plans to include in the future?

[2015-12-14 08:12] AlexandreAbraham commented on #906
No, you should take a look at mne python for eeg processing http://martinos.org/mne/stable/index.html

[2015-12-14 08:13] agramfort commented on #906
indeed :)

[2015-12-14 08:13] #906 closed

[2015-12-14 10:02] lesteve commented on #634
Closing since #693 has been merged.

[2015-12-14 10:03] #634 closed

[2015-12-14 10:06] lesteve commented on #633
Closing since RegionExtractor has reached master probably via #898 and a push in master.

[2015-12-14 10:06] #633 closed

[2015-12-14 16:59] dohmatob opened #907 "Incomprehensible ValueError thrown by RegionExtractor"
I'll find time to expand on the issue desc and provide minimal example to rep.

`RegionExtractor(["image1.nii", "image2.nii"], threshold=3.)`

Throws error:

[code]

[2015-12-14 17:12] lesteve commented on #907
Would you mind describing in more details the part of the error message you find incomprehensible. It seems that you have provided threshold=3 and it is telling you you 0. < threshold <= 2.

[2015-12-14 17:24] KamalakerDadi commented on #907
I will go into more detailed version of this input type, what happens when user gave a list of 4D imgs. But as far as I see it should be a single 4D Nifti like object not a list of objects. If that's the case, I agree its incomprehensible error message. I will check it anyway.

Do you also have problem with single 4D image ?

[2015-12-15 10:17] SylvainTakerkart opened #909 "searchlight without cv"
Hello!

I'm trying to use the searchlight object, but I need to have access to the scores_ maps for each fold of the cv... Starting from the haxby example, I tried to modify the code as follows by removing the cv argument and the looping over the cv object (scikit-learn style):

[code]
but there's no 'predict' method... then I read the doc of the searchlight class, and it says that if no cv is giv

[2015-12-15 10:42] lesteve commented on #909
Have you tried, passing `cv=cv` into the SearchLight object?

[code]

[2015-12-15 11:46] GaelVaroquaux commented on #909
SearchLight cannot do "predict": the search light method is not a
predictive model. This is a fundemental limitation of the method, not of
our implementation.

[2015-12-15 13:13] SylvainTakerkart commented on #909
Hey, thanks for your feedback, but I think my question was not clear... Let me try to rephrase...

I'm trying to do a searchlight analysis where I would have access to the classification accuracy maps of each fold of the cv that I pass with cv=cv... Any suggestion on how to do this? (from what I understand, the searchlight.scores_ map is the average of the maps I'm looking for)

Sylvain

[2015-12-15 13:17] GaelVaroquaux commented on #909
searchlight.scores_ map is not computed that way.

You want the out-of-bag error for each fold? Then you have to run
multiple searchlights withCV objects that you craft to have only one
fold.

By the way: I don't know what you are trying to do, but it seems a bad
idea :).

[2015-12-15 13:25] dohmatob opened #910 "nilearn master broken ?"
https://ci.appveyor.com/project/nilearn-ci/nilearn.

This is probably an ad hoc Appveyor failure, but just to signalize in case not yet noticed. Issue can be closed at any time.

[2015-12-15 13:29] SylvainTakerkart commented on #909
OK, thanks Gael, and yes, that's what I want! Two more questions then...

1. for info, how is searchlight.scores_ computed?

2. can you guide me (at least to get me started) on how to design CV object with just one fold?

[2015-12-15 13:29] dohmatob opened #911 "Inconsistent and undocument return types for plot_stat_map (and probably other such API)"
- Stuff returned by  `plot_stat_map` is no documented (it seems a Slicer object is returned by default)
- if output_file is passed, then a None object is returned instead

It would be nice to have the return type documented, and also we should always return the same object type (e.g a Slicer).

[2015-12-15 13:31] eickenberg commented on #909
For 2. : You can use

from sklearn.cross_validation import ShuffleSplit
cv = ShuffleSplit(n_samples, n_iter=1, test_size=.5)

where test_size needs to be set to the fraction of data or the number of
data points that you want in your test fold.

On Tue, Dec 15, 2015 at 2:29 PM, SylvainTakerkart <notifications@github.com>
wrote:

[2015-12-15 13:54] SylvainTakerkart commented on #909
thanks, but, once again, I think my question was not properly framed, sorry... I actually want to do a LeaveOneLabelOut cv... so now, I'd need to construct several cvs which would correspond to each fold of my LeaveOneLabelOut cv

[2015-12-15 13:57] eickenberg commented on #909
Then maybe: define `cv` however you want, and then

[code]

[2015-12-15 13:59] KamalakerDadi opened #912 "utils to check for more verbose error message in sphinx doc errors"
This might be useful, from sphinx google discussions:

[code]

[code]

Could somebody share if they have other clever utils to deal with this doc problems ?
Currently, I have documentation errors with megatrawls data fetcher.  For instance "Unexpected indentation". I assume that it is because I used 5 References in my doc ?

Does somebody have any clue on what `54` represents ?
`<string>:54: (ERRO

[2015-12-15 14:00] KamalakerDadi commented on #912
This issue is just trying to acquire some information.

[2015-12-15 14:19] lesteve commented on #911
There is something in the html doc somewhere, have you checked?

[2015-12-15 16:13] dohmatob commented on #911
I don't understand the remark. I'm talking about function docstrings.

[2015-12-15 16:15] dohmatob opened #913 "plot_stat_map(..., cut_coords=some_int, display_mode="ortho") throws criptic error"
`plot_anat("funky.nii.gz", display_mode="ortho", cut_coords=6)`

[code]

We should check when `cut_coords` is an int and `display_mode` is `"ortho"` and then take best possible action (with appropriate warning) or fail gracefully.

[2015-12-15 17:27] lesteve commented on #911
Not everything has to be documented in the docstring. If you feel strongly about adding a 'Returns' section for all the plotting functions saying that it returns a display object, feel free to open a PR.

By the way the html doc explains all that [here](http://nilearn.github.io/manipulating_visualizing/plotting.html#adding-overlays-edges-and-contours) in some details.

[2015-12-15 17:59] lesteve commented on #913
Not a great error message ! I would just go for a ValueError with a message like "with display_mode='ortho', 'cut_coords' needs to be a list of 3d world coordinates. You provided 'cut_coords=...' instead." or something better phrased.

[2015-12-15 19:48] dohmatob commented on #911
On Tue, Dec 15, 2015 at 6:34 PM, Loïc Estève <notifications@github.com>
wrote:

This doesn't address the problem. How can you justify missing doc by
pointing to some html page ? Do you mean users can't figure out what a
function takes-in, outputs, etc. without having internet connection and
going over the project webpage, etc. ?

If you feel strongly about adding a 'Returns' section for all the pl

[2015-12-15 21:08] bthirion commented on #911
I think that this kind of high-level and probably highly-used function should be well-documented.
@dohmatob can you issue a PR ?

[2015-12-15 22:34] SylvainTakerkart commented on #909
excellent, that does the job, thanks a lot!!

other than that, I would still be interested in knowing how searchlight.scores_ is computed... thanks in advance!

[2015-12-15 22:48] banilo commented on #911
I would like to agree that a) consistency across plotting API and b) mentionning the output variable type in the docstring appears reasonable.

[2015-12-15 22:53] banilo commented on #909
One way to view this would be: searchlight performs repeated local function approximation and maps the results to each voxel of the brain (this is why a single predict is ambiguous), whereas other whole-brain classifiers would act on the brain, globally (predict then makes sense).

[2015-12-15 22:56] salma1601 opened #914 "fetch_atlas_harvard_oxford and symmetric_split"
I have 2 little issues with `symmetric_split`:
1) the type of the output changes if `symmetric_split` is True or False
[code]
(list, nibabel.nifti1.Nifti1Image)
[code]
(numpy.ndarray, str)
2) the parameter `symmetric_split` is allowed to be True for `'sub-maxprob-thr25-1mm'` but
[code]
throws an error `RuntimeError: data type not supported`.  May be not allowing for subcortical atlases as their la

[2015-12-15 23:10] GaelVaroquaux commented on #909
cross_val_score

[2015-12-15 23:26] GaelVaroquaux commented on #911
I agree about documenting the return.

With regard to not returning the display object when the file is saved,
this is by design. Indeed, these duisplay objects can accumulate and
create memory leakage. We are trying to garbage collect them ASAP when
they are not needed. It's actually the sole goal of the output_file
argument.

[2015-12-16 07:35] lesteve commented on #912
Out of interest, can you give the link you find this tip from.

[2015-12-16 07:45] KamalakerDadi commented on #912
[sphinx-dev] "Unexpected indentation." with no explainable cause

 Google groups. https://groups.google.com/forum/#!topic/sphinx-users/Xa-73qn-6Bo

[2015-12-16 08:20] lesteve commented on #911
I am just saying that you have to find the right trade-off between what you put in docstrings and what you put in your online doc. In this particular case, adding a 'Returns' section sounds reasonable. IMHO having some detailed explanation in the docstring similarly to http://nilearn.github.io/manipulating_visualizing/plotting.html#displaying-or-saving-to-an-image-file, not that much.

[2015-12-16 08:29] lesteve commented on #910
The badge is green again on https://github.com/nilearn/nilearn, seems like a temporary glitch.

[2015-12-16 08:29] #910 closed

[2015-12-16 11:03] SylvainTakerkart commented on #909
ok, thanks everybody!

(I guess you could also view the searchlight in yet another way for which having a predict method would make sense, but you probably have thought this through more than me ;) )

[2015-12-16 11:03] #909 closed

[2015-12-16 11:58] GaelVaroquaux opened #915 "Downloader for COBRE"
We should add a downloader for the COBRE dataset:
https://figshare.com/articles/COBRE_preprocessed_with_NIAK_0_12_4/1160600

Via @pbellec, who might be able to answer questions about this data.

[2015-12-16 11:59] GaelVaroquaux opened #916 "Downloader for multiscale parcellations"
https://figshare.com/articles/
Group_multiscale_functional_template_generated_with_BASC_on_the_Cambridge_sample
/1285615

Via @pbellec, who might be able to answer questions about these parcellations.

[2015-12-16 13:54] salma1601 commented on #914
I have another question @AlexandreAbraham
[code]
`print(atlas.labels[:5])` gives the right regions
[code]
while `print(atlas.labels[-5:])` gives the left regions
[code]
but when plotting they seem to me inverted because I expected the intensity growing from 0 for the Background to its maximum in occipital regions. Did I get something wrong ?
[code]
![ho_atlas](https://cloud.githubusercontent.com/a

[2015-12-16 14:46] pbellec commented on #916
Thanks @GaelVaroquaux for opening this issue. I had a look at what's involved. Looks like it needs
 1. a description file urchs_2015.rst under datasets/description
 2. the code to actually download the dataset should be added in datasets/atlas.py
 3. a test to check the integrity of the download should be added in tests/test_atlas.py

Can you please confirm I am not missing anything? I can certain

[2015-12-16 15:29] GaelVaroquaux commented on #913
+1 indeed. PR welcomed.

[2015-12-16 17:28] GaelVaroquaux commented on #907
No, I don't think that this is the problem. Nilearn correctly detects
that this is equivalent to a 4D niimg.

The problem is that Elvis didn't understand the bounds of the parameter.

Now that I realize it, that parameter should probably be a fraction, ie
between 0 and 1 independantly of the number of maps input, and it would
be internally multiplied by n_maps.

What do people think?

[2015-12-16 17:31] AlexandreAbraham commented on #914
You're right, I'll fix it.

Already splitted atlases should not be splitted again. The atlas you plot is actually not modified in our but the list of labels is modified even when it should not be. The code for that is quite horrible, I will rewrite it.

However, I have no RuntimeError, could you give me the trace of the error?

[2015-12-16 17:38] GaelVaroquaux commented on #907
After discussing IRL with @AlexandreAbraham, it seems that it is simply
me who does not understand the error message, and that the
parametrization is correct.

With only 2 maps, it is not possible to allocate voxels to 3 maps on
average.

[2015-12-16 17:43] bthirion commented on #907
All this makes sense, but will be suprising to many people who have done neuroimaging with other tools: they are used to equating 'thresholds' and 'statistical thresholds', while the concept of threshold used here is different, something like a 'selection threshold'. Maybe we should give a more explicit naming.

[2015-12-16 17:57] salma1601 commented on #914
Thanks ! and what about the right/left labels, is there a mismatch ?

RuntimeError                              Traceback (most recent call last)
<ipython-input-181-aac264309bdf> in <module>()
----> 1 datasets.fetch_atlas_harvard_oxford('sub-maxprob-thr25-1mm', symmetric_split=True)

/home/sb238920/CODE/Parietal/nilearn/nilearn/datasets/atlas.py in fetch_atlas_harvard_oxford(atlas_name, data_dir,

[2015-12-16 22:19] KamalakerDadi commented on #915
I think there is a PR in nilearn sandbox to get started and can be ported here. I guess.

[2015-12-16 22:23] GaelVaroquaux commented on #907
Yes. I cannot think of one right now, but I agree.

[2015-12-16 22:50] bthirion commented on #907
'ratio', 'selection_ratio' ?

[2015-12-17 08:12] AlexandreAbraham commented on #914
Like I said, the labels returned by the function when `symmetric_split=True` are wrong.

[2015-12-17 10:52] lesteve commented on #915
This is the one: https://github.com/nilearn/nilearn_sandbox/pull/1

[2015-12-17 13:15] KamalakerDadi commented on #915
Yup, the link which @GaelVaroquaux provided has direct downloading of data without in need of asking for password. So, may be adapt code to this weblink or may download data and group upload them in nitrc ? @AlexandreAbraham

[2015-12-17 20:52] rschmaelzle commented on #896
Hi ,
in nilearn's signal.py function I changed the following:
      from sklearn.utils import as_float_array, check_array, check_symmetric
and
in line 146 of the _detrend function, where the error was thrown...
       signals = as_float_array(signals)
       signals -= np.mean(signals, axis=0)
That seems to fix it for me and for now. Happy to proceed with learning nilearn.
Best r

[2015-12-18 07:30] GaelVaroquaux commented on #896
Fix submitted in #920 . The problem will be fixed in nilearn 0.2.2

[2015-12-18 08:50] KamalakerDadi commented on #913
Anybody on this ? I can take care of this.

[2015-12-18 09:15] AlexandreAbraham opened #921 "Fetcher for AICHA: Atlas of Intrinsic Connectivity of Homotopic Areas"
This is an atlas generated using ICA + K-Means. I could be interested by trying it but, if it is not fitted for nilearn, I can put it in the sandbox.

http://www.ncbi.nlm.nih.gov/pubmed/26213217

[2015-12-18 10:22] AlexandreAbraham commented on #915
I think that there is no need to mirror it. However, somebody should dig into the mat files to see if there is any useful information in there.

[2015-12-18 10:29] banilo opened #922 "find_xyz_cut_coords crashes on some compact binary images"
...trace back is:

[code]

The image on which this crashes is attached.

[dmpfc-3.nii.zip](https://github.com/nilearn/nilearn/files/66476/dmpfc-3.nii.zip)

[2015-12-18 11:35] dohmatob commented on #913
I don't think anybody is on it.

[2015-12-18 15:04] pbellec commented on #915
The mat files contain all the covariates that have been regressed out of the data (motion parameters, mean CSF signal, etc). It also contains a list of time frames that have been removed from the time series by censoring for high motion. This means there are missing time points, which is not a problem for correlation, partial correlation, etc but needs to be taken into account as soon as you model

[2015-12-18 15:05] pbellec commented on #915
There is also a csv file with the demographic and clinical variables, as well as a measure of frame displacement (à la power), which is the average FD for all time frames left after censoring.

[2015-12-18 19:36] GaelVaroquaux commented on #915
That's nasty! It means that the data cannot be time-filtered. We
absolutely need to warn people clearly about this in the description of
the data, as they will overlook this fact, and apply eg time filtering.

[2015-12-18 21:57] bthirion commented on #922
The issue is that the image that you provided is 4D (with the last dimension=1). if you remove the last dimension form your image, it is OK.
plotting.find_xyz_cut_coords(nib.four_to_three(nib.load('dmpfc-3.nii'))[0])

Should we support this kind of case ?

[2015-12-18 22:20] #913 closed

[2015-12-19 01:03] pbellec commented on #915
I see. These data originate for a publication and have already been filtered smoothed etc (check the README.md file for full details by the way). Thinking about it, for the purpose of integration in nilearn, it may be better to have unsmooth data with minimal denoising applied. I could of course package the motion parameters, FD measures, CSF WM signal etc for people to regress out (or censor) if

[2015-12-19 10:12] GaelVaroquaux commented on #915
That would be awesome. We could easily have a switch in the downloader
that would download one or the other. We could also demonstrate in an
example how the NiftiMasker can be used to retrieve the full preprocessed
from the minimally preprocessed.

[2015-12-19 22:28] banilo commented on #922
Ok, merci pour le conseil.

It would be nice to support the case because the 3D and Pseudo-4D images contain the same information and the optimal x, y and z cut planes can be expected to be the same. That appears intuitive to me.

[2015-12-19 22:30] banilo commented on #921
cf. https://en.wikipedia.org/wiki/Journal_of_Neuroscience_Methods

[2015-12-19 22:35] banilo commented on #915
Isn't this what they call "scrubbing"?

[2015-12-20 04:47] pbellec commented on #915
@GaelVaroquaux Then I'll work on that asap.
@banilo you're right, the approach applied here is the (Power et al. Neuroimage 2012) scrubbing method, based on their FD measure. Power et al. (Neuroimage 2014) have investigated the idea of replacing the "bad" time points by values extrapolated from the "good" time points in the regression, and further started using the term censoring. But in this rele

[2015-12-20 09:51] #896 closed

[2015-12-20 13:43] AlexandreAbraham commented on #922
As all functions working on img directly (not niimg), it assumes that the input has the right dimension. This has been done because this function is not "opened to public". So, two options:

* you use the regular way to load your image, meaning `check_niimg_3d`. It will convert your 4d image to 3d automatically
* We call `check_niimg_3d` at the beginning of `find_xyz_cut_coords`. It will then work

[2015-12-20 14:02] GaelVaroquaux commented on #922
These days it is exposed to the public. We should probably add a checker
in the input. Is there a downside?

[2015-12-20 14:04] AlexandreAbraham commented on #922
Well, a small computational overhead because we check the input data, that's all.

[2015-12-20 14:08] GaelVaroquaux commented on #922
It's probably tiny compared to the time of the funtion.

@banilo: do you want to do a PR?

[2015-12-20 14:13] banilo commented on #922
Sure, I'd be happy to.

As the find_* function is probably typically called for plotting, it should
not be called excessively and thus not typically cause a big overhead.

2015-12-20 15:08 GMT+01:00 Gael Varoquaux <notifications@github.com>:

[2015-12-21 18:39] salma1601 opened #926 "Harvard Oxford reloaded if FSLDIR not specified"
Again the fetch_atlas_harvard_oxford does not see my HO atlas in /usr/share/fsl. I added the FSLDIR to my .bashrc and now it works fine. Is this what it is adviced to do ?
Thanks !

[2015-12-21 23:53] AlexandreAbraham commented on #926
You need to be in an FSL environment to use its data automatically. On a standard install `source /etc/fsl.sh`.

[2016-01-04 10:44] #888 closed

[2016-01-06 10:17] salma1601 opened #927 "161 times series in fetch_abide_pcp with derivatives rois_dosenbach160"
I think it is an issue in the CPAC pipeline. Seems to me that the last region is not in the Dosenbach atlas but just an intersection between regions 108 (-5, -52, 17) and 115 (-11, -58, 17) which are too close.

[2016-01-06 10:49] AlexandreAbraham commented on #927
Please report your issue to the Preprocessed Connectome Project: https://github.com/preprocessed-connectomes-project

[2016-01-06 10:49] #927 closed

[2016-01-06 18:59] neurotronix opened #929 "Plots won't show up"
Hi everyone,

using nilearn on OSX El Capitan, when executing the example scripts like plot_demo_glass_brain.py no plots will show up. PiP and iPython linked to the same folders, matplotlib alone does show plots. All dependencies are up-to-date and installed. Don't really know how to fix this.

[2016-01-06 19:00] GaelVaroquaux commented on #929
How do you execute these scripts?

[2016-01-06 19:02] neurotronix commented on #929
I tried "python script_name.py" and "ipython script_name.py", respectively

[2016-01-06 19:03] GaelVaroquaux commented on #929
OK, "Python script_name.py" should work, but it might be an OSX thing, I don't know anything about OSX.

How do you get matplotlib to show plots?

[2016-01-06 19:07] neurotronix commented on #929
I just tested trivial things in the ipython environment like:
[code]
just to test whether matplotlib works properly

[2016-01-06 19:08] GaelVaroquaux commented on #929
Then just run the example using "%run filename.py" in the IPython
environnement where things work well.

[2016-01-06 19:13] neurotronix commented on #929
Ok, didn't try to run it from within python. Now plots show, but I also get following error:
[code]

[2016-01-06 19:16] neurotronix commented on #929
plots only show when I open ipython via `ipython --matplotlib` but then I get the error from above. When I open it with without `--matplotlib` flag, no plots and no error

[2016-01-06 19:16] GaelVaroquaux commented on #929
Out of curiosity, can you tell use what do the following return in
python:

<pre>
import os
print(os.name)
print('DISPLAY' in os.environ')
</pre>

[2016-01-06 19:19] neurotronix commented on #929
sure:
[code]

[2016-01-06 19:23] GaelVaroquaux commented on #929
I am starting to understand better what you are experiencing. Can you
also give us the output of:

<pre>
print(os.uname())
import matplotlib
print(matplotlib.get_backend())
</pre>

[2016-01-06 19:28] neurotronix commented on #929
cool, thanks for your help man. here is the output:
[code]

[2016-01-06 19:42] GaelVaroquaux commented on #929
OK. You can work in the "ipython --matplotlib" environment; it won't be any problem.

The rest are things that we can fix based on your feedback, so that it works seemlessly in all situations. We'll release a fix soon; Thanks!

[2016-01-06 19:43] neurotronix commented on #929
Many thanks, have a good day!

[2016-01-07 08:57] #926 closed

[2016-01-07 09:17] GaelVaroquaux opened #930 "Have a uniform representation of labels for atlases"
We should do the work of grabbing the labels of the atlases in the downloaders and expose them uniformely. It would make the life of the users easier.

[2016-01-07 09:22] AlexandreAbraham commented on #930
What do you mean?

[2016-01-07 09:24] KamalakerDadi opened #931 "Discussion for a bug fix: view_type='filled_contours' bug in plot_prob_atlas plotting function"
As per the latest release 1.5.0 matplotlib, taking zero in upper or lower level, simply ignores the masking values for colormap matplotlib contour fillings. As you can reproduce using this snippet:

[code]
![old_code](https://cloud.githubusercontent.com/assets/11410385/12151399/43b07c80-b4af-11e5-8a8b-3bfe758a73e7.png)

Here is a fix, I think:
Following discussions from https://github.com/matplotl

[2016-01-07 09:26] KamalakerDadi commented on #931
ping @AlexandreAbraham

[2016-01-07 10:19] AlexandreAbraham commented on #931
+1

[2016-01-07 11:29] MrFDA opened #932 "Deprecated function in an example in documentation"
The example provided in the documentation for extracting signals of a probabilistic atlas of rest functional regions (https://nilearn.github.io/auto_examples/connectivity/plot_probabilistic_atlas_extraction.html#sphx-glr-auto-examples-connectivity-plot-probabilistic-atlas-extraction-py) uses a deprecated function (fetch_msdl_atlas()).

[2016-01-07 11:41] KamalakerDadi commented on #932
Thanks for reporting. But, we have fixed this in nilearn master. It will be perfect for next release.

[2016-01-07 12:07] lesteve commented on #932
Thanks @KamalakerDadi, closing then.

[2016-01-07 12:07] #932 closed

[2016-01-07 12:16] AlexandreAbraham commented on #922
@banilo I think this is important for 0.2.2. Are you working on it?

[2016-01-07 12:20] AlexandreAbraham commented on #931
More precision on this problem. In matplotlib <1.5, asking to color the levels [1., 0.] colors all values above one. It works because of a bug in matplotlib with decreasing values. The contour code has changed in 1.5 and now giving non increasing list of levels yields an unexpected behavior (the actual Picasso painting at the top of this issue). So the proposition of Kamalakar makes the code compl

[2016-01-07 12:23] AlexandreAbraham commented on #902
+1

[2016-01-07 12:29] KamalakerDadi commented on #931
Yup, I am on it.

[2016-01-07 12:30] AlexandreAbraham commented on #931
Awesome!

[2016-01-07 14:43] #931 closed

[2016-01-07 19:06] GaelVaroquaux commented on #929
Note for self (I know how to fix this, and will submit a PR soon): sampling of MacOSX installs:

* os.name is always posix
* os.uname()[0] is always 'Darwin':
* "'DISPLAY' in os.environ": True 2 out of 3
* matplotlib.get_backend():
    - 'TkAgg' (on @ogrisel's computer)
    -  'MacOSX' on the two others

[2016-01-07 19:21] GaelVaroquaux commented on #930
Return in-memory labels, loaded from the CSV file. The code to load
labels in Harvard Oxford and MSDL are very different.

[2016-01-07 21:08] ogrisel commented on #929
Also:

[code]

this is the canonical way to detect OSX.

[2016-01-07 21:09] GaelVaroquaux commented on #929
Thanks! I was missing that.

[2016-01-08 08:40] dohmatob opened #934 "Wrapper object for sklearn estimators ?"
It'll be nice to have a wrapper object for sklearn estimators (SVC, Ridge, Lasso, etc.). The idea would be to mask the data (NiftiMasker, etc.) to get (X, y), run the sklearn estimator, and then unmask the coefs to get a brain image

This is useful, at least for benchmarks / comparisons, and such situations are quite frequent.

[2016-01-08 08:47] eickenberg commented on #934
Along the lines of https://github.com/nilearn/nilearn/pull/698 or different?

On Fri, Jan 8, 2016 at 9:40 AM, DOHMATOB Elvis <notifications@github.com>
wrote:

[2016-01-08 08:52] dohmatob commented on #934
Ya, definitely along those lines. Almost forgot about the meta-estimator PR. I was thinking of something really light, that does nothing trickier than wrap sklearn estimators. But #698 is probably aiming bigger.

[2016-01-08 08:56] eickenberg commented on #934
I agree with you that something really slim could be very useful -- with
something like that one could easily compare nilearn-native methods which
can deal with niimg objects to wrapped sklearn-estimators using exactly the
same interface. (I just started adding SVM to the mixed gambles example and
there is a lot of boiler plate to write which should be much less with the
type of object you propose

[2016-01-08 08:58] dohmatob commented on #934
+1. Same thing here.

[2016-01-08 15:23] KamalakerDadi commented on #907
Just to share some information about the usage of threshold and its strategies:

regions extraction based on statistical thresholds can be used based upon selecting ```thresholding_strategy='img_value'``` which will act according to given threshold in statistical value provided that the value should not exceed the ```max```.

regions extraction based on selection threshold can be done upon selecti

[2016-01-08 22:07] banilo commented on #922
I will do it this weekend

[2016-01-08 22:12] banilo commented on #902
+1

[2016-01-08 22:52] banilo commented on #907
'cutoff'?

[2016-01-11 13:25] KamalakerDadi commented on #907
I feel 'cutoff' than 'threshold' is even more difficult to reach to users.

[2016-01-11 16:11] dohmatob commented on #934
Something like https://github.com/dohmatob/nilearn/blob/ohbm2016/sklearn2nilearn.py. Used here https://github.com/dohmatob/nilearn/blob/ohbm2016/examples/decoding/plot_haxby_space_net.py#L87

[2016-01-11 16:32] KamalakerDadi commented on #915
@pbellec Could you let us know if you have released the package suitable for integration in nilearn ?

[2016-01-11 18:05] bthirion opened #938 "Region Extractor fails to converge in some cases"
The following code yields does not  converge on my box:

[code]

Does somebody understand what's going on ?

[2016-01-11 18:21] KamalakerDadi commented on #938
I will check

[2016-01-11 18:27] KamalakerDadi commented on #938
Quickly checking, I see some NAN values may be thats causing not converging ?

[2016-01-11 18:31] GaelVaroquaux commented on #938
So we need to convert NaNs to zeros.

[2016-01-11 18:32] bthirion commented on #938
I've tried with images from one contrast across subjects (also with NaNs) and did not get the problem.

[2016-01-11 19:46] KamalakerDadi commented on #938
Just curious, which contrast ?

[2016-01-11 20:45] bthirion commented on #938
'left button press (auditory cue)'
See https://github.com/nilearn/nilearn/blob/master/examples/manipulating_visualizing/plot_localizer_mass_univariate_methods.py

[2016-01-11 22:03] salma1601 opened #939 "add a fetcher for dosenbach160 atlas"
May be an interesting atlas to add

http://www.ncbi.nlm.nih.gov/pubmed/20829489

Gives a good connectivity matrix with 6 networks already identified in the paper

[2016-01-12 03:07] pbellec commented on #915
Sorry for the delay. Working on it.

[2016-01-12 09:54] #717 closed

[2016-01-12 10:04] KamalakerDadi commented on #938
I don't see NANs in this contrast.

May be fix for this kid of bug would be as @GaelVaroquaux said to convert NANs to zeros.

[2016-01-12 11:40] AlexandreAbraham commented on #859
This is linked to #847, we should probably propose a set of tools for image manipulation.

[2016-01-12 11:50] KamalakerDadi commented on #907
I am thinking of fixing this issue by rewriting error message as below:

[code]
What do you think ? @dohmatob @lesteve @GaelVaroquaux @AlexandreAbraham @banilo

[2016-01-12 12:04] AlexandreAbraham commented on #930
OK, you mean that labels are not loaded in MSDL. They are loaded in Harvard Oxford.

[2016-01-12 12:12] GaelVaroquaux commented on #930
Good point.

[2016-01-12 12:55] bthirion commented on #938
Hmm, I see. This is really weird that NaNs are present in certain t maps to denote backgreound, but not all of them...

[2016-01-12 13:36] AlexandreAbraham opened #941 "ConnectivityMeasure requires 3D data"
Otherwise it does strange stuff. Minimal example to come.

[2016-01-12 16:09] GaelVaroquaux commented on #902
+1

[2016-01-12 16:41] GaelVaroquaux opened #942 "Hemisphere separation mode for glass brain"
It would be great to have a mode for the glass brain that separates hemispheres in the lateral view.

It would look like:
![sphx_glr_plot_demo_glass_brain_001](https://cloud.githubusercontent.com/assets/208217/12269780/57486890-b953-11e5-9cc4-122f1cebc3f0.png)

and it would project on one side of the brain only activations with x > 0, and on the other side only activations with x < 0.

For plot_co

[2016-01-12 18:34] banilo commented on #942
+1 for the idea.

Should not be that hard to implement.

Sent from my iPhone

[2016-01-12 19:18] MartinPerez commented on #942
+1. What about also having the option of projecting in each hemisphere only its own activation, would be nice for the type of contrasts strongly lateralized like the language network and motor activations

[2016-01-12 21:28] GaelVaroquaux commented on #942
That's the goal. That's why I said "only x > 0"

[2016-01-12 21:54] bthirion commented on #907
'number of nonzero voxels across total number of maps (n_maps)' is still unclear to me, because when you say "number of nonzero voxels" people will think "maybe several hundreds (or thousands)".
IMHO the semantics of this parameters would be clearer if it were between 0 and 1, as it would represent a fraction of the population, which is easier to explain. I have to say, it is really hard to figure

[2016-01-12 22:02] banilo commented on #930
Perhaps in form of an additional option in ``NiftiLabelsMasker`` and ``NiftiMapsMasker`` ?

[2016-01-12 22:35] banilo commented on #915
I am also working with COBRE data...

[2016-01-12 22:36] GaelVaroquaux commented on #915
It's planned to work on it at the brainhack in Paris:
https://hackpad.com/Hacking-101-machine-learning-tutorial-DO7s0E1jIUD

[2016-01-12 22:45] banilo commented on #355
We still do not have an example that does in-your-face-teach the commonalities and differences of the sociology of the nifti masker clan, or do we?

[2016-01-12 22:47] GaelVaroquaux commented on #355
Nope. It might be good to have a notebook-like example on that.

[2016-01-12 22:48] banilo commented on #213
There appear to be now volunteers for this one. Would not @eickenberg be the perfect candidate, since he wrote big parts of the original implementation, if I remember correctly.

[2016-01-13 09:06] KamalakerDadi commented on #907
Is it not clear in terms of documentation or implementation ? I am not sure which part is hard to figure ?

[2016-01-13 09:18] AlexandreAbraham commented on #907
It is easier to explain but it defeats the purpose of the method presented here. The main advantage of this thresholding approach is that you can chose a value corresponding to a certain level of sparsity in the brain (1 if you want to avoid overlap, up to 3 if overlaps are OK for you) and then, no matter how many maps you provide, your atlas will always "look" the same, no adjustment needed. When

[2016-01-13 09:50] bthirion commented on #907
This makes sense, but then we need a serious refactoring of the documentation to clarify this, and ideally an example dedicated to region extraction that illustrates the impact of these parameters.

[2016-01-13 10:30] bthirion commented on #938
One step further:
[code]
triggers an Error.

[2016-01-13 12:33] #922 closed

[2016-01-13 12:52] #929 closed

[2016-01-13 12:52] lesteve commented on #929
@neurotronix your problem should be fixed in master. Could you please double-check and reopen this issue if this isn't the case ?

[2016-01-13 16:02] alexsavio commented on #840
We tried, but he is not responding anymore. :/

Thanks for the intention.

[2016-01-13 16:02] #840 closed

[2016-01-13 16:09] alexsavio commented on #812
Related to this, is there any way to plot in a grid instead of a row?
I mean, if I use cut_coords=40, I wouldn't like to plot 40 slices in a row, but maybe a grid of 5x8 slices.
I was thinking that an argument, e.g., `plot_grid=(5, 8)`, would help, if there is no other way to do this.
I have been trying to implement something like this for a while, if you indicate me what should be changed, I coul

[2016-01-13 16:15] GaelVaroquaux commented on #812
No. It would be nice, but it's a significant amount of work (requires
reworking the positionning code), and given that it is a fairly low
return over investment, our priori cannot be there for now.

[2016-01-13 16:26] neurotronix commented on #929
@lesteve Looking good so far. Plots now show up when scripts are called from shell. thanks!

[2016-01-13 16:32] GaelVaroquaux commented on #164
Now that the Jimura-Poldrack data is in nilearn, we can tackle this issue. For instance by doing a toy example classifying gains versus losses.

Any one up for that?

[2016-01-13 16:36] GaelVaroquaux commented on #929
That's excellent news. Thanks for your help diagnosing this.

[2016-01-13 17:27] GaelVaroquaux commented on #930
I'd rather not for now.

[2016-01-13 17:57] GaelVaroquaux opened #945 "Add a canonical brain mask"
We need a canonical brain mask. Maybe also one only of gray matter.

If they are very small, we should include them in the codebase (hence with a "load_brain_mask" function in datasets). If not, we need to create a "fetch_brain_mask" function in the downloaders.

If we choose to obtain it from the MNI template, eg doing:
<pre>
target_img = datasets.load_mni152_template()
grey_voxels = (target_img.

[2016-01-13 21:59] bthirion commented on #907
On 13/01/2016 10:06, KamalakerDadi wrote:

This means 3 things:
* The code does not run a clear operation on the data, like
thresholding, mean computation or extraction of connected components or
even a watershed analysis.
* Handling it with a multi-variate point of view  (n_maps > 1) is also
non-classical. I'm not aware of any such  procedure apart from that one.
* I am currently trying to run it

[2016-01-13 22:02] GaelVaroquaux commented on #907
Right, but that's exactly what the object is there for.

It should probably be named different, with a name that stresses that it
is multi-maps.

[2016-01-14 05:45] dohmatob opened #947 "SearchLight doesn't support memory parameter"
We should be able to cache the backend call to the `search_light` function, etc. to save time.

[2016-01-14 09:00] AlexandreAbraham commented on #947
True!

[2016-01-14 10:21] AlexandreAbraham commented on #938
We just checked that and this is a scikit-image issue when a seed is alone in the image (all the values around are masked).

[2016-01-14 10:33] KamalakerDadi commented on #938
Side note:
slightly reducing threshold from 98 -> 95 worked. No error triggered. We are trying to reproduce with scikit-image and report a bug issue.

![bert_issue](https://cloud.githubusercontent.com/assets/11410385/12322102/6c701fa0-bab2-11e5-8900-b5a6d7c24deb.png)

[2016-01-14 10:35] AlexandreAbraham commented on #938
The issue is there: https://github.com/scikit-image/scikit-image/issues/1875

[2016-01-14 10:39] bthirion commented on #938
This is great, thanks.
Since we're at it, here is another sample image that triggers an error: https://transfert.inria.fr/fichiers/2382a74e545211398cfdc28c6284e333/mental-random.nii.gz
Best,

Bertrand

[2016-01-14 10:43] alexsavio commented on #812
Do you think this will overcomplicate the code base? This is a feature I feel like doing, I will have a look through the code to have an estimate.

[2016-01-14 13:43] AlexandreAbraham commented on #938
Isnt'it the same error?

[2016-01-14 14:37] bthirion commented on #938
No, it's a different one.

[2016-01-14 14:39] AlexandreAbraham commented on #938
Can you post it or a snippet? Because I can't reproduce.

[2016-01-14 14:44] KamalakerDadi commented on #938
[code]
[code]

[2016-01-14 14:48] KamalakerDadi commented on #938
At some point, ```labels``` array contains no seed points which gives us failure.

[2016-01-14 14:48] AlexandreAbraham commented on #938
Oh, ok, I have reported this error along with the other in my skimage issue.

[2016-01-14 15:24] KamalakerDadi commented on #938
Again a side-note, to not to block with bug, ```extract_type=connected_components``` can be used to get an idea on the data.
[code]

[2016-01-14 16:40] bthirion commented on #938
In your snippet, what are threshold_maps: already thresholded maps ?
If I dot it, I get a
ValueError: The given input to threshold is not valid. Please submit a valid number specific to either of the strategy in ['ratio_n_voxels', 'img_value', 'percentile']

[2016-01-14 16:46] KamalakerDadi commented on #938
[code]

[2016-01-14 16:53] bthirion commented on #938
All right, thanks.

[2016-01-14 16:59] KamalakerDadi commented on #938
In case if you missed it: there is an example made for 3D stat image.

http://nilearn.github.io/auto_examples/manipulating_visualizing/plot_extract_rois_statistical_maps.html#sphx-glr-auto-examples-manipulating-visualizing-plot-extract-rois-statistical-maps-py

[2016-01-15 06:44] GaelVaroquaux opened #948 "Turn down verbosity on CircleCI"
Currently, it is impossible to understand anything of the logs of circleCI. We need to turn down the verbosity of the downloads in the logs.

For example, see https://circleci.com/gh/nilearn/nilearn/1028

[2016-01-15 06:50] GaelVaroquaux commented on #892
SSPCA is something very very costly. We have dabbled with it in the past, but pretty gave up because of the computational cost.

MSDL has structure at a much reduced cost, still significantly higher than SPCA.

[2016-01-15 06:51] #892 closed

[2016-01-15 06:52] GaelVaroquaux commented on #897
CircleCI is downloading data over and over again. We should address this issue.

[2016-01-15 07:07] GaelVaroquaux commented on #869
We have fixed this guy. Closing.

[2016-01-15 07:07] #869 closed

[2016-01-15 07:09] lesteve commented on #948
You can look at log.txt in the artifacts tab:
https://circle-artifacts.com/gh/nilearn/nilearn/1028/artifacts/0/home/ubuntu/log.txt

[2016-01-15 07:11] GaelVaroquaux commented on #948
Good point. Thanks!

[2016-01-15 12:23] #884 closed

[2016-01-15 17:05] KamalakerDadi commented on #907
ping @GaelVaroquaux @AlexandreAbraham @lesteve

I would like to know your opinion and ideas to bring code to more user friendly and understandable. I am working on to propose some idea. Meanwhile, any ideas or suggestions would be really helpful and great.

[2016-01-17 14:54] GaelVaroquaux commented on #904
Done. Closing

[2016-01-17 14:54] #904 closed

[2016-01-17 21:29] bthirion commented on #934
I think that this would be a step forward. +1

[2016-01-17 23:29] banilo commented on #934
+1, a general-purpose sklearn estimator wrapper that works in most cases could effectively improve the sklearn-nilearn interface.

[2016-01-17 23:41] banilo commented on #947
In each searchlight (with each a different center in the brain), the learners are probably called with different arguments every time. On the other hand, it is less likely that the whole SL procedure will be performed more than once on the same data in a real-world pipeline. ...just thinking.

[2016-01-17 23:44] banilo commented on #945
In what settings would the canonical brain mask appear within the nilearn code?

[2016-01-17 23:46] banilo commented on #930
+1 for unifying label meta-data!

[2016-01-18 05:59] GaelVaroquaux commented on #945
It appeared as useful in an example downloading data from neurovault.

[2016-01-18 06:02] GaelVaroquaux commented on #947
I actually agree with you. I wonder what parts of the code are rerun
several times while doing an explorative data analysis.

[2016-01-18 08:40] KamalakerDadi commented on #945
In future, it can also be appeared in function which computes out of brain mask confounds.

[2016-01-18 09:12] GaelVaroquaux commented on #945
That's a good point.

[2016-01-18 09:36] dohmatob commented on #947
There are certainly parts of the searchlight machine which can be cached. Otherwise is a design problem...

[2016-01-18 09:40] dohmatob opened #952 "Default template bg in plot_* doesn't seem to be always a good idea"
We should infer whether the brain is templtate-aligned (by looking at the affine), and if not, we should not plot the template background. An image plotted with mis-aligned default background leaves an end-user frightened.

[2016-01-18 09:42] GaelVaroquaux commented on #952
And that user should be frightened, unless he or she knows what they are
doing.

[2016-01-18 09:45] dohmatob commented on #952
If a user doesn't provide a background image, it's better not plotting a background image than plotting a mis-aligned background image, which they never asked for.

[2016-01-18 09:46] GaelVaroquaux commented on #947
They "can", the question is whether it is useful.

[2016-01-18 09:52] eickenberg commented on #952
concrete example:

plot_roi used for plotting a mask or plot_stat_map for mean image for
haxby2001 subjects.
Since these are not normalized to MNI, the effect of plotting the MNI
template behind is jarring.

I agree with the fact that a user who knows what the are doing will
investigate. But last week's experience showed that many don't and instead
of using the provided anat as background just con

[2016-01-18 09:52] bthirion commented on #952
Yes, but then what do they expect from plotting ? Could elaborate the sue case a bit more ?

[2016-01-18 09:55] GaelVaroquaux commented on #952
No. They can say 'bg_img=False'. But I'd rather have thing explicite.

Beside, users should be aware of whether there images are in template
space or not. And the default of nilearn is to work in template space.

[2016-01-18 09:59] eickenberg commented on #952
maybe a very simple solution would be to rename `bg_img` to
`background_img` or `background_image`. That way it would be clear by
reading the argument names.

On Mon, Jan 18, 2016 at 10:55 AM, Gael Varoquaux <notifications@github.com>
wrote:

[2016-01-18 10:07] dohmatob commented on #952
These comments are all fine. But, the bottom line is that a user plots and image without specifying a background image and it all looks ugly, because of a mis-aligned bg which was forced into the fig by developers. It's not good for user experience, irrespective of whether the users know what they're doing or not.

I don't see the point having a default value, if it makes the figure look uglier --

[2016-01-18 13:06] AlexandreAbraham commented on #870
For the record, I tried to backport the PDF backend from matplotlib 1.5.0 into 1.4.3 but there are too many modifications. So I tried to apply the patch mentioned above and, for some reason, it doesn't work.

I'm a bit helpless :-/ on this one.

[2016-01-18 14:25] salma1601 opened #953 "building docs takes so long"
Each time I switch branch (even not changing any file) it takes me 1hour to rebuild the docs.
I don't know if this is an expected behaviour.

[2016-01-18 14:28] AlexandreAbraham commented on #953
This is a known behavior. The problem is that the cache is invalidated for no reason. PR welcome.

[2016-01-18 14:30] GaelVaroquaux commented on #953
No need to do a PR: the new version of sphinx-gallery will solve this.
We'll need to backport it nilearn as soon as it is released.

[2016-01-18 14:35] AlexandreAbraham commented on #953
I didn't know! Great work!

[2016-01-18 14:35] GaelVaroquaux commented on #953
Yup, we need to thank @Titan-C

[2016-01-18 14:37] salma1601 commented on #953
Great ! Thanks for the explanation.

[2016-01-18 14:41] salma1601 opened #954 "rename fetch_atlas_power_2011 to fetch_coords_power_2011"
since this function gives only the coordinates

[2016-01-18 14:51] AlexandreAbraham commented on #954
In all papers I've read, this is referred as "Power atlas". So I'm -1 on this one. If we start doing this, that means that all "atlas" functions should be renames to either "labels" or "maps" depending on their type.

[2016-01-18 15:04] GaelVaroquaux commented on #954
Hum :$

It's going to make teaching even harder. When I teach I warn users that
they are 2 types of atlases, and I spend time explaining the differences.
How I need to talk about three... I am not very convinced.

[2016-01-18 15:15] salma1601 opened #955 "LedoitWolf shrinkage with and without standardization"
somehow too large difference between computing the correlation matrix with and with standardization when using LedoitWolf. This is the snippet
[code]
I didn't read how the shrinkage is done, but 0.3 of difference surprised me...

[code]

[2016-01-18 15:33] salma1601 commented on #954
for me the difference is bigger between giving coordinates vs regions than between maps vs labels

[2016-01-18 15:45] KamalakerDadi commented on #915
@pbellec Is there any source where I could download all datasets ? At the moment, I can download only data together of size https://ndownloader.figshare.com/articles/1160600/versions/15 1GB. Am I missing something here ?

[2016-01-18 15:55] GaelVaroquaux commented on #952
@eickenberg says:

Do you really think that simply renaming that argument would solve the
problem? "bg_img" is really not clear to people?

Also, it's the second argument in the list of arguments. I really makes
me think that the users just didn't look at the docstring.

Having people read and understand the docs is challenging, but that's
what we need to be doing. When I teach, I keep coming back

[2016-01-18 23:20] banilo commented on #947
Well, let's just make a list of what elements of the code could be cached.

[2016-01-18 23:39] banilo commented on #955
LedoitWolf is a shrinkage estimator, whereas EmpiricalCovariance isn't. Perhaps add some diagnostics on the absolute values of the covariance matrices, such as Frobenius norm.

[2016-01-18 23:42] banilo commented on #954
Tricky case...introduce something like "coordinate collections"?

On the top of it, "fetch" might not make sense because sets of coordinates are not space/memory-demanding

[2016-01-19 07:09] GaelVaroquaux commented on #954
Indeed: we are not "fetching" them: they are provided in a CSV file in
the repo.

That's an oversight, the function should be named "load_...".

[2016-01-19 08:17] lesteve commented on #954
the repo.

My 2c: I'd rather have a consistent naming with fetch_ rather than something that is based on implementation details (whether the data is part of the repo or not).

[2016-01-19 08:53] GaelVaroquaux commented on #954
It's not an implementation detail: it's about whether it will download
something or not. Therefore is conditions disk space and the need for
internet access.

[2016-01-19 11:25] lesteve commented on #954
Not entirely convinced the user cares that much about these details, he just wants to get the data and  vast majority of cases has the resources (internet + disk space) to do so.

Also I could imagine doing `from nilearn.datasets import fetch_atlas<TAB>` and being confused because  fetch_atlas_power_2011 is not listed after the tab completion.

[2016-01-19 11:27] AlexandreAbraham commented on #954
Same problem with the `fetch_coords` renaming.

[2016-01-19 11:31] lesteve commented on #954
I was more arguing about fetch_ vs load_ here.

[2016-01-19 13:36] AlexandreAbraham opened #956 "Data returned by _safe_get_data is copied."
In the code, the data returned by `_safe_get_data` is sometimes copied. I expected `_safe_get_data` to return a copy of the data. We should check that this copy is necessary.

[2016-01-20 15:46] banilo opened #957 "Unclear provenance of datasets"
For some datasets, such as ADHD200 (:baby:), it does not seem to be entirely clear where the to-be-fetched data exactly came from. If the original website for ADHD for example does not provide a preprocessed version of the data (http://fcon_1000.projects.nitrc.org/indi/adhd200/index.html), then it might be worth it pointing out in the `description` where the actually obtained variant of the open d

[2016-01-20 16:12] GaelVaroquaux commented on #957
+1! Especially for the classic ADHD and Haxby.

I was just running into these problems with a user.

[2016-01-20 16:13] GaelVaroquaux commented on #957
It's mostly a question of adding URLs in the notes section of the
docstrings

[2016-01-21 07:21] GaelVaroquaux commented on #955
Indeed there is a large difference. It is to be expected.

I think that the best way to compute correlations with LedoitWolf is to standardize the time series first. The reasoning being that LedoitWolf strives to give the best estimate (minimize a risk) of the covariance matrix. If what we want are correlations, we want the best estimate of the covariance of the standardized data.

By the way, suc

[2016-01-21 07:23] GaelVaroquaux commented on #938
Has this been fixed by @KamalakerDadi 's recent improvements (merged in master)?

[2016-01-21 07:36] GaelVaroquaux opened #958 "Add more saving of outputs in examples"
Examples should almost always save outputs (and sometimes intermediate results), as this is what end-users want to do.

We have to keep in mind that many end-users learn to use Python for neuroimaging why nilearn, so they have no idea how to save things. In addition, they learn by copy-pasting the examples, for the better or the worst.

[2016-01-21 08:38] KamalakerDadi commented on #938
Yes, merged in master which means this issue is partially fixed.

This is still remained https://github.com/scikit-image/scikit-image/issues/1875

[2016-01-21 10:01] AlexandreAbraham commented on #958
Doesn't it conflict with sphinx behavior?

[2016-01-21 10:03] bthirion commented on #955
+1
Ledoit Wolf shrinks toward the identity matrix, and not an arbitrary diagonal matrix.

[2016-01-21 10:05] AlexandreAbraham commented on #938
NaN problem is fixed. But problem of lonely seeds remain. I can fix it but only next week because I'm busy.

[2016-01-21 10:20] GaelVaroquaux commented on #958
I don't think so, it's just a few
"component_img.savefig('components.nii.gz')"
at the right place in the examples.

[2016-01-21 10:26] AlexandreAbraham commented on #958
Oh, OK, you were talking about the nifti files. I was thinking of the figures.

[2016-01-21 10:42] GaelVaroquaux commented on #958
Indeed niftifiles

[2016-01-21 11:32] banilo commented on #954
The modern neuroscience hacking at airports, in train and metro will probably care whether the fast prototyping he or she is effectuating in an IPython notebook will require an internet connection or not....

[2016-01-21 11:33] banilo commented on #956
+1

[2016-01-21 11:38] banilo commented on #938
Sorry, but you sound like yoda here :-P

![image](https://cloud.githubusercontent.com/assets/3907396/12479515/d5648e40-c03b-11e5-95b6-3c1d622e9390.png)

[2016-01-21 11:40] banilo commented on #958
What's the difference between a user and an end-user?

[2016-01-21 11:41] banilo commented on #958
+1 on more explicit saving to disc. I would also think that a) plotting (for paper) and b) dumping (to further inspect in Mango/Fslview etc.) are the main meta aims of the baseline end-user.

[2016-01-21 11:53] GaelVaroquaux commented on #958
I personnaly make no difference :)

[2016-01-21 11:55] GaelVaroquaux commented on #958
Yop!

[2016-01-21 12:45] lesteve commented on #954
The modern neuroscience hacker will very likely have the data already downloaded because he uses nilearn extensively :-). Since my previous comment, I realised scikit-learn has this load_ vs fetch_ convention, so that's probably fine if people are used to it.

[2016-01-21 12:45] GaelVaroquaux commented on #954
No

[2016-01-21 12:59] lesteve commented on #954
downloaded because he uses nilearn extensively :-).

For the record that was meant as a tongue in cheek comment. IIRC most datasets in nilearn need to be downloaded the first time. The poor modern neuroscience hacker without an internet connection is slightly out of luck I am afraid, unless of course he has downloaded the dataset already.

Other than that I reckon we are getting a bit side-tracked

[2016-01-21 13:01] GaelVaroquaux commented on #954
Sorry, I forgot the smiley, in my comment.

[2016-01-22 09:25] aabadie opened #960 "Code coverage broken on coveralls"
The global and per file coverage statistics are working on coveralls but one cannot have access to the lines covered/not covered in each file.
To me the file path is not correct: it contains the full path whereas it should only be the relative path.
Example:
`nilearn/tests/test_testing.py`
instead of
` /home/travis/miniconda2/envs/testenv/lib/python3.5/site-packages/nilearn-0.2.1-py3.5.egg/nilearn

[2016-01-22 09:35] lesteve commented on #960
Yeah this is because we cd outside the git repo before running the tests in order to make sure that setup.py does have all the data_package correctly defined. Otherwise you can end up with all your CI tests working but your package on PyPI broken.

I think I have managed to do set it up correctly via the coveralls website in the past. The annoying thing is that you need to redo it for each release

[2016-01-22 12:57] lesteve commented on #960
@aabadie I tweaked the coveralls config on coveralls, it seems to work for me now. That'd be great if you could double-check and close the issue if that's the case for you too.

[2016-01-22 12:58] GaelVaroquaux commented on #960
Thanks. It would be great if you could document this somewhere (like in a
README_development.rst, or any other place you think is relevant).

[2016-01-22 14:04] lesteve commented on #960
Maybe adding a rst file in doc/developers ? There is already something there about group_sparse_covariance.

[2016-01-22 14:25] aabadie commented on #960
It works now. What did you change on the configuration ?

That's an idea. There's already an issue for this (#891), maybe this could be discussed there.

[2016-01-22 17:15] GaelVaroquaux commented on #960
+1

[2016-01-22 20:37] #960 closed

[2016-01-23 09:41] KamalakerDadi commented on #915
Any opinion regarding the format of the data? hdf5 ?
question received from @pbellec

[2016-01-23 11:06] GaelVaroquaux commented on #915
hdf5 is not an option as it would be bringing in externel dependencies.

We should abide by http://bids.neuroimaging.io/ Which means that we
should probably be using tab separated files. We can compress them in a
gz file.

[2016-01-23 11:32] KamalakerDadi commented on #915
@GaelVaroquaux Thank you. I will post this opinion to brain hack group.

[2016-01-23 20:02] AlexandreAbraham commented on #915
But the data ils already in nifti... There is no need for conversion.

[2016-01-23 20:32] pbellec commented on #915
@AlexandreAbraham it's for the covariates that come with the images (motion parameters, average WM and CSF signals, global signal, etc). Currently they are stored in a hdf5 file. I am going to try to format them in tsv files, taking inspiration from bids as @GaelVaroquaux suggests, and I'll see how it goes.

[2016-01-25 09:38] AlexandreAbraham commented on #915
@pbellec, On the website, I see Nifti and .mat files. Aren't the covariates stored in the .mat? In that case, there is no need for conversion, they are readable in Python.

If you have an hdf5 file, can you share it? I already have scripts to convert them to other formats. Maybe I can help.

[2016-01-25 09:45] KamalakerDadi commented on #915
I think the format we are discussing about is for new release with minimal preprocessed version.

[2016-01-25 13:15] GaelVaroquaux opened #962 "Add a pointer to dev docs in the README.rst"
We should add a pointer to the developer guidelines in the README.rst so that a new developer can get up to speed/

[2016-01-25 13:17] AlexandreAbraham commented on #915
Oh, OK! Now I get it.

[2016-01-25 15:07] aabadie commented on #962
Sounds related to #891 ?

[2016-01-27 08:08] dohmatob opened #965 "Harmonize anat_img and bg_image params across plotting functions"
For example `plot_stat_map` call the background param `bg_img` whilst `plot_prob_atlas` calls it `anat_img`. Is this disparity intended ? The docstrings can also be harmonized.

[2016-01-27 08:27] eickenberg commented on #965
and call it background_img while we're at it?

On Wednesday, January 27, 2016, DOHMATOB Elvis <notifications@github.com>
wrote:

[2016-01-27 12:22] lesteve commented on #965
No strong feeling about the naming but I am guessing we want to ensure backward-compatibility with a DeprecationWarning if people use named arguments e.g. `plot_img(..., bg_img=bla)`.

[2016-01-27 12:23] GaelVaroquaux commented on #965
I think that I am OK skipping that, we are still early in the development
of the project. But we would need to do that for the 0.3 relase.

[2016-01-28 11:21] KamalakerDadi commented on #938
@AlexandreAbraham Can you propose your idea or hint ?

[2016-01-28 12:21] AlexandreAbraham commented on #938
We are discussing it in the skimage issue.

[2016-01-28 15:13] dohmatob opened #966 "plot_canica_resting_state.py useless smoothing_fwhm=6"
This example script creates an CanICA instant specifying `smoothing_fwhm=6`, but this is already the default value. We need to check that this (potential) source of confusion is not present in other examples.

[2016-01-28 15:15] GaelVaroquaux commented on #966
I'm not sure that this is a source of confusion. For me it is good
because it makes the default explicit. Users may not be aware of it.

[2016-01-28 15:56] dohmatob commented on #966
OK, agreed. Especially as we're talking about smoothing (which is often controversial).

[2016-01-28 15:56] #966 closed

[2016-01-29 13:43] salma1601 opened #967 "[discussion] illustrate masker operations"
It seems to me that people using a masker for functional connectivity may not understand what it does exactly. Another point is that they may need exploratory feedback to make decisions (what sphere radius to choose, which filtering bandwidth, which confounds to remove) and to feel reassured that everything is going as expected during this somehow black box masker operations.
I was thinking about

[2016-01-30 17:01] kingjr opened #969 "Q: interactive plotting?"
Hi all,

Sorry if this is not the best place to ask this.

I am looking for an interactive MRI viewer in Python to semi-automatically locate intracranial electrodes based on a priori knowledge (respective locations, on cortical surface etc), and manual inputs.

Such viewer is standard in MRI packages:  3 views (x, y, z axes), similarly to `plotting.plot_anat()` but with some interaction: if you cl

[2016-01-30 17:07] GaelVaroquaux commented on #969
For now interactice plotting is out of scope for nilearn. We are still
looking to extend the processing functionality of nilearn before
considering more visualization.

In addition, interactive data visualization and non-interactive tend to
require very different compromises. Nilearn's compromises are toward
non-interactive. The update of the data is not possible. Typically,
different underlying p

[2016-01-30 17:15] kingjr commented on #969
Ok, thanks for the quick reply

[2016-01-30 17:15] #969 closed

[2016-01-30 17:19] eickenberg commented on #969
maybe https://github.com/AlexandreAbraham/pynax/
can be of use?

On Saturday, January 30, 2016, Jean-Rémi KING <notifications@github.com>
wrote:

[2016-01-30 17:36] kingjr commented on #969
Looks like it, thanks!

[2016-01-31 13:34] KamalakerDadi commented on #897
@GaelVaroquaux with 30 subjects ratio is adhd/control 17/13

If we need to keep strict ordering, then we have to change the ordering according to the sites. Otherwise, I am ready with PR. Just that I changed ```n_subjects = max_subjects``` to ```n_subjects = 30``` and will change documentation accordingly.

[2016-01-31 20:51] KamalakerDadi commented on #967
That's a good initiation. Could you provide any work around example if you have along with some outputs ? It would be great and particularly useful to me.

[2016-02-01 16:17] aabadie commented on #897
Looking at circle ci output from PR #970, the download of haxby2001 is also quite big and make the output very verbose. It's currently fetching around 300MB of data.

[2016-02-01 16:29] GaelVaroquaux commented on #897
Yes :(. Do you think that there is a way of improving things?

G

[2016-02-01 16:41] AlexandreAbraham commented on #897
I was going to ask if the problem was still on. I have several ideas to reduce the amount of data downloaded, but all of them will make the figures generated by CircleCI irrelevant.

[2016-02-01 16:42] GaelVaroquaux commented on #897
OK, let's punt for now.

[2016-02-01 16:48] AlexandreAbraham commented on #897
I think we should discuss that during a coffee break.

[2016-02-01 16:48] aabadie commented on #897
I think there are 2 problems:
* a too big amount of data is downloaded (this issue)
* the output the downloads is too verbose (issue #948)

fetch functions have a `verbose` parameter that is `True` maybe using `verbose=False` in the examples will make the output more readable. A possible solution could be to use `functools.partial` to override this default value (I don't know how to transparently

[2016-02-01 17:08] #897 closed

[2016-02-01 20:55] GaelVaroquaux opened #972 "Decrease verbosity of download progress on CI"
The logs of circleCI are very hard to work with, because the progress log of the downloaders drowns the information:
https://circleci.com/gh/nilearn/nilearn/1097

I am in favor of introducing an environment variable that decreases by something like 50 the number of times that the progress is printed. It would be checked in the datasets code, and set in the circleCI build scripts.

[2016-02-01 21:06] aabadie commented on #972
I'll have a look at this asap.

[2016-02-01 21:06] GaelVaroquaux commented on #972
Thanks!

[2016-02-01 21:35] salma1601 commented on #967
Ok, coming soon.

[2016-02-02 08:59] KamalakerDadi opened #974 "nan values are returned by csv_to_array"
[code]
I am not sure whether it is an issue or upto user to use ```dtype=None```

[2016-02-02 09:11] AlexandreAbraham commented on #974
`csv_to_array(atl.labels, dtype=None) # no nans`

No nans but all columns are string because of the top columns.

`csv_to_array(atl.labels, dtype=None, names=True)`

is actually the way to go.

`csv_to_array` is not magic: it is a wrapper around `np.genfromtxt` that will handle several *delimiters*. It does not automatically handle different *types* of data.

I think that we should:

* never retur

[2016-02-02 09:36] aabadie opened #975 "BUG Neurodebian build failed on travis"
This morning travis ci is failing with neurodebian. The `traceroute` package cannot be fetched from the ubuntu precise repository.

See the error message:
[code]

Is traceroute really mandatory ?

[2016-02-02 09:50] lesteve commented on #975
The `apt-get install traceroute` comes from the neurodebian install script from http://neuro.debian.net/_files/neurodebian-travis.sh.

Seems more like a problem with Travis.

[2016-02-02 10:08] GaelVaroquaux commented on #948
Closing in favor of #972

[2016-02-02 10:08] #948 closed

[2016-02-02 10:26] lesteve commented on #975
I pushed a temporary work-around in master. The work-around was found in https://github.com/travis-ci/travis-ci/issues/5285#issuecomment-164464865.

[2016-02-02 11:19] GaelVaroquaux commented on #974
We don't want a user-friendly function to load CSVs. We want to point
people to pandas, as this is what will make them independent and will
allow them to feel the power of Python.

[2016-02-02 11:28] GaelVaroquaux commented on #975
I have no idea what the workaround does :(

[2016-02-02 11:44] AlexandreAbraham commented on #975
It patches the apt sources to point toward a server that is responding and has traceroute.

[2016-02-02 11:46] AlexandreAbraham commented on #974
In that case, since this function is just for us, I suggest that we leave it as it is.

[2016-02-02 11:46] #974 closed

[2016-02-02 12:03] lesteve commented on #975
Looks like the problem has been fixed since so I reverted the temporary work-around in master.

[2016-02-02 12:03] #975 closed

[2016-02-02 15:11] banilo commented on #967
I completely agree and have tried to make the same suggestion in the past. It is still tricky to understand and use the NiftiMaskers with little exposure the nilearn world.

[2016-02-02 15:34] #953 closed

[2016-02-03 13:22] #914 closed

[2016-02-03 16:16] #941 closed

[2016-02-03 17:21] #972 closed

[2016-02-03 17:26] AlexandreAbraham commented on #955
Fixed by #968

[2016-02-03 17:27] #955 closed

[2016-02-03 17:27] AlexandreAbraham commented on #941
Fixed by #968

[2016-02-04 00:30] #873 closed

[2016-02-04 14:54] #736 closed

[2016-02-05 10:03] #962 closed

[2016-02-05 10:04] AlexandreAbraham opened #979 "Dead link in doc"
Reported by @KamalakerDadi

[2016-02-05 10:16] AlexandreAbraham commented on #979
Fixed in d486939920964659d6854e7fc102b3874826c4c8

[2016-02-05 10:16] #979 closed

[2016-02-07 20:54] salma1601 opened #983 "ConnectivityMeasure(kind='tangent') should be cached"
It takes too long time to compute kind='tangent' with big matrices / too much subjects.

[2016-02-08 16:45] rschmaelzle commented on #801
Hi, that is indeed something I would find handy. Is there perhaps an interim solution? I tried playing with gca.invert_xaxis() but did not succeed. Best, Ralf.

[2016-02-08 22:50] lesteve commented on #801
This is a duplicate of #942, right ?

[2016-02-08 22:54] GaelVaroquaux commented on #801
Indeed, it's a duplicate.

Also,  @rschmaelzle : there is no quick workaround

[2016-02-08 22:54] #801 closed

[2016-02-09 09:37] aabadie opened #986 "Memory profiling test function fails from time to time"
The memory profiling test function fails sporadically : sometimes the measured memory consumption is equal to 0.0, thus the  ̀test_memory_usage` fails.
The issue is related to `memory_profiler` measures accuracy, maybe it could be fixed by performing several measures and returning the max.

[2016-02-10 09:30] pbellec commented on #915
OK so this turned out to be much more work than I had expected, as it forced me to separate the generation of confounds from their actual regression in the niak preprocessing pipeline. But hopefully this will help make the outputs much more re-usable so it's all good. Here is my proposition.

There will be a file `<subject>_<session>_<run>_n.nii.gz` per subject. The _n suffix is for "spatially nor

[2016-02-10 14:17] KamalakerDadi commented on #915
So, an impediment here:

I am writing a fetcher for https://figshare.com/articles/COBRE_preprocessed_with_NIAK_0_12_4/1160600  named as "fully preprocessed" and download time seems to be more than 1 hour fetching data from link "Download all".

So, question? Any suggestions how to overcome this ? may be if we want to restrict downloading limited subjects ? Ping @GaelVaroquaux @AlexandreAbraham

[2016-02-11 03:50] pbellec commented on #915
Not sure how much of a problem this is. Definitely not suitable for a quick tutorial, but this resource opens up possibilities for real data exploration. Would seem reasonable to have an option to download only a portion of the data. Another work-around would be to get time series on, say, 1000 or 3000 brain parcels. @GaelVaroquaux did not seem too keen on this option last time we talked. One last

[2016-02-11 12:19] AlexandreAbraham commented on #915
@GaelVaroquaux Should we make an option to download part of the dataset? This dataset will only be used for analysis so I think that people will tend to download the whole stuff and not single subjects.

[2016-02-11 12:24] GaelVaroquaux commented on #915
Unlike @pbellec, I disagree that an hour download is not a problem. It's
a huge one.

However, I think that we should move on. The figshare interface makes it
hard to write code that does partial downloads. Figshare is also clearly
bandwidth limited: the download speed is limited on their side. What I
have in mind is that, in a latter PR, we will create a mirror of the data
on Nitrc, which has a f

[2016-02-11 13:21] dmadou opened #988 "Add some Quality Check functionnalities - First is a backgound noise calculation method"
Maybe we should add some QC functions to allow users to check basic informations about their input images.
The first method I would like to implement is a background noise calculation method. It would return for each slice of each frame, the standard deviation of the background.

[2016-02-12 00:52] pbellec commented on #915
Alright, I'll try downsampling, and upload on zenodo. I'll check how fast is the download. I assume you are fine with the new format. Chris has started a document to formalize a BIDS preproc organization, but this is going to take a while so I'll move on with the current format. Will keep you posted.

[2016-02-17 06:45] GaelVaroquaux commented on #986
If the test is fast, I am :+1: on performing several measures (3?) and returning the max.

[2016-02-17 08:02] aabadie commented on #986
I'm also +1 with this proposition. I already tried it with success when working on memory profiling.

[2016-02-17 09:30] arthurmensch opened #990 "MultNiftiMasker should propose lazy transform with shelving"
This would be great for algorithms that are sequential with a large IO bottleneck. The way I see it would be to have a ```MultiNiftiMasker.transform(imgs, lazy=True```), which would return a list of MemorizedFunctions with a method ```.get()```, using ```call_and_shelve``` from joblib.

This is quite expert usage, but
- it would be great for developing new estimators
- it would be great for users

[2016-02-17 09:37] GaelVaroquaux commented on #990
Agreed on the general idea. I think that @AlexandreAbraham uses this in
his MSDL code.

Wether it should be a new method or a class parameter, I don't know. Any
opinions?

G

[2016-02-17 14:37] AlexandreAbraham commented on #915
Fixed in #989.

[2016-02-17 14:37] #915 closed

[2016-02-17 14:37] AlexandreAbraham commented on #916
Fixed in #984

[2016-02-17 14:37] #916 closed

[2016-02-17 14:38] #986 closed

[2016-02-17 18:54] salma1601 opened #993 "test_atlas.test_fail_fetch_atlas_harvard_oxford fails without sudo privileges"
On my labtop this test runs OK with sudo privileges and fails without sudo

May be it is because it relies on fake atlas with 5 labels created for this test but without sudo privileges data is not created. Then `data_dir` for the function `fetch_atlas_harvard_oxford` is `None` so it loads my real atlas in FSL DIR which has 97 labels.

Traceback (most recent call last):
File "/usr/lib/python2.7/dis

[2016-02-17 19:00] bthirion commented on #990
As suggested by Arthur, a class parameter sounds more natural imho.

[2016-02-18 09:19] AlexandreAbraham commented on #993
Fixed in 2d806ec1507b4f7b5cd742aedb71d8467b58c572

Can you pull master and check?

[2016-02-18 09:40] salma1601 commented on #993
Yes it's OK now, thanks !

[2016-02-18 09:44] AlexandreAbraham commented on #993
Cool. Thanks for reporting!

[2016-02-18 09:44] #993 closed

[2016-02-18 09:50] AlexandreAbraham commented on #990
Yes I have, I also already have a branch that adds it to the maskers.

Actually, the issue already exists #203 and some code to fix it also already exists #278. The problem is that is we enable it now, we have to propagate everywhere. Meaning `compute_multi_epi_mask` should use it, `CanICA` should use it, etc.

+1 for the class parameter.

[2016-02-18 10:10] AlexandreAbraham commented on #203
Closed in favor of #990.

[2016-02-18 10:10] #203 closed

[2016-02-18 10:35] arthurmensch commented on #990
Should we keep the shelved result list as an attribute in MultiNiftiMasker ?

[2016-02-18 11:03] AlexandreAbraham commented on #213
Moving to 0.2.4 since a refactoring is a major change.

[2016-02-18 11:23] AlexandreAbraham commented on #954
I'm setting it to milestone 0.2.3 because I think that it is important to make a decision on this subject now.

Regarding atlas vs. coords: I prefer to keep atlas since I've never read Power coordinates anywhere. But I have no strong feelings, I am OK for changing it to coords if majority votes for it.

Regarding fetch vs load: I am not against the distinction between online/offline but what bothe

[2016-02-18 12:40] AlexandreAbraham commented on #939
Fixed by #950

[2016-02-18 12:40] #939 closed

[2016-02-18 12:52] AlexandreAbraham commented on #857
I have noticed that now we require matplotlib > 1.1.1. That means that we actually can use GridSpec layout which should make all that stuff easier. I'll close this issue but keep your example in a more general one about colorbar code refactoring.

[2016-02-18 12:52] #857 closed

[2016-02-18 12:52] AlexandreAbraham commented on #545
Example of bad layout:

[code]

[2016-02-18 22:35] bthirion commented on #954
I don't have strong feelings, but `fetch_coords_power_2011` makes it clear that the output is not a standard atlas, so I'd rather go for it. I'm afraid that otherwise people will complain they don't know how to handle it.

[2016-02-18 23:13] AlexandreAbraham commented on #954
Given that most people agree on `coords`, I created a PR to change that #995.

The question `fetch` vs `load` still remains.

[2016-02-19 07:44] #954 closed

[2016-02-19 09:07] #39 closed

[2016-02-19 09:18] AlexandreAbraham commented on #850
Fixed.

[2016-02-19 09:18] #850 closed

[2016-02-19 14:27] arthurmensch opened #997 "SpaceNet advertises multi-subject capability while it has not"
spacenet.py reads
[code]
whereas ```SpaceNet{Regressor-Classifier}.fit``` on list of niimg data fails.

[2016-02-19 14:40] AlexandreAbraham commented on #997
Can you be more specific than `fails` ?

[2016-02-19 14:43] arthurmensch opened #998 "plot_haxby_space_net is broken on Python 3"
`python examples/02_decoding/plot_haxby_space_net.py`

Traceback:
[code]

[2016-02-19 14:44] arthurmensch commented on #998
for some reason `self.masker_.fit_transform(X) == []` in the estimator

[2016-02-19 14:45] arthurmensch opened #999 "plot_mixed_gambles_space_net if broken on Python 3"
Simple Python 3 glitch:
[code]

[2016-02-19 14:46] AlexandreAbraham commented on #999
This is surprising. These examples are run routinely in CircleCI without problems.

[2016-02-19 14:46] arthurmensch commented on #999
with Python 3 ?

[2016-02-19 14:49] arthurmensch opened #1000 "CircleCI: run examples in Python 3"
Given the issue #999 #998, it would be a good idea to run the example set in Python 3. Does CircleCI allows build matrix ?

By the way this is the issue #1000, cheers

[2016-02-19 14:51] AlexandreAbraham commented on #999
OK, CircleCI runs on Python 2. Oooooooold!

[2016-02-19 14:54] GaelVaroquaux commented on #1000
We can't have a build matrix. That would be too costly.

I might be convinced to change the default python to 3 on circle,  though

Sent from my phone. Please forgive brevity and mis spelling

On Feb 19, 2016, 15:50, at 15:50, Arthur Mensch <notifications@github.com> wrote:

[2016-02-19 15:00] arthurmensch commented on #997
Actually it does not, this is not the right bug, closing

[2016-02-19 15:00] #997 closed

[2016-02-19 15:02] arthurmensch opened #1001 "NiftiMasker should not be used for unmasking list of niimg"
Indeed, the use of MultiNiftiMasker is recommended in this case, as we can use `n_jobs`. Moreover, the behavior of NiftiMasker.transform on list of 3D/4D images is different from the one of MultiNiftiMasker : one returns a concatenated array, the other returns a list.

This is visible in `space_net.py` for example, where MultiNiftiMasker should be used.

[2016-02-19 16:30] dohmatob commented on #997
OK, let us know if your troubles persist.

[2016-02-22 15:38] GaelVaroquaux commented on #988
Other useful function: "check_epi_template_space(epi_img, discrepency_threshold=30)" that would:

1. compute_epi_mask on the data
2. resample to the MNI template (obtained with nilearn.datasets.load_mni152_template)
3. compute a brain mask out of the template (by thresholding it)
4. Compute a xor between the two masks
5. (optionaly) erode the result
6. Threshold on the number of voxels in the resu

[2016-02-22 16:38] banilo commented on #1001
This is a great addition to my litany on a general example on the difference between the nifti masker family members :-D

[2016-02-23 12:00] AlexandreAbraham commented on #1001
We're still waiting for your PR :P

[2016-02-23 12:27] aabadie commented on #988
If nobody is already working on this, I would be happy to have a look.

[2016-02-23 12:30] GaelVaroquaux commented on #988
@aabadie : I thought that you were busy lately :).

@dmadou is on it actually.

[2016-02-23 12:37] aabadie commented on #988
I am but I can always find some time to work on awesome features ;)

[2016-02-23 12:40] GaelVaroquaux opened #1003 "Use anaconda on CircleCI"
I've heard rumors that anaconda on CircleCI could speed up very much run of the examples. We should give it a try. MNE-Python is trying too, maybe we can draw inspiration from there work:
https://github.com/mne-tools/mne-python/pull/2849/files

It would be interesting to see a before/after account of execution time.

This would be a first step in solving https://github.com/nilearn/nilearn/issues/1

[2016-02-23 12:43] aabadie commented on #1003
@GaelVaroquaux, I'm on it !

[2016-02-23 12:43] GaelVaroquaux commented on #1003
Yeah!

[2016-02-23 12:46] GaelVaroquaux opened #1004 "Add a resample_to_img"
We already have
[code]
http://nilearn.github.io/modules/generated/nilearn.image.resample_img.html

It would be nice to have a variant
[code]
that would take the shape and affine from "target_img".

It's just a simple helper function, but it would make the life of many non advanced users simpler.

We should reference each function in there respective seealso section of the docstrings.

[2016-02-23 12:49] aabadie commented on #1004
I can have a look at this one too :)

[2016-02-23 12:50] AlexandreAbraham commented on #1004
+1000

[2016-02-23 12:55] bthirion commented on #1004
+1

[2016-02-23 13:34] dmadou commented on #988
@aabadie I can take care of that feature ^^

[2016-02-23 13:47] aabadie commented on #988
@dmadou sure, go ahead !

[2016-02-23 15:43] GaelVaroquaux opened #1005 "The front page of nilearn is not rendering right"
The gallery and the picture are currently not displayed:
http://nilearn.github.io/

[2016-02-23 15:44] banilo commented on #1001
I will try to think about something.

[2016-02-23 15:45] AlexandreAbraham commented on #1001
`NiftiMasker` and `MultiNiftiMasker` do not do the same thing. `NiftiMasker` is used to unmask data from one subject. `MultiNiftiMasker` is used to unmask data from several subjects. The input format of the data (filepath, list of filepaths, list of Nifti1Image) has nothing to do with that.

Not sure about that. According to the examples, no multi-subject approach is employed.

We can add it but t

[2016-02-23 15:47] AlexandreAbraham commented on #1005
Can you be more specific? Or do you have an example of how it should look like?

[2016-02-23 15:56] GaelVaroquaux commented on #1005
Sorry, and full force refresh fixed the problem

[2016-02-23 15:56] #1005 closed

[2016-02-24 16:51] AlexandreAbraham opened #1009 "Replace get_data by safe_get_data in plotting."
In plotting, there is no reason to use get_data that may have side effects. We should use safe_get_data.

[2016-02-24 17:31] dohmatob opened #2367 "check_paradigm should check for invalid keys in passed dict"
Using the old `nipy` user logic, I passed `amplitude=somethx` instead of `modulation=somethx` in the `make_design_matrix`. I didn't crash but the values where ignored (e.g Error: unknown param, etc.). A default value of 1 was forced...

[2016-02-25 06:54] #1009 closed

[2016-02-25 13:01] GaelVaroquaux opened #1011 "signals.clean: Consider filtering based on a cosine base"
According to @pbellec, this has two benefits compared to our butterworth filter:
- Not having ugly side effects at the beginning and of the acquisition (need to check this)
- Enabling missing data, as eg in a later possible implementation of scrubbing

[2016-02-25 13:02] GaelVaroquaux commented on #1011
@bthirion : what's your feeling on cosine-based signal cleaning with regards to butterworth?

[2016-02-25 13:05] GaelVaroquaux opened #1012 "Implement sample mask in signal cleaning and the various maskers"
The goal of this issue is partly to implement/support scrubbing of time series.

This issue depends on #1011

[2016-02-25 13:26] GaelVaroquaux opened #1013 "Compute a scrubbing sample mask"
We need to compute frame displacement (FD) from the movement parameters: the work is to transform the rotation in displacement using the heuristic that a brain is 50cm length.

Typically, the FD is padded back (ie a value 0 is added at the back) and thresholded and 1 tr is removed before, and 2 after (a total of 4 frames).

@pbellec has some matlab code that implements this and should be converted

[2016-02-25 14:06] MartinPerez opened #2368 "Possible extension of AR models"
possible extension to AR(k)

[2016-02-25 14:22] bthirion commented on #1011
No strong feeling. I have always used cosine filters (DCT bases).
It would be great to document any bad behavior of butterworth (e.g. border effect).

[2016-02-25 14:28] GaelVaroquaux opened #1014 "Rename all the non-user facing methods in the Slicers to private functions"
Things like '_init_with_figure' should be private, to have lighter tab-completion.

[2016-02-25 15:34] lesteve commented on #1003
At one point I toyed with the idea of using continuous_integration/install.sh on CircleCI i.e. use the same install script on both CIs. In case this is of any use:

https://github.com/lesteve/nilearn/tree/use-install-sh-on-circleci

I don't remember why I stopped though, probably it wasn't working perfectly ...

[2016-02-25 17:34] dohmatob opened #1015 "Cluster-forming threshold in plot_prob_atlas"
![group_zmaps](https://cloud.githubusercontent.com/assets/634068/13328321/4744ba8a-dbee-11e5-8adb-c418f83ea601.png)

It be nice to have a function or a function for deleted clusters which are too small (user-specified size).

[2016-02-25 17:38] GaelVaroquaux commented on #1015
The idea being a function like:

[code]

I am not sold on the name of the function that I am proposing here.

That function partly overlaps with what Kamalakar has coded for region
extraction.

[2016-02-25 17:38] MartinPerez opened #2369 "API reformulation"
A recent discussion pointed at several current weaknesses of the API:
- The error prone need to reinput parameters. For example to instantiate design matrices at different pipeline steps.
- Lack of separation between data and parameters. Like the relationship between TR and design. We might want to separate design_spec from design_matrix.
- Misnaming of certain functions in the analysis process. L

[2016-02-25 19:17] KamalakerDadi commented on #1015
Ok. I will take care of this.

[2016-02-25 19:18] GaelVaroquaux commented on #1015
Can you see this with Elvis.

[2016-02-25 19:22] KamalakerDadi commented on #1015
Definitely, I will discuss the solution with Elvis.

[2016-02-25 21:07] aabadie commented on #1003
I gave a try at you branch which is a good starting point for this issue but it was not working at all :)
The problem comes the environment variables that are reset for each commands in circle ci unless they are set globally. I could make this work but then I had another issue with the default python virtualenv already installed.

In a summary, it's a bit a mess to set up conda on circleci but I n

[2016-02-25 21:16] #930 closed

[2016-02-25 21:21] KamalakerDadi opened #1017 "[discussion] manual positioning of cut_coords n plotting functions should accept only list"
For example, it is key to find difference between (36) to (36, )

[2016-02-25 21:26] KamalakerDadi commented on #807
This issue can be closed since it is addressed in PR #1002

[2016-02-26 06:14] #807 closed

[2016-02-26 07:36] GaelVaroquaux commented on #1017
No, not "accept only list", but in all our tutorials and documentation,
which should only demo lists, ot tuples.

[2016-02-26 08:13] dohmatob opened #1018 "Put legends in plot_prob_atlas"
![group_zmaps](https://cloud.githubusercontent.com/assets/634068/13346789/1dd4c692-dc69-11e5-9d35-21f605ef9a7e.png)

In the figure generated by `plot_prob_atlas`, It would be nice to know which color corresponds to which of the input 3D maps. This could be done on a legend plotted on a separate figure (and then merged ?), so as not to mess up the main figure.

[2016-02-26 08:17] arthurmensch commented on #1018
Just a colorbar beside with index numbers would be great. Actually I could
work on this.
Le 26 févr. 2016 09:13, "DOHMATOB Elvis" <notifications@github.com> a
écrit :

[2016-02-26 08:26] dohmatob commented on #1018
On Fri, Feb 26, 2016 at 9:17 AM, Arthur Mensch <notifications@github.com>
wrote:

This would be already much better than what we have, but I was thinking of
putting user-supplied labels.

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-02-26 08:31] KamalakerDadi commented on #1017
Ok, noted.

[2016-02-26 09:00] arthurmensch commented on #1018
Thanks Elvis for putting all the available tags to this issue, I am on it

[2016-02-26 09:45] bthirion commented on #1015
For completeness: I have added this in the (light) thresholding module of nistats. You may want to look at it: https://github.com/nistats/nistats/blob/master/nistats/thresholding.py

B

[2016-02-26 09:46] fliem opened #1019 "add_sphere for slicers"
This came up in a conversation with @GaelVaroquaux at Brainhack Paris, 2016.

Would it be possible to add an add_sphere functionality to slicers? This could be used e.g. to overlay a seed sphere on top of a stats map (e.g., for seed-based correlation).

[2016-02-26 09:47] fliem opened #1020 "automatically list clusters centers"
This came up in a conversation with @GaelVaroquaux at Brainhack Paris, 2016.

Would it be possible to identify clusters on a thresholded stats map and then automatically plot n_clusters plots with cut_coords at the center of each cluster?

[2016-02-26 10:08] fliem opened #1021 "signal.clean t_r default value"
This came up in a conversation with @GaelVaroquaux at Brainhack Paris, 2016.

It seems that in the example http://nilearn.github.io/auto_examples/03_connectivity/plot_adhd_spheres.html#sphx-glr-auto-examples-03-connectivity-plot-adhd-spheres-py

the t_r is set to 2.5 seconds at masking. The time series’ header says tr = 2.0 s. Is the header wrong, or the example?

More generally, signal.clean has

[2016-02-26 10:09] AlexandreAbraham commented on #1017
Some time ago, I raised the same problem and advocated to stop using cut_coords as a holdall. I suggested to differentiate `cut_coords` from `n_cuts`.

[2016-02-26 10:14] AlexandreAbraham commented on #1019
Hi fliem,

This is already in the pipeline (even though I can't find the related issue right now). We will add an `add_markers` functions that will displays markers of any shape (round, squares...) and of any color/size.

Would that suit your needs? It's just 5 lines of code away, maybe we can hack it now.

[2016-02-26 10:17] AlexandreAbraham commented on #1020
For the moment, you can use `RegionExtraction` and `plot_stat_map` after it.

[2016-02-26 10:18] AlexandreAbraham commented on #1021
+1, I've already raised this problem in the past.

[2016-02-26 10:25] fliem commented on #1019
Sounds good. I am in the middle module.

[2016-02-26 10:30] AlexandreAbraham commented on #1019
@KamalakerDadi do you have time for that?

[2016-02-26 10:41] GaelVaroquaux commented on #1020
I think that the functionality wanted is more like find_xyz_coords:
return a list of coordinates. It's closer to finding peaks.