[2021-01-07 10:00] bthirion commented on #1110
Closing for now.

[2021-01-07 11:38] NicolasGensollen commented on #1881
I believe we can close this @kchawla-pi ?

[2021-01-07 11:54] NicolasGensollen commented on #1632
Hi @robbisg
Any updates on this or should I close the issue?

[2021-01-07 14:10] NicolasGensollen commented on #1930
Hi @samson1016, any updates on this?
Since there is no way to reproduce the error you were having, I doubt this will move forward without new inputs...

[2021-01-07 19:31] jeromedockes commented on #2646
Hi, we used the javascript plotly API because (1) we did not want to add a dependency on Plotly and (2) we wanted the interactive plots to be static, standalone pages that can be saved and shared. However, we are now planning to add an optional dependency on Plotly (python library) and when it is installed also offer the figures created by the `view_*` functions as python plotly figures. the main

[2021-01-07 19:39] jeromedockes commented on #2646
and have you tried `ipywidgets.HTML(view.get_iframe())` ?

[2021-01-07 19:49] jeromedockes commented on #2646
@bendichter  this seems to work for me:
[code]

is this what you wanted?

[2021-01-07 19:51] jeromedockes commented on #2646
![Screenshot from 2021-01-07 14-50-27](https://user-images.githubusercontent.com/9196501/103938136-c5c37f80-50f7-11eb-87d0-6a3a9fe4c6d9.png)

[2021-01-07 20:07] bendichter commented on #2646
thanks!

[2021-01-07 20:07] #2646 closed

[2021-01-08 10:07] NicolasGensollen commented on #2216
Hi @yasmina-mekki
Were you able to implement the solution proposed above by @jeromedockes ? (If there is a related post on neurostars, adding a link to it here could be useful).
However, I don't think this feature will be implemented such as to not make the codebase too complicated. Unless there is still something to do here, I will close the issue in a couple of weeks.

[2021-01-08 10:18] yasmina-mekki commented on #2216
Hi @NicolasGensollen ,
I was indeed able to implement the solution proposed by @jeromedockes. I used the 'create_sphere' function from nltools.mask for that purpose.
Thank you.

[2021-01-08 10:18] #2216 closed

[2021-01-08 15:39] NicolasGensollen commented on #1630
Hi @cancan101
As far as I can tell, there does not seem to be any bug here although the output shape might be surprising at first as @bthirion explained above.
Should we close this?

[2021-01-08 20:43] bthirion commented on #1630
Closing indeed.

[2021-01-08 20:43] #1630 closed

[2021-01-11 09:40] robbisg commented on #1632
Hi @NicolasGensollen ,

I did this feature several time ago and it should be tested with the newest version of the code, but I don't know if is ok to include this in nilearn. If yes, I can PR otherwise it is ok to close!

Thank you!

[2021-01-11 11:28] NicolasGensollen commented on #2537
I had a look at this today and I was able to reproduce the issue with the code and data you provided @vnckppl

[code]
![contour_before_fix](https://user-images.githubusercontent.com/2639645/104173291-d466ab00-5405-11eb-8073-8ad3354a3b0e.png)

After investigation, I believe the problem comes indeed from the function `_map_show` when called from `add_contours` with `rr` as argument. More precisely,

[2021-01-11 12:03] NicolasGensollen commented on #2420
Hi @Spenhouet
As has been said above, this feature seems to better fit within the scope of scikit-image than nilearn's.
Unless you think that this issue is still relevant and should stay open, I will close it in a few days.

[2021-01-11 12:15] NicolasGensollen commented on #2355
Linking to more recent (but duplicate) #2508

[2021-01-11 15:54] Spenhouet commented on #2420
@NicolasGensollen Since I already opened a scikit-image feature request this issue can be closed. Thanks for the pointer.

[2021-01-11 15:54] #2420 closed

[2021-01-11 16:07] NicolasGensollen commented on #2537
Hmmm... After looking more into this I realize that my previous message and the proposed fix are wrong.

I believe the problem comes from the fact that, since the affine is not considered diagonal in the code below, the image is resampled with continuous interpolation:

https://github.com/nilearn/nilearn/blob/bb3cd501add9f29e108d5fa4c21a2412579545bb/nilearn/image/resampling.py#L694-L706

[2021-01-11 19:31] jsmentch opened #2658 "Plotting flat maps + plotting additional data as transparency"
I am plotting Cifti files with [hcp-utils](https://rmldj.github.io/hcp-utils/) and nilearn. It works very nicely for the standard inflated surface but the aspect ratio is off for plotting a flatmap (squished to a square):

![download (42)](https://user-images.githubusercontent.com/20958589/104226981-ab9ae180-5416-11eb-9e32-1eed4c643a69.png)

![download (43)](https://user-images.githubusercontent.c

[2021-01-11 20:29] bthirion commented on #2658
Thx for the report !
What version of Nilearn are you using ? The 0.7.0 ?
Other wise, it would be great if you could share the flat map for us to reproduce and fix.

[2021-01-11 20:41] bthirion commented on #2537
So the solution would be to turn to nearest interpolation for binary images ?

Actually, what makes more sense would be to interpolate the image from which the edges are estimated, and not interpolate an image (possibly raise a warning if this is done)...

[2021-01-11 23:16] jsmentch commented on #2658
Sure! Yes this is v0.7.0 and looks like their surfaces are [here](https://github.com/rmldj/hcp-utils/tree/master/hcp_utils/data)

here is an example if hcp-utils is installed:

[code]

plot is not too stretched I think plotting one hemisphere
![download (44)](https://user-images.githubusercontent.com/20958589/104248726-0bee4b00-5438-11eb-9ec3-096cea4d6397.png)

plotting bilateral is squished:
`plo

[2021-01-12 09:24] NicolasGensollen commented on #2537
The problem is happening here:

https://github.com/nilearn/nilearn/blob/bb3cd501add9f29e108d5fa4c21a2412579545bb/nilearn/image/resampling.py#L270-L275

Before this line `data` is binary while the output of `affine_transform` with `interpolation_order=3` ('continuous`) isn't.

This is indeed a possible solution. For example, doing something like this:

[code]

gives this output with the example cod

[2021-01-12 09:25] #1881 closed

[2021-01-12 09:31] NicolasGensollen commented on #1632
@robbisg you're welcome to open a PR which will make it easy to assess how your new feature works and how it could be integrated in the newest version of the code. Let me know if I can help!

[2021-01-12 09:51] robbisg commented on #1632
Great! I hope to open it asap! Thanks @NicolasGensollen !

[2021-01-12 20:52] bthirion commented on #2537
My point is that to avoid surprises, you should avoid reinterpolating a binary image. Since the binary image is always obtained from another initial image, I'd resample this original image rather than the binary (edge) image.
Anyway, your fix is right, so you can forget this comment.

[2021-01-12 20:52] bthirion commented on #2537
So please go ahead with this solution. thx !

[2021-01-12 20:59] bthirion commented on #2658
This is weird indeed. thank you for reporting.
Best,

[2021-01-13 11:08] NicolasGensollen commented on #2163
Hi @fkalbe
Since numpy `1.17.0`, `median` and `percentile` functions no longer warn about nans (see [here](https://github.com/numpy/numpy/releases/tag/v1.17.0)), such that we don't have to deal with this warning with newer versions of numpy.
That being said, we still support older versions (down to `1.11`) such that we might want to suppress this warning with your fix (AFAICT it seems to solve the

[2021-01-13 11:16] NicolasGensollen commented on #2165
Hi @neuromichael
As has been said above, you can set `symmetric_cbar` to `False` to display an asymmetric colorbar, but there is no user-friendly way to use asymmetric colormaps by design:

https://github.com/nilearn/nilearn/blob/bb3cd501add9f29e108d5fa4c21a2412579545bb/nilearn/plotting/img_plotting.py#L1119-L1123

I don't believe this feature will be implemented as pointed out above. Unless you f

[2021-01-13 13:30] bthirion commented on #2369
Closing for now. Some of it is deprecated, although we're not yet fully happy with nilearn.glm API.

[2021-01-13 13:30] #2369 closed

[2021-01-13 13:31] #1025 closed

[2021-01-13 13:39] bthirion commented on #1065
Stalled.

[2021-01-13 13:39] #1065 closed

[2021-01-13 13:44] bthirion commented on #1070
Not reproducible.

[2021-01-13 13:44] #1070 closed

[2021-01-13 13:45] bthirion commented on #1079
Not precise enough. Closing.

[2021-01-13 13:45] #1079 closed

[2021-01-13 13:51] bthirion commented on #1092
Stalled.

[2021-01-13 13:51] #1092 closed

[2021-01-13 13:52] bthirion commented on #2380
Fixed already.

[2021-01-13 13:52] #2380 closed

[2021-01-13 13:58] bthirion commented on #1129
Refactored already.

[2021-01-13 13:58] #1129 closed

[2021-01-13 14:00] bthirion commented on #1142
Stalled, closing.

[2021-01-13 14:00] #1142 closed

[2021-01-13 14:05] bthirion commented on #1147
Stalled, closing.

[2021-01-13 14:05] #1147 closed

[2021-01-13 14:10] bthirion commented on #2165
Closing, as `plot_img` does the trick.

[2021-01-13 14:10] #2165 closed

[2021-01-13 14:13] bthirion commented on #1149
I think that this concerns `plot_glass_brain` specifically, as `plot_img` can be used otherwise to deal with the issue.
So I would reformulate it as: give plot_glass_brain the same signature as `plot_img`.

[2021-01-13 14:18] bthirion commented on #1157
Stalled, closing.

[2021-01-13 14:18] #1157 closed

[2021-01-13 14:19] bthirion commented on #1166
@KamalakerDadi are you willing to do that ?

[2021-01-13 14:24] KamalakerDadi commented on #1166
Sure let me reopen the PR.

Could you summarize what needs to be done from your understanding? @bthirion

[2021-01-13 14:25] bthirion commented on #1173
Solved. Closing

[2021-01-13 14:25] #1173 closed

[2021-01-13 14:32] bthirion commented on #1186
Stalled. Closing.

[2021-01-13 14:32] #1186 closed

[2021-01-14 08:23] #2303 closed

[2021-01-15 08:28] #2647 closed

[2021-01-15 09:42] NicolasGensollen opened #2660 "Deprecate bytes and metadata as numpy arrays in datasets"
Most fetchers in `nilearn.datasets` currently return descriptions and label names in `bytes`. See issue #1635 and recent PR #2655 for example.
Moreover, metadata is currently returned as numpy arrays which is not optimal from a usage perspective.
For example:

[code]
 outputs

[code]

Since we were planning to use Pandas instead of Numpy for this (see #2621), I think this could be the opportunity

[2021-01-15 18:22] tsalo opened #2662 "Add moving-average principal component analysis algorithm"
Moving-average PCA (MA-PCA) is implemented in the [Group ICA of fMRI Toolbox (GIFT)](https://trendscenter.org/software/gift/), for order selection (i.e., number of components) during PCA dimensionality reduction prior to ICA (see [Li, Adali, & Calhoun, 2007](https://onlinelibrary.wiley.com/doi/10.1002/hbm.20359)). We use a Python implementation of this method in [`tedana`](https://github.com/ME-IC

[2021-01-15 20:32] bthirion commented on #2662
If you find it useful for you, then it's a useful feature.
From a math perspective, I can only warn that this should only be seen as a heuristic, not as a kind of "true dimensionality" . The reason is that the various sources of correlations present in the data that break the conditions for any theoretical results to apply... buut people like to believe in a "true" model.
This being said, heuristi

[2021-01-15 22:25] bthirion commented on #2660
+1 for introducing the deprecation warning.
So you will do the conversions (numpy-> pandas, bytes->string in the fetcher) ?

[2021-01-18 09:13] GaelVaroquaux commented on #2662
My question would be: what would it be useful for? Another way to phrase
this is: can we make an example in nilearn, using the datasets that we
have, that is meaningful to an end user?

[2021-01-18 09:23] NicolasGensollen commented on #2660
@bthirion OK, I'll add a deprecation warning asap.

Yes, I'm planning to do that.

[2021-01-18 14:01] NicolasGensollen commented on #2652
Hi @xuesongwang
Were you able to build the mask? As @bthirion said, you can use `math_img("img==2001", img=aal['maps'])`.
Unless there is still something unclear, I propose to close this.
Thanks!

[2021-01-18 14:57] tsalo commented on #2662
In `tedana` we use it to prepare data for ICA and to determine how many components should be extracted with the ICA. In the case of examples, we could perhaps use it before CanICA? Or we could add a new example that compares CanICA to MA-PCA+FastICA?

[2021-01-18 15:47] NicolasGensollen commented on #2305
Has this bug been addressed?
I cannot reproduce since the files are not available anymore, but the changes introduced in #2025 are still there AFAICT.

[2021-01-18 16:09] NicolasGensollen commented on #1998
Solved in #2027

[2021-01-18 16:09] #1998 closed

[2021-01-19 10:49] #2652 closed

[2021-01-19 10:56] xuesongwang commented on #2652
@bthirion @NicolasGensollen  Yes, it perfectly solves my problem. Thanks a lot. I didn't know about the data structure in nii image format before (width, height, depth, ...) and that index numbers represent the ROI index , that's why I couldn't modify the input voxels.

[2021-01-19 16:05] robbisg commented on #1632
@NicolasGensollen @bthirion @GaelVaroquaux
I was modifying this feature and I found that in master version cross-validation results are averaged, but I use to keep these results since sometimes these may be useful (e.g. across-subjects analyses or check the variability of accuracy wrt selected cv-schema).
Do you think it is useful to keep cv fold values? This may impact also some examples.

[2021-01-19 17:34] bthirion commented on #1632
In general, I agree with you that having an eye on accuracy variability is instructive !
In the case of searchlight-type analysis, this information is a bit hard to represent as it is varies from voxel to voxel. You cannot do a boxplot etc. How would you convey it to the user ?

[2021-01-20 09:13] robbisg commented on #1632
I was only wondering if you think that providing also the each cross-validation searchlight map could be useful. since now in ``` _group_iter_search_light``` line 171 is averaging across cv-folds.
[code]
I removed the mean and now ```sl.scores_``` is a 4D image with the fourth dimension representing the cv-fold, then the users can use this information as they want and this new output will impact a

[2021-01-20 11:41] #1066 closed

[2021-01-20 14:48] NicolasGensollen commented on #1698
@kchawla-pi this looks outdated and there is no way to reproduce.
Should we close?

[2021-01-20 14:50] NicolasGensollen commented on #1628
@cancan101 any updates on this?

[2021-01-20 14:57] cancan101 commented on #1628
Not from my end. I am not working with nilearn anymore.

[2021-01-20 16:25] jeromedockes opened #2665 "difumo atlas resolution"
difumo maps downloaded with `resolution_mm=2` seem to have 1.875 mm resolution
[code]

also why are we downloading the `resample_dictionaries.py` script?

[2021-01-20 18:08] bthirion commented on #2665
Indeed...

[2021-01-20 22:26] bthirion commented on #1632
I think I'm fine with it, but I don't use searchlight, so we should have somebody else's opinion.
@SylvainTakerkart ?

[2021-01-21 02:29] KamalakerDadi commented on #2665
so what do you suggest?

down the lane somebody should not ask a question of how it is resampled.

[2021-01-21 07:45] SylvainTakerkart commented on #1632
Hi, I agree: being able to have access to single-fold accuracy maps is very useful, in particular to perform stats on searchlight maps. I've had to use various tricks in the past for this, and the one you propose, @robbisg (remove the np.mean on that line), seems like a good simple one!

[2021-01-21 17:34] #1189 closed

[2021-01-21 17:35] NicolasGensollen commented on #1190
Fixed in #2661

[2021-01-21 17:35] #1190 closed

[2021-01-21 17:41] jeromedockes commented on #2665
in order of preference:

- upload the maps resampled to 2mm and download these
- resample the maps in the fetcher

[2021-01-22 04:30] KamalakerDadi commented on #2665
why not modifying the doc string to 1.875

[2021-01-22 09:03] NicolasGensollen commented on #2331
Addressed in #2332

[2021-01-22 09:03] #2331 closed

[2021-01-22 10:04] RaphaelMeudec opened #2667 "Decoder.score() behaviour in classification mode"
Hello!

I'm not sure if this issue is a documentation or feature request issue: the `.score` seems a bit confusing for me as a new-comer.

I used the Decoder object in a classification tasks. After fitting the model, I used the  `.score` method, expecting it to compute the mean accuracy (as it is done in scikit-learn for classifiers). I got lucky its value came back negative, it made me look at th

[2021-01-22 11:59] jeromedockes commented on #2667
Thanks for pointing this out! IMO it's a bug so I would go for your first
suggestion -- change the behavior. Either by having the _BaseDecoder inherint
from LinearModel rather than LinearRegression if possible, or by overriding the
score method.

[2021-01-22 12:04] jeromedockes commented on #2665
yes that's also an option. but it is not only the docstring, the value
of resolution_mm parameter value would also have to be changed, and we
probably don't want to rely on a float comparison to identify which maps
to return (passing `resolution_mm=1.875` doesn't seem like a good
option)

[2021-01-22 12:06] jeromedockes commented on #2667
WDYT @tbng  and @thomasbazeille ?

[2021-01-22 12:28] NicolasGensollen commented on #2667
I might be wrong but I would expect `.score` to use whatever scoring strategy was provided to the decoder object (`decoder.scoring`). So I'd be in favour of overriding the `score` method to rely on the user-defined strategy.

[2021-01-22 13:26] jeromedockes commented on #2667
Good point! I agree that's the most sensible behaviour

[2021-01-22 18:12] bthirion commented on #2665
I am in favor of resampling it to 2mm.

[2021-01-22 19:46] bthirion commented on #2667
Agreed. Thx for raising the point.

[2021-01-23 13:16] KamalakerDadi commented on #2665
Ok. So, the option is either 2mm or 3mm and nothing else. Right? How about resample_dictionaries.py, remove?

I think there is an Open Science Framework (OSF) account in the name of Nilearn. I don't know the credentials. Currently, the files on my personal OSF account.

[2021-01-24 19:58] rhodricusack opened #2668 "Slightly odd behaviour of make_first_level_design_matrix"
nilearn 0.70

I discovered a slightly unexpected behaviour of nilearn.glm.first_level.make_first_level_design_matrix which is that if an event is duplicated with the same onset and duration, one is ignored, but if they differ (even very slightly) then both count towards the design. I expected it to add together multiple events. Code to reproduce below - in X0, events with onsets at 0 and 10 s have

[2021-01-24 20:16] bthirion commented on #2668
Thx for raising the point. I'm not 100% sure what is the right behavior in that case. I tend to think  that we should indeed leave the use the responsibility to provide an event file that does not contain ambiguous and duplicate entries, and thus not silently ignore some of the provided information: this means that in your case, we should basically add the two events.

Any other opinion ? @tsalo

[2021-01-24 20:48] bthirion commented on #2665
I don't have it either. maybe @kchawla-pi ? or @GaelVaroquaux ?

[2021-01-24 20:49] bthirion commented on #2665
Yes. But keep resample dictionaries, that is always useful.

[2021-01-25 02:23] KamalakerDadi commented on #2665
Good point. Just searched in my inria email account and found them. I shared with you again.

[2021-01-25 07:54] GaelVaroquaux commented on #2665
The account was created on Oct 8th 2018, by Kshitij, and the credentials
were shared with Kamalakar, Bertrand and myself in an email named
"NiLearn account on https://osf.io"

If you have difficulties finding it, I'll forward it again.

[2021-01-25 08:36] bthirion commented on #2665
Got it, thx.

[2021-01-25 09:03] NicolasGensollen commented on #2668
I think that adding the events makes the most sense. I would also add a user warning, for example here:

https://github.com/nilearn/nilearn/blob/55e3f26dbd9fc6e89516e5f37e8aae23ec6086a9/nilearn/glm/first_level/experimental_paradigm.py#L21-L24

[2021-01-25 09:32] NicolasGensollen commented on #2612
Fixed in #2649

[2021-01-25 09:32] #2612 closed

[2021-01-25 09:33] NicolasGensollen commented on #2635
Fixed in #2649

[2021-01-25 09:33] #2635 closed

[2021-01-25 15:39] tsalo commented on #2668
I agree that overlapping, but distinct, events should be added. @bthirion are you saying that the duplicate events should be treated as distinct ones? Personally, I would lean toward logging a warning when duplicate events are detected, but I think that this is rare enough that either approach should be fine.

[2021-01-25 16:19] rhodricusack commented on #2668
Great thanks!  To explain two (edge) use cases where we encountered this.
(1) I was testing an efficiency calculation and wanted to see that the calculation on a contrast of two columns was the same as the calculation on a single column made from the sum of the events in the original columns (which it should be if everything is linear). But there were duplicate events in the two columns.

(2) For

[2021-01-25 20:12] tsalo commented on #2668
Thank you, those are both really helpful in understanding the issue. It seems like the question is whether duplicate events should be treated as a valid substitute for amplitude modulation. I can see arguments both against and in favor of this, and honestly I'd be happy going either way, as long as there's a warning logged in either case.

I _am_ curious to know how other packages handle this. I u

[2021-01-25 22:20] bthirion commented on #2668
I think I agree with that, possibly with a warning in case of exact duplicates.

[2021-01-27 13:46] jeromedockes opened #2673 "provide searchlight scores as a Nifti1Image and as a masked image"
ATM the `scores_` of the Searchlight are in the least practical form for an image: the full 3d data as a numpy array. It would be useful to have a `scores_img_` (as the decoders have a `coef_img_` for example)

also possibly a `masked_scores_`, or some convenient way to access the masked data? (note the `coef_` of decoders are masked, not the full 3d data)

to be sure the data twice either `scores

[2021-01-27 17:07] bthirion commented on #1191
No example to reproduce, closing.

[2021-01-27 17:07] #1191 closed

[2021-01-27 17:11] bthirion commented on #1197
Stalled. Closing.

[2021-01-27 17:11] #1197 closed

[2021-01-27 17:13] bthirion commented on #1201
Stalled. Closing.

[2021-01-27 17:13] #1201 closed

[2021-01-27 17:14] bthirion commented on #2370
Deprecated, closing.

[2021-01-27 17:14] #2370 closed

[2021-01-27 17:18] bthirion commented on #1213
GraphLassoCV is used in 4 examples. This should be improved indeed.

[2021-01-27 17:21] bthirion commented on #1214
Duplicate of 1213 I think. Closing.

[2021-01-27 17:21] #1214 closed

[2021-01-27 17:22] bthirion commented on #1220
Solved, closing.

[2021-01-27 17:22] #1220 closed

[2021-01-27 17:27] bthirion commented on #1230
Closing for #1240

[2021-01-27 17:27] #1230 closed

[2021-01-27 17:28] bthirion commented on #1231
Stalled, closing.

[2021-01-27 17:28] #1231 closed

[2021-01-27 17:36] bthirion commented on #1242
No consensus toc hange, closing.

[2021-01-27 17:36] #1242 closed

[2021-01-27 17:42] bthirion commented on #1246
Can't reproduce any more closing.

[2021-01-27 17:42] #1246 closed

[2021-01-27 17:43] bthirion commented on #1257
Stalled or solved ? Closing.

[2021-01-27 17:43] #1257 closed

[2021-01-27 17:44] bthirion commented on #1261
Stalled.

[2021-01-27 17:44] #1261 closed

[2021-01-27 17:47] bthirion commented on #1280
No concrete example to reproduce. Closing.

[2021-01-27 17:47] #1280 closed

[2021-01-27 17:47] bthirion commented on #1285
Stalled.

[2021-01-27 17:47] #1285 closed

[2021-01-27 17:50] bthirion commented on #2371
Requires significant amount of work... closing for now.

[2021-01-27 17:50] #2371 closed

[2021-01-27 17:52] bthirion commented on #1289
Fixed. Closing.

[2021-01-27 17:52] #1289 closed

[2021-01-27 17:57] bthirion commented on #1308
Solved.

[2021-01-27 17:57] #1308 closed

[2021-01-27 17:58] bthirion commented on #1326
Closing for now.

[2021-01-27 17:58] #1326 closed

[2021-01-27 18:00] bthirion commented on #1331
See #1241. Closing for now.

[2021-01-27 18:00] #1331 closed

[2021-01-27 18:00] bthirion commented on #1332
Stalled, closing.

[2021-01-27 18:00] #1332 closed

[2021-01-27 18:04] bthirion commented on #1339
Stalled.

[2021-01-27 18:04] #1339 closed

[2021-01-27 18:09] bthirion commented on #1352
Cannot be reproduced. Closing.

[2021-01-27 18:09] #1352 closed

[2021-01-27 18:13] #1396 closed

[2021-01-27 18:16] #2372 closed

[2021-01-27 18:17] bthirion commented on #2373
Stalled. Closing for now.

[2021-01-27 18:17] #2373 closed

[2021-01-27 18:20] bthirion commented on #1416
Sorry, I don't undertsand it. Closing for now.

[2021-01-27 18:20] #1416 closed

[2021-01-27 18:21] #1417 closed

[2021-01-27 18:22] bthirion commented on #1426
Much of it has been addressed.

[2021-01-27 18:22] #1426 closed

[2021-01-27 18:24] bthirion commented on #1437
Still right, most likely, but the issue is not very useful as such. Closing.

[2021-01-27 18:24] #1437 closed

[2021-01-27 18:25] #1440 closed

[2021-01-27 18:29] bthirion commented on #1460
Nothing left to do. Closing.

[2021-01-27 18:29] #1460 closed

[2021-01-27 18:31] bthirion commented on #1480
Not doing it for due to the licence.

[2021-01-27 18:31] #1480 closed

[2021-01-27 19:53] GaelVaroquaux commented on #2662
I have the feeling that moving-average PCA (if I understand it well) can
simply be done by low-pass filtering and running a PCA. I would consider
this as cleaner from a signal-processing point of view.

[2021-01-27 19:58] tsalo commented on #2662
@eurunuela has a much better handle on the algorithm, since he translated GIFT's MATLAB implementation to Python. If the results _are_ identical (or at least reasonably similar), I agree that the more straightforward approach would be preferable.

[2021-01-27 20:18] eurunuela commented on #2662
The key point of the moving-average (or entropy-based) PCA is it uses the entropy of i.i.d. surrogates to estimate the optimal number of components for PCA. The PCA step of maPCA we are currently using in `tedana` is the sklearn PCA with the estimated number of components from the moving-average (or entropy-based) part.

[2021-01-27 20:27] bthirion commented on #2673
See also #2666

[2021-01-28 17:31] #2367 closed

[2021-01-28 20:17] #2665 closed

[2021-01-29 09:06] #2667 closed

[2021-01-29 20:00] rhodricusack opened #2674 "Events of the same type that end simultaneously"
nilearn 0.7.0

Hi-
I've accidentally discovered a new way to break make_first_level_design_matrix, with overlapping events of the same trial_type but different durations. If two events like this end simultaneously, only one of them gets ended, leading to an elevated regressor for the rest of the frames.

Below is some example code, and the figure it produces:
![break_make_first_level_design_matrix

[2021-01-29 20:26] tsalo commented on #2674
I just ran your code locally using the current master branch and it looks different to me:

![image](https://user-images.githubusercontent.com/8228902/106323743-e76edd00-6245-11eb-8d44-4dd8d9570dde.png)

Are you able to reproduce the bug on the current master branch?

[2021-01-29 23:31] jerdra commented on #1011
Hey, sorry if necro-bump, but has anyone attempted to implement DCT-based cosine regressors in lieu of signal.clean's butterworth filter? I've recently attempted this (albeit I'm not a signal processing expert) and have run into the same issue @danlurie has noted for the butterworth implementation *but worse* with a DCT v1.1 implementation.

I used a bandpass of (0.009, 0.08) for both `signal.clea

[2021-01-30 00:14] danlurie commented on #1011
I haven't heard any updates on this issue, but FMRIPREP outputs DCT basis function regressors as part of its confounds workflow. That could be a good start to test your results against.

[2021-01-30 00:18] jerdra commented on #1011
I think fMRIPrep outputs the DCT basis functions for performing high-pass with aCompCor does it not? Does it also output higher frequency basis functions?

[2021-01-30 13:47] JoffJones opened #2675 "plot_connectome shows nodes below edge_threshold"
Hi there,

I am trying to only show significant nodes above edge_threshold using the plot_connectome function in nilearn 0.7.0. It plots the correct edges but it always displays all of the nodes, rather than just the ones with edges above the threshold as I expected it to. Is there a way to only show the nodes that survive the threshold.

I've tried this with a whole connectome and a masked connec

[2021-01-30 19:53] rhodricusack commented on #2674
Yes, installing the current master branch fixes the problem for me too.
Thank you!

________________________________
From: Taylor Salo <notifications@github.com>
Sent: Friday 29 January 2021 20:26
To: nilearn/nilearn <nilearn@noreply.github.com>
Cc: Rhodri Cusack <rhodricusack@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nilearn/nilearn] Events of the same type that end simultaneou

[2021-01-31 20:45] bthirion commented on #1011
I think that the discussion converges toward the point that low-pass filtering without centering yields artefacts, for all implementations.  This being said, I think that it is good for people to use DCT or Butterworth as they fancy.

[2021-01-31 20:49] bthirion commented on #2675
Can you provide a full example ?

I hope I understand correctly, but I think that (at least, by default) the function should plot all the nodes, even if they are not connected with a significant edge. because the absence of a significant edge to that node is in itself an important piece of information.

[2021-01-31 23:00] JoffJones commented on #2675
Hi @bthirion,
Thanks for your help, that is correct. I may well have misunderstood the functionality, I was looking at the first example (link below) where nodes are only shown on the left for the Yeo17 atlas so I assumed that this was due to the thresholding. I think that I should be able to achieve the desired result by slicing the coordinates and connectome before plotting them.
https://nilearn

[2021-02-01 14:00] JoffJones commented on #2675
Fixed with indexing

[2021-02-01 14:00] #2675 closed

[2021-02-01 17:05] tsalo commented on #2674
Since this will be fixed in the 0.7.1 release, I'm going to close it. For posterity- any users who come across this issue should update `nilearn` to >= 0.7.1 (or the `master` branch if 0.7.1 hasn't been released yet).

I'll also open a PR to update [`whats_new.rst`](https://github.com/nilearn/nilearn/blob/master/doc/whats_new.rst) with information about the bug. Thanks @rhodricusack for reporting

[2021-02-01 17:05] #2674 closed

[2021-02-01 17:10] tsalo commented on #2629
Regarding improving the actual templates- what about making the summary comment at the top into specific sections?

For example, for the bug report, instead of

[code]

we could have:

[code]

[2021-02-01 17:18] NicolasGensollen commented on #2629
I like the idea! :+1:
I think the template is more clear and this will perhaps encourage user to copy-paste their code to reproduce.

[2021-02-01 17:30] NicolasGensollen opened #2677 "Failures in build due to numpy 1.20"
Need to fix broken tests with latest package versions.

[2021-02-01 17:51] NicolasGensollen commented on #2677
It looks like it comes mostly from the fact that using the aliases of builtin types like `np.int` is now deprecated (see [here](https://github.com/numpy/numpy/releases/tag/v1.20.0))

[2021-02-02 20:00] #2677 closed

[2021-02-03 09:24] NicolasGensollen opened #2681 "Next steps for Mesh and Surface objects"
Mesh and surface were introduced in #2474 and #2672.
The next steps are:

- [ ] Update related functions with backward compatibility
- [ ] Start deprecating previous usage
- [ ] Update documentation

[2021-02-03 10:38] thomasbazeille commented on #2681
I think also this means #2424 is not blocked anymore. And in general Surface Maskers implementation can be done.

Once we have surface maskers, most of our object such as Decoder will be able to accept surface.

[2021-02-04 10:59] thomasbazeille commented on #2142
Does anyone has a clear idea on why we have a page /doc/development.rst  quoting directly /CONTRIBUTING.rst?

[2021-02-04 16:55] jeromedockes commented on #2142
nope

[2021-02-04 18:49] #2629 closed

[2021-02-04 20:20] tsalo opened #2683 "Saving GLM results to BIDS-like files"
It would be great to have a function that saves GLM outputs to files, preferably with some BIDS-like formatting. The BIDS Models outputs are not well specified, but we can use [`fitlins` outputs](https://github.com/poldracklab/fitlins/blob/01eeaefa831123913ae1371c0db2e8acc3075149/fitlins/workflows/base.py#L110-L130) as a template.

### Benefits to the change
Adding the ability to save BIDS-like de

[2021-02-04 20:46] bthirion commented on #2142
+1

[2021-02-04 20:51] bthirion commented on #2683
I do 100% agree.

[2021-02-04 21:58] GaelVaroquaux commented on #2142
To avoid duplication (two pages are harder to maintain than 1).

CONTRIBUTING.rst is for github to pick.

The other page is for the website.

[2021-02-05 05:37] thomasbazeille commented on #2142
Okay ! For now the content is split between both pages with section about the scope of the project and a primer on how to contribute in /doc/development.rst  versus a detailed contribution guide in CONTRIBUTING.rst.

Actually it creates repetition and is hard to refactor. I suggest to put everything we need in CONTRIBUTING.rst and cite it in the website then.

[2021-02-05 09:58] NicolasGensollen commented on #2668
Addressed in #2680

[2021-02-05 09:58] #2668 closed

[2021-02-05 18:28] DasDominus opened #2685 "Atlas To Regions cannot extract the correct number of regions"
The atlas I'm using: https://github.com/alfnie/conn/tree/master/rois
which contains 132 rois
The values are from 1-132 which is the same as what the example requested.

However, when using:

- nilearn.regions.connected_regions
-  nilearn.regions.RegionExtractor

The resulting regions are only a fraction of 132 even if I set the min_region_size to 0

What I'm trying to do is simply get the voxel va

[2021-02-05 19:56] NicolasGensollen commented on #2685
Hi @DasDominus
I suspect this might be due to the `smoothing_fwhm` argument of `connected_regions` which defaults to 6 when `extract_type` is set to `local_regions` (default). Could you try reducing it to see what you obtain?
Also, how long does your script take to run on your machine? I quickly tried to run it as is with the atlas you linked, but it was taking way too long (I stopped after about

[2021-02-05 20:51] DasDominus commented on #2685
hmm thanks for checking @NicolasGensollen !
I suspect it's smoothing_fwhm too...

btw, if I use smoothing_fwhm=6, it takes about a second
but if I change it to smoothing_fwhm=2, it takes much longer... I have been running the script for ~20mins and it's still running...

anyhow, I ended up writing a function to extract regions and create the regions.nii myself XD

[2021-02-05 21:29] bthirion commented on #2685
Hi,
I don't understand why you need to run region_extraction on an atlas ? Do you need to isolate one of the regions of the atlas ? Do you need to separate connected components ?
Best,

[2021-02-05 22:16] bthirion commented on #2142
Sounds reasonable.

[2021-02-05 22:54] DasDominus commented on #2685
hi @bthirion I'm trying to isolate one of the regions of the atlas, then extract the voxel values for that region

[2021-02-05 22:59] DasDominus opened #2686 "Enable NiftiLabelsMasker to provide un-aggregated values Or NiftiMasker to provide resample target"
currently nilearn.input_data.NiftiLabelsMasker provides aggregation strategies.
However, it does not have the option to simply get the raw signal without aggregation.

### Benefits to the change
It would enable more flexibility when performing analysis

### Pseudocode for the new behavior, if applicable

in https://github.com/nilearn/nilearn/blob/e372946bfc91419bc1dbbfadebfed6e6a402956d/nilearn/in

[2021-02-05 23:08] DasDominus commented on #2685
but yeah based on what @NicolasGensollen mentioned, this is not a bug.
The doc can be improved to mention suggested smoothing_fwhm value

[2021-02-05 23:08] #2685 closed

[2021-02-06 00:57] hyruuk opened #2687 "compute_contrast in FLM fails when used on multiple runs with different shapes of design matrices"
Context :
I am trying to obtain activation maps for a contrast between two conditions. I have several runs that I want to input in a FLM. For each run, I have a confounds file generated by [fMRIPrep](https://fmriprep.org/en/stable/). These files include the cosines for drift compensation. Because the length of each run varies a little bit, the number of cosines generated in the confounds files var

[2021-02-06 08:02] bthirion commented on #2685
If your initial atlas definition is by labels (discrete values), you should not use RegionExtractor.
You may want to look at that:
https://neurostars.org/t/nilearn-masking-the-prefrontal-cortex/17990
Best

[2021-02-06 08:04] bthirion commented on #2686
But this means that it would exactly have the behavior of NiftiMasker ? Why not simply use NiftiMasker ?

[2021-02-07 00:39] bpinsard commented on #2687
I was able to reproduce the error on the same data. ;)
With debugging, I was able to understand that calling `model.compute_contrasts(["contrast_str"]*n_runs)` would work but not `model.compute_contrasts("contrast_str")` due to the way contrast string are converted and multiple runs are handled here https://github.com/nilearn/nilearn/blob/e372946bfc91419bc1dbbfadebfed6e6a402956d/nilearn/glm/first_

[2021-02-07 03:01] DasDominus commented on #2686
NiftiLabelsMasker for example provides resample function based on data.
NiftiMasker however, resamples to the mask first unless target_shape & target_affine from data are provided.

I was mentioning to extend NiftiLabelsMasker because this seems simpler. But for the sake of what I'm trying to do, providing resampling_target to NiftiMasker would do the trick as well.

[2021-02-08 18:18] NicolasGensollen opened #2689 "Masker reports"
### Improving the NiftiMasker report ?

During our last meeting we talked about NiftiMasker reports and whether they were useful for end users, and if not, how we could improve them. Are the provided information useful and easy to read? Should we add other details or plots?
I think having an issue on this could start the discussion by getting feedbacks.

Below is a basic code to generate a NiftiMa

[2021-02-08 19:58] bthirion commented on #2687
Thx for raising the point. I agree with the solution.

[2021-02-08 21:15] bthirion commented on #2689
It could display the volume (in cm^3) of the masked region.

NiftiLabelsMasker: the number of regions defined by the masker ?

[2021-02-08 21:23] emdupre commented on #2689
Thanks, @NicolasGensollen ! Here's an example report that I'm wondering about -- I remember something similar confused @GaelVaroquaux in a tutorial :

[code]
![Screenshot from 2021-02-08 16-22-19](https://user-images.githubusercontent.com/15017191/107283052-dd10c800-6a29-11eb-92bc-b037d477a499.png)

My question would be : what should we show if no image is supplied to fit ?

[2021-02-09 09:16] NicolasGensollen commented on #2689
Thanks @bthirion @emdupre for the ideas!
If no image is supplied to fit, the current implementation of the report sets the image to be displayed as the mask:

https://github.com/nilearn/nilearn/blob/e372946bfc91419bc1dbbfadebfed6e6a402956d/nilearn/input_data/nifti_masker.py#L278-L286

which makes sense even if the output can be confusing. A few ideas to deal with this:

- Add a Warning in `_report

[2021-02-09 09:22] NicolasGensollen commented on #2689
Maybe also the size of each region in number of voxels and/or volume in cm^3 in a table or a plot ?

[2021-02-09 14:09] GaelVaroquaux commented on #2689
For the NiftiLabelsMasker, I would have in mind to use something like plot_roi to plot the regions given to the masker, and as a background something similar.

[2021-02-09 17:42] bthirion commented on #2689
Sounds that the right thing to do to me.

[2021-02-10 09:49] NicolasGensollen opened #2690 "Nans and no thresholding in surface plotting"
When the map contains nan values and no thresholding is performed, we obtained a weird looking output where the background is removed:

[code]

![nan](https://user-images.githubusercontent.com/2639645/107492543-de0e3a80-6b8c-11eb-9cfb-b10c994d05f7.png)

When thresholding is performed:

[code]

![nan-thresholding](https://user-images.githubusercontent.com/2639645/107492933-49580c80-6b8d-11eb-9e3b-7

[2021-02-10 14:29] bthirion commented on #1498
Not reproducible, closing.

[2021-02-10 14:29] #1498 closed

[2021-02-10 14:32] bthirion commented on #1501
Addressed in #2294.

[2021-02-10 14:33] bthirion commented on #1501
'n_jobs' argument could be added to NiftiSpheresMasker though.

[2021-02-10 14:42] bthirion commented on #1514
Done in Decoder. thx for the suggestion.

[2021-02-10 14:42] #1514 closed

[2021-02-10 14:44] bthirion commented on #1520
This has been done recently. closing.

[2021-02-10 14:44] #1520 closed

[2021-02-10 14:48] bthirion commented on #1522
This particularly issue is closed, but it raises other concerns on argument checking.

[2021-02-10 14:48] #1522 closed

[2021-02-10 14:51] bthirion commented on #1539
No obvious solution to this issue.

[2021-02-10 14:51] #1539 closed

[2021-02-10 14:55] bthirion commented on #1551
Closing now.

[2021-02-10 14:55] #1551 closed

[2021-02-10 15:10] bthirion commented on #1578
Stalled. Closing.

[2021-02-10 15:10] #1578 closed

[2021-02-10 15:17] bthirion commented on #1596
Not reproducible atm. Closing.

[2021-02-10 15:17] #1596 closed

[2021-02-10 15:18] #1599 closed

[2021-02-10 15:24] bthirion commented on #1613
Stalled.

[2021-02-10 15:24] #1613 closed

[2021-02-10 15:25] bthirion commented on #1620
Stalled. Closing.

[2021-02-10 15:25] #1620 closed

[2021-02-10 15:27] bthirion commented on #1626
Stalled.

[2021-02-10 15:27] #1626 closed

[2021-02-10 15:30] bthirion commented on #1627
Stalled.

[2021-02-10 15:30] #1627 closed

[2021-02-10 15:31] dPys commented on #1501
@bthirion -- were you thinking [here](https://github.com/nilearn/nilearn/blob/55e3f26dbd9fc6e89516e5f37e8aae23ec6086a9/nilearn/regions/signal_extraction.py#L124-L127)

[2021-02-10 15:32] bthirion commented on #1628
Stalled. Closing.

[2021-02-10 15:32] #1628 closed

[2021-02-10 15:41] bthirion commented on #2377
Back to this.
I'm afraid of making  'make_design_matrix' overly complex.
The best way forward is to expose a function that performs convolution on "dense" times series; the use would decide to call them if needed and then integrate them into the design matrix has he wishes.

[2021-02-10 15:43] bthirion commented on #1662
Stalled.

[2021-02-10 15:43] #1662 closed

[2021-02-10 15:48] #1698 closed

[2021-02-10 15:54] bthirion commented on #2378
Stalled.

[2021-02-10 15:54] #2378 closed

[2021-02-10 16:00] bthirion commented on #2379
Need to check BIDS conventions here, so that integration into design matrix is smoother.

[2021-02-10 16:07] bthirion commented on #1750
See  https://github.com/scikit-learn/scikit-learn/pull/18964

[2021-02-10 17:36] bthirion commented on #1501
Naively I was thinking about iterating across spheres in the SpheresMasker but this leads to bad memory usage, so indeed, you suggestion might be better.

[2021-02-11 16:49] alpinho opened #2692 "Add example of two-sample t-test"
Examples [9.6.3](https://nilearn.github.io/auto_examples/05_glm_second_level/plot_second_level_paired_sample_test.html#sphx-glr-auto-examples-05-glm-second-level-plot-second-level-paired-sample-test-py) and [9.6.4](https://nilearn.github.io/auto_examples/05_glm_second_level/plot_second_level_two_sample_test.html#sphx-glr-auto-examples-05-glm-second-level-plot-second-level-two-sample-test-py) are t

[2021-02-11 16:59] tsalo commented on #2692
It looks like this was handled in #2617, but there hasn't been a release since Nov 25 (when it was merged), so the docs don't reflect the fix.

[2021-02-11 17:05] alpinho commented on #2692
Thanks for the feedback. I think anyway that there should be a two-sample t-test example, though. PR #2617 only deletes the duplicate.

[2021-02-11 17:25] tsalo commented on #2692
Good point! I think this changes the nature of the issue though. It's now more of a documentation request (a new example) than a bug report. Would you mind if I updated the tags and title to reflect that?

[2021-02-11 17:30] alpinho commented on #2692
Of course! Thanks!

[2021-02-12 04:53] dPys commented on #1501
#2693

[2021-02-12 09:05] #2687 closed

[2021-02-17 10:01] NicolasGensollen commented on #2637
@achamma723 I think this could be a good first issue for you. Let me know if something isn't clear!

[2021-02-17 12:11] SouthAmericaB opened #2698 "Resize nii image getting the modified affine information"
Hello every body!

I'm trying to resize nii images but I don't know how to modify its affine information to have the reference space information.
I've seen some ways to do that but you have to put your "target_affine" and for me it's a unknown data.

Could you help me, please?
Thank you very much in advance :)

[2021-02-17 14:30] emdupre commented on #2698
Hi @SouthAmericaB ! I just wanted to link this discussion with the ongoing one in Nibabel which has a bit more detail : https://github.com/nipy/nibabel/issues/998

It sounds like `rescale_affine` might be what you need since you don't have a `target_affine` in mind ? I don't know that Nilearn has a way to calculate this in your case, though Nibabel can.

Of course, if anyone knows of a function I'

[2021-02-17 17:44] tsalo opened #2699 "Employ cluster-similarity ordering in carpet plots"
As described in [Aquino et al. (2020)](https://doi.org/10.1016/j.neuroimage.2020.116614), ordering voxels (within parcellations) by cluster similarity enhances the interpretability of carpet plots.

The approach in the paper is "hierarchical average linkage clustering on Euclidean distances between pairs of z-scored time series", which should be straightforward to implement.

### Benefits to the c

[2021-02-17 18:07] jdkent opened #2700 "get_clusters_table does not allow file input and does not check that image is 3D"
get_clusters_table does not let me pass in a filename, and does not ensure the image is 3D, which can raise an error of there is an "extra dimension" in the data.

Nilearn version: 0.7.0

### Expected behavior

`get_clusters_table` should take filenames as input and ensure/check inputs are 3D

### Actual behavior

raises error if passed filename or 4D input (but effectively 3D) is passed.

### Ste

[2021-02-17 20:17] bthirion commented on #2698
I am rarely in that situation:  usually, I resample images to a space corresponding to some MNI template, such as those in SPM or FSL: those impose a certain target_affine. What is you use case ?

[2021-02-17 21:14] bthirion commented on #2700
Indeed...
Thx for raising it !

[2021-02-17 23:59] emdupre commented on #2698
The use case is expanded a bit more in the linked Nibabel issue, but I think this issue can be closed as it sounds like it was (1) successfully addressed with Nibabel and (2) doesn't match a standard Nilearn use case.

In general, I'd encourage posting usage questions like this one on NeuroStars (https://neurostars.org) over this issue tracker. If you include the `nilearn` tag, the Nilearn develop

[2021-02-18 09:04] #2700 closed

[2021-02-18 09:22] SouthAmericaB commented on #2698
Thank you all!
rescale_affine is what I need! :)

All the best @bthirion @emdupre !

[2021-02-18 09:22] #2698 closed

[2021-02-18 10:11] kbonna opened #2704 "FirstLevelModel fit method could raise warning when confounds and design_matrices are specified together."
Hi,

I recently used `FirstLevelModel` in my project and discovered a mistake I made that was quite hard to detect. I was using custom design matrix and fitted model instance like this:
[code]
and didn't realize that in this case confounds would not be used. I noticed that few weeks later when I tried different confounds and see no difference in the images (because in both cases they were not used

[2021-02-18 10:34] NicolasGensollen commented on #2704
Hi @kbonna
Thanks for raising the point. I agree that a simple warning could be useful in this situation.
Do you want to make a PR?

[2021-02-18 10:37] kbonna commented on #2704
Sure

[2021-02-18 17:47] tacaswell commented on #2614
You will now be warned about this change rather than broken.   Long term we are still deprecating the behavior,  but hopefully this is enough of a migration window.

[2021-02-18 21:54] bthirion commented on #2614
@tacaswell  Thx for the information !

[2021-02-18 23:35] tacaswell commented on #2614
xref https://github.com/matplotlib/matplotlib/pull/19496

[2021-02-19 09:20] #2690 closed

[2021-02-19 11:57] NicolasGensollen opened #2705 "Possible identical design matrix columns with generate_fake_fmri_data_and_design"
**Description**

The function `generate_fake_fmri_data_and_design` can return design matrices with identically named columns because these names (letters) are randomly sampled using the numpy `choice`  function which does sampling with replacement by default:

https://github.com/nilearn/nilearn/blob/55e3f26dbd9fc6e89516e5f37e8aae23ec6086a9/nilearn/_utils/data_gen.py#L344

This is causing the recen

[2021-02-19 22:45] tsalo commented on #2662
Unless I'm misunderstanding it, it sounds like MA-PCA is different from PCA on a low-pass filtered version of the data.

[2021-02-20 12:28] fkalbe commented on #2163
Thanks for your feedback! I've created a PR.

[2021-02-22 10:14] #2705 closed

[2021-02-22 23:21] achamma723 commented on #2704
Hello @NicolasGensollen , I addressed this issue in a new pull request.

[2021-02-23 09:29] NicolasGensollen commented on #1241
Addressed in #2697

[2021-02-23 09:29] #1241 closed

[2021-02-23 18:47] #2163 closed

[2021-02-24 08:56] #2704 closed

[2021-02-25 08:38] NicolasGensollen commented on #2637
Addressed in #2708

[2021-02-25 08:38] #2637 closed

[2021-02-26 07:56] NicolasGensollen commented on #1553
Addressed in #2696

[2021-02-26 07:56] #1553 closed

[2021-02-26 14:45] #212 closed

[2021-02-26 17:03] tsalo opened #2711 "Ensure finite data (replace NaNs with zeros) in NiftiLabelsMasker"
`NiftiMapsMasker` handles NaNs implicitly, while `NiftiLabelsMasker` does not. I think it just comes down to the following line:

https://github.com/nilearn/nilearn/blob/02e915accc1dd29ee8af0e92004eabb4f0393958/nilearn/regions/signal_extraction.py#L118

### Benefits to the change

I think the main benefit would be ensuring consistent behavior across Maskers, but it would also be helpful to retain

[2021-02-28 20:40] bthirion commented on #2711
So, you impute Nans by zeros ?

I'm OK with the proposal. Of course, their would need to be a warning.

[2021-02-28 21:03] tsalo commented on #2711
Yes, it looks like that's what `_safe_get_data` does, although until I looked at the docstring I would have assumed that NaNs would be ignored instead of replaced, like [`numpy.nanmean`](https://numpy.org/doc/stable/reference/generated/numpy.nanmean.html).

I agree that a warning would be good. What about putting it in `_safe_get_data` though, since this impacts multiple maskers?

[2021-02-28 21:12] bthirion commented on #2711
Yes, that sounds right.

[2021-02-28 21:38] tsalo commented on #2711
@bthirion it looks like there's a test that specifically expects NaNs to remain in `test_signal_extraction_with_maps_and_labels`. This check was added in 744a38a73959a23144bbd17eab7b080c16469db1, although I'm having trouble tracking down the rationale for it since it doesn't look like it was linked to an issue or PR. Should we consider this behavior expected still?

Here's the current check:
https

[2021-03-01 09:15] htwangtw opened #2713 "nilearn.signal PSC standardise option"
While working on https://github.com/SIMEXP/load_confounds/pull/96, the new test data led to a test for denoising using PSC strategy failed https://github.com/SIMEXP/load_confounds/issues/105. Our test data contain confounds with negative mean. The current implementation of `standardise="psc"` in `nilearn.signal` sets confound variables with a mean of 0 or less.
https://github.com/nilearn/nilearn/b

[2021-03-01 10:04] NicolasGensollen commented on #2713
Hi @htwangtw
Thanks for pointing this out. I don't see any reason either why we couldn't compute psc with negative mean.
I think the fix you propose is good.
Do you want to open a PR?

[2021-03-01 10:06] htwangtw commented on #2713
Sure I am happy to!

[2021-03-01 10:09] NicolasGensollen commented on #1513
Addressed in #2703

[2021-03-01 10:09] #1513 closed

[2021-03-01 15:37] tsalo commented on #2699
I've got something working that will build off of #2702, although it will slow things down substantially, so we will want clustering to be disabled by default.

[2021-03-01 18:12] tsalo commented on #2686
I could be misunderstanding how `NiftiMasker` could be used to solve the original problem, but I think having the ability to return unaggregated values, split by label, in `NiftiLabelsMasker` would at least be useful for carpet plots.

[2021-03-01 22:06] bthirion commented on #2686
My point was that `NiftiMasker` indeed returns unaggregated values for the provided regions, so you cna compute any thing you want on these values afterwards.
I am reluctant to changing the behavior of `NiftiLabelsMasker` by creating the option to return unaggregated values. this makes theses objects even harder to understand.

[2021-03-02 13:31] #2711 closed

[2021-03-02 18:11] #2713 closed

[2021-03-03 18:15] dlevitas opened #2717 "Question regarding functionality of NiftiMasker.fit_transform [Discussion]"
I'm using nilearn version `0.7.0` and have created a series of binary ROI masks that I'm using to extract the timeseries, following nuisance regression. The confound regressors have been extracted from the confound.tsv files generated by fmriprep (version `20.2.0`).  The gist of my code is:

[code]

My assumptions are that the confounds in `fit_transform()` are first passed to `img.clean_img` befo

[2021-03-03 20:43] bthirion commented on #2717
Please have this type of discussion on Neurostars. The isse tracker is for ... issues.
Yes, we do this in a non-modular fashion. Normally your final data should be orthogonal to the confounds. Please let us know if you hit a problem.
Best,

[2021-03-03 20:43] #2717 closed

[2021-03-04 08:40] KamalakerDadi commented on #198
@jeromedockes if this is fixed, can we close this issue? if so, can you point to the issue?

[2021-03-04 10:42] NicolasGensollen commented on #2689
I started working on the report for the `NiftiMapsMasker`. I will open a draft PR soon but I wanted to check before that we agree on the basic underlying ideas. So here is what it looks like so far:

When the user doesn't provide a functional image to `fit`, the report shows the stat maps:

[code]
![mapsmasker3](https://user-images.githubusercontent.com/2639645/109949850-2a582080-7cdc-11eb-944e-29

[2021-03-04 11:07] GaelVaroquaux commented on #2689
Have a look at plot_prob_atlas (cc @KamalakerDadi ). I would start with this, and list all the components only if the number is smaller than a given threshold (20? 40?)

[2021-03-04 12:24] NicolasGensollen commented on #2689
Thanks for the suggestion @GaelVaroquaux.
Actually, I had a look at `plot_prob_atlas` ([here](http://nilearn.github.io/auto_examples/01_plotting/plot_overlay.html#sphx-glr-auto-examples-01-plotting-plot-overlay-py) for example). The reason I didn't use it in the end is because I wanted the cut coordinates to be "optimized" for each map in order to visually inspect them w.r.t the provided image. Bu

[2021-03-04 12:24] KamalakerDadi commented on #2689
plot_prob_atlas displays all maps on a background image. does this reports also the timeseries extracted per map and subject?
That would be interesting.

[2021-03-04 13:47] #2515 closed

[2021-03-04 15:30] alexenge commented on #2547
Is there any news on making `two-sided` an option for `get_clusters_table`? I feel like this would be a very useful enhancement (but unfortunately I don't think my Python skills suffice to contribute – not yet, at least).

[2021-03-04 16:22] tsalo commented on #2547
Took a quick crack at it. Just opened #2719.

[2021-03-04 16:56] NicolasGensollen opened #2720 "Inconsistent resampling behaviours across maskers"
This issue came up when working on generalizing the reports for all maskers (see #2689).
It seems like the different masker objects perform resampling of the mask and/or images at various moments of the fit-transform pipeline:

The `NiftiMasker` performs resampling explicitly in `fit`, meaning that the object itself is modified by the resampling. For example, here the `mask_img_` attribute is upda

[2021-03-04 20:42] bthirion commented on #2689
But I agree that for more than say, 40 components, cbrowsing through them becomes somewhat tedious anyhow. plot_prob_atlas is reasonable in that case.

[2021-03-04 21:35] bthirion commented on #2720
In general, I agree with this approach.
I guess that there must be some reasons why mask resampling has been introduced in transform for `NiftiLabelsMasker`
@jeromedockes @GaelVaroquaux any hint ?

[2021-03-05 01:43] GMerakis opened #2721 "plot_roi should support 4D images"
as mentioned.
I have a list of atlas images with distinct values, but to plot them, I have to manually combine all the images into a single 3D image and plot.

This should be a simple integrated step within the function

[2021-03-05 07:29] bthirion commented on #2721
Thx for raising the point. IIUC `plot_prob_atlas` should do the trick, no ?

[2021-03-05 18:07] NicolasGensollen commented on #2721
I agree this could be easily added if there is a use case for it.
Although this is not super convenient, note that you could also use `plot_roi` and add overlays for each atlas image. Something like this maybe:

[code]
![overlays](https://user-images.githubusercontent.com/2639645/110155210-996d6c00-7de5-11eb-9354-1f1f19be4178.png)

[2021-03-08 08:50] #2537 closed

[2021-03-08 10:06] NicolasGensollen commented on #1960
I'm not sure what was the exact problem, but this doesn't seem to raise a `TypeError` anymore:

[code]
![thresh](https://user-images.githubusercontent.com/2639645/110306507-3571c000-7ffe-11eb-8353-2ef5f9f2c3ad.png)

[2021-03-08 12:04] alexenge commented on #2547
Please excuse the delayed reply – I've just tested this with a *z*-map containing both negative and positive clusters and the function is displaying all of them as expected. Thanks a lot!

[2021-03-08 15:00] #2547 closed

[2021-03-08 18:47] NicolasGensollen commented on #1145
@achamma723 I think you should take a look at #1146 if you're interested in working on this.

[2021-03-08 18:59] achamma723 commented on #1145
@KamalakerDadi Hello, can you please tell me how did you manage to add a new dataset (Desterieux) to the nitrc site

[2021-03-08 22:28] bthirion commented on #1960
We should thus close this issue. Thx,

[2021-03-09 04:19] KamalakerDadi commented on #1145
Please create account on nitrc. Tell your account name to admin team. Then, admin should be able to give rights to upload data.

Alternative: Use Nilearn's open science framework account.

[2021-03-09 06:32] jdkent opened #2724 "support 1D inputs with inverse_transform"
Some maskers support 1D input for `inverse_transform`, while others do not

Nilearn version: 0.7

### Expected behavior

Consistent behavior across maskers (all accept 1D or do not)
(the [base_masker](https://github.com/nilearn/nilearn/blob/c8ecb48ed953c9fb20372e0e110fc42ff3f96145/nilearn/input_data/base_masker.py#L243-L264) accepts [1D input](https://github.com/nilearn/nilearn/blob/5818857e178698

[2021-03-09 21:53] jdkent opened #2726 "should inverse_transform always return 4D output?"
The controversy as I see it is balancing the philosophical choices of the maintainers versus how the code has actually been behaving over the last near decade (and how many people depend on that behavior).

\
I do not have a strong opinion on this (but someone should!), for maintainability I believe the 2D/4D output should be enforced, but on the other hand unmask has supported 1D inputs for years

[2021-03-09 21:54] jdkent commented on #2726
also relevent:

[2021-03-09 23:01] jdkent commented on #2726
### inverse_transforms that do ensure 4D output: (uses `signal_extraction` in `inverse_transform`)

- Parcellations
- NiftiSpheresMasker
- NiftiLabelsMasker

### inverse_transforms that do not ensure 4D output: (uses `unmask` in `inverse_transform` directly or indirectly)

- NiftiMapsMasker
- MultiNiftiMasker
- NiftiMasker
- RegionExtractor

### always 2D

- ReNA

ReNA should probably remain uncha

[2021-03-09 23:15] jdkent commented on #2726
@NicolasGensollen @bthirion WDYT?

For enforcement of 4D outputs:
- @bthirion:  https://github.com/nilearn/nilearn/pull/2725#issuecomment-794399854
- @GaelVaroquaux (2015): https://github.com/nilearn/nilearn/issues/460#issuecomment-100767188

Against enforcement of 4D outputs:
- ???

(should others be tagged in this conversation?)

[2021-03-10 10:20] NicolasGensollen commented on #2726
Thanks for opening this and listing these inconsistencies @jdkent :+1:
I would be in favour of consistency across maskers, meaning they all accept the same input format(s) (2D or 1D/2D) and output the same format as well (4D).
However, changing the return value of `inverse_transform` when passing 1D inputs from 3D to 4D is a breaking change as this is likely to break dependent codes that expect a

[2021-03-10 14:50] bthirion commented on #1754
The `transform` method of NiftiMaps masker can indeed be applied to any sequence of input, so at transform time you don't need to have all data in Memory. So 4im not sure what needs to be implemented then ?
(And indeed, forcing no resampling is a good idea).

[2021-03-10 14:54] bthirion commented on #2382
Corresponds to ongoing work regarding BIDS integration. Closing that one.

[2021-03-10 14:54] #2382 closed

[2021-03-10 14:58] bthirion commented on #1760
No fetcher currently returns csv.

[2021-03-10 14:58] #1760 closed

[2021-03-11 09:08] NicolasGensollen commented on #2726
I don't think this would cause backward compatibility issues indeed, but changing the output of `inverse_transform` from 3D to 4D for 1D inputs would (for the `NiftiMasker` at least since the others don't support it yet).
So, I think it all depends if we want to enforce systematic 4D outputs for `inverse_transform`.

I'd be in favour of enforcing 4D outputs for `inverse_transform` because `transfo

[2021-03-11 15:57] #2187 closed

[2021-03-12 15:42] jrasero opened #2730 "Should not detrend go before low and high-pass filtering too for confounders in signal.clean?"
Hi,

I don't know whether this is an issue or not, but I am trying to see if the deconfounding provided by the function _**signal.clean**_ works effectively or not on my data and I think it is not behaving as I expect, in particular when I combine it with a high-pass filtering. I know there's been a lot of issues around all these, with a recent pull-request #2609, which however does not seem to re

[2021-03-12 16:48] NicolasGensollen commented on #2730
Thanks for opening this @jrasero ! :+1:
This makes sense and I was able to reproduce the bug.
I think having the confounders detrended before filtering, like you explained, works.
Changing the code of `clean` to:

[code]

outputs the following on your example:

![signal](https://user-images.githubusercontent.com/2639645/110971032-a72d6f00-835a-11eb-9dd8-c3bb1a8d198e.png)

Do you want to open a PR

[2021-03-12 16:59] jrasero commented on #2730
Great!

The problem with your code is that correlations are still not as small as I expect.

In fact, I modified the code of `clean` in a different way:

[code]
With this, the output gives what I was expecting:

![image](https://user-images.githubusercontent.com/25054369/110972302-d8417b80-8329-11eb-9c40-c9bbf3d853cf.png)

The difference is that confounds standardization takes place after detrendi

[2021-03-12 17:45] NicolasGensollen commented on #2730
Thanks for the great explanation @jrasero !
Indeed, I didn't read your first code snippet with enough care, and only swapped detrending and filtering in mine...

[2021-03-14 22:07] bthirion commented on #2726
+1 I think that this is more consistent overall. But we need a wider consensus on that question.

[2021-03-15 16:40] jdkent commented on #2726
If you are tagged, this means you've worked on a repository that uses `inverse_transform` from nilearn.
The question we are trying to answer is:

**If one passes a 1D input into the `inverse_transform` method of a masker, do you expect the output to be 3D or 4D?**

context: Instead of inverting multiple samples/flattened images (2D input), you are only inverting one sample/flattened image (1D inpu

[2021-03-15 17:11] adelavega commented on #2726
I answered based on what I would naiively expect, but given the conversation, I also expect uniform behavior across package, and would deem that more important (i.e. 4D is more consistent)

[2021-03-17 05:00] jdkent commented on #2726
some relevant discussions from scikit-learn:
- scikit-learn/scikit-learn#4509
- scikit-learn/scikit-learn#4511
- scikit-learn/scikit-learn#4252

Moving this conversation from just outputs to inputs and outputs, I see three options:
- transform(4D) -> 2D output; inverse_transform(2D) -> 4D output
  - PROS:
    - most compatible with scikit-learn
    - do not need to deal with ambiguity between `(n_

[2021-03-17 19:41] bthirion commented on #1816
Hm... indeed

[2021-03-17 20:56] emdupre commented on #1816
I can replicate those search results in Chrome but not Firefox. It looks like Chrome is inserting adds at the top of the search. I don't have access to Safari, but I'm curious how widespread this problem is !

[2021-03-17 21:22] greydongilmore opened #2733 "plotting.view_markers marker_labels"
I have been using `plotting.view_markers` for some time and really like the ability to define marker_color. I am wondering if it's possible to add marker_label as well?

### Benefits to the change
I think many users would find this helpful, especially when plotting many points at one time. In our use case, we are displaying depth electrode contacts for epilepsy patients and having each contact poi

[2021-03-17 21:24] jeromedockes commented on #1816
I see adds in Firefox and in Safari (running in a virtualbox) . maybe we can just remove both quick search bars?

[2021-03-18 13:38] NicolasGensollen commented on #2618
Hi @Ziaeemehr
Did @jeromedockes answered your question in his comment above, or is there still something unclear here?
If not I suggest we close this.

[2021-03-18 13:53] NicolasGensollen commented on #2398
Still the case:

https://github.com/nilearn/nilearn/blob/6c040cb98fe7e70b026522be5d404e5894348a9d/nilearn/plotting/matrix_plotting.py#L251-L252

[2021-03-18 14:05] NicolasGensollen commented on #1854
It looks like this is not the case anymore:

![glass-brain](https://user-images.githubusercontent.com/2639645/111639152-4343f400-87fb-11eb-92c9-750ffe76ce94.png)

[2021-03-18 14:07] NicolasGensollen commented on #1848
Closing

[2021-03-18 14:07] #1848 closed

[2021-03-18 15:04] NicolasGensollen commented on #813
I think we can reopen this one as updating the website design and landing page is one of the goal for the upcoming coding sprint.

[2021-03-18 15:49] Ziaeemehr commented on #2618
The  jeromedockes comment helped me to find the proper documentation.

[2021-03-18 15:49] #2618 closed

[2021-03-18 22:52] bthirion commented on #2733
Thx ! Sounds like a good idea. Are you interested in working on it ?
Best,
Bertrand

[2021-03-19 10:15] ZviBaratz opened #2736 "get_iframe() doesn't apply view_img()'s configuration"
Hi all,

I ran into an issue trying to embed the returned `view_img()`'s `StatMapView`'s into an HTML page using the `get_iframe()` method.
Calling `view_img()` with the `bg_img=False` and `cmap=cm.bone` keyword arguments seems to work fine when displayed in the browser, and even more curiously, when called within a Jupyter notebook, However, when the same scan is embedded within an external HTML

[2021-03-19 10:57] NicolasGensollen commented on #2736
Thanks for opening this @ZviBaratz :+1:
Do you have an example we can run to reproduce the bug?

[2021-03-19 11:32] ZviBaratz commented on #2736
Huh. I tried creating a minimal HTML page and injecting the iframe and everything worked as expected :man_shrugging:  I'm sorry, I probably should have done this beforehand.
I am embedding the plot in a Django template, so it would seem the problem is somehow caused by Django's templating system. I didn't really consider this because other than the configuration passed to `view_img()`'s keyword ar

[2021-03-19 11:32] #2736 closed

[2021-03-19 13:22] KnorrFG opened #2737 "Nifti masker standardizes based on the input to `transform`"
If you transform a set of nifti images using the masker (result a), and compare that to the result of first transforming the first half of the images, then the second half, and concatenate the results (result b), you will notice that the results a and b differ. The reason for this lies in the fact that the nifti masker simply performs a standardization of its inputs when `transform` is called. I b

[2021-03-19 22:02] bthirion commented on #2737
Thx for raising this point. Note sure I would call it a bug though.

What you describe is more consistent with the way Transformers act in scikit learn indeed.
We thought that this would not hold in geenral in neuroimaging: for instance if you fit on session 1 and transform session 2, the means and std are quite different, yet this difference is not meaningful, so you better standardize session 1

[2021-03-20 12:13] KnorrFG commented on #2737
Currently, I work with the fmri of subjects that was recorded during a task switching paradigm, and I use the SpaceNet classifier to classify which task they execute. The Idea behind that was to test whether the distance from the hyperplane is related to the subjects attention and/or its ability to shield vs distractions. The results from some analysis I ran didnt make any sense, and in my quest t

[2021-03-21 21:20] bthirion commented on #2737
Thx for your comments. They are extremely helpful !
IIUC you are using SpaceNet classifier on times series directly, am I right ? I have to say that we have never done that before. Still, I think I would like each time series to be standardized ? How can it cause SpaceNet to work poorly ?

Anyway, a workaround  would be to process the images as you wish them to be processed, then used this pre-pro

[2021-03-21 22:57] bthirion commented on #2726
Thx for the complete discussion.
I think I prefer suggestion 2. But we need a wide agreement on this. Can people voice their opinion here ? Or should we keep this for a live discussion during the upcoming Nilearn sprint (https://nilearn.github.io/dev-days-2021) ?

[2021-03-22 09:44] KnorrFG commented on #2737
I don't really use the SpaceNet on time series data, I apply a GLM (SPM12) block wise and use the resulting beta-coefficient maps as input for the SpaceNet. I then load a test-nifti by means of the masker, and pass the output of the masker into the `decision_function()` method of the SpaceNet. The output of that is then interpreted as neurological measure. The problem is, that this measure should

[2021-03-22 22:21] bthirion commented on #2737
Thx, this is clearer to me know. Do you want to contribute a fix or at least help in that ? This would involve having other options and default for standardize parameter; This has to be applied to the Decoder object too.
Best,

[2021-03-23 08:14] KnorrFG commented on #2737
I think I can contribute the fix. The question is what to do exactly. I could simply change the behavior, but since u mentioned changing parameters, I'm not clear on what you would want exactly. Maybe add another parameter `standardize_with_fit_values` that defaults to true?

[2021-03-23 14:23] NicolasGensollen opened #2739 "Nilearn - Nibabel dev-days 2021"
## Coding Sprint :calendar:

The next [Nilearn](http://nilearn.github.io/) - [Nibabel](https://nipy.org/nibabel/) coding sprint will take place

**May 5th 1pm UTC / 9am EDT** to **May 7th 7pm UTC / 3pm EDT**

using the online platform *Discord* :tada:

Schedule and all information on how to register and get set up are available on the [event website](https://nilearn.github.io/dev-days-2021/).

##

[2021-03-23 18:47] bthirion commented on #2737
`standardize could accept: None/False,  'fit_values' or 'test_values'/True, but the default would be 'fit_values'.
@thomasbazeille any suggestion ?

[2021-03-24 06:44] KnorrFG commented on #2737
But then this would remove the psc option. Also, since you dont seem to concerned with keeping the current way in there, I'd propose to let the parameters as they are, and just "fix the bug"

[2021-03-24 20:56] bthirion commented on #2737
Sorry if I misunderstood, but I haven't identified what you call a "bug".
Can you show that on a Nilearn example that uses SpaceNet ?

Otherwise, we can change the API but take care of bw compatibility. Thx again !

[2021-03-25 08:15] greydongilmore commented on #2733
yes, can do. Any advice on where I should start?

[2021-03-25 10:20] NicolasGensollen commented on #2733
Hi @greydongilmore

Indeed, this would be nice to have! :+1:
I had a quick look, and it seems we will need to do the following things:

- Update function `view_markers` to support a `marker_labels` argument (basic checks, and then add it to the `connectome_info` dictionary):

https://github.com/nilearn/nilearn/blob/dc9c21a7bec637f0aaad650372bbf4e59b294dec/nilearn/plotting/html_connectome.py#L180-L

[2021-03-25 16:48] KnorrFG commented on #2737
Ok, this code represents the problem:

[code]

[2021-03-28 00:09] rawwar commented on #2631
Hi, I want to contribute to this issue. I am working on it. I will update this comment or create another one to notify if I no longer am working on this one.

[2021-03-28 23:06] shobrook opened #2742 "Add correlation-based tool for MVPA"
I'd like to add a tool for multi-voxel pattern analysis (MVPA). It's adapted from the method described in _[Haxby et al., 2001](https://science.sciencemag.org/content/293/5539/2425)_, except searchlight spheres are analyzed instead of anatomical ROIs. I've already built the tool and it's available [here](https://github.com/shobrook/mvpa), but I would be happy to deprecate this and merge it into ni

[2021-03-29 10:52] NicolasGensollen commented on #2742
Thanks for proposing this @shobrook :+1:
In terms of code, I had a look at your repo and I think it should be possible to merge it into nilearn without too much struggle since it is well written and doesn't introduce any new dependency (I have a few specific questions on the implementation you propose but this can wait).
The Readme also provides an example that could easily be merged in the curren

[2021-03-29 12:12] thomasbazeille commented on #2742
Hello ! Thanks for thinking of integrating this in Nilearn. I have some implementations of searchlight correlation as well. I think it's at the edge of the scope of Nilearn since we don't support any neuroimaging metrics or RSA yet.

I guess the main question is : does this features (and its API) cover a usecase common enough for Nilearn users to spend time integrating it ! I'm not sure about the

[2021-03-29 15:12] jeromedockes opened #2744 "Split CircleCI cache into smaller files"
in circleci nilearn chaches the whole `nilearn_data` folder in one huge cache.
Quite frequently the cache is missed.
When I discussed it with circleci support they could not find exactly what was the problem but they suggested that the huge cache size might be an issue.
We could try splitting the cache into smaller chunks (eg one for each dataset).
As @emdupre pointed out it is what MNE seems to d

[2021-03-29 15:20] NicolasGensollen commented on #2744
Thanks for opening this @jeromedockes !
I'd be happy to work on this once #2734 is merged.

[2021-03-29 15:38] jeromedockes commented on #2744
great! are you waiting for another review on #2734 ? If it helps I can look at it today

[2021-03-29 15:43] NicolasGensollen commented on #2744
Absolutely! It'd be great to have another review on this PR!

[2021-03-29 16:27] greydongilmore commented on #2733
yes, makes sense to me! I will get working on it :+1:

[2021-03-31 13:44] jeromedockes opened #2746 "restore flake8 and remove unused ci scripts; merge tools and continuous_integration"

[2021-04-01 13:48] jeromedockes commented on #2746
also make sure the doctests are run (`test-doc` target in the Makefile)

[2021-04-01 15:10] alpinho opened #2747 "Thresholding surface images"
Functions [`nilearn.glm.threshold_stats_img`](https://nilearn.github.io/modules/generated/nilearn.glm.threshold_stats_img.html#nilearn.glm.threshold_stats_img) and [`nilearn.image.threshold_img`](https://nilearn.github.io/modules/generated/nilearn.image.threshold_img.html) do not accept input formats other than NIfTI. This poses a limitation if one wants, for instance, to obtain the threshold of s

[2021-04-01 15:21] jeromedockes commented on #2747
I think it should wait until representation of surface images and masks, and surface maskers, have progressed a bit, but definitely worth keeping in mind for those who will work on surface data in the upcoming sprint as an example of something the new interface should allow to implement easily

[2021-04-01 19:41] shobrook commented on #2742
Thanks @NicolasGensollen and @thomasbazeille for the quick responses!

This tool should fit in nicely with the other tools in the `nilearn.decoding` module. Specifically, it is a good alternative to the [classifier searchlight](https://nilearn.github.io/modules/generated/nilearn.decoding.SearchLight.html#nilearn.decoding.SearchLight), and our code can similarly be used in cases where users want to

[2021-04-01 20:08] bthirion commented on #2742
Hi,
Sorry, I thought I had agreed about that.
My only comment is that correlation is the most simplistic case, so I'd propose several standard RSA measures. I think that the computation cost argument is really valid. So many people like to use that that we should have it at the end. And PyRSA API is not so great imho.
Best,

[2021-04-01 20:08] bthirion commented on #2742
(To be clear: for my own research, I'm not a big fan of RSA, because you don't know how to assess significance, which would require permutation testing, making it ---again--- prohibitive... with a multiple comparison issue on top of it... I don't really see the benefit wrt a good old F test on smoothed data...  we show on the Haxby data that is does not make  a big difference... but this is a pers

[2021-04-01 20:56] paulcbogdan commented on #2742
Hi,

I'm working with Jon.

Sorry, but did you miss responding to the thread? I don't see a previous response from you. In either case, we agree that it would be helpful to provide different measures, although our current code does not. This is an easy change. We would update it to allow users to either pass a string ("correlation", "spearman", "euclidean", or "mahalanobis") or to pass their own s

[2021-04-01 21:27] bthirion commented on #2742
What you say perfectly makes sense. However, the two-condition case is really the case where this approach is least justified, as a t-test perfectly does the trick, and actually the best possible analysis model would be a Hotelling t test across voxels. (As argued by J. Rosenblatt IIRC).
IMHO pattern-analysis becomes interesting when there are several conditions with some non-trivial relationships

[2021-04-01 23:27] paulcbogdan commented on #2742
Should we make the code more flexible to handle more similarity measures then submit a pull request?

Also, thanks for the replies. This is getting a bit off-topic, but I don't see how a t-test would accomplish this if the goal is to do a "non-directional" 1st-level analysis? Also, I looked through a paper with J. Rosenblatt on this topic ([Gilron et al., 2017](https://www.sciencedirect.com/scienc

[2021-04-02 09:50] NicolasGensollen opened #2748 "AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getiterator'"
With Python 3.9+:

[code]
[code]

See discussion on [Neurostars](https://neurostars.org/t/mapping-voxel-number-to-brain-region/18422/4).

[2021-04-02 10:13] NicolasGensollen opened #2750 "Improve testing of `_utils.data_gen`"
It looks like some functions of this module are either not tested correctly, or not tested at all.
For example: `generate_labeled_regions_large`, `write_fake_bold_img`, `generate_signals_from_precisions`....
I think it would help to have all these functions unit-tested in the same file (`nilearn/tests/test_testing.py` for example or some other file?).

[2021-04-02 12:01] jeromedockes commented on #2750
good idea! but also note if any of these functions is not used anywhere
in the tests or library it should just be removed (`_utils` is a private
subpackage)

[2021-04-02 19:36] bthirion commented on #2742
* I'm in favor of supporting standard measures used in RSA (correlation being one of them).
* I agree that this should not be carried out on limited data with too few samples (HCP dataset has not been designed for that purpose).
* I think that most of the effects that matter are local signal increases, so I would not remove the mean signal, that is possibly the most important information in many s

[2021-04-03 09:28] #2748 closed

[2021-04-05 22:42] danjgale commented on #2584
I'm aware of this is closed, but I'm curious: With the introduction of `standardize_confounds` in #2609 (and changes pending in #2730), is there a case in which a user would _not_ want to use `standardize_confounds=True`? For instance, would a user set `standardize_confounds=False` only when `standardize=False`?

[2021-04-06 20:17] bthirion commented on #2584
Sincerely, I don't see any reason not to standardize confounds.
The justification for having the parameter is transparency: make clear to the user what computation is done in the model.

[2021-04-07 01:17] PeerHerholz commented on #2742
Ahoi hoi folks,

sorry for being late to the party.

All of the following is based on my current understanding of the proposed functionality/this thread, thus please excuse if I'm wrong concerning certain/all points and please let me know.

It seems that there are two things going on here: (1) supporting `correlation`-based measures in `nilearn.decoding.searchlight` and (2) support for `RSA`. Whil

[2021-04-07 18:01] larryzhang95 opened #2753 "File not found 'maps' when using NiftiLabelsMasker"
I've been trying to follow existing tutorials to apply parcellations on a new dataset where I have 4D fMRI data. This is a tutorial I have been following https://brainhack101.github.io/introML-book/01/MAIN_tutorial_intro_to_nilearn.html#visualizing-neuroimaging-volumes

However, when I perform the Masking, I get a "File Not Found: maps" error. I wonder if theres a missing dependency, or issue in t

[2021-04-07 21:03] bthirion commented on #2742
Thx @PeerHerholz for voicing your opinion.
To me correlation -searchlight is one particular instance of RSA, and I find it difficult to define what is not proper  / standard / canonical RSA, as long as it is based on the comparison of *some* stimulus dissimilarity and voxel signal dissimilarity.
 But I think I take your main point: we can live with minimal support for RSA, namely correlations betw

[2021-04-07 21:29] bthirion commented on #2753
Clearly the file was not found on the disk. Can you make sure  that `fmri_file` fpoints to a proper file ?

[2021-04-07 21:34] larryzhang95 commented on #2753
The file is definitely on the disk. I had performed the intermediate step of plotting the mean image  previously.

The results of the code:
![image](https://user-images.githubusercontent.com/29720526/113937617-4b65d280-97ae-11eb-9991-ac91f8e5ab95.png)

[2021-04-07 21:48] emdupre commented on #2753
Hi @larryzhang95 --

The problem is that `datasets.fetch_atlas_schaefer` returns `descriptions`, `labels`, and `maps`. You seem to be expecting it to only return the equivalent of the `maps` object. You can run a working example like so:

[code]

In general, we use this issue tracker for bug reports or enhancement requests rather than usage questions. If you have any other follow-up questions abou

[2021-04-07 21:48] #2753 closed

[2021-04-07 21:50] larryzhang95 commented on #2753
Yes! This answers the question.

[2021-04-07 22:07] paulcbogdan commented on #2742
Hi,

We appreciate these detailed replies. Sorry if this was unclear before, but I wanted to clarify that our code just performs the correlation-based measure searchlight. It generates brain images where each voxel/sphere represents the similarity measure between a pair of conditions. Our goal for this code was to perform MVPA and identify which parts of the brain can be used to decode between a p

[2021-04-08 00:27] AReineberg opened #2754 "plot_markers scaling issue"
Hi. I am trying to visualize the Gordon 2016 parcellation with plot_markers. I can get view_markers to produce an accurate image:

![newplot](https://user-images.githubusercontent.com/5094574/113948510-457dea80-97ca-11eb-82f1-10e71d8ce5ce.png)

but plot_markers is not working even though I think I've produced the voxel coordinates correctly from the provided MNI coordinates. It looks like the parc

[2021-04-08 08:35] NicolasGensollen commented on #2754
Hi @AReineberg

Unless I am missing something, the coordinates from the dataframe are already in the right space, right?
Here is your script with a few tweaks to make it work on my end:

[code]

![1](https://user-images.githubusercontent.com/2639645/113994549-c59d6200-9855-11eb-9710-fd0c62d20d35.png)

[code]

![2](https://user-images.githubusercontent.com/2639645/113994589-cd5d0680-9855-11eb-8df3-

[2021-04-08 15:35] AReineberg commented on #2754
I tried yesterday with MNI coordinates and got the following image:

![downloadx2](https://user-images.githubusercontent.com/5094574/114053734-743ca500-984c-11eb-8807-7d6d1700dc20.png)

But your code did work for me. It looks like the culprit is the np.array call in my code. I guess the coordinates were already in the right shape, so without the np.array call in my plot_marker code, it works:

![d

[2021-04-08 22:19] bthirion commented on #2754
Great !
Is it OK to close the issue ?
Best,

[2021-04-08 22:29] #2754 closed

[2021-04-09 06:58] #2733 closed

[2021-04-12 06:51] #75 closed

[2021-04-12 10:52] NicolasGensollen opened #2757 "Some public functions from `nilearn.regions` are not exposed"
Some public functions from the `regions` module are not exposed. For example:

https://github.com/nilearn/nilearn/blob/00d3873fb6cf23d09f8eba6d0d20e905f26d22dd/nilearn/regions/rena_clustering.py#L148-L152

https://github.com/nilearn/nilearn/blob/00d3873fb6cf23d09f8eba6d0d20e905f26d22dd/nilearn/regions/rena_clustering.py#L349-L355

Or

https://github.com/nilearn/nilearn/blob/00d3873fb6cf23d09f8eba6

[2021-04-12 20:40] bthirion commented on #2757
I think that none of these functions is meant to be public. We should prepend a '_'

[2021-04-13 01:10] DasDominus commented on #2686
Thanks @bthirion ! Yeah that do make things a bit harder to understand.
I eventually just used NiftiMasker and manually did aggregations

That being said, NiftiLabelsMasker do provide an option strategy which supports:

Must be one of: sum, mean, median, mininum, maximum, variance,
        standard_deviation. Default='mean'

which eventually resolves to getting functions from the scipy.ndimage pac

[2021-04-13 01:10] #2686 closed

[2021-04-14 09:31] NicolasGensollen opened #2760 "Update the copyright footer on the website"
Says "2010-2020":

![footer](https://user-images.githubusercontent.com/2639645/114688133-b8c8b480-9d14-11eb-9245-23d8f7dff9dd.png)

[2021-04-14 21:48] hfxcarl commented on #2114
The solution provided by @kchawla-pi to use display.figure.savefig() worked for me. But only after I arrived here and had already spent considerable time trying to figure out this issue. Complicating this are several similar functions from nilearn where disp.savefig() works directly without adding the .figure. in the middle, for example:
[code]
It would be nice if all plotting functions returned o

[2021-04-15 07:31] NicolasGensollen commented on #2114
Hi @hfxcarl
Most plotting functions in nilearn (like `plot_connectome`) returns a figure (or "figure-like") object with a `savefig` method. However, for a reason I don't know, the matrix plotting functions like `plot_matrix` return an `Axes` instance (except `plot_event` which returns a figure...).

I agree with you that consistency across nilearn plotting functions would be easier for users. @bth

[2021-04-15 07:32] bthirion commented on #2114
No, it's historical. It would be great to offer a more uniform API.

[2021-04-15 07:36] NicolasGensollen commented on #2114
OK, I'll open a new dedicated issue then!

[2021-04-15 07:57] NicolasGensollen opened #2761 "Consistent plotting API"
See #2114

Most plotting functions in nilearn return a `Figure` instance while some (like `plot_matrix`) return `Axes` (some functions like `plot_img_on_surf` return both figure and axes). This can be confusing for users (see `savefig` errors of #2114 for example).
It would be nice to offer a more consistent API by having all plotting functions return figure-like objects.

A possible way forward c

[2021-04-15 09:58] GaelVaroquaux commented on #2761
That would break major features, such as the use of "add_overlay".

[2021-04-15 14:25] KnorrFG commented on #2737
While I worked on writing a fix for this, I faced an issue. So far I have added two parameters to `signal.clean`: `stored_mean` and `stored_std` which are used for standardization if they are not set to None. I also added these parameters to `base_masker.filter_and_extract` so that they could be passed to `signal.clean()`. But while thinking about how to get the actual values for these arguments I

[2021-04-15 15:46] jeromedockes opened #2762 "codecov bash uploader security update"
https://codecov.io/disclosure

- the github actions test workflow uses the codecov action, so that may have downloaded the altered script, but AFAIK it doesn't have access to any secrets
- azure pipelines uses the codecov package, not the bash script so it is probably not affected. in any case its only secret is the codecov token and I just changed it (note in any case we don't really consider it

[2021-04-15 19:14] NicolasGensollen commented on #2762
Thanks for opening this @jeromedockes ! :+1:
I'll have a look.

[2021-04-16 09:47] NicolasGensollen commented on #2762
It looks like the codecov action will soon compute the checksum of the script and make sure it is not corrupted, see  https://github.com/codecov/codecov-action/issues/281

[2021-04-16 10:04] NicolasGensollen commented on #2762
@jeromedockes after looking into this, I think the only potential issue could come from the codecov action which indeed uses the uploader script. AFAICT, the workflow in which this action is used doesn't have access to any secret.
There are ongoing discussions (see https://github.com/jupyterhub/team-compass/issues/398 for example) to find out whether actions from one workflow could potentially aff

[2021-04-16 10:39] achamma723 commented on #2760
Hello @NicolasGensollen , Where can i find the code of the website?

[2021-04-16 12:40] NicolasGensollen opened #2763 "Multiple definitions of `basic_paradigm`"
The function `basic_paradigm` is defined in `nilearn._utils.data_gen.py`:

https://github.com/nilearn/nilearn/blob/00d3873fb6cf23d09f8eba6d0d20e905f26d22dd/nilearn/_utils/data_gen.py#L505-L510

But, it is re-defined in other files (with a duration) for testing:

- `nilearn/glm/tests/test_first_level.py`:
https://github.com/nilearn/nilearn/blob/a36c0442fc8eebe401b310dd9799c0f071080e90/nilearn/glm/t

[2021-04-16 14:28] jeromedockes commented on #2762
thanks for looking into it! it is used to upload the doc?
generating a new token is easier than figuring out if we need to, so I
suggest we change it

[2021-04-16 17:00] NicolasGensollen commented on #2762
@jeromedockes I'm wondering whether we shouldn't just remove the codecov action from the workflow, and use a script instead (similar to what is done for the azure pipeline)?
In any case, we should indeed change the token as a precaution.

[2021-04-16 18:12] jeromedockes commented on #2762
in case the same thing happens again with the github action in the future? I don't have a strong opinion, let's do what you think is best! using the codecov package instead of the bash uploader shouldn't be hard to do if you think it is more suited

actually I think I read your previous comment a bit too fast this morning; IIUC the token in question is the `GITHUB_TOKEN`, which expires at the end

[2021-04-16 20:00] bthirion commented on #2763
Good first issue indeed ! thx for spotting it.

[2021-04-18 21:15] bthirion commented on #2737
@thomasbazeille @GaelVaroquaux  I'm still unsure about this issue. Any comment on your side ? I think that it makes to create the above feature, although I fail to identify a good use case for that.

[2021-04-18 21:27] bthirion commented on #2737
@KnorrFG regarding your last comment,
for all maskers  the preprocessing is eventually done in signal.clean, so initially I thought that this is where the option needs to be implemented. You basically need the function to return the mean and std of the signal per session on top of the preprocessed signal. But it turns out to be a heavy refactoring.
And you will have to adapt the `fit()` method of

[2021-04-19 07:43] #2744 closed

[2021-04-19 08:37] NicolasGensollen commented on #2762
It seems like codecov merged their checksum verification PR a couple days ago: https://github.com/codecov/codecov-action/pull/282 and bumped to v1.4.0, so I suppose we can keep the codecov action in the workflow.

Moreover, we are not using any secret in the "compromised" workflow. The github token is used in another workflow, and therefore shouldn't be accessible (see discussion linked in my prev

[2021-04-19 10:48] jeromedockes commented on #2762
Yes I agree, thanks for making sure!

[2021-04-19 10:48] #2762 closed

[2021-04-19 12:07] GaelVaroquaux commented on #2737
From a cursory look, it seems that @KnorrFG is right: the mean and variance should only be computed on the train set. I bet that some people will be unhappy about this, but from a machine-learning perspective, it is the correct answer. We might have to introduce an option to cater for the multiple usecases

[2021-04-19 16:27] bthirion commented on #2328
Stalled, closing.

[2021-04-19 16:27] #2328 closed

[2021-04-19 16:35] NicolasGensollen commented on #2268
Shouldn't we close this? It looks like it was taken care of in #2269, right?

[2021-04-19 16:42] bthirion commented on #2217
Closing, as there is no clear solution as far as I can see.

[2021-04-19 16:42] #2217 closed

[2021-04-19 16:43] bthirion commented on #2211
Doesn't sound really needed.

[2021-04-19 16:43] #2211 closed

[2021-04-19 16:44] bthirion commented on #1948
Solved, closing.

[2021-04-19 16:44] #1948 closed

[2021-04-19 16:47] bthirion commented on #2008
Solved AFAIK.

[2021-04-19 16:47] #2008 closed

[2021-04-19 16:49] DimitriPapadopoulos commented on #1948
We plan on shutting down the `brainomics.cea.fr` server. Hopefully there aren't too many old Nilearn releases out there that would still use it.

[2021-04-19 17:13] jeromedockes commented on #2268
yes, closing

[2021-04-19 17:13] #2268 closed

[2021-04-19 19:24] bthirion commented on #2737
Thx. It will involve a relatively extensive redesign of signal preprocessing methods in all maskers.

[2021-04-20 08:09] KnorrFG commented on #2737
I'm sorry, but since I'm not familiar with the codebase, I don't think that I'm the right person for this job

[2021-04-22 11:05] NicolasGensollen opened #2767 "Inconsistent predict return values for decoders"
It looks like decoders with dummy estimators do not return labels when predicting, although this is what decoders with other estimators do. This can give unexpected results if one is not careful (accuracy will be zero for instance...).

[code]
[code]

[2021-04-22 15:39] NicolasGensollen opened #2768 "Decoder with dummy classifier estimator always predict same label"
It looks like the decoder with dummy classifier is always predicting the first class no matter the frequencies of the labels.

Here is an example using the Haxby dataset, where I change the target frequencies:

[code]
[code]

[code]
[code]

Maybe I'm missing something here, but I would expect a behavior like the following:

[code]
[code]

[2021-04-22 16:42] NicolasGensollen commented on #2768
I'm not quite sure yet, but I think this comes from the fact that we are binarizing the labels here:

https://github.com/nilearn/nilearn/blob/a36c0442fc8eebe401b310dd9799c0f071080e90/nilearn/decoding/decoder.py#L779-L782

For each binary classification problem where one class has label `1` and all others label `-1`, the dummy estimator always picks the same label `-1` since it is more frequent, un

[2021-04-24 20:15] jithenshriyan commented on #2763
I would love to take on this issue as my first open-source contribution.

Let me know if it is still available, and I'll get to work on it!

[2021-04-25 15:31] jhlegarreta commented on #2328
@bthirion @GaelVaroquaux @tsalo @jeromedockes @NicolasGensollen thanks for persevering and for having finally addressed these across several PRs. I had a look at the files I linked at the beginning of this issue, and all docstrings look good now. Great work :100:.

[2021-04-25 17:03] bthirion commented on #2328
Thx for checking !

[2021-04-26 10:56] NicolasGensollen opened #2771 "Very similar GLM examples"
It looks like the following examples are very similar (although they are not exactly the same either).
It might be worth factoring them, WDYT?

- [Example of explicit fixed effects fMRI model fitting](http://nilearn.github.io/auto_examples/04_glm_first_level/plot_fixed_effects.html#sphx-glr-auto-examples-04-glm-first-level-plot-fixed-effects-py)
- [Simple example of two-session fMRI model fitting]

[2021-04-26 19:33] bthirion commented on #2771
+1 for merging them. I think that 2 features are important:
1. The ability to perform fixed-effects inference once you have several effects and variance (aka summary statistics) images
2. the fact that  when you directly pass several fmri runs to a glm model, it computes a fixed effect on the data (no need to pass explicitly the summary statistics).

[2021-04-27 16:21] tsalo opened #2772 "`FirstLevelModel._get_voxelwise_model_attribute` only returns first design matrix's attribute"
The FirstLevelModel attributes which use `_get_voxelwise_model_attribute()` only return the img for the first design matrix, rather than all of the design matrices' associated imgs.

Nilearn version: ~0.7.1 (`master` at c4839dd)

### Expected behavior

Accessing one of the voxelwise attributes which rely on `FirstLevelModel._get_voxelwise_model_attribute()`, such as `FirstLevelModel.residuals`, `F

[2021-04-27 19:15] bthirion commented on #2772
Thx, good catch !

[2021-04-30 09:14] NicolasGensollen opened #2774 "Add CI documentation to contributing guidelines"
If we keep the CI changes introduced in #2734 and #2752, it could be a good idea to add some explanations in the docs for contributors.

For example, explaining that CircleCI will only build modified examples (except for master) unless you add the tag `[circle full]` to your commit message, or that it will use the data cache if available unless you add the tag `[force download]` to your commit mes

[2021-04-30 10:40] NicolasGensollen opened #2775 "Use plot_event in a example"
The function `plot_event` has currently no example linked to its [doc](https://nilearn.github.io/modules/generated/nilearn.plotting.plot_event.html#nilearn.plotting.plot_event).
It wouldn't be too costly to use it in one example somewhere.

[2021-04-30 18:42] tsalo opened #2776 "Add link to source code in API pages"
I think it would be helpful to users who are interested in nilearn's source code to link back to GitHub from each class or function's documentation. `scikit-learn`'s [`github_link.py`](https://github.com/scikit-learn/scikit-learn/blob/4023a0f94bde429456f45b983c84c5f35475480f/doc/sphinxext/github_link.py) could be adapted and used.

### Affected pages
All reference pages (`http://nilearn.github.io/

[2021-04-30 19:04] tsalo commented on #2760
@achamma723 you can find the relevant link at https://github.com/nilearn/nilearn/blob/a36c0442fc8eebe401b310dd9799c0f071080e90/doc/conf.py#L93

[2021-04-30 19:56] bthirion commented on #2775
+1

[2021-05-01 18:34] htwangtw opened #2777 "Integration of `load_confounds` to `nilearn`"
The `load_confounds` team would like to see `load_confounds` added to `nilearn`! [Link to the repository](https://github.com/SIMEXP/load_confounds)
`load_confounds` is a small tool to load fMRIprep confound timeseries based on methods benchmarked in [Ciric et. al.,  2017](https://doi.org/10.1016/j.neuroimage.2017.03.020). The output can be passed to`NiftiMasker` and related functions directly.
It'

[2021-05-02 20:40] bthirion commented on #2777
Thx for the suggestion !
I think I like you suggestion. Facilitating the fMRIPREP to Niilearn transition is certainly a great addition.

Note however that changes breaking the API will have two wait for two release cycles ! Also, we may have to adapt the terminology slightly. Are you taking part to the coding sprint this week  ?
Best,

[2021-05-02 21:37] htwangtw commented on #2777
Yes I have signed up to the sprint! Happy to discuss more.

[2021-05-03 00:39] emdupre commented on #2777
You should have gotten an email this evening; let us know if not. Details about the accessing the Discord server are also on the event website !

[2021-05-03 13:27] tvanasse opened #2778 "Axes Cutoff in Example 9.2.15.9 (plotting.plot_img_on_surf)"
[`Example 9.2.15.9`](https://nilearn.github.io/auto_examples/01_plotting/plot_3d_map_to_surface_projection.html#plot-multiple-views-of-the-3d-volume-on-a-surface) features a quick plot showing multiple views of a volumetric stat map on an average surface.

![sphx_glr_plot_3d_map_to_surface_projection_006](https://user-images.githubusercontent.com/8116564/116880214-5c580700-abe7-11eb-8af0-3c229cb1f

[2021-05-03 14:30] NicolasGensollen commented on #2778
Thanks for opening this @tvanasse !
Indeed, I can reproduce with:

[code]
![test](https://user-images.githubusercontent.com/2639645/116889329-b929e080-ac2c-11eb-89a2-085636087f6f.png)

[2021-05-03 16:15] thomasbazeille commented on #2742
Hello ! Sorry for taking so long to reply, we discussed it lengthily but still have a bit of trouble to agree on whether this functionality was in or out of Nilearn current scope. To consider this contribution we first need to clarify a bit the level of support Nilearn should provide both for searchlight based methods and for RSA-related methods (considering pyRSA covers many methods in this space

[2021-05-03 19:41] tsalo opened #2779 "Operationalize and apply triaging issue labels"
We have nine new [issue labels](https://github.com/nilearn/nilearn/labels): `priority: low`, `priority: medium`, `priority: high`, `impact: low`, `impact: medium`, `impact: high`, `effort: low`, `effort: medium`, and `effort: high`. These labels, along with the preexisting `good first issue` label, are meant to help triage issues, which the new @nilearn/triaging team will help with.

However, in o

[2021-05-03 21:36] bthirion commented on #2779
Thx for the suggestion.
In the context of the sprint, I believe that the effort task is the most useful. Given the limited time available, I would actually bet that the most important is still to identify effort:low / good first issues.

[2021-05-04 08:16] NicolasGensollen opened #2780 "Use bibtex in nilearn/connectome"
Convert references in

- `nilearn/connectome/connectivity_matrices.py`
- `nilearn/connectome/group_sparse_cov.py`

to use footcite / footbibliography.
See #2759

[2021-05-04 08:25] NicolasGensollen opened #2781 "Use bibtex in nilearn/decoding"
Convert references in `nilearn/decoding/decoder.py` to use footcite / footbibliography
See #2759

[2021-05-04 08:30] NicolasGensollen opened #2782 "Use bibtex in nilearn/decomposition"
Convert references in:

- `nilearn/decomposition/canica.py`
- `nilearn/decomposition/dict_learning.py`

to use footcite / footbibliography.
See #2759

[2021-05-04 08:41] NicolasGensollen opened #2783 "Use bibtex in nilearn/glm"
Convert references in

- `nilearn/glm/regression.py`
- `nilearn/glm/thresholding.py`

to use footcite / footbibliography
See #2759

[2021-05-04 08:47] NicolasGensollen opened #2784 "Use bibtex in nilearn/image"
Convert references in  `nilearn/image/image.py` to use footcite / footbibliography.
See #2759

[2021-05-04 08:53] NicolasGensollen opened #2785 "Use bibtex in nilearn/mass_univariate"
Convert references in `nilearn/mass_univariate/permuted_least_squares.py` to use footcite / footbibliography.
See #2759

[2021-05-04 09:05] NicolasGensollen opened #2786 "Use bibtex in nilearn/plotting"
Convert references in `nilearn/plotting/img_plotting.py` to use footcite / footbibliography.
See #2759

[2021-05-04 10:45] NicolasGensollen opened #2787 "Use bibtex in nilearn/regions"
Convert references in `nilearn/regions/region_extractor.py` to use footcite / footbibliography.
See #2759

[2021-05-04 10:55] NicolasGensollen opened #2788 "Use bibtex in nilearn/signal.py"
Convert references in `nilearn/signal.py` to use footcite / footbibliography.
See #2759

[2021-05-04 11:56] NicolasGensollen opened #2789 "Use bibtex in nilearn/datasets"
Convert references in:

- `nilearn/datasets/atlas.py`
- `nilearn/datasets/func.py`
- `nilearn/datasets/neurovault.py`
- `nilearn/datasets/struct.py`

to use footcite / footbibliography.
See #2759

[2021-05-05 07:28] NicolasGensollen commented on #2730
Fixed in #2732

[2021-05-05 07:28] #2730 closed

[2021-05-05 08:10] alexisthual opened #2790 "More diverse avg_method for plot_surf to handle sparse matrices"
Currently, the `avg_method` parameter in `plotting.plot_surf` only takes `mean` or `median` as arguments.
Having the possibility `min`, `max` or other functions would be useful to me, in the sense that sometimes I have some sparse surface matrices, therefore using `mean` or `median` kind of kills my plots :smile:

### Benefits to the change

It would allow for a better representation of sparse mat

[2021-05-05 08:26] NicolasGensollen commented on #2739
Today is the first day of the sprint! :tada:

**Discord**

Discussions and sessions will happen on discord [here](https://discord.gg/bMBhb7w).

**Schedule**

- 13h UTC: Kick-off and what’s new in Nilearn and Nibabel
- 14h UTC: Interactive crash-course in contributing to Nilearn/Nibabel
- 16h UTC: Community feedback on Nilearn website, documentation

**Get started**

- Have a look at the [event web

[2021-05-05 08:30] NicolasGensollen commented on #2790
Here is the part of the code implementing these:

https://github.com/nilearn/nilearn/blob/b08d1fea1857f988b0b916e6176235b1912bcaf5/nilearn/plotting/surf_plotting.py#L268-L273

I think having the possibility of specifying `min` or `max` would be a good addition indeed :+1:

[2021-05-05 08:56] udion commented on #2642
Hello,
I am working on implementing this feature.

[2021-05-05 08:57] RaphaelMeudec commented on #2642
I started looking into it:

- all functions cited by Jerome raise either a `TypeError`, either a `ValueError`
- this is the case because nilearn checks for `isinstance(name, str)`
- as @emdupre said, nibabel underlying functions seem to be working with Path (at least, I checked `nibabel.load` and `nibabel.freesurfer.io`)

I guess we should loosen the `isinstance` check to accept pathlib.Path argum

[2021-05-05 08:58] RaphaelMeudec commented on #2642
@udion let me know if you need help on this!

[2021-05-05 09:06] udion commented on #2642
Thank you. I was also thinking to check for the `Pathlib` object.

[2021-05-05 09:17] RaphaelMeudec commented on #2772
Currently working on this.

[2021-05-05 09:53] thomasbazeille commented on #2774
Sounds good ! #2755 introduces a new doc/maintenance.rst where this would be a great addition I guess. Probably have to wait for it to be merge though.

[2021-05-05 10:10] thomasbazeille commented on #2737
Sorry just discovering this issue.
I think in your case @KnorrFG you shouldn't use the cleaning part of the masker. What I would do is would be to:

1.  have a masker just fitted on a mask.
2.  use nilearn.signal.clean for preprocessing if needed (high/low pass...)
3.  fit/transform the a scaler on your ndarray
4. unmask the images with your masker in (1) if you need Niimg as input for something e

[2021-05-05 12:55] RaphaelMeudec commented on #2444
I'm looking into this.

[2021-05-05 13:02] NicolasGensollen commented on #2739
Intro session is starting now on discord! :tada:

[2021-05-05 13:23] jeromedockes opened #2793 "Adding Plotly (Python) figures for surface plots"
- Matplotlib is not great for 3d (values for faces not vertices, problems with aspect ratios, sometimes slow, plots don't look as good as those produced by other libraries...)
- the `view_*` functions dump plots in an html page so there no way to export to static image formats such as png (except manually clicking on a button after opening the page in a browser)

to easily get nice surface images

[2021-05-05 14:23] Craskermasker commented on #2781
keen to work on this

[2021-05-05 14:27] PeerHerholz commented on #2793
Fantastic stuff @jeromedockes, +1 on all points you outlined. For example, for a while, I'm trying to integrate `nilearn surface plots` to [mindboggle](https://github.com/nipy/mindboggle) (e.g. within this [issue](https://github.com/nipy/mindboggle/issues/177)) and are currently working on other packages where this is needed as well. I would be happy to help where possible!

[2021-05-05 14:28] NicolasGensollen commented on #2781
Thanks @Craskermasker !

[2021-05-05 14:29] effigies opened #2794 "Issue assignment bot?"
For the purposes of dev-days, the bandwidth of core devs to assign issues to un-privileged contributors may be stressed.

We should look for a bot that can be installed to allow anybody to assign themselves, e.g., I might comment on an issue:

[code]

Something quick and dirty will probably suffice unless there's abuse, which seems unlikely.

[2021-05-05 14:45] bthirion opened #2795 "localizer_first_level event file has useless dummy columns"
loading the file triggers the following warning:  UserWarning: Unexpected column `Unnamed: 0` in events data will be ignored.  warnings.warn(("Unexpected column `{}` in events "

Nilearn version: 0.7.2

### Expected behavior
No warning and DataFrame with only 3 columns: 'event_type', 'onset', 'duration'

### Actual behavior
2 useless columns in the DataFrame

### Steps and code to reproduce bug

[

[2021-05-05 15:12] jeromedockes commented on #2793
Fantastic! shall I assign you to this issue then?

I guess it would entail

- maybe having a quick look at other options to justify the choice of
  plotly. the main points are being stable and (reliably) easy to
  install. also nilearn already has utilities to prepare the data needed
  by plotly, because plotly (the javascript library) is used in the
  `view_surf` & co. functions

- adding a ci jo

[2021-05-05 15:36] OliverWarrington commented on #2054
I'd like to have a go at this please! Can I ask if there was any reason that prohibits using a title directly (mentioned above)?

[2021-05-05 15:37] #2772 closed

[2021-05-05 15:40] NicolasGensollen commented on #2508
Looks like this is still not working...
I must have screwed up somewhere in the artifact path. :sweat:

[2021-05-05 15:57] effigies commented on #2794
A little searching brings up this: https://github.com/zulip/zulipbot that allows people to say `@zulipbot claim`.

[2021-05-05 16:01] jeromedockes commented on #2054
note the axes in which brains are shown don't provide `get_subplotspec` so `tight_layout` will show a warning and probably not work

[2021-05-05 16:05] effigies commented on #2794
We would need a bot account and a server for GitHub to ping: https://github.com/zulip/zulipbot/wiki/Installation

[2021-05-05 16:15] pbellec commented on #2777
quick note: if this integration moves forward, this will solve several old standing issues #1011 (fmriprep generates discrete cosines for high pass filtering, and are present in all `load_confounds` strategies) #1012 (the `sample_mask` argument will be usable for scrubbing if exposed in `fit` methods) and  #1013 (code for generating a scrubbing mask from motion parameters generated by fmriprep is

[2021-05-05 16:21] effigies commented on #2642
If it's helpful, you can import or copy [`nibabel.filename_parser._stringify_path()`](https://github.com/nipy/nibabel/blob/5c4f39cef1f04a9afd241242c7f0148d7e5935c9/nibabel/filename_parser.py#L19-L46).

[2021-05-05 16:32] htwangtw commented on #2777
Thanks @pbellec for pining the existing issues - happy to discuss what should we prioritise to move this project forward.

[2021-05-05 17:09] #2781 closed

[2021-05-05 17:18] emdupre commented on #2777
There will be a group discussion on this **tomorrow at 3p UTC [[find your local time here]](https://www.timeanddate.com/worldclock/converter.html?iso=20210506T150000&p1=195)** as part of the Nilearn-Nibabel Dev Days ! For more information and to join, see https://github.com/nilearn/nilearn/issues/2739.

[2021-05-05 18:01] NicolasGensollen opened #2797 "Fix ref in whatsnew"
CircleCI is failing on master due to this ref in the whatsnew file introduced in #2792 :

:func:`nilearn.glm.first_level.FirstLevelModel._get_voxelwise_model_attribute`

Since `_get_voxelwise_model_attribute` is a private function, this ref isn't working.

[2021-05-05 19:23] tsalo commented on #2779
Absolutely. The immediate concern should be the low-hanging fruit for new contributors. How do folks feel about the definitions though? Are they clear enough? Are there any rules that would make them more useful?

[2021-05-05 19:30] bthirion commented on #2779
No strong opinion on the alternative. I find  `effort: <low/medium/high>` good enough.

[2021-05-05 19:33] Craskermasker commented on #2795
keen to take this issue

[2021-05-05 19:37] tsalo commented on #2795
Do you have write access to the relevant OSF repository (https://osf.io/2bqxn)? If not, you may need to clean the file and attach it here, and then someone with access can upload it themselves. I think it would be particularly helpful to share the zip file so that whoever uploads the updated version just has to drag and drop instead of downloading, unzipping, updating, zipping, etc.

[2021-05-05 19:38] bthirion commented on #2795
Thx !

[2021-05-05 19:43] tsalo commented on #2789
I don't want to introduce sprawl, but it would also be very helpful to move the in-line references out of the first lines in the docstrings of the following functions:

- fetch_atlas_destrieux_2009
- fetch_coords_power_2011
- fetch_atlas_smith_2009
- fetch_atlas_pauli_2017
- fetch_adhd
- fetch_haxby
- fetch_miyawaki2008
- fetch_surf_nki_enhanced
- fetch_atlas_surf_destrieux

As can be seen in the

[2021-05-05 19:43] psadil commented on #1755
Hoping to close this as part of dev days 2021! It'd be my first contribution.

I think I know what to do. But it's going to take a bit while I try out the steps.

[2021-05-05 19:46] ChristianGerloff commented on #2250
Hey @NicolasGensollen, if that's fine for you, I could take the issue

[2021-05-05 19:46] tsalo commented on #2761
Would returning both figure and axes (whether list of Axes or just one Axes) like [`matplotlib.pyplot.subplots`](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.subplots.html) work as a compromise?

[2021-05-05 19:46] Craskermasker commented on #2795
Is this ok?

https://drive.google.com/file/d/14junssfREFTyltwpQZvM3RBLCeiq5q3L/view?usp=sharing

[2021-05-05 19:52] tsalo commented on #2795
The updated TSV looks good to me. Thank you. @bthirion it looks like you're the only person with write access to that OSF repo. Would you mind checking and uploading if it looks good to you?

[2021-05-05 20:03] bthirion commented on #1755
Thx ! Let us know if you need help.

[2021-05-05 20:05] bthirion commented on #2250
Thx ! let us know if you need help.

[2021-05-05 20:08] bthirion commented on #2761
This sounds reasonable to me.

[2021-05-05 20:09] ChristianGerloff commented on #2250
alright, thx

[2021-05-05 20:54] Craskermasker commented on #2775
keen to try this issue

[2021-05-05 20:56] bthirion commented on #2795
Done, the link is https://osf.io/2bqxn/
Best,

[2021-05-05 20:58] tsalo commented on #2795
I think this issue can be closed then. Thanks @Craskermasker.

[2021-05-05 20:58] #2795 closed

[2021-05-05 20:58] bthirion commented on #2775
Maybe https://nilearn.github.io/auto_examples/04_glm_first_level/write_events_file.html#sphx-glr-auto-examples-04-glm-first-level-write-events-file-py ?

[2021-05-05 20:59] bthirion commented on #2795
But we still need to change the osf link ?

[2021-05-05 21:05] tsalo commented on #2795
Isn't it still https://osf.io/2bqxn/ ?

[2021-05-05 21:08] bthirion commented on #2795
I thought the url had changed. Sorry for the noise. Thx !

[2021-05-05 23:07] #1755 closed

[2021-05-06 06:17] NicolasGensollen commented on #2789
Good point, thanks @tsalo !

[2021-05-06 06:34] #2797 closed

[2021-05-06 07:42] udion commented on #2642
@RaphaelMeudec @effigies
I made the following changes, to begin within the `nilearn/_utils/niimg_conversions.py` that has the `check_niimg` function that is invoked when `nilearn.image.load_img` is called. The idea was to extract the string from the `pathlib object` and then process it in the same manner as a regular string (currently handled by the code).

[code]

1. I checked `nilearn.image.load

[2021-05-06 07:47] OliverWarrington commented on #2054
In the title function of the BaseSlicer class, which object is the right one to be trying to call subplots_adjust for? Or alternatively, can we just increase the figure size if there is a title, like you do for the colourbar?

[2021-05-06 08:17] Craskermasker commented on #2180
keen to look at this one today

[2021-05-06 08:19] NicolasGensollen commented on #2739
For those of you who couldn't make it yesterday for the first day of the sprint, here is a small recap of what happened:

- We had a quick overview of some of the new things in both Nilearn and Nibabel (you can get the slides/notebooks [here](https://github.com/nilearn/dev-days-2021/tree/main/Notebooks)).
- @GaelVaroquaux gave an awesome crash course for contributing to open source projects :clap:

[2021-05-06 08:22] JLefortBesnard commented on #1853
I'd like to be assigned on this issue :)

[2021-05-06 08:46] bthirion commented on #2180
I think a demo explaining parameters impact is important here.

[2021-05-06 09:04] alexisthual commented on #1853
@JLefortBesnard and I investigated this issue, it seems that the colorbar position is set [at line 949 in `plotting/display.py`](https://github.com/nilearn/nilearn/blob/034a0bc2df7e7242fafaf788c3eae2b5a94fa17f/nilearn/plotting/displays.py#L949).

Also, it feels hard to quickly implement a way to position the colorbar relatively to the rest of the figure: axes for the different parts of the figure

[2021-05-06 10:03] alexisthual commented on #2528
I can imagine this subject is often being discussed...
I personally enjoyed contributing to repos which implemented some `pre-commit` logic with `black` for instance (I know it has pros and cons but at least it was very easy to setup and quite straight forward).

[2021-05-06 10:45] JLefortBesnard commented on #2789
Hi, I would like to be assigned on this issue, thanks :)

[2021-05-06 12:28] Craskermasker commented on #2776
Interested in this one

[2021-05-06 12:56] SylvainTakerkart commented on #2483
Hi!
Let's try to relaunch this discussion... I was wondering whether it could be useful to split our discussions in several use cases... I see two factors that could help structure our work:
- factor 1 = individual vs. group level;
- factor 2 = ROI-based vs. searchlight decoding...
That would give us four different usecases that we could tackle separately (in terms of method, if separation is need

[2021-05-06 13:02] Craskermasker commented on #2776
I have a WIP PR for this - is it ok to re-use the `github_link.py` from scikit-learn from a software licensing point of view? Both are BSD-3-Clause as far as I can tell.

[2021-05-06 13:04] alexenge commented on #2786
I'd like to take care of this one as my first contribution. Thanks!

[2021-05-06 13:07] alexisthual opened #2807 "Add more available resolutions for fsaverage"
For now, only fsaverage 5 (10k points per hemisphere) and 7 (150k points) are available.
I think it would make sense to add fsaverage 6 (40k points), and while we are at it do all versions from 1 to 4 as well.
You can visit [this page](https://brainder.org/2016/05/31/downsampling-decimating-a-brain-surface/) from brainder.org for more info about available resolutions :slightly_smiling_face:

Also,

[2021-05-06 13:56] GaelVaroquaux commented on #2776
Yes. Thanks for asking!

[2021-05-06 13:57] psadil commented on #2692
I can work on adding an 'unpaired', two-sample t-test example.

How are the topics ordered? As in, what determines that, e.g., [plot_second_level_design_matrix.py](https://github.com/nilearn/nilearn/blob/034a0bc2df7e7242fafaf788c3eae2b5a94fa17f/examples/05_glm_second_level/plot_second_level_design_matrix.py) is 9.6.1 and [plot_proportion_activated_voxels.py](https://github.com/nilearn/nilearn/blob

[2021-05-06 14:15] bthirion commented on #2807
I like it. I mean, I need it !

[2021-05-06 15:12] jeromedockes commented on #2528
We want to make it as easy as possible to start contributing even for
people who aren't very comfortable with git, so asking everyone to
install pre-commit hooks seems a bit too much

[2021-05-06 15:20] kchawla-pi commented on #2528
Locally run pre-commit hooks are often a big stumble. I would not recommend enforcing them.
I was thinking about running in-cloud linters and formatters, such as : https://github.com/marketplace/actions/run-black-formatter

There are a bunch on github marketplace https://github.com/marketplace?query=formatter

[2021-05-06 15:25] jeromedockes commented on #2313
that was done in #2517

[2021-05-06 15:25] #2313 closed

[2021-05-06 15:26] alexisthual commented on #2528
I get your point, but couldn't we write the `pre-commit` config file and simply ask the user to [download `pre-commit`](https://pre-commit.com/#installation)?
Actually, it's nothing more than a `pip install pre-commit`, we could even include this package in `requirements-dev.txt`.

The tricky part maybe is when the user has to `black` (or any other code-formatter) their code, but again, the `pre-c

[2021-05-06 15:36] kchawla-pi commented on #2528
No. The pre-commit hooks don't work well if a user uses an IDE which does not link pre-commit hooks to a custom python such as conda's or a virtual environment.

For example I have Conda's Python set as my default in Linux and I always use virtual environments and unless I install the pre-commit hook in the system python3 Pycharm always fails the commit process.

We cannot afford this kind of fric

[2021-05-06 15:45] alexenge commented on #2780
Hey, I've just took care of one of the bibtex issues (#2786) and wouldn't mind doing a few more of the remaining ones (probably all of them, i.e. #2780, #2782, #2783 #2785, #2787, and #2788).

Is that okay or would you like to leave them open for future newbies?

Also, would you prefer having separate PRs for each of them or rather one large one? Thanks!

[2021-05-06 16:11] #2786 closed

[2021-05-06 16:13] kchawla-pi commented on #2528
I think that is a better approach

[2021-05-06 16:19] kchawla-pi opened #2813 "EOL Python3.5"
Python 3.5 has been EOLed in Sept 2020.
Nilearn should deprecate its use and add a warning to that effect.
Also the README and other relevant places should be updated to reflect the correct Python versions, for example more than 3.7

### Benefits to the change
Security and bugfixes for 3.5 have stopped.
3.6 has features especially Fstrings which make the code neater.
Putting out the warning now me

[2021-05-06 16:23] htwangtw commented on #2777
### Summary of discussions from Nilearn-Nibabel Dev Days 2021

Thanks everyone for the extremely helpful discussion today!

**To start the integration, we will resolve some standing issues in the existing nilearn code base.**

- Refectoring signal.clean (will open a separate issue and update with issue number)
- `sample_mask` expose to `fit`, and the semantic of this argument (#1012)
- Discrete co

[2021-05-06 16:23] NicolasGensollen commented on #2780
Hi @alexenge
These issues are more meant to help newcomers do a first pull request without having to write code. This way you can just focus on the process of forking, cloning, pushing, submitting and so on.
So, I think it'd be great if you could leave some of these issues to other newcomers. That being said, if you want to do another one, feel free to do so!
Also, it's always better to do small P

[2021-05-06 16:24] NicolasGensollen commented on #2780
Btw, let me know if you want to be assigned to this one!

[2021-05-06 16:30] alexenge commented on #2780
Thanks, I've thought so and this makes total sense.

It would be really cool if you could assign me this one so I can get just a bit more practice and then I would try to move on to something else.

[2021-05-06 16:45] htwangtw opened #2814 "Unclear bandpass filter application in `signal.clean`"
I found the following lines of code a bit confusing:

https://github.com/nilearn/nilearn/blob/5f1cbf3645ae4f927857ff30db3e3121573020e3/nilearn/signal.py#L589-L599

Almost immediate after this, confound regression was performed. However, inside the statement triggering confound regression, we have the duplicated code block:
https://github.com/nilearn/nilearn/blob/5f1cbf3645ae4f927857ff30db3e3121573

[2021-05-06 16:57] bthirion commented on #2483
And maybe start with the simple case: decoding  / ROI-based decoding.
+ The group-level scenario is probably simpler.

[2021-05-06 16:58] htwangtw commented on #2814
@jerad has kindly pointed out that I can't read :see_no_evil:
The the first block was done on the signal and the second one is on confounds.

Still, it will be helpful to refactor it so we can address #1011 in with a clearer idea how the data flows .

[2021-05-06 17:38] #2784 closed

[2021-05-06 17:44] bthirion commented on #2813
Thx @kchawla-pi ! & happy to hear from you  :-)

[2021-05-06 18:04] NicolasGensollen commented on #2813
Indeed, It's almost the end of the story for Python 3.5:

https://github.com/nilearn/nilearn/blob/ae30ef6a4b622eff8a14750535449d4b38feee64/nilearn/__init__.py#L51-L59

[2021-05-06 20:19] bthirion commented on #2777
Thx ! The summary and the discussion have been great.
Simply one point: I'm worried about adding another dataset for nilearn doc generation, as this is a well-known cause of failure. If we add one, we should remove another one ?
Or is it possible to get the fmriprep-generated confounds file for one of the existing datasets (e.g. developmental fMRI) ?

[2021-05-06 20:22] kchawla-pi commented on #2813
Uh right I had added that warning. Time flies!
@bthirion thanks! Missing Nilearn!

[2021-05-06 21:06] #2180 closed

[2021-05-07 01:27] psadil commented on #2692
The paired and unpaired examples could end up being quite similar. What about adding the unpaired example to what is currently 9.6.3, [plot_second_level_paired_sample_test.py](https://github.com/nilearn/nilearn/blob/034a0bc2df7e7242fafaf788c3eae2b5a94fa17f/examples/05_glm_second_level/plot_second_level_paired_sample_test.py)? That has an added advantage of getting to show the stat maps w/ and w/o

[2021-05-07 06:54] #2776 closed

[2021-05-07 06:58] bthirion commented on #2692
Yes, makes sense.

[2021-05-07 07:06] #2814 closed

[2021-05-07 07:14] htwangtw commented on #2777
That's a really important point - and thanks for bringing up the error-prone part!
To finish up `load_confounds`, I need fMRIprep LTS processed data to create new test data. That in itself will not affect things on nilearn.
On nilearn side, @emdupre mentioned in the discussion to rerun the existing developmental fMR dataset with fMRIprepLTS. This is going to be useful for updating [this example](h

[2021-05-07 07:15] NicolasGensollen commented on #2814
@htwangtw as you said during your talk, this function is complicated and the order in which operations are made is extremely important even if it is not really documented.
Every time I have to touch it I'm afraid of breaking something major... :sweat:

[2021-05-07 07:17] htwangtw commented on #2814
I had a go already and all the tests related to `signal.py` still stands, just about to open a separate issue, or we can just revive and repurpose this one?

[2021-05-07 07:23] Craskermasker opened #2818 "BUG: broken reference in example"
Broken reference to vol_to_surf in:

examples/01_plotting/plot_3d_map_to_surface_projection.py

[2021-05-07 08:28] #2780 closed

[2021-05-07 08:41] NicolasGensollen commented on #2814
@htwangtw you can reopen one if the purpose isn't the same. Will be easier for people to quickly get the context.

[2021-05-07 09:28] NicolasGensollen commented on #2739
This is the third and final day of the sprint. :tada:

A lot happened yesterday! :rocket:

We had productive discussions on

- the integration of BIDS into Nilearn (See #2425 #2683 and #2715)
- the representation of surfaces in Nilearn and Nibabel (See #2171 #2423 #2424 #2681)
- the integration of [load_confounds](https://github.com/SIMEXP/load_confounds) within Nilearn (see #2777)

Thanks to the

[2021-05-07 09:43] htwangtw opened #2820 "Refactor `signals.clean`"
The current code in `signals.py`, especially `signal.clean` is difficult to follow. To facilitate the integration of `load_confounds` #2777, and easier integration of DCT #1011, we should refactor it to a level where the data flow is easier to follow.

I would suggest, for now, extract some methods out just to clean up `signal.clean`. We can discuss if this function should be written into a module

[2021-05-07 10:28] Craskermasker commented on #1155
interested in this issue

[2021-05-07 10:57] #2818 closed

[2021-05-07 12:47] #2790 closed

[2021-05-07 13:49] SylvainTakerkart commented on #2483
OK, this makes sense to me! (which does not prevent from discussing what you've recently implemented @PeerHerholz ;) )

can you elaborate on this?

coz I have the opposite intuition, i.e I think that "individual level" might be the easiest use case... indeed, in the "individual roi-based" case, we know that a non-parametric test based on label-permutation of the input samples provides a valid solu

[2021-05-07 13:56] bthirion commented on #2483
Individual level means taking care of serial dependence etc, while at group level your data are essentially iid.

[2021-05-07 13:57] bthirion commented on #2483
Should we plan for a discussion on Discord. At 3 UTC ?

[2021-05-07 14:08] SylvainTakerkart commented on #2483
indeed you're right... but for the individual level, I was thinking about using as inputs the results of a first level GLM (with one regressor per trial), so that we get fairly iid data (the beta- or t-maps), which I believe is a fairly standard practice by now I think (but I might be wrong)

at the group level, that means doing stats on first-level accuracies (that's what you're thinking about, r

[2021-05-07 14:09] Craskermasker commented on #1155
As far as I can tell - `cut_coords` is passed upstream all the way to `BaseSlicer` so I'm a little worried that making tweaks could have a lot of unpredictable downstream consequences. I'm happy to play around with this to explore this further.

[2021-05-07 14:26] jeromedockes commented on #1155
sounds good! any info that you can gather would be helpful

[2021-05-07 14:29] bthirion commented on #2483
When are you available to chat ?

[2021-05-07 15:07] NicolasGensollen commented on #2621
Great! Thanks @achamma723 !

[2021-05-07 15:58] NicolasGensollen opened #2824 "Website enhancements"
As discussed during the online session of the sprint today, here are some possible directions and action points for improving the current website.
I tried to translate what we discussed in a concise way but I might have misunderstood/forgotten some points... Please comment and correct me if that's the case.

**Searching**
- [x] Remove duplicate search-bar (See #1816)
- [x] Improve the searching ex

[2021-05-07 16:08] dPys commented on #2767
@NicolasGensollen -- why not just modify `_predict_dummy`?

[code]

[2021-05-07 16:19] Craskermasker commented on #1155
This might be a good place to start.
An attribute `_direction` is initialized as 'x', 'y', or 'z' for each of `XSlicer`, `YSlicer` and `ZSlicer` classes, which are subclasses of  `nilearn.plotting.displays.BaseStackedSlicer`.

`_direction` is passed to the classmethod `find_cut_coords`, and the internal logic here assumes a positive direction along each of the axes.

Options may be to:
- add a boo

[2021-05-07 16:20] bthirion commented on #2820
You mean: make the code more modular ?

[2021-05-07 16:21] NicolasGensollen commented on #2767
Hi @dPys

I think @tbng is currently looking into this issue and/or #2768
I opened a very drafty draft (#2769) a few days ago but haven't had the time to look too deeply into it.
As far as this issue is concerned (dummy decoder not returning labels), I was planning to make a change in `fit` rather than in `_predict_dummy` if I recall (see draft), but there might be a better way

[2021-05-07 16:22] bthirion commented on #2767
Sorry, I had forgotten that @tbng is working on it.

[2021-05-07 16:29] dPys commented on #2767
No worries.

Wherever your or @tbng decide to make the change, I think you should just be able to get away with the one-liner:
```return self.classes_[(scores > 0).astype(int)] if scores.shape[1] == 1 else self.classes_[scores.argmax(axis=1)]```

[2021-05-07 16:57] thomasbazeille opened #2827 "Engaging users in community & in longer-term development"
This came out from Dev Days workshop on community building:

Main problems as part of Dev Days workshop on community building mentionned :

- Hard for users to know there is a community behind a tool, that is welcoming them to participate.
- Contributing to a package without knowing people, their norms etc.. is hard
- Hard to retain developers in the long run

Proposed ideas :

- Have clusters of

[2021-05-07 16:59] htwangtw commented on #2820
yes make it modular

[2021-05-07 17:04] thomasbazeille opened #2828 "Nilearn place among neuroimaging toolboxes ecosystem"
Some opinions from a Nilearn DevDays workshop on adoption:

[2021-05-07 17:30] bthirion commented on #2828
That also comes back to Nilearn's vision statement. Can I propose the following:
[code]
Any comment welcome !

[2021-05-07 17:35] bthirion commented on #1155
I think that `find_cut_coords` is called only when coordinates are not specified. The case that we need to address is when coordinates are specified, yet not in ascending order.
HTH

[2021-05-07 20:04] pbellec commented on #2777
thanks a lot for the summary @htwangtw and the useful feedback @bthirion (and others who commented during the sprint). Reflecting on the summary, I am thinking it may be worth:
 - pushing for integrating `load_confounds` as it is currently implemented, that is purely through the `confounds` argument of the `transform` methods of maskers. This would require selecting a smaller set of strategies (wi

[2021-05-08 06:06] Craskermasker commented on #1155
thanks - I think I found where the cuts are sorted into ascending order - `BaseStackedSlicer._locator`. I am not sure if this PR may have backwards compatibility issues though if users have relied on this automatic sorting behaviour...

[2021-05-10 08:05] #2775 closed

[2021-05-10 09:49] kchawla-pi commented on #2528
@NicolasGensollen hey i just came across this. Haven't looked at it yet but could be useful https://deepsource.io/python-static-code-analysis/

[2021-05-10 10:35] NicolasGensollen commented on #2528
@kchawla-pi @alexisthual I will put this on the list of topics for the next core-devs meeting.

In addition to the increase of complexity for users mentioned by @jeromedockes, I am a bit worried by the transition phase.
I have some bad memories of another project where we decided to use black at some point. This was causing huge diffs in PRs because of the reformatting. Stalled PRs became almost i

[2021-05-10 11:32] ggardet opened #2832 "test_with_globbing_patterns_with_single_image sometimes fails on Arm"
`test_with_globbing_patterns_with_single_image` **sometimes** fails on Arm (aarch64, armv7 and armv6). It looks like a race condition because the `nii` file is not available.

Nilearn version: 0.7.1

### Expected behavior
The test should be reliable.

### Actual behavior
When the test fails, the log is:
[code]

### Steps and code to reproduce bug

Run tests on aarch64.
Tested with openSUSE Tumblew

[2021-05-10 17:27] htwangtw commented on #2777
I really like this idea - the current version of `load_confounds` is already working well. I can start with implementing strategies that don't require `sample_mask` and look into the code of `sample_mask` in nilearn!

[2021-05-11 06:00] #2692 closed

[2021-05-11 06:34] ggardet commented on #2832
I have no idea, sorry.

[2021-05-11 09:30] Craskermasker opened #2833 "Colorbar for stats plots should show a ticklabel at the threshold"
Colorbar for plot_stat_map should show a ticklabel at the threshold.

currently ticklabels are placed evenly:
![image](https://user-images.githubusercontent.com/3617325/117792782-8773d380-b243-11eb-91c5-e4bec20d856e.png)

### Benefits to the change
Clearly indicate the threshold for the image without needing to specify in the title or caption.

[2021-05-11 09:42] alpinho opened #2834 "Add "linewidths" arg for nilearn.plotting.plot_surf_contours"
Similarly to other functions in Nilearn, the function [`plot_surf_contours` ](https://nilearn.github.io/modules/generated/nilearn.plotting.plot_surf_contours.html) should have a linewidths argument that changes the boundary thickness of the contours.

[2021-05-11 09:52] tbng opened #2835 "Unnecessary cross-validation when fitting Dummy Estimator in Decoder object"
While working on the PR to fix the bug of Dummy Classifier I noticed that when doing `Decoder.fit()` for `estimator='dummy_classifier'` and `estimator='dummy_regressor'` there is a cross-validation step.

I understand that this is to conform with the pipeline of other type of estimators but maybe not really neccessary because essentially what the `DummyClassifier` and `DummyRegressor` does is maki

[2021-05-11 11:52] jeromedockes commented on #2832
Not sure if it could be related but `write_tmp_imgs` (and many other
nilearn functions) creates the temporary files with `mktemp` which has
been deprecated since python 2.3 was released in 2003 and is considered
unsafe:

  https://docs.python.org/3/library/tempfile.html#deprecated-functions-and-variables

maybe we should replace its usage with `mkstemp` or `NamedTemporaryFile`

[2021-05-11 14:08] jeromedockes commented on #2835
That's true, but at the same time this computational cost will usually
be very low compared to fitting actual estimators so it may not slow
down significantly the overall run (as typically the dummy estimator
will not be the only estimator that is fitted).
therefore, although it wouldn't be hard to do I'm not 100% sure it's
worth adding the logic to handle the special case of the Dummy estimators.

[2021-05-11 14:25] jeromedockes commented on #2807
It could be nice to ship the lowest-resolution mesh with nilearn and use it in tests instead of fsaverage5

[2021-05-11 19:26] bthirion commented on #2832
Thx for investigating.
@NicolasGensollen would you take a look at that ? Thx,

[2021-05-12 15:16] jeromedockes opened #2837 "doc not building with sphinx 4.0.1"
`make html-noplot` fails since the latest release of sphinx on monday

see for example [this build](https://app.circleci.com/pipelines/github/nilearn/nilearn/2034/workflows/2bd1d45d-b513-41d2-a941-c17feab7e8e2/jobs/7212)

[2021-05-12 15:22] emdupre commented on #2837
I don't yet see an issue flagging this issue on `sphinx-copybutton` (https://github.com/executablebooks/sphinx-copybutton). It seems like an upstream problem there rather than a nilearn issue. Should we open an issue there directly ?

[2021-05-12 15:39] RaphaelMeudec commented on #2837
Or maybe you can try switching to `add_js_file` which has replaced `add_javascript` according to the doc : https://www.sphinx-doc.org/en/master/extdev/appapi.html?highlight=add_js_file#sphinx.application.Sphinx.add_js_file

[2021-05-12 18:10] emdupre commented on #2837
Thanks, @RaphaelMeudec ! That seems like a good solution.

In fact, despite the name, I realized that `sphinx_copybutton` and our `copybutton.js` share almost no overlap. `sphinx_copybutton` adds the ability to copy code blocks to the user's clipboard; for example, [here](https://7214-1235740-gh.circle-artifacts.com/0/dev/auto_examples/01_plotting/plot_visualize_megatrawls_netmats.html#fetching-th

[2021-05-13 02:47] #2837 closed

[2021-05-13 16:48] GillesSchneider commented on #2136
Hello.

@jeromedockes brought to light that a discrete legend could be more adapted in some cases. I agree with him.
A discrete legend used besides the color bar (before adding contours) improves the overall visual interpretation of the plot.

In the image below, the legend contains the levels. If <code>levels=[vmin, vmax]</code> is given as an argument of <code>add_contours</code>, the legend wil

[2021-05-13 19:45] bthirion commented on #2136
I like the result. But this is something else than  #2136, right ?

[2021-05-13 19:50] GillesSchneider commented on #2136
Yes, I came up with this working on a color bar for <code>add_contours</code>. Maybe I should open another issue for that. I have something for #2136, but it is not done yet.

[2021-05-13 19:57] bthirion commented on #2136
Yes, i would suggest opening another issue. But I quite like the idea !

[2021-05-13 21:42] jeromedockes commented on #2136
It would also be nice if this function returned the `QuadContourSet` created by matplotlib rather than `None` so users can easily create the colorbars or legends that they want

[2021-05-17 08:31] NicolasGensollen opened #2840 "Tests on ARM architecture"
We should consider adding ARM support to the CI. This would help us catch related issues (see #2832 for example).
For the moment, I think travis is still the best option for this.
Since we have limited credits, I think we should only run ARM tests (this is what scikit-learn is doing currently for instance).

[2021-05-17 09:04] NicolasGensollen commented on #2136
Hi @GillesSchneider
I also think this would be a nice addition!
Feel free to open a dedicated issue and a PR.

[2021-05-17 09:29] NicolasGensollen opened #2841 "Rename master branch into main"
This was decided in the last core-devs meeting and scheduled after the coding sprint.

[2021-05-17 09:47] NicolasGensollen opened #2842 "Sphinx version pinning issue preventing doc building"
CircleCI is currently failing when building the doc (see [this build](https://app.circleci.com/pipelines/github/nilearn/nilearn/2060/workflows/4cdb18cd-3e7c-4c11-a27d-04b77afe8154/jobs/7238) for example).
Probably related to this [issue](https://github.com/sphinx-doc/sphinx/issues/9216).

[2021-05-17 17:06] dangom opened #2844 "Is there a reason why maskers are called "Nifti" maskers?"
All maskers in the `input_data` module include the word "Nifti" in their description, which adds an extra 5 characters to their names and don't bear any relation to the maskers functionality, since they seem to work without issue with other data formats (MGHImage, for example).
I know this could cause some breakage, but I wonder whether it'd make sense to drop the Nifti qualification from the clas

[2021-05-18 00:06] jeromedockes commented on #2844
I agree with you these names are not great; I'm not sure how they were chosen
but they are probably based on nibabel's Nifti1Image.

However, as the maskers are central components of the library, removing these
names would probably break the majority of code that uses nilearn. IMO we cannot
afford to do this.

Updating these names (even in the simplest possible case) would be a pain for
users and

[2021-05-18 18:34] #2820 closed

[2021-05-19 08:56] NicolasGensollen commented on #2777
Linking this [issue](https://github.com/SIMEXP/load_confounds/issues/143) on `load_confounds`.

Now that #2821 is merged, I think we can move to the next step. It would certainly be easier to break the integration into several small PRs rather than doing a very large one. (pinging @htwangtw since I think you are currently working on this).

@pbellec I agree that we need to acknowledge all contribu

[2021-05-19 11:38] htwangtw commented on #2777
Thanks for the heads up!

I am wondering if it's possible to do the same thing as in #2299 #2298 for `load_confounds`? Looks like that is cc'd @pbellec

To break down the integration, we can separate the base class `Confounds` and the strategies building on top of it. It should be quite simple to merge code related to `Confounds` and leave the strategies to later.

Key remaining changes are relate

[2021-05-19 15:09] jeromedockes opened #2846 "circleci cache"
@NicolasGensollen in the build that is currently running for this pr [here](https://app.circleci.com/pipelines/github/nilearn/nilearn/2085/workflows/47e3db27-18bd-49e2-901f-9b8d4e19177b/jobs/7263) none of the circleci caches are found; even though they exist and are found eg in [this one](https://app.circleci.com/pipelines/github/nilearn/nilearn/2085/workflows/47e3db27-18bd-49e2-901f-9b8d4e19177b/

[2021-05-19 19:34] jeromedockes opened #2847 "`plot_surf` creates a figure that is too wide"
by default `plot_surf`, `plot_surf_stat_map`, etc create a figure of height, width = 4, 6 (or 4, 6.7 with a colorbar), which is very wide and that results in a lot of white space on the left of the figure, see [here](https://nilearn.github.io/auto_examples/01_plotting/plot_3d_map_to_surface_projection.html#plot-the-result) for example, or with a colored figure and axis to make it easier to see the

[2021-05-19 19:37] bthirion commented on #2847
There are two points
* choose a better default (eg the default aspect ratio of matplotlib ?)
* make this easier to change: documentation /examples / tutorials.

[2021-05-20 07:29] NicolasGensollen commented on #2847
@jeromedockes I remember this PR indeed but I don't remember how I chose these values... I think they just correspond to my defaults:

[code]
[code]
But I don't think they were chosen for any other particular reason, so I agree we should change them if they don't render nicely in the examples.

@bthirion For now, we can change this by passing a figure to `plot_surf`:

[code]
[code]

Do you mean we

[2021-05-20 09:13] NicolasGensollen commented on #2846
Thanks for opening this @jeromedockes !
I am not sure why circleCI sometimes misses the caches. I also noticed, that sometimes the cache isn't missed but is empty... It *could* be due to the fact that partial builds also run the save data cache step although they might have incomplete data folders.
I'm wondering whether we should restrict this step to full builds only. :thinking:
Doing conditional

[2021-05-20 12:30] jeromedockes commented on #2847
great, we can just change it to 4, 4 then. I can open a pr

IIUC the idea is to better explain and illustrate how to control the
figure size as in your code snippet above in the documentation and
example gallery?

there was a similar comment in another pr:
https://github.com/nilearn/nilearn/pull/2798#issuecomment-840110275
I also remember discussing with @PeerHerholz  the possibility of having a
s

[2021-05-20 13:10] #2832 closed

[2021-05-20 13:12] NicolasGensollen commented on #2832
@ggardet I just merged a fix for this issue.
Feel free to re-open if it persists!

[2021-05-20 14:48] jeromedockes commented on #2832
It's good to be optimistic :D -- we don't know at all if this issue is fixed but once #2840  is addressed we'll be able to tell :)

[2021-05-20 14:53] jeromedockes commented on #2846
I am afraid it could be the same issue that we tried to figure out together with circleci support but never could ...

yes I think so, only full builds should cache their data directory

[2021-05-20 14:58] jeromedockes commented on #2834
ok it was a good idea but closing for now; hopefully if we add plotly surface plots this kind of thing will be easier to do! (#2793)

[2021-05-20 14:58] #2834 closed

[2021-05-20 15:15] dangom commented on #2844
Thanks for the answer, that makes total sense.

One last question before closing the issue as solved: What should happen when new maskers are introduced? Like a potential SurfaceMasker? Would you say its better for them to follow the convention and be called NiftiSurfaceMasker, even though technically they would take a mask_surf instead of a mask_img, or would new functionality be allowed to drop

[2021-05-20 20:16] bthirion commented on #2847
No, it's simpler to pass a figure.

[2021-05-20 23:32] #2778 closed

[2021-05-21 07:46] NicolasGensollen commented on #2842
@jeromedockes I kept this open to remind me to unpin sphinx when the issue with Jinja and MarkupSafe is resolved.
A fix was recently merged into sphinx and they just released 4.0.2.
I'll open a PR to unpin sphinx and close this issue.

[2021-05-21 07:54] #2794 closed

[2021-05-21 09:16] RaphaelMeudec opened #2852 "Discrepancy of argument names in view_markers and view_connectome"
Following #2810 (discussion [here](https://github.com/nilearn/nilearn/pull/2810#issuecomment-838597255)), we noticed that arguments for `html_connectome.view_connectome` and `html_connectome.view_markers` have different names even though they reflect the same object:

- in `view_markers`, arguments relative to the markers are prefixed with `marker_` (e.g `marker_coords`)
- in `view_connectome`, ar

[2021-05-21 10:22] NicolasGensollen commented on #2852
I agree that we should have consistent naming and pick one convention. I would be in favor of using the `node_` convention but I'm fine with the alternative if the majority prefers `marker_`.

[2021-05-21 11:03] jeromedockes commented on #2852
yes if one is changed both should use "node", as does `plot_connectome`:
https://github.com/nilearn/nilearn/blob/b1d44fdac93f972abe1ce17405f5dc3347945049/nilearn/plotting/img_plotting.py#L1477

and `plot_markers`:

https://github.com/nilearn/nilearn/blob/b1d44fdac93f972abe1ce17405f5dc3347945049/nilearn/plotting/img_plotting.py#L1760

note "marker" is used by `add_markers`:

https://github.com/nile

[2021-05-21 13:41] #2444 closed

[2021-05-21 16:51] NicolasGensollen commented on #2813
@kchawla-pi I'm closing this as dropping Python 3.5 is scheduled and will happen soon.

[2021-05-21 16:51] #2813 closed

[2021-05-21 16:52] NicolasGensollen commented on #2774
take

[2021-05-21 16:55] NicolasGensollen commented on #2746
take

[2021-05-21 20:55] kchawla-pi commented on #2813
@NicolasGensollen Looking forward to f-strings!!

[2021-05-24 14:03] htwangtw commented on #1012
I had a look at the relevant code of `sample_mask` application for resolving #2777. Currently, the timeseries censoring is done in the `base_masker` module:
https://github.com/nilearn/nilearn/blob/4cdd8fe8aad085d21e5d8367ad5b94d8efbe5151/nilearn/input_data/base_masker.py#L71-L73

It is rather trivial if we are just moving `sample_mask` to the transform method. However, while looking into this, I f

[2021-05-24 20:12] bthirion commented on #1012
Thx for raising that point. This is not a strong opinion, but since `signal.clean` is part of the public API, it may be used directly by some people. So I would test the compatibility btw `sample_mask` and `confound` there.

[2021-05-25 05:51] #2614 closed

[2021-05-25 05:51] #2847 closed

[2021-05-25 07:45] NicolasGensollen commented on #1012
Thanks @htwangtw ! I had a look and I *think* we can move `sample_mask` down to `signal.clean` without breaking things. We will lose a little bit computation-wise since we will resample (if needed...) and extract signals for all time instants instead of doing it on the masked image, but that shouldn't be noticeable.

Indeed. Sorry if this is a stupid question, but is `sample_mask` supposed to appl

[2021-05-25 10:32] htwangtw commented on #1012
With the current Nilearn Docs - there's not clear instruction at all! Exactly as you said, `sample_mask` should apply to both, but that's not implemented. I guess so few people use that argument so that never got found....

On the `load_confounds` side, @pbellec suggested to separate the scrubbing related API, as the output is very different from the rest. A normal output would be a matrix of `con

[2021-05-25 15:44] NicolasGensollen commented on #1012
Thanks for the explanation @htwangtw !

I am not sure to fully understand what you propose, so I might just be rephrasing below what you said above...

I think that the option that would make the most sense would be to have `signal.clean` accept as inputs:

- `signal` : shape `(n_timepoints, n_features)`
- `confounds`: shape `(n_timepoints, n_regressors)`
- `sample_mask`: either `False` (default v

[2021-05-25 21:17] bthirion commented on #1012
I personally like the idea to apply scrubbing both to `signal` and `confounds`, so that confounds are of shape `(n_timepoints, n_regressors)` . This avoids creating a non-trivial dependency between `confounds` and `sample_mask`.
Best,

[2021-05-26 08:38] htwangtw commented on #1012
@NicolasGensollen Yes that's correct!
After a night of sleep would say it's definitely better, in a pure nilearn workflow, to have confounds of shape `(n_timepoints, n_regressors)` as @bthirion said.

[2021-05-26 18:17] #2746 closed

[2021-05-26 22:54] tyarkoni opened #2853 "`fetch_openneuro_dataset_index` should clearly indicate it's hardcoded to retrieve a particular dataset"
The docstring for `nilearn.datasets.fetch_openneuro_dataset_index` implies the function can be used to retrieve the file index from any OpenNeuro dataset, but it's actually hardcoded to only work with one dataset (ds000030). This is confusing, as the local directory takes the name of the requested dataset, even though it's always the same file list that's retrieved. A generalized function would be

[2021-05-27 06:41] NicolasGensollen commented on #2853
Thanks for opening this @tyarkoni. I agree that this can be confusing as the URL is indeed harcoded and doesn't depend on the value of the `dataset_version` argument:

https://github.com/nilearn/nilearn/blob/7142c5c9199e13c67111e7a44c58c9169259908b/nilearn/datasets/func.py#L2295-L2302

I think there are two things we can do quickly to improve this:

- Clarify the docstring to reflect the fact that

[2021-05-27 12:24] jeromedockes commented on #2853
`fetch_openneuro_dataset` also seems to rely on `fetch_openneuro_dataset_index` and work only for that particular dataset.
I think they should be called something like `fetch_ucla_neuropsychiatric_phenomics[_index]` or some other summary of the dataset name, and not `fetch_openneuro`

also should `fetch_openneuro_dataset_index` and `patch_openneuro_dataset` be private?

[2021-05-27 12:59] NicolasGensollen commented on #2853
I also think they should. Note that `fetch_openneuro_dataset_index` is used in an example but I don't really see why it is called and not directly `fetch_openneuro_dataset` (might just be to link this function to an example in the doc...).

[2021-05-27 13:41] jeromedockes commented on #2853
ah yes it is to filter the urls to download with `fetch_openneuro_dataset` using `select_from_index` so I guess this one has to be public.

[2021-05-27 15:19] psadil opened #2855 "Using SearchLight without cross-validation"
I'm helping on a project that involves a somewhat atypical searchlight analysis. There are two kinds of runs, call them `A` and `B`. We'd like to train on `A` and test on `B`. Unlike a typical cross-validation, we don't need to do the reverse -- no need to train on `B` and test on `A`. As I understand, there isn't currently a clean way to do this.

### Benefits to the change

#1632 gets part way t

[2021-05-27 15:47] robbisg commented on #2855
I think that the main problem here is that you have to store a model for each voxel. I have the feeling that this may be a bit difficult and memory-consuming.
My suggestion is to use Leave One Group Out and unless the test on group A could be useless, maybe it could add some information about the the reverse-decoding task.

[2021-05-27 19:36] bthirion commented on #2855
isn't this what you need ?:
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.PredefinedSplit.html
Best,

[2021-05-27 21:03] psadil commented on #2855
Oh! Yes, I think that is exactly what we need; `PredefinedSplit` implements what I was thinking with the 'alternative strategy'. Thanks for pointing that out. I'll close this issue.

[2021-05-27 21:03] #2855 closed

[2021-05-31 10:55] #2789 closed

[2021-06-01 06:53] tbng commented on #2835
Hmm I agree with the argument that to gain a bit of performance we would have to change the API for an arguably not the most important estimator. I think if there is no other opinion I would close this issue.

[2021-06-02 07:50] RaphaelMeudec commented on #2852
take

[2021-06-03 07:10] #2767 closed

[2021-06-03 07:10] #2768 closed

[2021-06-04 10:57] NicolasGensollen opened #2862 "Attribute `components_` is deprecated since 0.4.1 but still here"
As can be seen in these files:

https://github.com/nilearn/nilearn/blob/dbbd221e3633c97464034c5366faa548728c9999/nilearn/decomposition/canica.py#L130-L134

https://github.com/nilearn/nilearn/blob/dbbd221e3633c97464034c5366faa548728c9999/nilearn/decomposition/dict_learning.py#L152-L155

https://github.com/nilearn/nilearn/blob/a36c0442fc8eebe401b310dd9799c0f071080e90/nilearn/decomposition/multi_pca.

[2021-06-04 13:43] rmarkello opened #2863 "Datasets file fetcher does not respect `requests.Session` instance"
When providing a `requests.Session` instance to the `session` argument of `nilearn.datasets.utils._fetch_files()` the session instance is not passed through to the calls to `nilearn.datasets.utils._fetch_file()` so any e.g., header information that should be sent with the requests is lost. While these functions accept `username` and `password` arguments for basic authentication, it's unclear how t

[2021-06-04 15:27] jeromedockes commented on #2863
thanks for reporting! indeed it looks like an omission; I can open a PR.

(as a side note, as these functions are not part of the public api, and are burdened with a fair amount of historical cruft, I really don't recommend using them directly at all)

[2021-06-05 09:47] JLefortBesnard commented on #2788
Hello,
I would like to be assigned on this issue to train more with PR and git commands.
Thank you :)

[2021-06-05 11:45] JLefortBesnard commented on #2788
Thank you @NicolasGensollen
Actually, I don't see any reference to add in nilearn/signal.py, or maybe I should create a reference section in the clean() function for Lindquist et al. (2018)?

[2021-06-05 12:25] #2863 closed

[2021-06-06 20:59] bthirion commented on #2788
In the dostrings there are refs to Behzadi et al.  2007 and Lindquist et al. 2018.

[2021-06-08 08:00] #1012 closed

[2021-06-08 08:49] #2841 closed

[2021-06-08 14:26] jbdenniso commented on #2588
Sorry for missing these comments I must have notifications off. Tsalo correctly identified what I had seen misspelling ventricle and the trailing whitespace in right & left Cerebral Cortex. I had not noticed the difference between the opercular labels.

[2021-06-09 01:14] paulcbogdan commented on #2742
Hi, any updates on this or questions for us? We would still be happy to polish it or whatnot to be appropriate for a pull. We aren't in a particular rush, however.

[2021-06-09 12:28] NicolasGensollen commented on #2862
Actually, I'm not really sure what was intended here. I initially thought that `components_` was meant to disapear in favor of `components_img_`, but I realize it could just be a note to encourage users to rely on `components_img_` instead of manually unmasking `components_`. Does someone knows more on this?

[2021-06-09 13:14] jeromedockes commented on #2862
it seems this was done in pr #1536 , and [here](https://github.com/nilearn/nilearn/pull/1536#issuecomment-361674725) is the discussion about deprecating `components_`

[2021-06-09 13:19] jeromedockes commented on #2862
also, the `transform` and `inverse_transform` of the base decomposition:
https://github.com/nilearn/nilearn/blob/dbbd221e3633c97464034c5366faa548728c9999/nilearn/decomposition/base.py#L458

unmask the components every time; they should rely on `components_img_`; they also create a new mapsmasker every time; this should be done in `fit`

[2021-06-09 13:24] jeromedockes commented on #2862
note the Decoder & co., for example, have both `coef_` and `coef_img_`. SearchLight has `scores_` which is neither an image nor masked data (see #2673), ... maybe we should make a list of all such objects and make this consistent?

I don't see a big disadvantage of having them both, as the Decoder does. to avoid storing them twice the least frequently used one can be implemented as a property

[2021-06-09 20:14] bthirion commented on #2742
@paulcbogdan could we have a discussion on that ?
We plan to have an office hours slot at the end of June (June 28th at 6pm CET IIRC) for this type of matters. If it does not work for you, we can plan another time.
Best,

[2021-06-10 07:26] #2788 closed

[2021-06-10 14:49] Xiuyi-Wang opened #2871 "The parametric modulation analysis on the surface"
I wonder it is possible to add an example about how to analyze the task fMRI data that has multiple sessions of one subject on the surface. Now only the analysis about one session of one subject on the surface is provided. In addition, it is possible to add an example about the parametric modulation analysis of the task fMRI data on the surface. Many thanks.

### Affected pages

[2021-06-11 06:53] #2862 closed

[2021-06-11 12:57] maalaria opened #2872 "modulation column for make_first_level_design_matrix"
When having a 'modulation' column in the events.tsv that is passed to ```nilearn.glm.first_level.make_first_level_design_matrix```, a UserWarning occurs saying
[code]
This should be changed into a simple message saying that the 'modulation'-column is being used rather than printing a warning which is confusing.

### Benefits to the change
Clearer information about what is happening

### Pseudocode

[2021-06-11 13:18] NicolasGensollen commented on #2872
Linking #2680 where this warning was added.
Thanks for opening this @maalaria. I don't mind replacing the warning by a print and modifying the message if people think it is confusing.

[2021-06-11 15:32] paulcbogdan commented on #2742
That time works with us, thanks. See you then

[2021-06-11 19:49] bthirion commented on #2872
It can be confusing indeed IMHO.

[2021-06-12 10:43] #2807 closed

[2021-06-14 14:18] jeromedockes opened #2874 "ticks missing from `view_img` colorbar for some images"
[code]

![Screenshot from 2021-06-14 10-17-45](https://user-images.githubusercontent.com/9196501/121907215-d8229480-ccf9-11eb-9ac2-0452bde89220.png)

[2021-06-14 15:35] NicolasGensollen commented on #2874
I don't think the ticks are missing:

[code]
![ticks](https://user-images.githubusercontent.com/2639645/121918841-b693ce00-cd36-11eb-9210-804de3ff0a02.png)

I'll have a closer look to see how we can fix this.

[2021-06-14 15:46] jeromedockes commented on #2874
I see, so I guess the issue that when `black_bg` is False, most of the background is still actually black. so depending on the position of the colorbar the tick labels end up being black text on a black background

[2021-06-14 15:52] NicolasGensollen commented on #2874
@jeromedockes This is also my conclusion. I'm still looking for a way to fix this. I think moving up the colorbar makes the most sense.

[2021-06-14 16:22] jeromedockes commented on #2874
maybe @pbellec has some advice?

[2021-06-14 17:12] #2872 closed

[2021-06-14 19:05] pbellec commented on #2874
Not sure if it's related, but I noticed that in some instances nilearn volumes come with a mask, which leads to a white background in `plot_stat_map` for example, but is ignored by `view_img`. If the mask was applied, then `black_bg=False` would be the right guess, and the black writing would be visible.

[2021-06-18 08:07] gourdchen opened #2879 "The method of FDR threshholding in GLM"
The nilearn/glm/thresholding.py line 101：
` pos = p_vals < alpha * np.linspace(
        .5 / n_samples, 1 - .5 / n_samples, n_samples)`

In my opinion, the code should be
`pos = p_vals < alpha * np.linspace(1/n_samles, 1,n_samples)`
Why does ’0.5‘ exist there？ It confuses me.

[2021-06-18 08:33] bthirion commented on #2879
Indeed, this is an error. Can you issue a PR ?

[2021-06-18 17:46] jcrdubois opened #2881 "Can you give a reference for the p-value calculation for contrasts?"
<img width="359" alt="Screen Shot 2021-06-18 at 10 31 17 AM" src="https://user-images.githubusercontent.com/5529616/122597637-81ca9400-d020-11eb-8390-010fc9f42185.png">

This is the relationship between t-values and p-values (plotted as `-log10(p)`) for the contrast `active - rest` in the auditory dataset distributed with nilearn.
The blue line is what I'd expect for the p-value -- a high negative

[2021-06-19 10:01] bthirion commented on #2881
Hi @jcrdubois
Thank you for opening this discussion.
AFAIK in fMRI data analysis at least, we relay on-sided tests, for two reasons:
* Effect sign matters: it makes a difference whether you detect a Bold increase or decrease in raltion to an experimental manipulation
* more anecdotally, this makes you test more powerful (by a factor of 2).
If you want to infer on the unsigned contrast, the most pr

[2021-06-21 04:06] jcrdubois commented on #2881
Hi @bthirion thanks for the answer.

I understand the one-sided argument, and indeed that may be the most common practice and buys you some statistical power if you are interested in a single direction for the effect.

What I don't yet understand is the way the p-value is derived, using a survival function ([here](https://github.com/nilearn/nilearn/blob/297b15095e75da1566018a63b23a86031b90dfa5/nil

[2021-06-21 20:40] bthirion commented on #2881
`sf = 1- cdf`
the reason to rely on one or the other is simply numerical: floats greater than 1- e-16 are equalled to one, leading to infinite z-values, so we keep in that case 1 minus pvalue, that is close to 0.

[2021-06-21 20:40] bthirion commented on #2881
Sorry, this is a bit sketchy. I hope I'm clear.

[2021-06-21 21:12] jcrdubois commented on #2881
Ah, I just tried the one-tailed p-value as 1 - cdf(t) and indeed, it overlaps exactly with the one from nilearn. Excuse me for spreading confusion here! Thank you for the fast replies

[2021-06-21 21:12] #2881 closed

[2021-06-22 07:54] NicolasGensollen opened #2882 "Nilearn Office Hours are every Friday at 16:00 UTC"
Dear friends and colleagues,

We will be holding office hours  around Nilearn on a regular basis from now on. :tada:

Our goal is to have one hour every two weeks :clock1: where at least one core-developer of Nilearn will be connected to answer questions.

We also wish to use this time to have live discussions around Nilearn and possible directions for its development. This is a good place to talk

[2021-06-23 17:12] ngoenka04 commented on #1502
Hi @PyTimGit .. Can you please share the entire code snipped for extracting single and multiple ROIs from T1w-MRI scan.
Thanks in advance

[2021-06-24 02:23] bjsmith opened #2883 "Nested cross-validation example in docs seems to be not properly nesting CV as per scikit-learn documentation"
scikit-learn guidelines describe the typical motivation for nested cross-validation. They [say](https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html) that

### Actual documentation

The problematic nilearn cv example is here http://nilearn.github.io/auto_examples/02_decoding/plot_haxby_grid_search.html in section 9.3.10.4. It describes nested cross-v

[2021-06-24 12:40] jeromedockes commented on #2883
indeed taking the max of scores biases the measured accuracy. @tbng do you want to take a look?

regarding the further comments, the point of the Decoder is that it uses the estimators fitted during hyperparameter selection to build an ensemble model. it averages their coefficients, which can only be done if they correspond to the same estimator.
about running without cross-validation, you could f

[2021-06-24 16:12] NicolasGensollen opened #2885 "Cannot use threshold with `plot_epi` although it is documented"
The function `nilearn.plotting.plot_epi` documents a `threshold` parameter:

https://github.com/nilearn/nilearn/blob/78f7d133b564f30883d5771a716bd9109cf7cac9/nilearn/plotting/img_plotting.py#L698-L703

but does not have a `threshold` argument:

https://github.com/nilearn/nilearn/blob/78f7d133b564f30883d5771a716bd9109cf7cac9/nilearn/plotting/img_plotting.py#L631-L634

So, when trying to set a thres

[2021-06-24 16:36] tsalo commented on #2885
It doesn't seem like threshold fits with `plot_epi`'s purpose. I vote for removing the docstring entry.

[2021-06-24 17:47] bjsmith commented on #2883
Yes I considered forcing it not to do cross-validation. The only option that seemed viable was to use `model_selection.PredefinedSplit(test_fold)`. This would force it to use a consistent cross-validation. One could then run the `DecoderRegressor.fit` multiple times for each estimator or other set of parameters one wanted to consider, and the splits would at least be consistent. But that seems ine

[2021-06-25 02:41] bjsmith opened #2886 "nilearn.decoding.DecoderRegressor.fit attribute cv_params_ doesn't contain expected values"
`nilearn.decoding.DecoderRegressor.fit` attribute `cv_params_` doesn't contain expected values

Nilearn version:

### Expected behavior
Created the following regressor:

[code]

The documentation has this to say about the `cv_params` attribute:

Based on this I would expect cv_params in my particular example to contain a dictionary with one key, "alpha" (based on my param grid), with one value, wh

[2021-06-25 05:24] thomasbazeille commented on #2886
Hello! Thanks for opening this issue. Could you provide your Nilearn version, and a very light réplication code (based on any Nilearn data), si that we can investigate this issue ?

Thanks

[2021-06-25 14:02] #2885 closed

[2021-06-25 15:20] jeromedockes commented on #2883
"Ben J. Smith" ***@***.***> writes:

you could also pass an iterator that yields a single train, test pair of
indices, with the whole data in train, or define a class that provides
the n_splits and get_n_splits methods -- see the scikit-learn documentation.

the estimator will be fitted for each set of parameters anyway, whether
you do it manually or the Decoder does it. but it is true that by
fit

[2021-06-25 16:32] thomasbazeille commented on #2883
@bjsmith Just a broad statement that is maybe unclear from the documentation : the Decoder object is not designed to simplify the run of a nice cross-validation and return you the best overall the best set of paramaters while refitting a model using those.

It is not either a proper way to compare several estimators and draw statistical conclusions on the one you should be using.

It is rather an

[2021-06-25 18:38] bjsmith commented on #2886
Hi,

This is not the issue I thought it was, though it would still be nice to know why there's something called "beta" at the top level. Here's an example, based on the nilearn example for regressor decoding:

[code]

This will print the value

[code]

Not the problem I thought it was, because `cv_params_` _does_ have the params specified:

[code]
But it still might be nice to have in the document

[2021-06-25 19:10] tbng commented on #2883
Thanks @bjsmith a lot for your feedback.

It seems indeed doing the `nested_cv_scores.append(np.max(val_scores))` does not make sense for the example as in this case the Decoder would overfit the test data. Do you want to open PR for improvement of the example?

For feature request and use case where one would not want to use cross-validation, I'm not sure it then the `Decoder` would remains to it

[2021-06-25 19:48] bthirion commented on #2883
The Decoder object should be able to take a pipeline and run nested cross-val on the Pipeline's params ? Currently this is not the case as far as I can see.

[2021-06-25 21:06] jeromedockes commented on #2883
I don't think so because the Decoder averages the coefficients of a
linear model fitted several times, on several subsets of the training
data.
So it couldn't accept an arbitrary pipeline.

of course it would be easy to store all fitted estimators and average
their predictions rather than coefficients, but that is not what the
current implementation does (and possibly requires more memory,
dependi

[2021-06-25 21:08] bthirion commented on #2883
Point taken.
But then we should reintroduce somewhere in the examples a case in which we perform nested cross-val for parameter selection in a pipeline. This is an important use case I think.

[2021-06-25 21:08] jeromedockes commented on #2886
it seems the top-level keys are class names in the classification case, with the grids of parameters selected for each class/task as the values, and in the regression case where there is only one (unnamed) task, it is called 'beta'

I agree it is a bit confusing

[2021-06-25 21:22] jeromedockes commented on #2883
that's true. there is this one:

  https://nilearn.github.io/auto_examples/07_advanced/plot_age_group_prediction_cross_val.html

that uses a GridSearch and a Pipeline, although it is for age prediction
with connectivity rather than for decoding.

[2021-06-25 21:30] bthirion commented on #2883
Indeed ! We should better reference it from the decoding section.
An the example could be more pedagogic by explaining the strategy used (note the nested GridSerchCV call).

[2021-06-26 04:48] tbng commented on #2883
The Decoder also already can taken a grid (technically a dictionary) of hyperparameter for an estimator (either supported or custom one) and do a CV for selecting the best one, IMO this is very close to a sklearn pipeline with GridSearchCV.

Again I'm not sure adding feature to run a estimators selection inside the Decoder is a good idea.

[2021-06-27 07:58] AjithRamachandran commented on #2879
Is anyone working on this rn?

[2021-06-27 16:25] bthirion commented on #2879
No. Please go ahead if you wish.

[2021-06-27 20:11] AjithRamachandran commented on #2879
Thank you

[2021-06-27 20:35] bthirion commented on #2883
Simply remember that users often consider anova+svm as a good solution (which it is indeed), and that this unavoidably requires to tune the number of features selected by Anova ---hence the need of nested CV. It is actually disturbing that doing this through a Decoder is not possible. We need to find a way to explain why.

[2021-06-28 17:08] #2840 closed

[2021-06-28 18:41] alpinho commented on #2487
I am closing this issue since it has been addressed by the PR #2738.

[2021-06-28 18:41] #2487 closed

[2021-06-28 23:00] alpinho opened #2890 "Improve 'mask_strategy' parameter"
Following the discussion in the PR #2738, there are a couple of classes and functions in Nilearn using mask_strategy where the option 'template' will load the 'whole-brain' template of `compute_brain_mask` function, e.g. `nilearn.input_data.NiftiMasker` and `nilearn.input_data.MultiNiftiMasker`. The option 'template' in mask_strategy could turn into three different options; i.e. instead of 'templa

[2021-06-29 09:28] NicolasGensollen opened #2891 "Plotting bug in some documentation examples"
I am not sure if this is related to the recent merge of #2738  or not, but some examples have weird outputs like [this one](https://7647-1235740-gh.circle-artifacts.com/0/dev/auto_examples/01_plotting/plot_demo_plotting.html#sphx-glr-auto-examples-01-plotting-plot-demo-plotting-py) or [this one](https://7647-1235740-gh.circle-artifacts.com/0/dev/auto_examples/plot_3d_and_4d_niimg.html#sphx-glr-aut

[2021-06-29 12:08] jeromedockes commented on #2891
thanks! the same plot with the proposed fix:

![img](https://user-images.githubusercontent.com/9196501/123794711-28305800-d8b1-11eb-9f03-0823ba2c0e35.png)

[2021-06-29 12:15] jeromedockes commented on #2891
(btw note that for plotting backgrounds we don't have to wait for a deprecation cycle to start using the 1mm templates for slightly nicer plots)

[2021-06-29 13:42] NicolasGensollen commented on #2882
The next office hours will be on **Monday July 12th from 4pm to 5pm UTC** on [Discord](https://discord.gg/bMBhb7w).

Please join us for questions or discussions around Nilearn.

See you there!

[2021-06-29 20:39] #2874 closed

[2021-07-01 18:00] bjsmith commented on #2883
I hear the points that the Decoder is not designed to do principled tuning of different estimators. Having said that, it seems to be designed to test different parameters of each particular estimator, and conceptually, from an end user's point of view, perhaps there's not much difference? But I wouldn't advocate overhauling the logic or the decoder if this doesn't really fit technically.

 @tbng I

[2021-07-02 08:37] RaphaelMeudec commented on #2852
@jeromedockes @NicolasGensollen I'm renaming the markers_ arguments into nodes_ and wonder if it does make sense that `view_markers` should only take `node_*` arguments. Shouldn't we rename the method to `view_nodes`?

Also in the `connectome_html_template`, all references go to `marker_*`. Should I switch to `nodes_*` in this file too?

[2021-07-02 08:47] NicolasGensollen commented on #2852
I think so yes. I think the easiest way would be to do something like this:

[code]

[2021-07-02 08:57] NicolasGensollen commented on #2852
I think we should since this is more consistent. I don't think there is an explicit additional deprecation needed here since the template is only  accessed  in a private view_markers's helper function:

https://github.com/nilearn/nilearn/blob/e6591d8907ceae55eea6f04ce181acb6a12743b5/nilearn/plotting/html_connectome.py#L218-L222

[2021-07-05 11:15] jeromedockes commented on #2835
@tbng  I guess we can close this one?

[2021-07-05 11:20] jeromedockes commented on #2779
Also, should we remove older labels that are redundant with these new ones? for example:
- Good first issue
- Moderate difficulty
- Important

and possibly some of those we (almost) never use such as "hacktoberfest-accepted", "nistats", "in progress"

[2021-07-05 11:27] jeromedockes commented on #2739
@NicolasGensollen  should we close this issue now that the sprint is over?

[2021-07-05 11:40] jeromedockes commented on #2542
as it is never used as part of nilearn functionality I think it should be removed. we can keep it in the repo as a separate script if we ever need to re-generate a list of AWS indices

[2021-07-05 12:12] NicolasGensollen commented on #2739
@jeromedockes Absolutely, thanks !

[2021-07-05 12:12] #2739 closed

[2021-07-05 12:19] NicolasGensollen commented on #2779
@jeromedockes I think "good first issue" should be kept as it is supposed to mean "very low effort".
I agree that "Moderate difficulty" and "Important" are redundant and that "hacktoberfest-accepted", "nistats", and "in progress" are never used in practice. So, I'm fine with removing them to clarify the list of labels.

[2021-07-05 13:39] thomasbazeille commented on #2835
+1 for closing !

[2021-07-05 13:39] #2835 closed

[2021-07-05 14:12] jeromedockes commented on #2658
thanks! interestingly I can also reproduce it with `view_surf`, which uses completely independent machinery than `plot_surf`

[2021-07-05 20:56] Ibrahim-Ali-Salim commented on #1849
Hi @KamalakerDadi

I have 3D nii images. I'm wondering how can I use  **high_variance_confounds** ?...

Thank you so much in advance

[2021-07-05 21:03] bthirion commented on #1849
If you have a series of 3D images, it is equivalent to having a single 4D image. if you have a single 3D images, there is nothing you can do with high_variance_confounds.
Best,

[2021-07-05 21:04] bthirion commented on #2658
Could we have a short script to work on it ?

[2021-07-05 21:09] Ibrahim-Ali-Salim commented on #1849
Thank you @bthirion for quick reply. Actually, I'd like to extract brain rois and build connectivity matrix from ADNI dataset.
I found the following code :

from nilearn.connectome import ConnectivityMeasure

correlations = []
# Initializing ConnectivityMeasure object with kind='correlation'
connectome_measure = ConnectivityMeasure(kind='correlation')
for filename, confound in zip(func_filenames,

[2021-07-05 21:27] jeromedockes commented on #2658
basically the script posted above by @jsmentch:
[code]

you will need to `pip install hcp-utils`

[2021-07-05 21:42] bthirion commented on #1849
Would we continue this discussion in a suitable place (Neurostars) not on this issue ?

The first thing to do is to proceed with estimation without confounds.
Otherwise, you can estimate confounds  from your data, as done in
https://nilearn.github.io/auto_examples/04_glm_first_level/plot_first_level_details.html#sphx-glr-auto-examples-04-glm-first-level-plot-first-level-details-py

[2021-07-05 22:47] Ibrahim-Ali-Salim commented on #1849
For sure I'd like to discuss  about this issue. How can I get Neurostars

[2021-07-05 23:01] Ibrahim-Ali-Salim commented on #1849
Hi @bthirion. I registered in Neurostars. How can we do discussion there?

Thanks.

[2021-07-06 08:46] NicolasGensollen commented on #1849
Hi @Ibrahim-Ali-Salim

As @bthirion said, we generally use Github issues for bugs and feature requests and rely on the Neurostars forum for usage questions.
If you want to continue this discussion over there, you can either go to [Neurostars](https://neurostars.org/latest) and open a new topic describing your issue (make sure to add the tag "Nilearn").
Alternatively, you can open a new issue [here

[2021-07-06 13:57] Ibrahim-Ali-Salim commented on #1849
Hi @NicolasGensollen

I already did it and I'm waiting the replies.

Thank you so much for your help

[2021-07-09 16:28] tsalo commented on #2779
"Moderate difficulty" and "Important" were both more prevalent than their newer counterparts, so I ended up just removing the new ones, applying the old ones to any issues where the new ones were used, and renaming the old ones to the new names.

I haven't touched "hacktoberfest-accepted", "nistats", or "in progress", although I think "nistats" could just be renamed to "GLM" to match other module-

[2021-07-09 16:36] bthirion commented on #2779
+1 for 'Nistats' -> 'GLM'

[2021-07-11 21:26] bthirion commented on #2658
Indeed, thx. @NicolasGensollen I think this is one for you, whenever you can. Best,

[2021-07-20 03:29] #2568 closed

[2021-07-21 13:33] RaphaelMeudec commented on #2392
@bthirion @NicolasGensollen I think this issue can be closed as the `get_cluster_table` now returns the `Peak Stat` column.

Snippet to check this:

[code]

[2021-07-21 17:14] bthirion commented on #2392
Actually what was asked by @Tasserie was the p-value, rather than the stat. I guess that other sowftare do that. and it's a simple one-to-one trsanform between stat and p-val.
I'm a bit worried of clutting the result table though. Do other people have an opinion ?

[2021-07-21 17:35] tsalo commented on #2392
I wonder what the use for p-values would be? As you said, it's a one-to-one transform between stat and p-value, and the statistic is really only useful (IMHO) for coordinate-based meta-analysis. We already know the cluster is significant because `get_clusters_table` accepts a threshold parameter.

I could be missing something though.

[2021-07-21 20:43] bthirion commented on #2392
Then we should close it anyhow.

[2021-07-22 08:00] NicolasGensollen commented on #2392
Unrelated to the issue per se, but when I execute your code @RaphaelMeudec I get the following error. Does this only happen on my side?

[code]

[2021-07-22 08:39] RaphaelMeudec commented on #2392
I re-ran the code to be sure, and it's still working on my side (python 3.8, nilearn 0.7.1).
Though, I had a similar error when using `load_img` instead of `smooth_img`.

[2021-07-22 08:52] NicolasGensollen commented on #2392
@RaphaelMeudec OK, thanks! :+1:
I think it's because I'm on `0.8.1.dev`, and I suspect that the recent MNI152 template update (see #2738) has something to do with this...

[2021-07-26 12:32] NicolasGensollen commented on #2882
Due to summer constraints, the next office hours will be on **Monday August 30th from 4pm to 5pm UTC** on [Discord](https://discord.gg/bMBhb7w).

Please join us for questions or discussions around Nilearn.

See you there!

[2021-07-26 18:30] bjsmith commented on #2883
I considered writing a CV algorithm that wraps the decoder, fitting one decoder for each parameter set. but that seems quite inefficient because within the decoder itself one can't avoid running CV. So it seemed inefficient to do a full CV loop around the decoder which itself does CV.

Having said that, perhaps the CV the decoder is doing should be considered part of the training process rather th

[2021-07-26 22:52] bjsmith commented on #2883
@tbng do you think the suggested replacement in the OP makes sense for the documentation? I thought so when I posted it, but since hearing from others on here that the inner CV loop within the Decoder isn't designed to do parameter selection, I'm unsure. Having said that I can't see why you couldn't put the parameter selection in the Decoder's CV loop along with the other bagging that it does.

[2021-08-02 08:32] #1166 closed

[2021-08-04 16:00] mekman opened #2913 "fmri_glm.compute_contrast() mention beta/parameter estimates explicitly?"
As a new user I struggled to figure out how to get simple **beta estimates** from ``glm.first_level``. I went through the user guide, searched the glossary page and tried all the GLM examples.. I might have just missed it, or not looked for the correct term, but I am proposing to make it easier to find.

Finally, in this [PR](https://github.com/nilearn/nilearn/pull/2910) @bthirion pointed out that

[2021-08-04 20:33] bthirion commented on #2913
Thx for opening this discussion.
I'm happy with your suggestions. Do you want to start working on one or two PRs to do this ? You seem to be in a good position to improve the documentation and examples !

[2021-08-05 06:13] NicolasGensollen commented on #2913
Thanks for opening this and for the suggestions @mekman !
Let us know if you are working on a PR and have some questions.

[2021-08-05 15:33] mekman commented on #2913
Thank you for the positive reception of my suggestions. FYI; I started with a PR adding the terms parameter estimate and beta to the glossary and linking it to the term effect_size that is used in Nilearn. I will follow-up with another PR tackling the example once I am more familiar/comfortable with the code base.

[2021-08-06 12:31] enniin commented on #2742
Hi, If I may, as a newbie-user, chip in on this: from a user perspective it would be highly helpful to have the nilearn Masker-classes set up with an option to retrieve all voxels un-averaged in given anatomical areas or searchlight-spheres. This would allow us to implement whichever pattern-based methods we want, while still profiting from the solid foundation provided by nilearn.

Thank you for

[2021-08-06 12:55] bthirion commented on #2742
Hi, just one point: NiftiMasker actually keeps the values in the masked region, without averaging. Is this what you need ?

[2021-08-06 13:32] enniin commented on #2742
@bthirion yes, that's exactly what I'd need! But I would like to be able to extract the voxel timecourses based on atlas labels (similarly to NiftiLabelsMasker, but only single label or list of labels), or by giving searchlight seeds and radius (as in NiftiSpheresMasker).

I tried looking into it myself, but I quickly realised I would need to understand the deeper workings of the signal extraction

[2021-08-11 21:43] drammock opened #2915 "syntax error in glm"
#2532 introduced a syntax error that is breaking the MNE-Python CIs.  Specifically:

https://github.com/nilearn/nilearn/blob/f9deafe828dc21d5d4dd54b772da820ee1f4cac5/nilearn/glm/first_level/first_level.py#L147

leads to this in our documentation CI build:

[code]

Nilearn version: looks like our CI installs 0.8.0

cc @rob-luke

[2021-08-11 22:43] rob-luke commented on #2915
Thanks @drammock. Is there an additional CI test we could add to nilearn to ensure these types of syntax errors sneak in? @NicolasGensollen I can see there is a flake8 test, but am I correct in seeing that it only checks the diff between commits? Is this as there was a lot of legacy pep violations and you just want to incrementally fix?

[2021-08-13 16:32] drammock commented on #2915
I don't think this would be caught by static analysis like flake8, but it should get caught if you try to execute the code. I suspect this means that this part of the GLM code isn't covered by a test (though I haven't checked).

[2021-08-13 20:22] #2915 closed

[2021-08-17 12:18] maalaria opened #2922 "SearchLight analysis with parallelization"
When running a searchlight analysis with more than 1 job (eg. `n_jobs=-1`) the execution breaks giving the error:

[code]

Nilearn version: 0.8.0

### Solution

I found a solution which is to modify the  `joblib.Paralle()` call in `searchlight.py`:

[code]
i.e. specifying the backend.

It works but since I am not familiar with the bedrocks I wonder if this causes any side effects?

[2021-08-17 12:54] jeromedockes commented on #2852
closing as was decided in #2895

[2021-08-17 12:54] #2852 closed

[2021-08-17 14:55] jeromedockes commented on #2305
@NicolasGensollen  AFAIK it hasn't been addressed

[2021-08-17 16:16] jeromedockes commented on #2915
I believe with the default warning filters this should be a `SyntaxWarning`, not a `SyntaxError`, so it is possible that it is covered by a test and causes a warning there

[2021-08-17 17:07] drammock commented on #2915
That could be.  Or if you're not testing on Python 3.8 or later, it wouldn't show up at all.

[2021-08-19 13:00] DimitriPapadopoulos opened #2926 "LGTM error: Non-iterable used in for loop"
I don't fully grasp the details of [this LGTM.com alert](https://lgtm.com/projects/g/nilearn/nilearn/snapshot/0cd925e33787e277990b524efeba0c8125d04816/files/nilearn/decoding/space_net.py?sort=name&dir=ASC&mode=heatmap#x4b41318e0293a848:1):

What are these "3 Values" about?

Nevertheless, it is true that in `l1_ratios` [might be a float, hence not iterable](https://github.com/nilearn/nilearn/blob/b

[2021-08-19 13:19] jeromedockes commented on #2926
`l1_ratios` can be either a float or a sequence  of floats (in that case the best value will be selected by a nested cross-validation loop). this checks which it is, and turns it into a (length 1) sequence of floats if it is a single float. `0.` and `1.` are valid values for `l1_ratio`, so there is a chance that a user might pass an int instead of a float, so it is safer to check if it is a `numbe

[2021-08-19 13:48] DimitriPapadopoulos commented on #2926
Ah, you mean a `float` **is** a `numbers.Number`? Didn't even try to test that, sorry. I'll report this as a false positive, then.

[2021-08-19 13:54] DimitriPapadopoulos commented on #2926
But since what we want is to change a non-iterable into a list, we could as well test:
[code]
instead of:
[code]

[2021-08-19 14:09] jeromedockes commented on #2926
yes that would also work, and we could also check if it is an instance of `collections.Iterable`. I think the existing solution is also fine, though

[2021-08-19 14:10] DimitriPapadopoulos commented on #2926
The current solution is fine, of course. I just want to work around the LGTM.com warning.

[2021-08-19 14:25] jeromedockes commented on #2926
I see, then yes if it silences the warning we can change it

[2021-08-19 18:31] DimitriPapadopoulos commented on #2926
Cannot be 100% certain, but I think this will silence the warning.

[2021-08-20 15:40] tsalo commented on #2528
The linter is currently configured to only checks changed lines, right? Could we add `flake8-black` and `flake8-isort` to the test dependencies to enforce their code style, but only on changed lines in each PR?

[2021-08-23 08:13] NicolasGensollen commented on #2922
Thanks for opening this @maalaria
Do you have a minimal working example on which we could investigate?

[2021-08-23 18:42] emdupre opened #2934 "Sphinx-gallery duplicating report images"
Recent updates to sphinx-gallery seem to have inserted duplicate images of the report output just above the report object itself, for example [here](https://nilearn.github.io/auto_examples/06_manipulating_images/plot_mask_computation.html#computing-a-mask-from-the-background).

Fixing this may be as simple as not calling the report on its own line, but to be confirmed !

### Affected pages

Any pa

[2021-08-25 11:01] gargiris opened #2937 "No module named 'nilearn'"
Hello everyone, I apologize for the very basic startup question, but I cannot seem to be able to import nilearn in the jupyter virtual environment. I receive the error "no module named 'nilearn'". Can someone please help me to understand why? Thank you very much!

[2021-08-25 12:12] NicolasGensollen commented on #2937
Hi @gargiris !

We try to use Github issues primarily for bugs, feature requests, or documentation issues, and prefer to rely on the [Neurostar](https://neurostars.org/tag/nilearn) forum for usage questions (You can select it when opening a new issue).

That being said, I believe you get this error because you didn't install Nilearn in your virtual env.
Did you run `pip install nilearn` ?
If yes,

[2021-08-26 19:02] dangom opened #2939 "[bug] index_img does not adjust header pixdim if necessary"
When slicing timepoints from a dataset with index_img, the function does not adjust the pixel dimensions or TR.
This could be critical because users may forget to adapt the TR and get wrong results if attempting to run a GLM. I could see this being the case for, e.g., separating tag and control images from an ASL time-series and dealing with perfusion series.

Although in many examples throughout

[2021-08-26 22:46] dangom opened #2940 "Passing a custom HRF to FirstLevelModel?!"
I would like to pass a custom HRF to glm.first_level.FirstLevelModel. Currently we're limited to SPM and Glover, which are arguably not suited for investigating fast fMRI responses (see e.g. https://www.pnas.org/content/113/43/E6679).

Please do apologize if there is already a way to do that (besides the workaround of creating the regressors myself) - if so I couldn't find it in the docs.

### Ben

[2021-08-27 08:20] bthirion opened #2941 "Titles get ignored in plot_surf_*"
Titles are not displayed

Nilearn version:0.8.1

### Expected behavior
Title show off when provided

### Actual behavior
Title not diplsayed

### Steps and code to reproduce bug
for instance:
https://nilearn.github.io/auto_examples/01_plotting/plot_3d_map_to_surface_projection.html#sphx-glr-auto-examples-01-plotting-plot-3d-map-to-surface-projection-py

[2021-08-31 13:41] #2890 closed

[2021-09-01 07:49] #2941 closed

[2021-09-01 13:02] NicolasGensollen commented on #2882
The next office hours will be on **Monday September 13th from 4pm to 5pm UTC** on [Discord](https://discord.gg/bMBhb7w).

Please join us for questions or discussions around Nilearn.

See you there!

[2021-09-02 10:29] #2842 closed

[2021-09-02 10:40] NicolasGensollen commented on #2777
Hi @htwangtw

I was wondering if you were still working on this or if there was something blocking at the moment?
Not pushing if you don't have the bandwidth right now, but if there is something I can help you with, just let me know! :wink:

[2021-09-02 13:36] htwangtw commented on #2777
Thanks for checking in! On the `load_confounds` side we are finalising the `sample_mask` API (https://github.com/SIMEXP/load_confounds/pull/142). Once that's complete, it would be a good time to start the migration. If you think there's something I can do on the `nilearn` side, happy to discuss!

[2021-09-02 13:50] NicolasGensollen commented on #2777
@htwangtw Cool to hear that things are moving forward on the `load_confounds`'s side! :+1:

I don't have anything particular in mind, I was just checking in. Let's wait for your work on `load_confounds` to be done first then!

[2021-09-03 13:24] NicolasGensollen commented on #2681
Linking [this discussion group](https://nipy.discourse.group/c/surface-api/10) about the surface API in Nibabel.

[2021-09-03 15:03] NicolasGensollen commented on #2747
Linking this [Neurostars post](https://neurostars.org/t/smoothing-surface-data/20159) asking for a smoothing function (like `nilearn.image.smooth_img`) for surface data.

[2021-09-03 18:26] htwangtw commented on #2777
@NicolasGensollen Things moves fast and I think the code base is ready for the migration!
I am going to submit a PR just to put the full code base at the root level of `nilearn` and starts migrating. Does this sound good?

[2021-09-04 07:09] bthirion commented on #2747
Makes sense. If you want to have something strictly equivalent to Gaussian smoothing, it may be a bit tricky, but we can have a simple version that does local averaging. @alexisthual any thought on that ?

[2021-09-06 08:04] NicolasGensollen commented on #2777
@htwangtw Awesome ! :100:
Yes, working on a PR sounds good. Do you have a rough plan on how to break the migration in several PRs?

[2021-09-06 14:40] htwangtw commented on #2777
`load_confounds` is already pretty compact and I have kept it up-to-date with the recent nilearn changes. If we are to break it down, I am thinking the basic `Confounds` class (and associated tests) so we can address any potential API changes. This involves `parser.py `, `confounds.py`, and `compcor.py`.

And then the predefined strategies (`strategies.py`) and adapt them with any changes occurred

[2021-09-07 16:34] tsalo opened #2947 "Bundle dependencies in `setup.py` or `info.py` file"
I think it would be beneficial to combine the requirements-[*].txt files into a single file, with flags for the different dependency groups.

### Benefits to the change

Installation for developers would be simplified, since `nilearn` and its developer-specific dependencies could be installed in one step (e.g., `pip install -e .[all]` or `pip install -e .[test,doc]`).

From a maintenance perspecti